In [64]:
import pandas as pd
import tensorflow_hub as hub
import openai 
import numpy as np
import altair as alt
from openai import OpenAI
from sql_metadata import Parser
import os
from IPython.display import display, Markdown
import ast
import cx_Oracle
import re

In [3]:
# Define elements to connect to datawarehouse
username = ''
password = '' 
dsn = 'dwprod.mit.edu:1521/dwrhs.mit.edu'  # Data Source Name (TNS entry name)
api_key =''

# Read the MIT DW queries

In [21]:
df_q = pd.read_json('/home/skikk/Dokumente/uni/WS2324/MIT/llm-enterprise/data/50_queries_with_ambiguity.json')

In [22]:
df_q

,question,sql
0,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT hr_org_unit_key ...
1,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT hr_org_unit_key ...
2,COUNT the number of courses offered by each de...,"[SELECT DEPARTMENT_CODE, COUNT(*) AS course_CO..."
3,"What are the past, upcoming, and current courses?","[SELECT DISTINCT subject_title, effective_term..."
4,Which faculty has had the most location changes?,[SELECT MAX(cnt) FROM (SELECT COUNT(*) AS cnt ...
5,What is the average number of courses a studen...,[SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt ...
6,Which students are employed by mit?,[SELECT DISTINCT empl.full_name FROM mit_stude...
7,What is the shortest course available this sem...,"[SELECT DISTINCT subject_title, term_end_date ..."
8,Show buildings and their address.,"[SELECT fb.building_name, fba.* FROM wareuser...."
9,How many students do we have?,[SELECT COUNT(*) FROM mit_student_directory;]
10,Show all statuses for materials?,[SELECT DISTINCT library_material_status FROM ...
11,What are the different cities WHERE people live?,[SELECT DISTINCT city_name FROM zip_usa UNION ...
12,Give the average number of courses in one depa...,[SELECT AVG(offered_subject_nr) FROM (SELECT D...
13,Count the number of rooms in a building.,"[SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) ..."
14,Count the number of space-units per building.,"[SELECT DISTINCT BUILDING_NAME_LONG, num_space..."
15,For courses that have descriptions of Regular ...,"[SELECT subject_title, term_start_date FROM (s..."
16,What are the names of the 3 departments which ...,[SELECT * FROM (SELECT DISTINCT department_nam...
17,WHERE is Prof. Michael Stonebraker's office?,"[SELECT Room, floor, fac_building_address.* FR..."
18,Which employees at MIT have a namesake?,"[SELECT DISTINCT MIT_ID, employee.* FROM (SELE..."
19,Show the name for subjects which are enrollabl...,[SELECT DISTINCT subject_title FROM CIS_COURS...
20,How many students does each department have?,"[SELECT department_name, COUNT(*) OVER (PARTIT..."
21,What categories are there for independent acti...,[SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SU...
22,Find the city with the post code 501.,"[SELECT COUNT(*) FROM ((SELECT zip_code, city_..."
23,How many employees are there all in all?,[SELECT COUNT(DISTINCT MIT_ID) FROM employee_d...
24,How many departments does each school have?,"[SELECT DISTINCT school_name, COUNT(department..."
25,"Show the name, kerberos credentials, and email...","[SELECT full_name, krb_name, email_address FRO..."
26,Show the school with the largest number of dep...,[SELECT * FROM (SELECT * FROM (SELECT DISTINCT...
27,What are the courses with the maximum number o...,"[SELECT * FROM CIS_COURSE_CATALOG, (SELECT MAX..."
28,What is the TDL for Brazil?,[SELECT * FROM top_level_domain WHERE top_leve...
29,What are all the different start dates of cour...,"[SELECT DISTINCT * FROM (SELECT subject_title,..."
30,List the courses and format for all courses th...,"[SELECT DISTINCT subject_title, form_type, num..."
31,Which textbook-material is used the most often?,"[SELECT * FROM (SELECT c.title, c.isbn, COUNT(..."
32,"Show activity title, location, and supervisor ...","[SELECT DISTINCT activity_title, session_locat..."
33,What are the titles and isbn numbers for all m...,"[SELECT DISTINCT title, isbn, new_shelf_price ..."
34,Which were the first registered subjects?,[SELECT subject_title FROM CIS_COURSE_CATALOG ...
35,How many departments have less than 300 students?,"[SELECT COUNT(*) FROM (SELECT department_name,..."
36,Which department has the most kinds of payroll...,[SELECT * FROM (SELECT DISTINCT department_nam...
37,List email adress and names of student and emp...,"[SELECT * FROM (SELECT DISTINCT first_name, fu..."
38,what are the different payment roll ranks?,[SELECT DISTINCT payroll_rank FROM wareuser.se...
39,List buildings which were build before 1950 an...,[SELECT * FROM (SELECT DISTINCT BUILDING_NAME_...
40,How many courses are there in the centre for i...,[SELECT COUNT(DISTINCT subject_id) FROM cis_co...
41,What is the number of offered courses WHERE mo...,[SELECT COUNT(DISTINCT subject_id) FROM subjec...
42,Who is sharing his office with at least one ot...,"[SELECT DISTINCT mit_id, full_name, a.office_l..."
43,List the subject-groups and their number of co...,"[SELECT DISTINCT subject_grouping_id, COUNT(su..."
44,"List course instructors, their courses and the...","[SELECT DISTINCT instructor_name, subject_tit..."
45,Which building accomodates the most students?,"[SELECT * FROM( SELECT DISTINCT building_name,..."
46,Which building has on average the most rooms p...,"[SELECT DISTINCT building_name, num_rooms/num_..."
47,What is the most common usage for all rooms.,"[SELECT * FROM(SELECT DISTINCT major_use, num_..."
48,Which IAP instructor has held the most session...,"[SELECT * FROM (SELECT DISTINCT person_name, a..."
49,What is the largest building?,"[SELECT * FROM(SELECT DISTINCT building_key, s..."

## Identify the tables used by each query

In [27]:
questions = []
tables = []
sqls=[]
for i in range(len(df_q)):
    sql = []
    table = []
    for q in df_q['sql'][i]:
        q = q.upper().replace('WAREUSER.', '')
        t = Parser(q).tables
        for v in t:
            table.append(v.upper())
        sql.append(q.upper())
    questions.append(df_q['question'][i])
    sqls.append(sql)
    tables.append(table)
df = pd.DataFrame(data={"question":questions, "sql":sqls, "tables":tables})

In [28]:
df

,question,sql,tables
0,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]"
1,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]"
2,COUNT the number of courses offered by each de...,"[SELECT DEPARTMENT_CODE, COUNT(*) AS COURSE_CO...","[CIS_COURSE_CATALOG, COURSE_CATALOG_SUBJECT_OF..."
3,"What are the past, upcoming, and current courses?","[SELECT DISTINCT SUBJECT_TITLE, EFFECTIVE_TERM...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO..."
4,Which faculty has had the most location changes?,[SELECT MAX(CNT) FROM (SELECT COUNT(*) AS CNT ...,[FCLT_BUILDING_ADDRESS_HIST]
5,What is the average number of courses a studen...,[SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT ...,"[MIT_STUDENT_DIRECTORY, CIS_COURSE_CATALOG, MI..."
6,Which students are employed by mit?,[SELECT DISTINCT EMPL.FULL_NAME FROM MIT_STUDE...,"[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY, MI..."
7,What is the shortest course available this sem...,"[SELECT DISTINCT SUBJECT_TITLE, TERM_END_DATE ...","[ACADEMIC_TERMS, CIS_COURSE_CATALOG, ACADEMIC_..."
8,Show buildings and their address.,"[SELECT FB.BUILDING_NAME, FBA.* FROM FAC_BUILD...","[FAC_BUILDING, FAC_BUILDING_ADDRESS]"
9,How many students do we have?,[SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY;],[MIT_STUDENT_DIRECTORY]
10,Show all statuses for materials?,[SELECT DISTINCT LIBRARY_MATERIAL_STATUS FROM ...,"[LIBRARY_MATERIAL_STATUS, TIP_MATERIAL_STATUS]"
11,What are the different cities WHERE people live?,[SELECT DISTINCT CITY_NAME FROM ZIP_USA UNION ...,"[ZIP_USA, ZIP_CANADA]"
12,Give the average number of courses in one depa...,[SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT D...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO..."
13,Count the number of rooms in a building.,"[SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) ...","[FCLT_ROOMS, FCLT_BUILDING, FAC_ROOMS, FAC_BUI..."
14,Count the number of space-units per building.,"[SELECT DISTINCT BUILDING_NAME_LONG, NUM_SPACE...","[SPACE_DETAIL, FAC_BUILDING, SPACE_DETAIL, FCL..."
15,For courses that have descriptions of Regular ...,"[SELECT SUBJECT_TITLE, TERM_START_DATE FROM (S...","[CIS_COURSE_CATALOG, ACADEMIC_TERM_PARAMETER, ..."
16,What are the names of the 3 departments which ...,[SELECT * FROM (SELECT DISTINCT DEPARTMENT_NAM...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO..."
17,WHERE is Prof. Michael Stonebraker's office?,"[SELECT ROOM, FLOOR, FAC_BUILDING_ADDRESS.* FR...","[EMPLOYEE_DIRECTORY, FAC_ROOMS, FAC_BUILDING_A..."
18,Which employees at MIT have a namesake?,"[SELECT DISTINCT MIT_ID, EMPLOYEE.* FROM (SELE...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]"
19,Show the name for subjects which are enrollabl...,[SELECT DISTINCT SUBJECT_TITLE FROM CIS_COURS...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO..."
20,How many students does each department have?,"[SELECT DEPARTMENT_NAME, COUNT(*) OVER (PARTIT...",[MIT_STUDENT_DIRECTORY]
21,What categories are there for independent acti...,[SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SU...,[IAP_SUBJECT_CATEGORY]
22,Find the city with the post code 501.,"[SELECT COUNT(*) FROM ((SELECT ZIP_CODE, CITY_...","[ZIP_USA, ZIP_CANADA]"
23,How many employees are there all in all?,[SELECT COUNT(DISTINCT MIT_ID) FROM EMPLOYEE_D...,"[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]"
24,How many departments does each school have?,"[SELECT DISTINCT SCHOOL_NAME, COUNT(DEPARTMENT...",[STUDENT_DEPARTMENT]
25,"Show the name, kerberos credentials, and email...","[SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FRO...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]"
26,Show the school with the largest number of dep...,[SELECT * FROM (SELECT * FROM (SELECT DISTINCT...,[STUDENT_DEPARTMENT]
27,What are the courses with the maximum number o...,"[SELECT * FROM CIS_COURSE_CATALOG, (SELECT MAX...","[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO..."
28,What is the TDL for Brazil?,[SELECT * FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVE...,[TOP_LEVEL_DOMAIN]
29,What are all the different start dates of cour...,"[SELECT DISTINCT * FROM (SELECT SUBJECT_TITLE,...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO..."
30,List the courses and format for all courses th...,"[SELECT DISTINCT SUBJECT_TITLE, FORM_TYPE, NUM...","[SUBJECT_OFFERED, SUBJECT_OFFERED_SUMMARY, TIP..."
31,Which textbook-material is used the most often?,"[SELECT * FROM (SELECT C.TITLE, C.ISBN, COUNT(...","[TIP_DETAIL, TIP_SUBJECT_OFFERED, TIP_MATERIAL]"
32,"Show activity title, location, and supervisor ...","[SELECT DISTINCT ACTIVITY_TITLE, SESSION_LOCAT...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON, ACADE..."
33,What are the titles and isbn numbers for all m...,"[SELECT DISTINCT TITLE, ISBN, NEW_SHELF_PRICE ...",[TIP_MATERIAL]
34,Which were the first registered subjects?,[SELECT SUBJECT_TITLE FROM CIS_COURSE_CATALOG ...,"[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO..."
35,How many departments have less than 300 students?,"[SELECT COUNT(*) FROM (SELECT DEPARTMENT_NAME,...",[MIT_STUDENT_DIRECTORY]
36,Which department has the most kinds of payroll...,[SELECT * FROM (SELECT DISTINCT DEPARTMENT_NAM...,"[SE_PERSON, EMPLOYEE_DIRECTORY, SE_PERSON, DRU..."
37,List email adress and names of student and emp...,"[SELECT * FROM (SELECT DISTINCT FIRST_NAME, FU...","[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY, MI..."
38,what are the different payment roll ranks?,[SELECT DISTINCT PAYROLL_RANK FROM SE_PERSON;],[SE_PERSON]
39,List buildings which were build before 1950 an...,[SELECT * FROM (SELECT DISTINCT BUILDING_NAME_...,"[FCLT_BUILDING_HIST, FCLT_ROOMS, EMPLOYEE_DIRE..."
40,How many courses are there in the centre for i...,[SELECT COUNT(DISTINCT SUBJECT_ID) FROM CIS_CO...,[CIS_COURSE_CATALOG]
41,What is the number of offered courses WHERE mo...,[SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJEC...,"[SUBJECT_OFFERED, SUBJECT_OFFERED_SUMMARY, TIP..."
42,Who is sharing his office with at least one ot...,"[SELECT DISTINCT MIT_ID, FULL_NAME, A.OFFICE_L...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY..."
43,List the subject-groups and their number of co...,"[SELECT DISTINCT SUBJECT_GROUPING_ID, COUNT(SU...","[SUBJECT_SUMMARY, ACADEMIC_TERMS_ALL, SUBJECT_..."
44,"List course instructors, their courses and the...","[SELECT DISTINCT INSTRUCTOR_NAME, SUBJECT_TIT...","[LIBRARY_COURSE_INSTRUCTOR, LIBRARY_RESERVE_MA..."
45,Which building accomodates the most students?,"[SELECT * FROM( SELECT DISTINCT BUILDING_NAME,...","[FCLT_ROOMS, MIT_STUDENT_DIRECTORY, FCLT_BUILD..."
46,Which building has on average the most rooms p...,"[SELECT DISTINCT BUILDING_NAME, NUM_ROOMS/NUM_...","[FCLT_ROOMS, FCLT_BUILDING, FAC_ROOMS, FAC_BUI..."
47,What is the most common usage for all rooms.,"[SELECT * FROM(SELECT DISTINCT MAJOR_USE, NUM_...","[FCLT_ROOMS, FCLT_MAJOR_USE, FAC_ROOMS, FAC_MA..."
48,Which IAP instructor has held the most session...,"[SELECT * FROM (SELECT DISTINCT PERSON_NAME, A...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON]"
49,What is the largest building?,"[SELECT * FROM(SELECT DISTINCT BUILDING_KEY, S...","[SPACE_DETAIL, FCLT_FLOOR, FAC_FLOOR]"

## Identify the unique tables referred by the corpus

In [29]:
unique_tables = set()
for  l in tables: 
    for t in l:
        unique_tables.add(t.upper())

In [30]:
unique_tables

{'ACADEMIC_TERMS',
 'ACADEMIC_TERMS_ALL',
 'ACADEMIC_TERM_PARAMETER',
 'CIS_COURSE_CATALOG',
 'COURSE_CATALOG_SUBJECT_OFFERED',
 'DRUPAL_COURSE_CATALOG',
 'DRUPAL_EMPLOYEE_DIRECTORY',
 'EMPLOYEE_DIRECTORY',
 'FAC_BUILDING',
 'FAC_BUILDING_ADDRESS',
 'FAC_FLOOR',
 'FAC_MAJOR_USE',
 'FAC_ROOMS',
 'FCLT_BUILDING',
 'FCLT_BUILDING_ADDRESS_HIST',
 'FCLT_BUILDING_HIST',
 'FCLT_FLOOR',
 'FCLT_MAJOR_USE',
 'FCLT_ROOMS',
 'HR_ORG_UNIT',
 'HR_ORG_UNIT_NEW',
 'IAP_SUBJECT_CATEGORY',
 'IAP_SUBJECT_DETAIL',
 'IAP_SUBJECT_PERSON',
 'IAP_SUBJECT_SESSION',
 'LIBRARY_COURSE_INSTRUCTOR',
 'LIBRARY_MATERIAL_STATUS',
 'LIBRARY_RESERVE_CATALOG',
 'LIBRARY_RESERVE_MATRL_DETAIL',
 'LIBRARY_SUBJECT_OFFERED',
 'MIT_STUDENT_DIRECTORY',
 'SE_PERSON',
 'SIS_COURSE_DESCRIPTION',
 'SPACE_DETAIL',
 'STUDENT_DEPARTMENT',
 'SUBJECT_ENROLLABLE',
 'SUBJECT_OFFERED',
 'SUBJECT_OFFERED_SUMMARY',
 'SUBJECT_SELECTOR',
 'SUBJECT_SUMMARY',
 'TIP_DETAIL',
 'TIP_MATERIAL',
 'TIP_MATERIAL_STATUS',
 'TIP_SUBJECT_OFFERED',
 'TOP_LEVEL_DOMAIN',
 'ZIP_CANADA',
 'ZIP_USA'}

In [31]:
len(unique_tables)

47

In [32]:
prefix='/home/skikk/Dokumente/uni/WS2324/MIT/llm-enterprise/data/views/'

## Go thrugh the `unique_tables` list and save the respective schemas as proper CSV files

In [33]:
for t in unique_tables: 
    if t.upper().startswith('WAREUSER.'):
        t = t[len('WAREUSER.'):]
    schema_file = prefix + 'schema/' + t + '.csv'
    if os.path.isfile(schema_file): 
        s = pd.read_csv(schema_file, header=None)
        s = s.drop(1) # delete the "header" line 
        column_names = [h.strip() for h in s[0][0].split(';')]
        s_new = pd.DataFrame(list(s[0][1:].apply(lambda row: [c.strip() for c in row.split(';')])), columns=column_names)
        new_schema_file = prefix + 'schema_new/' + t + '.csv'
        s_new.to_csv(new_schema_file, index=False)

# Treat ChatGPT as an all-knowing oracle (without any additional information)
## Prompt
_Your job is to write SQL queries that answer a user's question using the tables in the MIT Data Warehouse. 
The MIT Data Warehouse is a central data source that combines data from various administrative systems at 
MIT, containing information about students, faculty, and personnel. You can find more about the MIT data 
warehouse tables at https://web.mit.edu/warehouse/metadata/tables/all_tables.html._

_How many organisation units in human resources are relabeled?_

In [34]:
client = OpenAI(api_key=api_key)

## Populate the prompt and call the Open AI API

In [ ]:
import requests
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer {api_key}'
}

response = requests.get('https://api.openai.com/v1/engines', headers=headers)

if response.status_code == 200:
    engines = response.json()['data']
    print("Available engines:")
    for engine in engines:
        print(engine['id'])
else:
    print("Error:", response.text)

In [37]:
# TODO: do this in batch 
gpt_sql_nocontext = []
for q in df['question']: 
    response = client.chat.completions.create(
        model="gpt-4",
        temperature=0,
        messages = [
          {
          "role": "system",
          "content": "Your job is to write SQL queries that answer a user's question using the tables in the MIT Data Warehouse. \
          The MIT Data Warehouse is a central data source that combines data from various administrative systems at MIT, containing \
          information about students, faculty, and personnel. You can find more about the MIT data warehouse tables at \
          https://web.mit.edu/warehouse/metadata/tables/all_tables.html. \
          Reply with as many answers \
          as you can think of in SQL and include no linebreaks, newlines, escape characters or other commentary for the each possible \
          answer, but seperate the possibilities by commas."
          # Provide your answer in JSON form."
          # Reply with only the answer in JSON form and include no other commentary"
          },
            {"role":"user", 
             "content":q}]
    )
    gpt_sql_nocontext.append(response.choices[0].message.content)

In [38]:
df['gpt_sql_nocontext']=gpt_sql_nocontext

In [39]:
df

,question,sql,tables,gpt_sql_nocontext
0,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]",SELECT COUNT(*) FROM hr_organization_units WHE...
1,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]",SELECT COUNT(*) FROM human_resources WHERE is_...
2,COUNT the number of courses offered by each de...,"[SELECT DEPARTMENT_CODE, COUNT(*) AS COURSE_CO...","[CIS_COURSE_CATALOG, COURSE_CATALOG_SUBJECT_OF...","""SELECT department_id, COUNT(*) FROM courses G..."
3,"What are the past, upcoming, and current courses?","[SELECT DISTINCT SUBJECT_TITLE, EFFECTIVE_TERM...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO...",SELECT * FROM courses WHERE course_date < CURR...
4,Which faculty has had the most location changes?,[SELECT MAX(CNT) FROM (SELECT COUNT(*) AS CNT ...,[FCLT_BUILDING_ADDRESS_HIST],"SELECT faculty_id, COUNT(DISTINCT location_id)..."
5,What is the average number of courses a studen...,[SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT ...,"[MIT_STUDENT_DIRECTORY, CIS_COURSE_CATALOG, MI...",SELECT AVG(course_count) FROM (SELECT student_...
6,Which students are employed by mit?,[SELECT DISTINCT EMPL.FULL_NAME FROM MIT_STUDE...,"[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY, MI...",SELECT student_id FROM students WHERE employme...
7,What is the shortest course available this sem...,"[SELECT DISTINCT SUBJECT_TITLE, TERM_END_DATE ...","[ACADEMIC_TERMS, CIS_COURSE_CATALOG, ACADEMIC_...",SELECT MIN(course_length) FROM courses WHERE s...
8,Show buildings and their address.,"[SELECT FB.BUILDING_NAME, FBA.* FROM FAC_BUILD...","[FAC_BUILDING, FAC_BUILDING_ADDRESS]","SELECT building_name, building_address FROM bu..."
9,How many students do we have?,[SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY;],[MIT_STUDENT_DIRECTORY],"SELECT COUNT(*) FROM students, SELECT COUNT(st..."
10,Show all statuses for materials?,[SELECT DISTINCT LIBRARY_MATERIAL_STATUS FROM ...,"[LIBRARY_MATERIAL_STATUS, TIP_MATERIAL_STATUS]","SELECT status FROM materials, SELECT DISTINCT ..."
11,What are the different cities WHERE people live?,[SELECT DISTINCT CITY_NAME FROM ZIP_USA UNION ...,"[ZIP_USA, ZIP_CANADA]","SELECT DISTINCT city FROM person, SELECT DISTI..."
12,Give the average number of courses in one depa...,[SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT D...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...",SELECT AVG(course_count) FROM (SELECT departme...
13,Count the number of rooms in a building.,"[SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) ...","[FCLT_ROOMS, FCLT_BUILDING, FAC_ROOMS, FAC_BUI...",SELECT COUNT(*) FROM rooms WHERE building_id =...
14,Count the number of space-units per building.,"[SELECT DISTINCT BUILDING_NAME_LONG, NUM_SPACE...","[SPACE_DETAIL, FAC_BUILDING, SPACE_DETAIL, FCL...","SELECT building_id, COUNT(space_unit_id) AS sp..."
15,For courses that have descriptions of Regular ...,"[SELECT SUBJECT_TITLE, TERM_START_DATE FROM (S...","[CIS_COURSE_CATALOG, ACADEMIC_TERM_PARAMETER, ...",SELECT start_date FROM courses WHERE descripti...
16,What are the names of the 3 departments which ...,[SELECT * FROM (SELECT DISTINCT DEPARTMENT_NAM...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...","SELECT department_name, COUNT(*) AS course_cou..."
17,WHERE is Prof. Michael Stonebraker's office?,"[SELECT ROOM, FLOOR, FAC_BUILDING_ADDRESS.* FR...","[EMPLOYEE_DIRECTORY, FAC_ROOMS, FAC_BUILDING_A...",SELECT office_location FROM faculty WHERE name...
18,Which employees at MIT have a namesake?,"[SELECT DISTINCT MIT_ID, EMPLOYEE.* FROM (SELE...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]","SELECT e1.employee_id, e1.employee_name FROM e..."
19,Show the name for subjects which are enrollabl...,[SELECT DISTINCT SUBJECT_TITLE FROM CIS_COURS...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...",SELECT subject_name FROM subjects WHERE enroll...
20,How many students does each department have?,"[SELECT DEPARTMENT_NAME, COUNT(*) OVER (PARTIT...",[MIT_STUDENT_DIRECTORY],"SELECT department_id, COUNT(student_id) AS num..."
21,What categories are there for independent acti...,[SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SU...,[IAP_SUBJECT_CATEGORY],SELECT DISTINCT category FROM independent_acti...
22,Find the city with the post code 501.,"[SELECT COUNT(*) FROM ((SELECT ZIP_CODE, CITY_...","[ZIP_USA, ZIP_CANADA]",SELECT city FROM address WHERE postal_code = '...
23,How many employees are there all in all?,[SELECT COUNT(DISTINCT MIT_ID) FROM EMPLOYEE_D...,"[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]","SELECT COUNT(*) FROM employees, SELECT COUNT(e..."
24,How many departments does each school have?,"[SELECT DISTINCT SCHOOL_NAME, COUNT(DEPARTMENT...",[STUDENT_DEPARTMENT],"SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_..."
25,"Show the name, kerberos credentials, and email...","[SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FRO...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]","SELECT name, kerberos_id, email FROM employees..."
26,Show the school with the largest number of dep...,[SELECT * FROM (SELECT * FROM (SELECT DISTINCT...,[STUDENT_DEPARTMENT],"SELECT SCHOOL_NAME, COUNT(*) AS DEPARTMENT_COU..."
27,What are the courses with the maximum number o...,"[SELECT * FROM CIS_COURSE_CATALOG, (SELECT MAX...","[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...","SELECT course_id, course_name, MAX(units) FROM..."
28,What is the TDL for Brazil?,[SELECT * FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVE...,[TOP_LEVEL_DOMAIN],SELECT TDL FROM COUNTRY WHERE NAME = 'Brazil'
29,What are all the different start dates of cour...,"[SELECT DISTINCT * FROM (SELECT SUBJECT_TITLE,...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO...",SELECT start_date FROM courses WHERE departmen...
30,List the courses and format for all courses th...,"[SELECT DISTINCT SUBJECT_TITLE, FORM_TYPE, NUM...","[SUBJECT_OFFERED, SUBJECT_OFFERED_SUMMARY, TIP...","SELECT course_name, course_format FROM courses..."
31,Which textbook-material is used the most often?,"[SELECT * FROM (SELECT C.TITLE, C.ISBN, COUNT(...","[TIP_DETAIL, TIP_SUBJECT_OFFERED, TIP_MATERIAL]","SELECT textbook_material, COUNT(*) AS usage_co..."
32,"Show activity title, location, and supervisor ...","[SELECT DISTINCT ACTIVITY_TITLE, SESSION_LOCAT...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON, ACADE...","SELECT activity_title, location, supervisor FR..."
33,What are the titles and isbn numbers for all m...,"[SELECT DISTINCT TITLE, ISBN, NEW_SHELF_PRICE ...",[TIP_MATERIAL],"SELECT title, isbn FROM materials ORDER BY pri..."
34,Which were the first registered subjects?,[SELECT SUBJECT_TITLE FROM CIS_COURSE_CATALOG ...,"[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO...",SELECT * FROM subjects ORDER BY registration_d...
35,How many departments have less than 300 students?,"[SELECT COUNT(*) FROM (SELECT DEPARTMENT_NAME,...",[MIT_STUDENT_DIRECTORY],SELECT COUNT(*) FROM Departments WHERE NumberO...
36,Which department has the most kinds of payroll...,[SELECT * FROM (SELECT DISTINCT DEPARTMENT_NAM...,"[SE_PERSON, EMPLOYEE_DIRECTORY, SE_PERSON, DRU...","SELECT department_id, COUNT(DISTINCT payroll_r..."
37,List email adress and names of student and emp...,"[SELECT * FROM (SELECT DISTINCT FIRST_NAME, FU...","[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY, MI...","SELECT email, first_name, last_name FROM stude..."
38,what are the different payment roll ranks?,[SELECT DISTINCT PAYROLL_RANK FROM SE_PERSON;],[SE_PERSON],"SELECT DISTINCT roll_rank FROM payment_table, ..."
39,List buildings which were build before 1950 an...,[SELECT * FROM (SELECT DISTINCT BUILDING_NAME_...,"[FCLT_BUILDING_HIST, FCLT_ROOMS, EMPLOYEE_DIRE...",SELECT building_name FROM buildings WHERE year...
40,How many courses are there in the centre for i...,[SELECT COUNT(DISTINCT SUBJECT_ID) FROM CIS_CO...,[CIS_COURSE_CATALOG],SELECT COUNT(*) FROM courses WHERE department ...
41,What is the number of offered courses WHERE mo...,[SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJEC...,"[SUBJECT_OFFERED, SUBJECT_OFFERED_SUMMARY, TIP...",SELECT COUNT(*) FROM courses WHERE enrollment ...
42,Who is sharing his office with at least one ot...,"[SELECT DISTINCT MIT_ID, FULL_NAME, A.OFFICE_L...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY...",SELECT employee_name FROM employee_table WHERE...
43,List the subject-groups and their number of co...,"[SELECT DISTINCT SUBJECT_GROUPING_ID, COUNT(SU...","[SUBJECT_SUMMARY, ACADEMIC_TERMS_ALL, SUBJECT_...","SELECT subject_group, COUNT(*) FROM courses WH..."
44,"List course instructors, their courses and the...","[SELECT DISTINCT INSTRUCTOR_NAME, SUBJECT_TIT...","[LIBRARY_COURSE_INSTRUCTOR, LIBRARY_RESERVE_MA...","SELECT instructors.name, courses.course_name, ..."
45,Which building accomodates the most students?,"[SELECT * FROM( SELECT DISTINCT BUILDING_NAME,...","[FCLT_ROOMS, MIT_STUDENT_DIRECTORY, FCLT_BUILD...","SELECT building_name, COUNT(student_id) AS stu..."
46,Which building has on average the most rooms p...,"[SELECT DISTINCT BUILDING_NAME, NUM_ROOMS/NUM_...","[FCLT_ROOMS, FCLT_BUILDING, FAC_ROOMS, FAC_BUI...","SELECT building_name, AVG(num_rooms) as avg_ro..."
47,What is the most common usage for all rooms.,"[SELECT * FROM(SELECT DISTINCT MAJOR_USE, NUM_...","[FCLT_ROOMS, FCLT_MAJOR_USE, FAC_ROOMS, FAC_MA...","SELECT room_usage, COUNT(*) AS usage_count FRO..."
48,Which IAP instructor has held the most session...,"[SELECT * FROM (SELECT DISTINCT PERSON_NAME, A...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON]","SELECT instructor_name, course_id, COUNT(*) as..."
49,What is the largest building?,"[SELECT * FROM(SELECT DISTINCT BUILDING_KEY, S...","[SPACE_DETAIL, FCLT_FLOOR, FAC_FLOOR]",SELECT building_name FROM buildings ORDER BY b...

# Give ChatGPT the "database" schema as context and elicit its answer

In [40]:
def table_to_sql_create(t): 
    schema_file=prefix + 'schema_new/' + t + '.csv'
    p = None
    if os.path.isfile(schema_file):
        df_t = pd.read_csv(schema_file)
        p = "CREATE TABLE "+ t+ "(\n"  
        p = p + '\n'.join(list(df_t[['COLUMN_NAME', 'DATA_TYPE']].apply(lambda row: ' '.join(row.astype(str)), axis=1)))
        p = p + ')\n'
    return p

#### Generalize table-names (delete "WAREUSER." in front) and create the prefix for the prompt.

In [41]:
prompt = "** all the tables in the database ** \n\n"
cnt = 0 
for t in unique_tables:
    if t.upper().startswith('WAREUSER.'):
        t = t[len('WAREUSER.'):]
    p = table_to_sql_create(t)
    if not p: 
        print(t)
    if p: 
        cnt = cnt + 1
        prompt = prompt + p
        prompt = prompt + "\n\n"

#### There should be no tables listed above (only if the table-name does not occur in our extracted table-schemas).

In [42]:
## The "schema" prompt, which we append to the system prompt below 
print(prompt)

** all the tables in the database **

CREATE TABLE TOP_LEVEL_DOMAIN(
TOP_LEVEL_DOMAIN_KEY VARCHAR2
TOP_LEVEL_DOMAIN VARCHAR2
TOP_LEVEL_DOMAIN_DESCRIPTION VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FCLT_MAJOR_USE(
FCLT_MAJOR_USE_KEY VARCHAR2
MAJOR_USE VARCHAR2
DESCRIPTION VARCHAR2
ASSIGNABLE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE ACADEMIC_TERM_PARAMETER(
TERM_PARAMETER VARCHAR2
TERM_INDICATOR VARCHAR2
TERM_CODE VARCHAR2
TERM_DESCRIPTION VARCHAR2
TERM_START_DATE DATE
TERM_END_DATE DATE
TERM_LAST_DAY_BEFORE_NEXT_TERM DATE
IS_CURRENT_TERM VARCHAR2)


CREATE TABLE HR_ORG_UNIT(
HR_ORG_UNIT_KEY VARCHAR2
HR_ORG_UNIT_ID VARCHAR2
HR_ORG_UNIT_TITLE VARCHAR2
HR_ORG_UNIT_LEVEL VARCHAR2
HR_DEPARTMENT_ID VARCHAR2
HR_DEPARTMENT_CODE VARCHAR2
HR_DEPARTMENT_CODE_OLD VARCHAR2
HR_DEPARTMENT_NAME VARCHAR2
HR_DEPARTMENT_NAME_LONG VARCHAR2
HR_DEPARTMENT_NAME_ALPHA VARCHAR2
ORG_HIER_SCHOOL_AREA_NAME VARCHAR2
ORG_HIER_TOP_LEVEL_NAME VARCHAR2
ORG_HIER_ROOT_NAME VARCHAR2
HR_ORG_LEVEL1_ID VARCHAR2
HR_ORG_LEVEL1_SORT VARCHAR2
HR_ORG_LEVEL1_NAME VARCHAR2
HR_ORG_LEVEL2_ID VARCHAR2
HR_ORG_LEVEL2_SORT VARCHAR2
HR_ORG_LEVEL2_NAME VARCHAR2
HR_ORG_LEVEL3_ID VARCHAR2
HR_ORG_LEVEL3_SORT VARCHAR2
HR_ORG_LEVEL3_NAME VARCHAR2
HR_ORG_LEVEL4_ID VARCHAR2
HR_ORG_LEVEL4_SORT VARCHAR2
HR_ORG_LEVEL4_NAME VARCHAR2
HR_ORG_LEVEL5_ID VARCHAR2
HR_ORG_LEVEL5_SORT VARCHAR2
HR_ORG_LEVEL5_NAME VARCHAR2
HR_ORG_LEVEL6_ID VARCHAR2
HR_ORG_LEVEL6_SORT VARCHAR2
HR_ORG_LEVEL6_NAME VARCHAR2
HR_ORG_LEVEL7_ID VARCHAR2
HR_ORG_LEVEL7_SORT VARCHAR2
HR_ORG_LEVEL7_NAME VARCHAR2
DLC_KEY VARCHAR2
DLC_NAME VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FCLT_FLOOR(
FCLT_FLOOR_KEY VARCHAR2
FCLT_BUILDING_KEY VARCHAR2
FLOOR VARCHAR2
EXT_GROSS_AREA NUMBER
ASSIGNABLE_AREA NUMBER
NON_ASSIGNABLE_AREA NUMBER
FLOOR_SORT_SEQUENCE VARCHAR2
LEVEL_ID VARCHAR2
BUILDING_WINGS_ID VARCHAR2
ACCESS_LEVEL VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FCLT_ROOMS(
FCLT_ROOM_KEY VARCHAR2
BUILDING_ROOM VARCHAR2
FCLT_BUILDING_KEY VARCHAR2
FLOOR VARCHAR2
FCLT_FLOOR_KEY VARCHAR2
ROOM VARCHAR2
SPACE_ID VARCHAR2
FCLT_MAJOR_USE_KEY VARCHAR2
MAJOR_USE_DESC VARCHAR2
FCLT_USE_KEY VARCHAR2
USE_DESC VARCHAR2
FCLT_MINOR_USE_KEY VARCHAR2
MINOR_USE_DESC VARCHAR2
FCLT_ORGANIZATION_KEY VARCHAR2
ORGANIZATION_NAME VARCHAR2
FCLT_MINOR_ORGANIZATION_KEY VARCHAR2
MINOR_ORGANIZATION VARCHAR2
AREA NUMBER
ROOM_FULL_NAME VARCHAR2
DEPT_CODE VARCHAR2
ACCESS_LEVEL VARCHAR2
LATITUDE_WGS NUMBER
LONGITUDE_WGS NUMBER
NORTHING_SPCS NUMBER
EASTING_SPCS NUMBER
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE TIP_DETAIL(
TIP_SUBJECT_OFFERED_KEY VARCHAR2
TIP_MATERIAL_KEY VARCHAR2
TIP_MATERIAL_STATUS_KEY VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
ISBN VARCHAR2
RECORD_COUNT NUMBER
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE ACADEMIC_TERMS(
ACADEMIC_TERMS_KEY VARCHAR2
TERM_CODE VARCHAR2
TERM_DESCRIPTION VARCHAR2
TERM_SELECTOR VARCHAR2
TERM_START_DATE DATE
TERM_END_DATE DATE
ACADEMIC_YEAR VARCHAR2
ACADEMIC_YEAR_DESC VARCHAR2
IS_CURRENT_TERM VARCHAR2
IS_REGULAR_TERM VARCHAR2
TERM_STATUS_INDICATOR VARCHAR2
TERM_STATUS VARCHAR2
FINANCIAL_AID_YEAR VARCHAR2
DEGREE_YEAR VARCHAR2
LAST_DAY_OF_FINAL_EXAM DATE
PRE_REGISTRATION_START_DAY DATE
REGISTRATION_DAY DATE
FIRST_DAY_OF_CLASSES DATE
LAST_DAY_OF_CLASSES DATE
ADD_DATE DATE
DROP_DATE DATE
GRADUATE_AWARD_START_DATE DATE
GRADUATE_AWARD_END_DATE DATE
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE COURSE_CATALOG_SUBJECT_OFFERED(
ACADEMIC_YEAR VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_CODE VARCHAR2
SUBJECT_NUMBER VARCHAR2
SOURCE_SUBJECT_ID VARCHAR2
PRINT_SUBJECT_ID VARCHAR2
IS_PRINTED_IN_BULLETIN VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
EFFECTIVE_TERM_CODE VARCHAR2
SUBJECT_SHORT_TITLE VARCHAR2
SUBJECT_TITLE VARCHAR2
IS_VARIABLE_UNITS VARCHAR2
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREPARATION_UNITS NUMBER
TOTAL_UNITS NUMBER
DESIGN_UNITS NUMBER
GRADE_TYPE VARCHAR2
GRADE_TYPE_DESC VARCHAR2
GRADE_RULE VARCHAR2
GRADE_RULE_DESC VARCHAR2
HGN_CODE VARCHAR2
HGN_DESC VARCHAR2
HGN_EXCEPT VARCHAR2
GIR_ATTRIBUTE VARCHAR2
GIR_ATTRIBUTE_DESC VARCHAR2
COMM_REQ_ATTRIBUTE VARCHAR2
COMM_REQ_ATTRIBUTE_DESC VARCHAR2
TUITION_ATTRIBUTE VARCHAR2
TUITION_ATTRIBUTE_DESC VARCHAR2
WRITE_REQ_ATTRIBUTE VARCHAR2
WRITE_REQ_ATTRIBUTE_DESC VARCHAR2
SUPERVISOR_ATTRIBUTE VARCHAR2
SUPERVISOR_ATTRIBUTE_DESC VARCHAR2
PREREQUISITES VARCHAR2
SUBJECT_DESCRIPTION VARCHAR2
JOINT_SUBJECTS VARCHAR2
SCHOOL_WIDE_ELECTIVES VARCHAR2
MEETS_WITH_SUBJECTS VARCHAR2
EQUIVALENT_SUBJECTS VARCHAR2
IS_OFFERED_THIS_YEAR VARCHAR2
IS_OFFERED_FALL_TERM VARCHAR2
IS_OFFERED_IAP VARCHAR2
IS_OFFERED_SPRING_TERM VARCHAR2
IS_OFFERED_SUMMER_TERM VARCHAR2
FALL_INSTRUCTORS VARCHAR2
SPRING_INSTRUCTORS VARCHAR2
STATUS_CHANGE VARCHAR2
LAST_ACTIVITY_DATE DATE
WAREHOUSE_LOAD_DATE DATE
MASTER_SUBJECT_ID VARCHAR2
HASS_ATTRIBUTE VARCHAR2
HASS_ATTRIBUTE_DESC VARCHAR2
TERM_DURATION VARCHAR2
GLOBAL_REGIONS VARCHAR2
GLOBAL_COUNTRIES VARCHAR2
ON_LINE_PAGE_NUMBER VARCHAR2
SECTION_ID VARCHAR2
IS_MASTER_SECTION VARCHAR2
IS_LECTURE_SECTION VARCHAR2
IS_LAB_SECTION VARCHAR2
IS_RECITATION_SECTION VARCHAR2
IS_DESIGN_SECTION VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
MEET_TIME VARCHAR2
MEET_PLACE VARCHAR2)


CREATE TABLE IAP_SUBJECT_SESSION(
IAP_SUBJECT_SESSION_KEY VARCHAR2
SESSION_SEQUENCE NUMBER
SESSION_TITLE VARCHAR2
SESSION_DESCRIPTION VARCHAR2
SESSION_LOCATION VARCHAR2
SESSION_DATE DATE
SESSION_START_TIME VARCHAR2
SESSION_END_TIME VARCHAR2
HAS_SESSION_INFO VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE SE_PERSON(
MIT_ID VARCHAR2
KRB_NAME VARCHAR2
FULL_NAME VARCHAR2
PAYROLL_RANK VARCHAR2
POSITION_TITLE VARCHAR2
IS_ACTIVE CHAR
OFFICE_LOCATION VARCHAR2
ORGANIZATION VARCHAR2
FIRST_NAME VARCHAR2
LAST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
EMPLOYEE_TYPE VARCHAR2)


CREATE TABLE MIT_STUDENT_DIRECTORY(
FIRST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
LAST_NAME VARCHAR2
FULL_NAME VARCHAR2
OFFICE_LOCATION VARCHAR2
OFFICE_PHONE VARCHAR2
EMAIL_ADDRESS VARCHAR2
DEPARTMENT VARCHAR2
DEPARTMENT_NAME VARCHAR2
STUDENT_YEAR VARCHAR2
FULL_NAME_UPPERCASE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE TIP_MATERIAL(
TIP_MATERIAL_KEY VARCHAR2
ISBN VARCHAR2
TITLE VARCHAR2
AUTHOR VARCHAR2
EDITION VARCHAR2
PUBLISHER VARCHAR2
YEAR VARCHAR2
NEW_SHELF_PRICE NUMBER
USED_SHELF_PRICE NUMBER
RENTAL_NEW_PRICE NUMBER
RENTAL_USED_PRICE NUMBER
MATERIAL_INFO_SOURCE VARCHAR2)


CREATE TABLE TIP_SUBJECT_OFFERED(
TIP_SUBJECT_OFFERED_KEY VARCHAR2
TERM_CODE VARCHAR2
IS_NO_COURSE_MATERIAL VARCHAR2
MASTER_COURSE_NUMBER VARCHAR2
MASTER_COURSE_NUMBER_SORT VARCHAR2
MASTER_COURSE_NUMBER_DESC VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
MASTER_SUBJECT_ID_SORT VARCHAR2
COURSE_NUMBER VARCHAR2
COURSE_NUMBER_SORT VARCHAR2
COURSE_NUMBER_DESC VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_ID_SORT VARCHAR2
SUBJECT_TITLE VARCHAR2
OFFER_DEPT_CODE VARCHAR2
OFFER_DEPT_NAME VARCHAR2
OFFER_SCHOOL_NAME VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
NUM_ENROLLED_STUDENTS NUMBER
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FCLT_BUILDING_HIST(
FCLT_BUILDING_HIST_KEY VARCHAR2
FISCAL_PERIOD VARCHAR2
FCLT_BUILDING_KEY VARCHAR2
BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NAME VARCHAR2
PARENT_BUILDING_NAME_LONG VARCHAR2
BUILDING_NAME_LONG VARCHAR2
EXT_GROSS_AREA NUMBER
ASSIGNABLE_AREA NUMBER
NON_ASSIGNABLE_AREA NUMBER
SITE VARCHAR2
CAMPUS_SECTOR VARCHAR2
ACCESS_LEVEL_CODE NUMBER
ACCESS_LEVEL_NAME VARCHAR2
BUILDING_TYPE VARCHAR2
OWNERSHIP_TYPE VARCHAR2
BUILDING_USE VARCHAR2
OCCUPANCY_CLASS VARCHAR2
BUILDING_HEIGHT VARCHAR2
COST_CENTER_CODE VARCHAR2
COST_COLLECTOR_KEY VARCHAR2
LATITUDE_WGS NUMBER
LONGITUDE_WGS NUMBER
EASTING_X_SPCS NUMBER
NORTHING_Y_SPCS NUMBER
BUILDING_SORT VARCHAR2
BUILDING_NAMED_FOR VARCHAR2
BUILDING_NAME VARCHAR2
DATE_BUILT VARCHAR2
DATE_ACQUIRED VARCHAR2
DATE_OCCUPIED VARCHAR2
WAREHOUSE_LOAD_DATE DATE
NUM_OF_ROOMS NUMBER)


CREATE TABLE DRUPAL_EMPLOYEE_DIRECTORY(
MIT_ID VARCHAR2
LAST_NAME VARCHAR2
FIRST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
FULL_NAME VARCHAR2
EMPLOYEE_GROUP VARCHAR2
EMPLOYEE_TYPE VARCHAR2
HAS_ADDL_APPOINTMENT VARCHAR2
HAS_DUAL_APPOINTMENT VARCHAR2
OFFICE_LOCATION VARCHAR2
OFFICE_PHONE VARCHAR2
HR_ORG_UNIT_ID VARCHAR2
HR_ORG_UNIT_TITLE VARCHAR2
DIRECTORY_TITLE VARCHAR2
PRIMARY_TITLE VARCHAR2
EMAIL_ADDRESS VARCHAR2
PERSONAL_URL VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE ZIP_USA(
STATE_NAME VARCHAR2
WAREHOUSE_LOAD_DATE DATE
ZIP_CODE VARCHAR2
ZIP_TYPE VARCHAR2
CITY_NAME VARCHAR2
CITY_TYPE VARCHAR2
COUNTY_NAME VARCHAR2
STATE_ABBR VARCHAR2)


CREATE TABLE LIBRARY_RESERVE_CATALOG(
LIBRARY_RESERVE_CATALOG_KEY VARCHAR2
CATALOG_TITLE VARCHAR2
CATALOG_AUTHOR_NAME VARCHAR2
CATALOG_YEAR VARCHAR2
CATALOG_PUBLISHER VARCHAR2
CATALOG_CALL_NUMBER VARCHAR2
CATALOG_ISBN VARCHAR2
CATALOG_SYSTEM_NUMBER VARCHAR2
CATALOG_RECORD_CREATE_DATE DATE
CATALOG_RECORD_UPDATE_DATE DATE
RECORD_COUNTER NUMBER
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE HR_ORG_UNIT_NEW(
HR_ORG_UNIT_KEY VARCHAR2
HR_ORG_UNIT_ID VARCHAR2
HR_ORG_UNIT_TITLE VARCHAR2
HR_ORG_UNIT_LEVEL VARCHAR2
HR_DEPARTMENT_CODE VARCHAR2
HR_DEPARTMENT_ABBR VARCHAR2
HR_DEPARTMENT_CODE_OLD VARCHAR2
HR_DEPARTMENT_NAME VARCHAR2
HR_DEPARTMENT_NAME_LONG VARCHAR2
HR_DEPARTMENT_NAME_ALPHA VARCHAR2
ORG_HIER_SCHOOL_AREA_NAME VARCHAR2
ORG_HIER_TOP_LEVEL_NAME VARCHAR2
ORG_HIER_ROOT_NAME VARCHAR2
HR_ORG_LEVEL1_ID VARCHAR2
HR_ORG_LEVEL1_SORT VARCHAR2
HR_ORG_LEVEL1_NAME VARCHAR2
HR_ORG_LEVEL2_ID VARCHAR2
HR_ORG_LEVEL2_SORT VARCHAR2
HR_ORG_LEVEL2_NAME VARCHAR2
HR_ORG_LEVEL3_ID VARCHAR2
HR_ORG_LEVEL3_SORT VARCHAR2
HR_ORG_LEVEL3_NAME VARCHAR2
HR_ORG_LEVEL4_ID VARCHAR2
HR_ORG_LEVEL4_SORT VARCHAR2
HR_ORG_LEVEL4_NAME VARCHAR2
HR_ORG_LEVEL5_ID VARCHAR2
HR_ORG_LEVEL5_SORT VARCHAR2
HR_ORG_LEVEL5_NAME VARCHAR2
DLC_KEY VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE ACADEMIC_TERMS_ALL(
ACADEMIC_TERMS_KEY VARCHAR2
TERM_CODE VARCHAR2
TERM_DESCRIPTION VARCHAR2
TERM_SELECTOR VARCHAR2
TERM_START_DATE DATE
TERM_END_DATE DATE
ACADEMIC_YEAR VARCHAR2
ACADEMIC_YEAR_DESC VARCHAR2
IS_CURRENT_TERM VARCHAR2
TERM_STATUS_INDICATOR VARCHAR2
FINANCIAL_AID_YEAR VARCHAR2
DEGREE_YEAR VARCHAR2
LAST_DAY_OF_FINAL_EXAM DATE
PRE_REGISTRATION_START_DAY DATE
REGISTRATION_DAY DATE
FIRST_DAY_OF_CLASSES DATE
LAST_DAY_OF_CLASSES DATE
GRADUATE_AWARD_START_DATE DATE
GRADUATE_AWARD_END_DATE DATE
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FAC_BUILDING(
DATE_ACQUIRED VARCHAR2
DATE_OCCUPIED VARCHAR2
WAREHOUSE_LOAD_DATE DATE
NUM_OF_ROOMS NUMBER
FAC_BUILDING_KEY VARCHAR2
BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NAME VARCHAR2
PARENT_BUILDING_NAME_LONG VARCHAR2
BUILDING_NAME_LONG VARCHAR2
EXT_GROSS_AREA NUMBER
ASSIGNABLE_AREA NUMBER
NON_ASSIGNABLE_AREA NUMBER
SITE VARCHAR2
CAMPUS_SECTOR VARCHAR2
ACCESS_LEVEL_CODE NUMBER
ACCESS_LEVEL_NAME VARCHAR2
BUILDING_TYPE VARCHAR2
OWNERSHIP_TYPE VARCHAR2
BUILDING_USE VARCHAR2
OCCUPANCY_CLASS VARCHAR2
BUILDING_HEIGHT VARCHAR2
COST_CENTER_CODE VARCHAR2
COST_COLLECTOR_KEY VARCHAR2
LATITUDE_WGS NUMBER
LONGITUDE_WGS NUMBER
EASTING_X_SPCS NUMBER
NORTHING_Y_SPCS NUMBER
BUILDING_SORT VARCHAR2
BUILDING_NAMED_FOR VARCHAR2
BUILDING_NAME VARCHAR2
DATE_BUILT VARCHAR2)


CREATE TABLE DRUPAL_COURSE_CATALOG(
ACADEMIC_YEAR VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_CODE VARCHAR2
SUBJECT_NUMBER VARCHAR2
SOURCE_SUBJECT_ID VARCHAR2
PRINT_SUBJECT_ID VARCHAR2
IS_PRINTED_IN_BULLETIN VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
EFFECTIVE_TERM_CODE VARCHAR2
SUBJECT_SHORT_TITLE VARCHAR2
SUBJECT_TITLE VARCHAR2
IS_VARIABLE_UNITS VARCHAR2
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREPARATION_UNITS NUMBER
TOTAL_UNITS NUMBER
DESIGN_UNITS NUMBER
GRADE_TYPE VARCHAR2
GRADE_TYPE_DESC VARCHAR2
GRADE_RULE VARCHAR2
GRADE_RULE_DESC VARCHAR2
HGN_CODE VARCHAR2
HGN_DESC VARCHAR2
HGN_EXCEPT VARCHAR2
GIR_ATTRIBUTE VARCHAR2
GIR_ATTRIBUTE_DESC VARCHAR2
COMM_REQ_ATTRIBUTE VARCHAR2
COMM_REQ_ATTRIBUTE_DESC VARCHAR2
TUITION_ATTRIBUTE VARCHAR2
TUITION_ATTRIBUTE_DESC VARCHAR2
WRITE_REQ_ATTRIBUTE VARCHAR2
WRITE_REQ_ATTRIBUTE_DESC VARCHAR2
SUPERVISOR_ATTRIBUTE VARCHAR2
SUPERVISOR_ATTRIBUTE_DESC VARCHAR2
PREREQUISITES VARCHAR2
SUBJECT_DESCRIPTION VARCHAR2
JOINT_SUBJECTS VARCHAR2
SCHOOL_WIDE_ELECTIVES VARCHAR2
MEETS_WITH_SUBJECTS VARCHAR2
EQUIVALENT_SUBJECTS VARCHAR2
IS_OFFERED_THIS_YEAR VARCHAR2
IS_OFFERED_FALL_TERM VARCHAR2
IS_OFFERED_IAP VARCHAR2
IS_OFFERED_SPRING_TERM VARCHAR2
IS_OFFERED_SUMMER_TERM VARCHAR2
FALL_INSTRUCTORS VARCHAR2
SPRING_INSTRUCTORS VARCHAR2
STATUS_CHANGE VARCHAR2
LAST_ACTIVITY_DATE DATE
WAREHOUSE_LOAD_DATE DATE
MASTER_SUBJECT_ID VARCHAR2
HASS_ATTRIBUTE VARCHAR2
HASS_ATTRIBUTE_DESC VARCHAR2
TERM_DURATION VARCHAR2
GLOBAL_REGIONS VARCHAR2
GLOBAL_COUNTRIES VARCHAR2
ON_LINE_PAGE_NUMBER VARCHAR2
SO_SUBJECT_ID VARCHAR2
SO_TERM_CODE VARCHAR2
SO_TERM_DESCRIPTION VARCHAR2
SO_CLUSTER_TYPE VARCHAR2
SECTION_ID VARCHAR2
IS_MASTER_SECTION VARCHAR2
IS_LECTURE_SECTION VARCHAR2
IS_LAB_SECTION VARCHAR2
IS_RECITATION_SECTION VARCHAR2
IS_DESIGN_SECTION VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
MEET_TIME VARCHAR2
MEET_PLACE VARCHAR2)


CREATE TABLE IAP_SUBJECT_CATEGORY(
IAP_SUBJECT_CATEGORY_KEY VARCHAR2
IAP_CATEGORY_NAME VARCHAR2
IAP_CATEGORY_DESC VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE SPACE_DETAIL(
BUILDING_KEY VARCHAR2
FLOOR_KEY VARCHAR2
SPACE_UNIT_KEY VARCHAR2
SPACE_USAGE_KEY NUMBER
BUILDING_ROOM VARCHAR2
BUILDING_ROOM_NAME VARCHAR2
ROOM_NUMBER VARCHAR2
ROOM_SQUARE_FOOTAGE NUMBER
ROOM_COUNTER NUMBER
BUILDING_COMPONENT VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FAC_FLOOR(
WAREHOUSE_LOAD_DATE DATE
BUILDING_KEY VARCHAR2
FLOOR VARCHAR2
FLOOR_KEY VARCHAR2
EXT_GROSS_AREA NUMBER
ASSIGNABLE_AREA NUMBER
NON_ASSIGNABLE_AREA NUMBER
FLOOR_SORT_SEQUENCE VARCHAR2
LEVEL_ID VARCHAR2
BUILDING_WINGS_ID VARCHAR2
ACCESS_LEVEL VARCHAR2)


CREATE TABLE SIS_COURSE_DESCRIPTION(
SIS_COURSE_DESCRIPTION_KEY VARCHAR2
COURSE VARCHAR2
COURSE_DESCRIPTION VARCHAR2
COURSE_DESCRIPTION_LONG VARCHAR2
DEPARTMENT VARCHAR2
DEPARTMENT_NAME VARCHAR2
DEPT_NAME_IN_COMMENCEMENT_BK VARCHAR2
SCHOOL_NAME VARCHAR2
SCHOOL_NAME_IN_COMMENCEMENT_BK VARCHAR2
FROM_TERM VARCHAR2
FROM_TERM_DESCRIPTION VARCHAR2
THRU_TERM VARCHAR2
THRU_TERM_DESCRIPTION VARCHAR2
COURSE_OPTION VARCHAR2
COURSE_LEVEL VARCHAR2
CIP_PROGRAM_CODE VARCHAR2
IS_DEGREE_GRANTING CHAR
DEFAULT_ULTIMATE_DEGREE VARCHAR2
GRADAUTE_LEVEL VARCHAR2
GRADUATE_LEVEL VARCHAR2
LAST_ACTIVITY_DATE DATE
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE IAP_SUBJECT_PERSON(
IAP_SUBJECT_PERSON_KEY VARCHAR2
PERSON_ROLE VARCHAR2
PERSON_MIT_AFFILIATION VARCHAR2
PERSON_NAME VARCHAR2
PERSON_LOCATION VARCHAR2
PERSON_EMAIL VARCHAR2
PERSON_ORGANIZATION VARCHAR2
PERSON_TITLE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE CIS_COURSE_CATALOG(
IS_OFFERED_FALL_TERM VARCHAR2
IS_OFFERED_IAP VARCHAR2
IS_OFFERED_SPRING_TERM VARCHAR2
IS_OFFERED_SUMMER_TERM VARCHAR2
FALL_INSTRUCTORS VARCHAR2
SPRING_INSTRUCTORS VARCHAR2
STATUS_CHANGE VARCHAR2
LAST_ACTIVITY_DATE DATE
WAREHOUSE_LOAD_DATE DATE
MASTER_SUBJECT_ID VARCHAR2
HASS_ATTRIBUTE VARCHAR2
HASS_ATTRIBUTE_DESC VARCHAR2
TERM_DURATION VARCHAR2
GLOBAL_REGIONS VARCHAR2
GLOBAL_COUNTRIES VARCHAR2
ON_LINE_PAGE_NUMBER VARCHAR2
ACADEMIC_YEAR VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_CODE VARCHAR2
SUBJECT_NUMBER VARCHAR2
SOURCE_SUBJECT_ID VARCHAR2
PRINT_SUBJECT_ID VARCHAR2
IS_PRINTED_IN_BULLETIN VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
EFFECTIVE_TERM_CODE VARCHAR2
SUBJECT_SHORT_TITLE VARCHAR2
SUBJECT_TITLE VARCHAR2
IS_VARIABLE_UNITS VARCHAR2
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREPARATION_UNITS NUMBER
TOTAL_UNITS NUMBER
DESIGN_UNITS NUMBER
GRADE_TYPE VARCHAR2
GRADE_TYPE_DESC VARCHAR2
GRADE_RULE VARCHAR2
GRADE_RULE_DESC VARCHAR2
HGN_CODE VARCHAR2
HGN_DESC VARCHAR2
HGN_EXCEPT VARCHAR2
GIR_ATTRIBUTE VARCHAR2
GIR_ATTRIBUTE_DESC VARCHAR2
COMM_REQ_ATTRIBUTE VARCHAR2
COMM_REQ_ATTRIBUTE_DESC VARCHAR2
TUITION_ATTRIBUTE VARCHAR2
TUITION_ATTRIBUTE_DESC VARCHAR2
WRITE_REQ_ATTRIBUTE VARCHAR2
WRITE_REQ_ATTRIBUTE_DESC VARCHAR2
SUPERVISOR_ATTRIBUTE VARCHAR2
SUPERVISOR_ATTRIBUTE_DESC VARCHAR2
PREREQUISITES VARCHAR2
SUBJECT_DESCRIPTION VARCHAR2
JOINT_SUBJECTS VARCHAR2
SCHOOL_WIDE_ELECTIVES VARCHAR2
MEETS_WITH_SUBJECTS VARCHAR2
EQUIVALENT_SUBJECTS VARCHAR2
IS_OFFERED_THIS_YEAR VARCHAR2)


CREATE TABLE FAC_MAJOR_USE(
MAJOR_USE_KEY VARCHAR2
MAJOR_USE VARCHAR2
DESCRIPTION VARCHAR2
ASSIGNABLE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE EMPLOYEE_DIRECTORY(
MIT_ID VARCHAR2
LAST_NAME VARCHAR2
FIRST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
FULL_NAME VARCHAR2
DIRECTORY_FULL_NAME VARCHAR2
OFFICE_LOCATION VARCHAR2
OFFICE_PHONE VARCHAR2
DIRECTORY_TITLE VARCHAR2
PRIMARY_TITLE VARCHAR2
DEPARTMENT_NUMBER VARCHAR2
DEPARTMENT_NAME VARCHAR2
KRB_NAME VARCHAR2
KRB_NAME_UPPERCASE VARCHAR2
EMAIL_ADDRESS VARCHAR2
PERSONAL_URL VARCHAR2
NAME_KNOWN_BY VARCHAR2
EMAIL_ADDRESS_UPPERCASE VARCHAR2
FULL_NAME_UPPERCASE VARCHAR2
PREFERRED_FIRST_NAME_UPPER VARCHAR2
PREFERRED_LAST_NAME_UPPER VARCHAR2)


CREATE TABLE SUBJECT_ENROLLABLE(
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_TITLE VARCHAR2
SUBJECT_TITLE_LONG VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
ULT_MASTER_SUBJECT_ID VARCHAR2
CLUSTER_LIST VARCHAR2
OFFER_DEPT_CODE VARCHAR2
OFFER_SCHOOL_CODE VARCHAR2
SUBJECT_GROUP_ID VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE LIBRARY_RESERVE_MATRL_DETAIL(
LIBRARY_COURSE_INSTRUCTOR_KEY VARCHAR2
LIBRARY_RESERVE_CATALOG_KEY VARCHAR2
LIBRARY_SUBJECT_OFFERED_KEY VARCHAR2
LIBRARY_MATERIAL_STATUS_KEY VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE ZIP_CANADA(
POSTAL_CODE VARCHAR2
CITY_NAME VARCHAR2
CITY_TYPE VARCHAR2
PROVINCE_ABBR VARCHAR2
PROVINCE_NAME VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE STUDENT_DEPARTMENT(
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
DEPARTMENT_FULL_NAME VARCHAR2
SCHOOL_CODE VARCHAR2
SCHOOL_NAME VARCHAR2)


CREATE TABLE SUBJECT_SUMMARY(
SUBJECT_SUMMARY_KEY VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_ID_SORT VARCHAR2
SUBJECT_TITLE VARCHAR2
SUBJECT_OR_CLUSTER VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
MASTER_SUBJECT_ID_SORT VARCHAR2
ULT_MASTER_SUBJECT_ID VARCHAR2
CLUSTER_TYPE VARCHAR2
CLUSTER_TYPE_DESC VARCHAR2
CLUSTER_LIST VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
SCHOOL_CODE VARCHAR2
SCHOOL_NAME VARCHAR2
TOTAL_UNITS NUMBER
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREP_UNITS NUMBER
DESIGN_UNITS NUMBER
SUBJECT_ENROLLMENT_NUMBER NUMBER
CLUSTER_ENROLLMENT_NUMBER NUMBER
SUBJECT_GROUP_ID VARCHAR2
SUBJECT_ENROLLMENT_FIRST_WEEK NUMBER
CLUSTER_ENROLLMENT_FIRST_WEEK NUMBER
SUBJECT_ENROLLMENT_FIFTH_WEEK NUMBER
CLUSTER_ENROLLMENT_FIFTH_WEEK NUMBER
SUBJECT_ENROLLMENT_CREDIT NUMBER
SUBJECT_ENROLLMENT_LISTEN NUMBER
CLUSTER_ENROLLMENT_CREDIT NUMBER
CLUSTER_ENROLLMENT_LISTEN NUMBER
SUBJECT_ENROLLMENT_1ST_CREDIT NUMBER
SUBJECT_ENROLLMENT_1ST_LISTEN NUMBER
CLUSTER_ENROLLMENT_1ST_CREDIT NUMBER
CLUSTER_ENROLLMENT_1ST_LISTEN NUMBER
SUBJECT_ENROLLMENT_5TH_CREDIT NUMBER
SUBJECT_ENROLLMENT_5TH_LISTEN NUMBER
CLUSTER_ENROLLMENT_5TH_CREDIT NUMBER
CLUSTER_ENROLLMENT_5TH_LISTEN NUMBER
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE SUBJECT_OFFERED(
SUBJECT_KEY VARCHAR2
SUBJECT_OFFERED_SUMMARY_KEY VARCHAR2
MASTER_SUBJECT_KEY VARCHAR2
COMPOSITE_SUBJECT_KEY VARCHAR2
TERM_CODE VARCHAR2
MASTER_COURSE_NUMBER VARCHAR2
MASTER_COURSE_NUMBER_SORT VARCHAR2
MASTER_COURSE_NUMBER_DESC VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
MASTER_SUBJECT_ID_SORT VARCHAR2
COURSE_NUMBER VARCHAR2
COURSE_NUMBER_SORT VARCHAR2
COURSE_NUMBER_DESC VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_ID_SORT VARCHAR2
SUBJECT_TITLE VARCHAR2
SECTION_ID VARCHAR2
IS_MASTER_SECTION VARCHAR2
IS_LECTURE_SECTION VARCHAR2
IS_LAB_SECTION VARCHAR2
IS_RECITATION_SECTION VARCHAR2
IS_DESIGN_SECTION VARCHAR2
OFFER_DEPT_CODE VARCHAR2
OFFER_DEPT_NAME VARCHAR2
OFFER_SCHOOL_NAME VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
MEET_TIME VARCHAR2
MEET_PLACE VARCHAR2
CLUSTER_TYPE VARCHAR2
CLUSTER_TYPE_DESC VARCHAR2
CLUSTER_LIST VARCHAR2
HGN_CODE VARCHAR2
HGN_CODE_DESC VARCHAR2
FORM_TYPE VARCHAR2
FORM_TYPE_DESC VARCHAR2
SUBJECT_ENROLLMENT_NUMBER NUMBER
SECTION_ENROLLMENT_NUMBER VARCHAR2
CLUSTER_ENROLLMENT_NUMBER NUMBER

## We're now ready to make the api call

In [43]:
gpt_sql_global_schema = []
for q in df['question']: 
    response = client.chat.completions.create(
        model="gpt-4",
        temperature = 0,
        messages = [
          {
          "role": "system",
          "content": "Your job is to write SQL queries that answer a user's question using the tables in the MIT Data Warehouse. \
          The MIT Data Warehouse is a central data source that combines data from various administrative systems at MIT, containing \
          information about students, faculty, and personnel. The schemas of all the tables that you might need \
          for answering the user questions are below. There are 50 tables in the database.  Reply with as many answers \
           as you can think of in SQL and include no linebreaks, newlines, escape characters or other commentary for the each possible \
           answer, but seperate the possibilities by semicolons. \n\n" + prompt 
          # Provide your answer in JSON form."
          # Reply with only the answer in JSON form and include no other commentary"
        },
          {"role":"user", 
           "content":q}]
          )
    gpt_sql_global_schema.append(response.choices[0].message.content)
    print(response.choices[0].message.content)
df['gpt_sql_global_schema']=gpt_sql_global_schema
df.to_csv('/home/skikk/Dokumente/uni/WS2324/MIT/llm-enterprise/data/gpt_sql_v0.csv', index=False)

SELECT COUNT(*) FROM HR_ORG_UNIT WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID, SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID
SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_ID NOT IN (SELECT HR_ORG_UNIT_ID FROM HR_ORG_UNIT)
SELECT DEPARTMENT_NAME, COUNT(*) FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY DEPARTMENT_NAME
SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE < CURRENT_DATE ORDER BY TERM_START_DATE DESC, SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE > CURRENT_DATE ORDER BY TERM_START_DATE ASC, SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE <= CURRENT_DATE AND TERM_END_DATE >= CURRENT_DATE ORDER BY TERM_START_DATE ASC
SELECT SE_PERSON.FULL_NAME, COUNT(DISTINCT OFFICE_LOCATION) AS LOCATION_CHANGES FROM SE_PERSON GROUP BY SE_PERSON.FULL_NAME ORDER BY LOCATION_CHANGES DESC LIMIT 1
SELECT AVG(NUM_ENROLLED_STUDENTS) AS Average_Courses FROM SUBJECT_OFFERED
SELECT MIT_STUDENT_DIRECTORY.FULL_NAME, SE_PERSON.MIT_ID FROM MIT_STUDENT_DIRECTORY INNER JOIN SE_PERSON ON MIT_STUDENT_DIRECTORY.FULL_NAME = SE_PERSON.FULL_NAME WHERE SE_PERSON.EMPLOYEE_TYPE = 'Employee'
SELECT SUBJECT_ID, SUBJECT_TITLE, MIN(TERM_DURATION) AS SHORTEST_DURATION FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE IS_CURRENT_TERM = 'Y'
SELECT FCLT_BUILDING.BUILDING_NAME, FAC_BUILDING_ADDRESS.STREET_NUMBER, FAC_BUILDING_ADDRESS.STREET_NAME, FAC_BUILDING_ADDRESS.CITY, FAC_BUILDING_ADDRESS.STATE, FAC_BUILDING_ADDRESS.POSTAL_CODE FROM FCLT_BUILDING INNER JOIN FAC_BUILDING_ADDRESS ON FCLT_BUILDING.FCLT_BUILDING_KEY = FAC_BUILDING_ADDRESS.BUILDING_KEY
SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY
SELECT TIP_MATERIAL_STATUS FROM TIP_MATERIAL_STATUS
SELECT DISTINCT CITY_NAME FROM ZIP_USA, SELECT DISTINCT CITY_NAME FROM ZIP_CANADA
SELECT AVG(course_count) FROM (SELECT DEPARTMENT_CODE, COUNT(*) as course_count FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY DEPARTMENT_CODE HAVING COUNT(*) > 100)
SELECT COUNT(*) FROM FCLT_ROOMS WHERE FCLT_BUILDING_KEY = 'building_key_value'
SELECT FCLT_BUILDING_KEY, COUNT(SPACE_UNIT_KEY) AS NUM_SPACE_UNITS FROM SPACE_DETAIL GROUP BY FCLT_BUILDING_KEY
SELECT TERM_START_DATE FROM ACADEMIC_TERMS WHERE TERM_DESCRIPTION IN ('Regular', 'Initial')
SELECT OFFER_DEPT_NAME, COUNT(*) AS NUM_COURSES FROM SUBJECT_OFFERED GROUP BY OFFER_DEPT_NAME ORDER BY NUM_COURSES DESC LIMIT 3, SELECT DEPARTMENT_NAME, COUNT(*) AS NUM_COURSES FROM DRUPAL_COURSE_CATALOG GROUP BY DEPARTMENT_NAME ORDER BY NUM_COURSES DESC LIMIT 3, SELECT DEPARTMENT_NAME, COUNT(*) AS NUM_COURSES FROM CIS_COURSE_CATALOG GROUP BY DEPARTMENT_NAME ORDER BY NUM_COURSES DESC LIMIT 3
SELECT OFFICE_LOCATION FROM SE_PERSON WHERE FULL_NAME = 'Michael Stonebraker'
SELECT E1.FULL_NAME FROM SE_PERSON E1, SE_PERSON E2 WHERE E1.FULL_NAME = E2.FULL_NAME AND E1.MIT_ID != E2.MIT_ID
SELECT SUBJECT_TITLE FROM SUBJECT_ENROLLABLE WHERE DEPARTMENT_CODE = 'CS'
SELECT DEPARTMENT, COUNT(*) AS STUDENT_COUNT FROM MIT_STUDENT_DIRECTORY GROUP BY DEPARTMENT
SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SUBJECT_CATEGORY
SELECT CITY_NAME FROM ZIP_USA WHERE ZIP_CODE = '501'
SELECT COUNT(*) FROM SE_PERSON WHERE EMPLOYEE_TYPE IS NOT NULL
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_CODE) AS NUM_DEPARTMENTS FROM HR_ORG_UNIT GROUP BY SCHOOL_NAME
SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM SE_PERSON WHERE FULL_NAME = 'Michael', SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM DRUPAL_EMPLOYEE_DIRECTORY WHERE FULL_NAME = 'Michael', SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM EMPLOYEE_DIRECTORY WHERE FULL_NAME = 'Michael'
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_CODE) AS NUM_DEPARTMENTS FROM STUDENT_DEPARTMENT GROUP BY SCHOOL_NAME ORDER BY NUM_DEPARTMENTS DESC LIMIT 1
SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY SUBJECT_ID, SUBJECT_TITLE, SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM DRUPAL_COURSE_CATALOG GROUP BY SUBJECT_ID, SUBJECT_TITLE, SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM CIS_COURSE_CATALOG GROUP BY SUBJECT_ID, SUBJECT_TITLE
SELECT TOP_LEVEL_DOMAIN FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVEL_DOMAIN_DESCRIPTION = 'Brazil'
SELECT TERM_START_DATE FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_NAME = 'Computer Science' AND TERM_DURATION < 100
SELECT SUBJECT_ID, SUBJECT_TITLE, FORMAT FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 800
SELECT TIP_MATERIAL_KEY, COUNT(*) AS USAGE_COUNT FROM TIP_DETAIL GROUP BY TIP_MATERIAL_KEY ORDER BY USAGE_COUNT DESC LIMIT 1
SELECT ACTIVITY_TITLE, SESSION_LOCATION, RESPONSIBLE_FACULTY_NAME FROM IAP_SUBJECT_DETAIL ORDER BY SESSION_START_TIME
SELECT TITLE, ISBN FROM TIP_MATERIAL ORDER BY NEW_SHELF_PRICE ASC, USED_SHELF_PRICE ASC, RENTAL_NEW_PRICE ASC, RENTAL_USED_PRICE ASC
SELECT SUBJECT_ID, TERM_START_DATE FROM ACADEMIC_TERMS ORDER BY TERM_START_DATE ASC LIMIT 10
SELECT COUNT(*) FROM (SELECT DEPARTMENT, COUNT(*) as student_count FROM MIT_STUDENT_DIRECTORY GROUP BY DEPARTMENT) WHERE student_count < 300
SELECT HR_ORG_UNIT_TITLE, COUNT(DISTINCT PAYROLL_RANK) AS NUM_PAYROLL_RANKS FROM SE_PERSON GROUP BY HR_ORG_UNIT_TITLE ORDER BY NUM_PAYROLL_RANKS DESC LIMIT 1
SELECT EMAIL_ADDRESS, FULL_NAME FROM MIT_STUDENT_DIRECTORY WHERE FIRST_NAME = 'Carole', SELECT EMAIL_ADDRESS, FULL_NAME FROM DRUPAL_EMPLOYEE_DIRECTORY WHERE FIRST_NAME = 'Carole'
SELECT DISTINCT PAYROLL_RANK FROM SE_PERSON
SELECT FCLT_BUILDING.BUILDING_NAME FROM FCLT_BUILDING INNER JOIN HR_ORG_UNIT ON FCLT_BUILDING.FCLT_BUILDING_KEY = HR_ORG_UNIT.HR_ORG_UNIT_KEY WHERE FCLT_BUILDING.DATE_BUILT < '1950' AND HR_ORG_UNIT.EMPLOYEE_COUNT > 100
SELECT COUNT(*) FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_NAME = 'Centre for International Studies'
SELECT COUNT(*) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100, SELECT COUNT(*) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100, SELECT COUNT(*) FROM LIBRARY_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
SELECT OFFICE_LOCATION, COUNT(*) FROM SE_PERSON GROUP BY OFFICE_LOCATION HAVING COUNT(*) > 1
SELECT SUBJECT_GROUP_ID, COUNT(*) AS NUMBER_OF_COURSES FROM ACADEMIC_TERMS WHERE MONTH(TERM_START_DATE) = 3 GROUP BY SUBJECT_GROUP_ID
SELECT LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NAME, LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM LIBRARY_COURSE_INSTRUCTOR JOIN TIP_SUBJECT_OFFERED ON LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NAME, LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME

SELECT DRUPAL_COURSE_CATALOG.RESPONSIBLE_FACULTY_NAME, DRUPAL_COURSE_CATALOG.SUBJECT_TITLE, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM DRUPAL_COURSE_CATALOG JOIN TIP_SUBJECT_OFFERED ON DRUPAL_COURSE_CATALOG.SUBJECT_TITLE = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY DRUPAL_COURSE_CATALOG.RESPONSIBLE_FACULTY_NAME, DRUPAL_COURSE_CATALOG.SUBJECT_TITLE

SELECT COURSE_CATALOG_SUBJECT_OFFERED.RESPONSIBLE_FACULTY_NAME, COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM COURSE_CATALOG_SUBJECT_OFFERED JOIN TIP_SUBJECT_OFFERED ON COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY COURSE_CATALOG_SUBJECT_OFFERED.RESPONSIBLE_FACULTY_NAME, COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE
SELECT FCLT_BUILDING.BUILDING_NAME, MAX(FCLT_ROOMS.NUM_ENROLLED_STUDENTS) FROM FCLT_BUILDING JOIN FCLT_ROOMS ON FCLT_BUILDING.FCLT_BUILDING_KEY = FCLT_ROOMS.FCLT_BUILDING_KEY GROUP BY FCLT_BUILDING.BUILDING_NAME
SELECT FCLT_BUILDING.BUILDING_NAME, AVG(FAC_FLOOR.NUM_OF_ROOMS) AS AVG_ROOMS_PER_FLOOR FROM FCLT_BUILDING JOIN FAC_FLOOR ON FCLT_BUILDING.FCLT_BUILDING_KEY = FAC_FLOOR.BUILDING_KEY GROUP BY FCLT_BUILDING.BUILDING_NAME ORDER BY AVG_ROOMS_PER_FLOOR DESC LIMIT 1
SELECT MAJOR_USE_DESC, COUNT(*) AS COUNT FROM FCLT_ROOMS GROUP BY MAJOR_USE_DESC ORDER BY COUNT DESC LIMIT 1
SELECT IAP_SUBJECT_PERSON.PERSON_NAME, COUNT(IAP_SUBJECT_SESSION.SESSION_SEQUENCE) AS SESSION_COUNT FROM IAP_SUBJECT_PERSON INNER JOIN IAP_SUBJECT_SESSION ON IAP_SUBJECT_PERSON.IAP_SUBJECT_PERSON_KEY = IAP_SUBJECT_SESSION.IAP_SUBJECT_SESSION_KEY WHERE IAP_SUBJECT_PERSON.PERSON_ROLE = 'Instructor' GROUP BY IAP_SUBJECT_PERSON.PERSON_NAME ORDER BY SESSION_COUNT DESC LIMIT 1
SELECT BUILDING_NAME_LONG, MAX(EXT_GROSS_AREA) FROM FCLT_BUILDING

In [44]:
df['gpt_sql_global_schema']=gpt_sql_global_schema

In [45]:
df

,question,sql,tables,gpt_sql_nocontext,gpt_sql_global_schema
0,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]",SELECT COUNT(*) FROM hr_organization_units WHE...,SELECT COUNT(*) FROM HR_ORG_UNIT WHERE HR_ORG_...
1,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]",SELECT COUNT(*) FROM human_resources WHERE is_...,SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_...
2,COUNT the number of courses offered by each de...,"[SELECT DEPARTMENT_CODE, COUNT(*) AS COURSE_CO...","[CIS_COURSE_CATALOG, COURSE_CATALOG_SUBJECT_OF...","""SELECT department_id, COUNT(*) FROM courses G...","SELECT DEPARTMENT_NAME, COUNT(*) FROM COURSE_C..."
3,"What are the past, upcoming, and current courses?","[SELECT DISTINCT SUBJECT_TITLE, EFFECTIVE_TERM...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO...",SELECT * FROM courses WHERE course_date < CURR...,SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_...
4,Which faculty has had the most location changes?,[SELECT MAX(CNT) FROM (SELECT COUNT(*) AS CNT ...,[FCLT_BUILDING_ADDRESS_HIST],"SELECT faculty_id, COUNT(DISTINCT location_id)...","SELECT SE_PERSON.FULL_NAME, COUNT(DISTINCT OFF..."
5,What is the average number of courses a studen...,[SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT ...,"[MIT_STUDENT_DIRECTORY, CIS_COURSE_CATALOG, MI...",SELECT AVG(course_count) FROM (SELECT student_...,SELECT AVG(NUM_ENROLLED_STUDENTS) AS Average_C...
6,Which students are employed by mit?,[SELECT DISTINCT EMPL.FULL_NAME FROM MIT_STUDE...,"[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY, MI...",SELECT student_id FROM students WHERE employme...,"SELECT MIT_STUDENT_DIRECTORY.FULL_NAME, SE_PER..."
7,What is the shortest course available this sem...,"[SELECT DISTINCT SUBJECT_TITLE, TERM_END_DATE ...","[ACADEMIC_TERMS, CIS_COURSE_CATALOG, ACADEMIC_...",SELECT MIN(course_length) FROM courses WHERE s...,"SELECT SUBJECT_ID, SUBJECT_TITLE, MIN(TERM_DUR..."
8,Show buildings and their address.,"[SELECT FB.BUILDING_NAME, FBA.* FROM FAC_BUILD...","[FAC_BUILDING, FAC_BUILDING_ADDRESS]","SELECT building_name, building_address FROM bu...","SELECT FCLT_BUILDING.BUILDING_NAME, FAC_BUILDI..."
9,How many students do we have?,[SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY;],[MIT_STUDENT_DIRECTORY],"SELECT COUNT(*) FROM students, SELECT COUNT(st...",SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY
10,Show all statuses for materials?,[SELECT DISTINCT LIBRARY_MATERIAL_STATUS FROM ...,"[LIBRARY_MATERIAL_STATUS, TIP_MATERIAL_STATUS]","SELECT status FROM materials, SELECT DISTINCT ...",SELECT TIP_MATERIAL_STATUS FROM TIP_MATERIAL_S...
11,What are the different cities WHERE people live?,[SELECT DISTINCT CITY_NAME FROM ZIP_USA UNION ...,"[ZIP_USA, ZIP_CANADA]","SELECT DISTINCT city FROM person, SELECT DISTI...","SELECT DISTINCT CITY_NAME FROM ZIP_USA, SELECT..."
12,Give the average number of courses in one depa...,[SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT D...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...",SELECT AVG(course_count) FROM (SELECT departme...,SELECT AVG(course_count) FROM (SELECT DEPARTME...
13,Count the number of rooms in a building.,"[SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) ...","[FCLT_ROOMS, FCLT_BUILDING, FAC_ROOMS, FAC_BUI...",SELECT COUNT(*) FROM rooms WHERE building_id =...,SELECT COUNT(*) FROM FCLT_ROOMS WHERE FCLT_BUI...
14,Count the number of space-units per building.,"[SELECT DISTINCT BUILDING_NAME_LONG, NUM_SPACE...","[SPACE_DETAIL, FAC_BUILDING, SPACE_DETAIL, FCL...","SELECT building_id, COUNT(space_unit_id) AS sp...","SELECT FCLT_BUILDING_KEY, COUNT(SPACE_UNIT_KEY..."
15,For courses that have descriptions of Regular ...,"[SELECT SUBJECT_TITLE, TERM_START_DATE FROM (S...","[CIS_COURSE_CATALOG, ACADEMIC_TERM_PARAMETER, ...",SELECT start_date FROM courses WHERE descripti...,SELECT TERM_START_DATE FROM ACADEMIC_TERMS WHE...
16,What are the names of the 3 departments which ...,[SELECT * FROM (SELECT DISTINCT DEPARTMENT_NAM...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...","SELECT department_name, COUNT(*) AS course_cou...","SELECT OFFER_DEPT_NAME, COUNT(*) AS NUM_COURSE..."
17,WHERE is Prof. Michael Stonebraker's office?,"[SELECT ROOM, FLOOR, FAC_BUILDING_ADDRESS.* FR...","[EMPLOYEE_DIRECTORY, FAC_ROOMS, FAC_BUILDING_A...",SELECT office_location FROM faculty WHERE name...,SELECT OFFICE_LOCATION FROM SE_PERSON WHERE FU...
18,Which employees at MIT have a namesake?,"[SELECT DISTINCT MIT_ID, EMPLOYEE.* FROM (SELE...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]","SELECT e1.employee_id, e1.employee_name FROM e...","SELECT E1.FULL_NAME FROM SE_PERSON E1, SE_PERS..."
19,Show the name for subjects which are enrollabl...,[SELECT DISTINCT SUBJECT_TITLE FROM CIS_COURS...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...",SELECT subject_name FROM subjects WHERE enroll...,SELECT SUBJECT_TITLE FROM SUBJECT_ENROLLABLE W...
20,How many students does each department have?,"[SELECT DEPARTMENT_NAME, COUNT(*) OVER (PARTIT...",[MIT_STUDENT_DIRECTORY],"SELECT department_id, COUNT(student_id) AS num...","SELECT DEPARTMENT, COUNT(*) AS STUDENT_COUNT F..."
21,What categories are there for independent acti...,[SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SU...,[IAP_SUBJECT_CATEGORY],SELECT DISTINCT category FROM independent_acti...,SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SUB...
22,Find the city with the post code 501.,"[SELECT COUNT(*) FROM ((SELECT ZIP_CODE, CITY_...","[ZIP_USA, ZIP_CANADA]",SELECT city FROM address WHERE postal_code = '...,SELECT CITY_NAME FROM ZIP_USA WHERE ZIP_CODE =...
23,How many employees are there all in all?,[SELECT COUNT(DISTINCT MIT_ID) FROM EMPLOYEE_D...,"[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]","SELECT COUNT(*) FROM employees, SELECT COUNT(e...",SELECT COUNT(*) FROM SE_PERSON WHERE EMPLOYEE_...
24,How many departments does each school have?,"[SELECT DISTINCT SCHOOL_NAME, COUNT(DEPARTMENT...",[STUDENT_DEPARTMENT],"SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_...","SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_..."
25,"Show the name, kerberos credentials, and email...","[SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FRO...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]","SELECT name, kerberos_id, email FROM employees...","SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM..."
26,Show the school with the largest number of dep...,[SELECT * FROM (SELECT * FROM (SELECT DISTINCT...,[STUDENT_DEPARTMENT],"SELECT SCHOOL_NAME, COUNT(*) AS DEPARTMENT_COU...","SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_..."
27,What are the courses with the maximum number o...,"[SELECT * FROM CIS_COURSE_CATALOG, (SELECT MAX...","[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...","SELECT course_id, course_name, MAX(units) FROM...","SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UN..."
28,What is the TDL for Brazil?,[SELECT * FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVE...,[TOP_LEVEL_DOMAIN],SELECT TDL FROM COUNTRY WHERE NAME = 'Brazil',SELECT TOP_LEVEL_DOMAIN FROM TOP_LEVEL_DOMAIN ...
29,What are all the different start dates of cour...,"[SELECT DISTINCT * FROM (SELECT SUBJECT_TITLE,...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO...",SELECT start_date FROM courses WHERE departmen...,SELECT TERM_START_DATE FROM COURSE_CATALOG_SUB...
30,List the courses and format for all courses th...,"[SELECT DISTINCT SUBJECT_TITLE, FORM_TYPE, NUM...","[SUBJECT_OFFERED, SUBJECT_OFFERED_SUMMARY, TIP...","SELECT course_name, course_format FROM courses...","SELECT SUBJECT_ID, SUBJECT_TITLE, FORMAT FROM ..."
31,Which textbook-material is used the most often?,"[SELECT * FROM (SELECT C.TITLE, C.ISBN, COUNT(...","[TIP_DETAIL, TIP_SUBJECT_OFFERED, TIP_MATERIAL]","SELECT textbook_material, COUNT(*) AS usage_co...","SELECT TIP_MATERIAL_KEY, COUNT(*) AS USAGE_COU..."
32,"Show activity title, location, and supervisor ...","[SELECT DISTINCT ACTIVITY_TITLE, SESSION_LOCAT...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON, ACADE...","SELECT activity_title, location, supervisor FR...","SELECT ACTIVITY_TITLE, SESSION_LOCATION, RESPO..."
33,What are the titles and isbn numbers for all m...,"[SELECT DISTINCT TITLE, ISBN, NEW_SHELF_PRICE ...",[TIP_MATERIAL],"SELECT title, isbn FROM materials ORDER BY pri...","SELECT TITLE, ISBN FROM TIP_MATERIAL ORDER BY ..."
34,Which were the first registered subjects?,[SELECT SUBJECT_TITLE FROM CIS_COURSE_CATALOG ...,"[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO...",SELECT * FROM subjects ORDER BY registration_d...,"SELECT SUBJECT_ID, TERM_START_DATE FROM ACADEM..."
35,How many departments have less than 300 students?,"[SELECT COUNT(*) FROM (SELECT DEPARTMENT_NAME,...",[MIT_STUDENT_DIRECTORY],SELECT COUNT(*) FROM Departments WHERE NumberO...,"SELECT COUNT(*) FROM (SELECT DEPARTMENT, COUNT..."
36,Which department has the most kinds of payroll...,[SELECT * FROM (SELECT DISTINCT DEPARTMENT_NAM...,"[SE_PERSON, EMPLOYEE_DIRECTORY, SE_PERSON, DRU...","SELECT department_id, COUNT(DISTINCT payroll_r...","SELECT HR_ORG_UNIT_TITLE, COUNT(DISTINCT PAYRO..."
37,List email adress and names of student and emp...,"[SELECT * FROM (SELECT DISTINCT FIRST_NAME, FU...","[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY, MI...","SELECT email, first_name, last_name FROM stude...","SELECT EMAIL_ADDRESS, FULL_NAME FROM MIT_STUDE..."
38,what are the different payment roll ranks?,[SELECT DISTINCT PAYROLL_RANK FROM SE_PERSON;],[SE_PERSON],"SELECT DISTINCT roll_rank FROM payment_table, ...",SELECT DISTINCT PAYROLL_RANK FROM SE_PERSON
39,List buildings which were build before 1950 an...,[SELECT * FROM (SELECT DISTINCT BUILDING_NAME_...,"[FCLT_BUILDING_HIST, FCLT_ROOMS, EMPLOYEE_DIRE...",SELECT building_name FROM buildings WHERE year...,SELECT FCLT_BUILDING.BUILDING_NAME FROM FCLT_B...
40,How many courses are there in the centre for i...,[SELECT COUNT(DISTINCT SUBJECT_ID) FROM CIS_CO...,[CIS_COURSE_CATALOG],SELECT COUNT(*) FROM courses WHERE department ...,SELECT COUNT(*) FROM COURSE_CATALOG_SUBJECT_OF...
41,What is the number of offered courses WHERE mo...,[SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJEC...,"[SUBJECT_OFFERED, SUBJECT_OFFERED_SUMMARY, TIP...",SELECT COUNT(*) FROM courses WHERE enrollment ...,SELECT COUNT(*) FROM SUBJECT_OFFERED WHERE NUM...
42,Who is sharing his office with at least one ot...,"[SELECT DISTINCT MIT_ID, FULL_NAME, A.OFFICE_L...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY...",SELECT employee_name FROM employee_table WHERE...,"SELECT OFFICE_LOCATION, COUNT(*) FROM SE_PERSO..."
43,List the subject-groups and their number of co...,"[SELECT DISTINCT SUBJECT_GROUPING_ID, COUNT(SU...","[SUBJECT_SUMMARY, ACADEMIC_TERMS_ALL, SUBJECT_...","SELECT subject_group, COUNT(*) FROM courses WH...","SELECT SUBJECT_GROUP_ID, COUNT(*) AS NUMBER_OF..."
44,"List course instructors, their courses and the...","[SELECT DISTINCT INSTRUCTOR_NAME, SUBJECT_TIT...","[LIBRARY_COURSE_INSTRUCTOR, LIBRARY_RESERVE_MA...","SELECT instructors.name, courses.course_name, ...",SELECT LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NA...
45,Which building accomodates the most students?,"[SELECT * FROM( SELECT DISTINCT BUILDING_NAME,...","[FCLT_ROOMS, MIT_STUDENT_DIRECTORY, FCLT_BUILD...","SELECT building_name, COUNT(student_id) AS stu...","SELECT FCLT_BUILDING.BUILDING_NAME, MAX(FCLT_R..."
46,Which building has on average the most rooms p...,"[SELECT DISTINCT BUILDING_NAME, NUM_ROOMS/NUM_...","[FCLT_ROOMS, FCLT_BUILDING, FAC_ROOMS, FAC_BUI...","SELECT building_name, AVG(num_rooms) as avg_ro...","SELECT FCLT_BUILDING.BUILDING_NAME, AVG(FAC_FL..."
47,What is the most common usage for all rooms.,"[SELECT * FROM(SELECT DISTINCT MAJOR_USE, NUM_...","[FCLT_ROOMS, FCLT_MAJOR_USE, FAC_ROOMS, FAC_MA...","SELECT room_usage, COUNT(*) AS usage_count FRO...","SELECT MAJOR_USE_DESC, COUNT(*) AS COUNT FROM ..."
48,Which IAP instructor has held the most session...,"[SELECT * FROM (SELECT DISTINCT PERSON_NAME, A...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON]","SELECT instructor_name, course_id, COUNT(*) as...","SELECT IAP_SUBJECT_PERSON.PERSON_NAME, COUNT(I..."
49,What is the largest building?,"[SELECT * FROM(SELECT DISTINCT BUILDING_KEY, S...","[SPACE_DETAIL, FCLT_FLOOR, FAC_FLOOR]",SELECT building_name FROM buildings ORDER BY b...,"SELECT BUILDING_NAME_LONG, MAX(EXT_GROSS_AREA)..."

# Data Cleaning of the gerenated answers.

In [60]:
splitted_sql = []
for i in range(len(df)):
    splitted_sql.append(df['gpt_sql_global_schema'][i].split(';'))
    if '\n' in df['gpt_sql_global_schema'][i] or '\\' in df['gpt_sql_global_schema'][i] or '"' in df['gpt_sql_global_schema'][i][0]:
        print("Pay attention to other splitting elements which GPT could have used...")
df['gpt_sql_global_schema'] = splitted_sql

# Generated for all answers of GPT a seperate ROW

In [76]:
question = []
sql = []
tables = []
gpt_sql_nocontext = []
gpt_sql_global_schema = []
for i in range(len(df)):
    for q in df['gpt_sql_global_schema'][i]:
        gpt_sql_global_schema.append(q)
        question.append(df['question'][i])
        sql.append(df['sql'][i])
        tables.append(df['tables'][i])
        gpt_sql_nocontext.append(df['gpt_sql_nocontext'][i])
data = {
    'question': question,
    'sql': sql,
    'tables': tables,
    'gpt_sql_nocontext': gpt_sql_nocontext,
    'gpt_sql_global_schema': gpt_sql_global_schema
}
df_q = pd.DataFrame(data)
df_q

,question,sql,tables,gpt_sql_nocontext,gpt_sql_global_schema
0,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]",SELECT COUNT(*) FROM hr_organization_units WHE...,SELECT COUNT(*) FROM HR_ORG_UNIT WHERE HR_ORG_...
1,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]",SELECT COUNT(*) FROM hr_organization_units WHE...,SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_...
2,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]",SELECT COUNT(*) FROM human_resources WHERE is_...,SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_...
3,COUNT the number of courses offered by each de...,"[SELECT DEPARTMENT_CODE, COUNT(*) AS COURSE_CO...","[CIS_COURSE_CATALOG, COURSE_CATALOG_SUBJECT_OF...","""SELECT department_id, COUNT(*) FROM courses G...","SELECT DEPARTMENT_NAME, COUNT(*) FROM COURSE_C..."
4,"What are the past, upcoming, and current courses?","[SELECT DISTINCT SUBJECT_TITLE, EFFECTIVE_TERM...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO...",SELECT * FROM courses WHERE course_date < CURR...,SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_...
...,...,...,...,...,...
60,Which building accomodates the most students?,"[SELECT * FROM( SELECT DISTINCT BUILDING_NAME,...","[FCLT_ROOMS, MIT_STUDENT_DIRECTORY, FCLT_BUILD...","SELECT building_name, COUNT(student_id) AS stu...","SELECT FCLT_BUILDING.BUILDING_NAME, MAX(FCLT_R..."
61,Which building has on average the most rooms p...,"[SELECT DISTINCT BUILDING_NAME, NUM_ROOMS/NUM_...","[FCLT_ROOMS, FCLT_BUILDING, FAC_ROOMS, FAC_BUI...","SELECT building_name, AVG(num_rooms) as avg_ro...","SELECT FCLT_BUILDING.BUILDING_NAME, AVG(FAC_FL..."
62,What is the most common usage for all rooms.,"[SELECT * FROM(SELECT DISTINCT MAJOR_USE, NUM_...","[FCLT_ROOMS, FCLT_MAJOR_USE, FAC_ROOMS, FAC_MA...","SELECT room_usage, COUNT(*) AS usage_count FRO...","SELECT MAJOR_USE_DESC, COUNT(*) AS COUNT FROM ..."
63,Which IAP instructor has held the most session...,"[SELECT * FROM (SELECT DISTINCT PERSON_NAME, A...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON]","SELECT instructor_name, course_id, COUNT(*) as...","SELECT IAP_SUBJECT_PERSON.PERSON_NAME, COUNT(I..."
64,What is the largest building?,"[SELECT * FROM(SELECT DISTINCT BUILDING_KEY, S...","[SPACE_DETAIL, FCLT_FLOOR, FAC_FLOOR]",SELECT building_name FROM buildings ORDER BY b...,"SELECT BUILDING_NAME_LONG, MAX(EXT_GROSS_AREA)..."

# Detect all relevant tables GPT used.
Starting with the tables used by the GPT without any context.

In [88]:
tables = []
cnt = 0 
for q in df_q['gpt_sql_nocontext']:
    print(q)
    cnt = cnt + 1
    if '"' in q:
        q = q[1:-1]
    try: 
        t = Parser(q).tables
        tables.append([v.upper() for v in t])
    except:
        tables.append(None)
df_q['tables_referred_by_gpt_sql_nocontext'] = tables

SELECT COUNT(*) FROM hr_organization_units WHERE relabeled = 'Yes', SELECT COUNT(*) FROM hr_organization_units WHERE relabeled = true
SELECT COUNT(*) FROM hr_organization_units WHERE relabeled = 'Yes', SELECT COUNT(*) FROM hr_organization_units WHERE relabeled = true
SELECT COUNT(*) FROM human_resources WHERE is_new = 'Yes' AND is_relabelled = 'No', SELECT COUNT(*) FROM organisation_units WHERE status = 'New' AND relabelled = 'No'
"SELECT department_id, COUNT(*) FROM courses GROUP BY department_id", "SELECT department_name, COUNT(course_id) FROM departments INNER JOIN courses ON departments.department_id = courses.department_id GROUP BY department_name"
SELECT * FROM courses WHERE course_date < CURRENT_DATE, SELECT * FROM courses WHERE course_date > CURRENT_DATE, SELECT * FROM courses WHERE course_date = CURRENT_DATE
SELECT * FROM courses WHERE course_date < CURRENT_DATE, SELECT * FROM courses WHERE course_date > CURRENT_DATE, SELECT * FROM courses WHERE course_date = CURRENT_DATE
SELECT * FROM courses WHERE course_date < CURRENT_DATE, SELECT * FROM courses WHERE course_date > CURRENT_DATE, SELECT * FROM courses WHERE course_date = CURRENT_DATE
SELECT faculty_id, COUNT(DISTINCT location_id) AS location_changes FROM faculty_location_history GROUP BY faculty_id ORDER BY location_changes DESC LIMIT 1, SELECT faculty_name, COUNT(DISTINCT location_id) AS location_changes FROM faculty_location_history JOIN faculty ON faculty_location_history.faculty_id = faculty.id GROUP BY faculty_name ORDER BY location_changes DESC LIMIT 1
SELECT AVG(course_count) FROM (SELECT student_id, COUNT(course_id) as course_count FROM student_courses GROUP BY student_id), SELECT AVG(course_count) FROM (SELECT student_id, COUNT(*) as course_count FROM enrollment GROUP BY student_id)
SELECT student_id FROM students WHERE employment_status = 'Employed by MIT', SELECT s.student_id FROM students s JOIN employment e ON s.student_id = e.student_id WHERE e.employer = 'MIT'
SELECT MIN(course_length) FROM courses WHERE semester = CURRENT_DATE(), SELECT course_name FROM courses WHERE course_length = (SELECT MIN(course_length) FROM courses WHERE semester = CURRENT_DATE()), SELECT course_id, course_name, MIN(course_length) AS shortest_course FROM courses WHERE semester = CURRENT_DATE()
SELECT building_name, building_address FROM buildings, SELECT name, address FROM building_table, SELECT Building, Address FROM Building_Info, SELECT building, address FROM building_data
SELECT COUNT(*) FROM students, SELECT COUNT(student_id) FROM students
SELECT status FROM materials, SELECT DISTINCT status FROM materials
SELECT DISTINCT city FROM person, SELECT DISTINCT city FROM address, SELECT DISTINCT city FROM student, SELECT DISTINCT city FROM faculty
SELECT DISTINCT city FROM person, SELECT DISTINCT city FROM address, SELECT DISTINCT city FROM student, SELECT DISTINCT city FROM faculty
SELECT AVG(course_count) FROM (SELECT department_id, COUNT(*) as course_count FROM courses GROUP BY department_id HAVING COUNT(*) > 100), SELECT AVG(course_count) FROM (SELECT department, COUNT(*) as course_count FROM course_catalog GROUP BY department HAVING COUNT(*) > 100)
SELECT COUNT(*) FROM rooms WHERE building_id = 'your_building_id', SELECT COUNT(room_id) FROM rooms WHERE building_id = 'your_building_id'
SELECT building_id, COUNT(space_unit_id) AS space_units_count FROM space_units GROUP BY building_id, SELECT building_name, COUNT(space_unit_id) AS space_units_count FROM space_units JOIN buildings ON space_units.building_id = buildings.building_id GROUP BY building_name
SELECT start_date FROM courses WHERE description IN ('Regular', 'Initial'), SELECT start_date FROM courses WHERE description = 'Regular' UNION SELECT start_date FROM courses WHERE description = 'Initial'
SELECT department_name, COUNT(*) AS course_count FROM courses GROUP BY department_name ORDER BY course_count DESC LIMIT 3, SELECT d.department_name, COUNT(c.course_id) AS num_courses FROM departments d JOIN courses c ON d.department_id = c.department_id GROUP BY d.department_id, d.department_name ORDER BY num_courses DESC LIMIT 3, SELECT d.name, COUNT(*) as num_courses FROM departments d INNER JOIN courses c ON c.department_id = d.id GROUP BY d.name ORDER BY num_courses DESC LIMIT 3
SELECT department_name, COUNT(*) AS course_count FROM courses GROUP BY department_name ORDER BY course_count DESC LIMIT 3, SELECT d.department_name, COUNT(c.course_id) AS num_courses FROM departments d JOIN courses c ON d.department_id = c.department_id GROUP BY d.department_id, d.department_name ORDER BY num_courses DESC LIMIT 3, SELECT d.name, COUNT(*) as num_courses FROM departments d INNER JOIN courses c ON c.department_id = d.id GROUP BY d.name ORDER BY num_courses DESC LIMIT 3
SELECT department_name, COUNT(*) AS course_count FROM courses GROUP BY department_name ORDER BY course_count DESC LIMIT 3, SELECT d.department_name, COUNT(c.course_id) AS num_courses FROM departments d JOIN courses c ON d.department_id = c.department_id GROUP BY d.department_id, d.department_name ORDER BY num_courses DESC LIMIT 3, SELECT d.name, COUNT(*) as num_courses FROM departments d INNER JOIN courses c ON c.department_id = d.id GROUP BY d.name ORDER BY num_courses DESC LIMIT 3
SELECT office_location FROM faculty WHERE name = 'Michael Stonebraker', SELECT office FROM personnel WHERE full_name = 'Michael Stonebraker'
SELECT e1.employee_id, e1.employee_name FROM employees e1 JOIN employees e2 ON e1.employee_name = e2.employee_name AND e1.employee_id != e2.employee_id, SELECT e1.employee_id, e1.employee_name FROM employees e1 WHERE EXISTS (SELECT 1 FROM employees e2 WHERE e1.employee_name = e2.employee_name AND e1.employee_id != e2.employee_id)
SELECT subject_name FROM subjects WHERE enrollable_for = 'Computer Science', SELECT s.subject_name FROM subjects s JOIN enrollments e ON s.subject_id = e.subject_id WHERE e.major = 'Computer Science', SELECT subject_name FROM subjects WHERE subject_id IN (SELECT subject_id FROM enrollments WHERE major = 'Computer Science')
SELECT department_id, COUNT(student_id) AS num_students FROM students GROUP BY department_id, SELECT dept_name, COUNT(s.student_id) AS num_students FROM students s JOIN departments d ON s.department_id = d.department_id GROUP BY d.dept_name
SELECT DISTINCT category FROM independent_activities_periods, SELECT category FROM independent_activities_periods GROUP BY category
SELECT city FROM address WHERE postal_code = '501', SELECT city FROM location WHERE zip = '501', SELECT city FROM postal_codes WHERE code = '501'
SELECT COUNT(*) FROM employees, SELECT COUNT(employee_id) FROM employees
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_ID) AS NUMBER_OF_DEPARTMENTS FROM SCHOOL_DEPARTMENT GROUP BY SCHOOL_NAME, SELECT SCHOOL_ID, COUNT(*) AS NUMBER_OF_DEPARTMENTS FROM DEPARTMENTS GROUP BY SCHOOL_ID
SELECT name, kerberos_id, email FROM employees WHERE name = 'Michael', SELECT employee_name, kerberos_credentials, employee_email FROM employee_table WHERE employee_name = 'Michael', SELECT full_name, kerberos, email_address FROM personnel WHERE full_name = 'Michael'
SELECT name, kerberos_id, email FROM employees WHERE name = 'Michael', SELECT employee_name, kerberos_credentials, employee_email FROM employee_table WHERE employee_name = 'Michael', SELECT full_name, kerberos, email_address FROM personnel WHERE full_name = 'Michael'
SELECT name, kerberos_id, email FROM employees WHERE name = 'Michael', SELECT employee_name, kerberos_credentials, employee_email FROM employee_table WHERE employee_name = 'Michael', SELECT full_name, kerberos, email_address FROM personnel WHERE full_name = 'Michael'
SELECT SCHOOL_NAME, COUNT(*) AS DEPARTMENT_COUNT FROM DEPARTMENTS GROUP BY SCHOOL_NAME ORDER BY DEPARTMENT_COUNT DESC LIMIT 1, SELECT SCHOOL_NAME FROM DEPARTMENTS GROUP BY SCHOOL_NAME ORDER BY COUNT(*) DESC LIMIT 1, SELECT SCHOOL_NAME FROM DEPARTMENTS GROUP BY SCHOOL_NAME HAVING COUNT(*) = (SELECT MAX(COUNT(*)) FROM DEPARTMENTS GROUP BY SCHOOL_NAME)
SELECT course_id, course_name, MAX(units) FROM courses GROUP BY course_id, course_name, SELECT course_id, course_name FROM courses WHERE units = (SELECT MAX(units) FROM courses)
SELECT course_id, course_name, MAX(units) FROM courses GROUP BY course_id, course_name, SELECT course_id, course_name FROM courses WHERE units = (SELECT MAX(units) FROM courses)
SELECT course_id, course_name, MAX(units) FROM courses GROUP BY course_id, course_name, SELECT course_id, course_name FROM courses WHERE units = (SELECT MAX(units) FROM courses)
SELECT TDL FROM COUNTRY WHERE NAME = 'Brazil'
SELECT start_date FROM courses WHERE department = 'Computer Science' AND DATEDIFF(end_date, start_date) < 100, SELECT start_date FROM course_data WHERE course_name LIKE '%Computer Science%' AND (end_date - start_date) < 100, SELECT start_date FROM course_schedule WHERE course_id IN (SELECT course_id FROM courses WHERE department = 'Computer Science') AND (end_date - start_date) < INTERVAL '100' DAY
SELECT course_name, course_format FROM courses WHERE number_of_attendees > 800, SELECT course_id, format FROM course_data WHERE attendees > 800, SELECT name, format FROM course_table WHERE attendee_count > 800
SELECT textbook_material, COUNT(*) AS usage_count FROM textbook_materials GROUP BY textbook_material ORDER BY usage_count DESC LIMIT 1, SELECT textbook_material, COUNT(*) FROM textbook_materials GROUP BY textbook_material ORDER BY COUNT(*) DESC LIMIT 1
SELECT activity_title, location, supervisor FROM independent_activities ORDER BY start_date
SELECT title, isbn FROM materials ORDER BY price ASC, SELECT title, isbn_number FROM books ORDER BY price ASC, SELECT material_title, isbn_code FROM library_materials ORDER BY price ASC
SELECT * FROM subjects ORDER BY registration_date ASC LIMIT 1, SELECT subject_id, subject_name FROM subjects ORDER BY registration_date ASC LIMIT 1, SELECT subject_id, subject_name, registration_date FROM subjects ORDER BY registration_date ASC LIMIT 1
SELECT COUNT(*) FROM Departments WHERE NumberOfStudents < 300, SELECT COUNT(DepartmentID) FROM Departments WHERE NumberOfStudents < 300
SELECT department_id, COUNT(DISTINCT payroll_rank) AS num_ranks FROM payroll_data GROUP BY department_id ORDER BY num_ranks DESC LIMIT 1, SELECT department_id, COUNT(DISTINCT payroll_rank) AS num_ranks FROM payroll_data GROUP BY department_id HAVING num_ranks = MAX(num_ranks)
SELECT email, first_name, last_name FROM students WHERE first_name = 'Carole', SELECT email, first_name, last_name FROM employees WHERE first_name = 'Carole'
SELECT email, first_name, last_name FROM students WHERE first_name = 'Carole', SELECT email, first_name, last_name FROM employees WHERE first_name = 'Carole'
SELECT DISTINCT roll_rank FROM payment_table, SELECT roll_rank FROM payment_table GROUP BY roll_rank
SELECT building_name FROM buildings WHERE year_built < 1950 AND number_of_employees > 100, SELECT b.building_name FROM buildings b JOIN employees e ON b.building_id = e.building_id WHERE b.year_built < 1950 GROUP BY b.building_name HAVING COUNT(e.employee_id) > 100
SELECT COUNT(*) FROM courses WHERE department = 'Centre for International Studies', SELECT COUNT(course_id) FROM courses WHERE department_name = 'Centre for International Studies'
SELECT COUNT(*) FROM courses WHERE enrollment > 100, SELECT COUNT(course_id) FROM courses WHERE enrollment > 100
SELECT COUNT(*) FROM courses WHERE enrollment > 100, SELECT COUNT(course_id) FROM courses WHERE enrollment > 100
SELECT COUNT(*) FROM courses WHERE enrollment > 100, SELECT COUNT(course_id) FROM courses WHERE enrollment > 100
SELECT employee_name FROM employee_table WHERE office_id IN (SELECT office_id FROM employee_table GROUP BY office_id HAVING COUNT(employee_id) > 1), SELECT e1.employee_name FROM employee_table e1 JOIN employee_table e2 ON e1.office_id = e2.office_id WHERE e1.employee_id != e2.employee_id
SELECT subject_group, COUNT(*) FROM courses WHERE start_date LIKE '03-%' GROUP BY subject_group, SELECT subject_group, COUNT(course_id) FROM courses WHERE MONTH(start_date) = 3 GROUP BY subject_group
SELECT instructors.name, courses.course_name, COUNT(materials.material_id) AS material_amount FROM instructors JOIN courses ON instructors.instructor_id = courses.instructor_id JOIN materials ON courses.course_id = materials.course_id GROUP BY instructors.name, courses.course_name,

SELECT i.name, c.course_name, COUNT(m.material_id) AS material_amount FROM instructors AS i INNER JOIN courses AS c ON i.instructor_id = c.instructor_id INNER JOIN materials AS m ON c.course_id = m.course_id GROUP BY i.name, c.course_name,

SELECT i.name AS instructor_name, c.course_name, COUNT(m.material_id) AS material_count FROM instructors i, courses c, materials m WHERE i.instructor_id = c.instructor_id AND c.course_id = m.course_id GROUP BY i.name, c.course_name
SELECT instructors.name, courses.course_name, COUNT(materials.material_id) AS material_amount FROM instructors JOIN courses ON instructors.instructor_id = courses.instructor_id JOIN materials ON courses.course_id = materials.course_id GROUP BY instructors.name, courses.course_name,

SELECT i.name, c.course_name, COUNT(m.material_id) AS material_amount FROM instructors AS i INNER JOIN courses AS c ON i.instructor_id = c.instructor_id INNER JOIN materials AS m ON c.course_id = m.course_id GROUP BY i.name, c.course_name,

SELECT i.name AS instructor_name, c.course_name, COUNT(m.material_id) AS material_count FROM instructors i, courses c, materials m WHERE i.instructor_id = c.instructor_id AND c.course_id = m.course_id GROUP BY i.name, c.course_name
SELECT instructors.name, courses.course_name, COUNT(materials.material_id) AS material_amount FROM instructors JOIN courses ON instructors.instructor_id = courses.instructor_id JOIN materials ON courses.course_id = materials.course_id GROUP BY instructors.name, courses.course_name,

SELECT i.name, c.course_name, COUNT(m.material_id) AS material_amount FROM instructors AS i INNER JOIN courses AS c ON i.instructor_id = c.instructor_id INNER JOIN materials AS m ON c.course_id = m.course_id GROUP BY i.name, c.course_name,

SELECT i.name AS instructor_name, c.course_name, COUNT(m.material_id) AS material_count FROM instructors i, courses c, materials m WHERE i.instructor_id = c.instructor_id AND c.course_id = m.course_id GROUP BY i.name, c.course_name
SELECT building_name, COUNT(student_id) AS student_count FROM student_accommodation GROUP BY building_name ORDER BY student_count DESC LIMIT 1, SELECT building, COUNT(*) as num_students FROM student_housing GROUP BY building ORDER BY num_students DESC LIMIT 1
SELECT building_name, AVG(num_rooms) as avg_rooms_per_floor FROM (SELECT building_name, floor, COUNT(*) as num_rooms FROM Buildings GROUP BY building_name, floor) GROUP BY building_name ORDER BY avg_rooms_per_floor DESC LIMIT 1, SELECT b.building_name, AVG(r.room_count) as avg_rooms_per_floor FROM Buildings b JOIN (SELECT building_id, COUNT(*) as room_count FROM Rooms GROUP BY building_id, floor) r ON b.building_id = r.building_id GROUP BY b.building_name ORDER BY avg_rooms_per_floor DESC LIMIT 1
SELECT room_usage, COUNT(*) AS usage_count FROM room_usage_table GROUP BY room_usage ORDER BY usage_count DESC LIMIT 1
SELECT instructor_name, course_id, COUNT(*) as session_count FROM iap_courses GROUP BY instructor_name, course_id ORDER BY session_count DESC LIMIT 1, SELECT i.instructor_name, c.course_id, COUNT(*) as session_count FROM instructors i JOIN courses c ON i.instructor_id = c.instructor_id GROUP BY i.instructor_name, c.course_id ORDER BY session_count DESC LIMIT 1
SELECT building_name FROM buildings ORDER BY building_size DESC LIMIT 1, SELECT building_name FROM buildings WHERE building_size = (SELECT MAX(building_size) FROM buildings)

And then detecting the tables used by the GPT with the table-schemas.

In [86]:
tables = []
cnt = 0 
for q in df_q['gpt_sql_global_schema']:
    print(q)
    cnt = cnt + 1
    try: 
        t = Parser(q).tables
        tables.append([v.upper() for v in t])
    except:
        tables.append(None)
df_q['tables_referred_by_gpt_sql_global_schema'] = tables

SELECT COUNT(*) FROM HR_ORG_UNIT WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID
SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID
SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_ID NOT IN (SELECT HR_ORG_UNIT_ID FROM HR_ORG_UNIT)
SELECT DEPARTMENT_NAME, COUNT(*) FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY DEPARTMENT_NAME
SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE < CURRENT_DATE ORDER BY TERM_START_DATE DESC
SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE > CURRENT_DATE ORDER BY TERM_START_DATE ASC
SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE <= CURRENT_DATE AND TERM_END_DATE >= CURRENT_DATE ORDER BY TERM_START_DATE ASC
SELECT SE_PERSON.FULL_NAME, COUNT(DISTINCT OFFICE_LOCATION) AS LOCATION_CHANGES FROM SE_PERSON GROUP BY SE_PERSON.FULL_NAME ORDER BY LOCATION_CHANGES DESC LIMIT 1
SELECT AVG(NUM_ENROLLED_STUDENTS) AS Average_Courses FROM SUBJECT_OFFERED
SELECT MIT_STUDENT_DIRECTORY.FULL_NAME, SE_PERSON.MIT_ID FROM MIT_STUDENT_DIRECTORY INNER JOIN SE_PERSON ON MIT_STUDENT_DIRECTORY.FULL_NAME = SE_PERSON.FULL_NAME WHERE SE_PERSON.EMPLOYEE_TYPE = 'Employee'
SELECT SUBJECT_ID, SUBJECT_TITLE, MIN(TERM_DURATION) AS SHORTEST_DURATION FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE IS_CURRENT_TERM = 'Y'
SELECT FCLT_BUILDING.BUILDING_NAME, FAC_BUILDING_ADDRESS.STREET_NUMBER, FAC_BUILDING_ADDRESS.STREET_NAME, FAC_BUILDING_ADDRESS.CITY, FAC_BUILDING_ADDRESS.STATE, FAC_BUILDING_ADDRESS.POSTAL_CODE FROM FCLT_BUILDING INNER JOIN FAC_BUILDING_ADDRESS ON FCLT_BUILDING.FCLT_BUILDING_KEY = FAC_BUILDING_ADDRESS.BUILDING_KEY
SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY
SELECT TIP_MATERIAL_STATUS FROM TIP_MATERIAL_STATUS
SELECT DISTINCT CITY_NAME FROM ZIP_USA
SELECT DISTINCT CITY_NAME FROM ZIP_CANADA
SELECT AVG(course_count) FROM (SELECT DEPARTMENT_CODE, COUNT(*) as course_count FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY DEPARTMENT_CODE HAVING COUNT(*) > 100)
SELECT COUNT(*) FROM FCLT_ROOMS WHERE FCLT_BUILDING_KEY = 'building_key_value'
SELECT FCLT_BUILDING_KEY, COUNT(SPACE_UNIT_KEY) AS NUM_SPACE_UNITS FROM SPACE_DETAIL GROUP BY FCLT_BUILDING_KEY
SELECT TERM_START_DATE FROM ACADEMIC_TERMS WHERE TERM_DESCRIPTION IN ('Regular', 'Initial')
SELECT OFFER_DEPT_NAME, COUNT(*) AS NUM_COURSES FROM SUBJECT_OFFERED GROUP BY OFFER_DEPT_NAME ORDER BY NUM_COURSES DESC LIMIT 3
SELECT DEPARTMENT_NAME, COUNT(*) AS NUM_COURSES FROM DRUPAL_COURSE_CATALOG GROUP BY DEPARTMENT_NAME ORDER BY NUM_COURSES DESC LIMIT 3
SELECT DEPARTMENT_NAME, COUNT(*) AS NUM_COURSES FROM CIS_COURSE_CATALOG GROUP BY DEPARTMENT_NAME ORDER BY NUM_COURSES DESC LIMIT 3
SELECT OFFICE_LOCATION FROM SE_PERSON WHERE FULL_NAME = 'Michael Stonebraker'
SELECT E1.FULL_NAME FROM SE_PERSON E1, SE_PERSON E2 WHERE E1.FULL_NAME = E2.FULL_NAME AND E1.MIT_ID != E2.MIT_ID
SELECT SUBJECT_TITLE FROM SUBJECT_ENROLLABLE WHERE DEPARTMENT_CODE = 'CS'
SELECT DEPARTMENT, COUNT(*) AS STUDENT_COUNT FROM MIT_STUDENT_DIRECTORY GROUP BY DEPARTMENT
SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SUBJECT_CATEGORY
SELECT CITY_NAME FROM ZIP_USA WHERE ZIP_CODE = '501'
SELECT COUNT(*) FROM SE_PERSON WHERE EMPLOYEE_TYPE IS NOT NULL
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_CODE) AS NUM_DEPARTMENTS FROM HR_ORG_UNIT GROUP BY SCHOOL_NAME
SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM SE_PERSON WHERE FULL_NAME = 'Michael'
SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM DRUPAL_EMPLOYEE_DIRECTORY WHERE FULL_NAME = 'Michael'
SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM EMPLOYEE_DIRECTORY WHERE FULL_NAME = 'Michael'
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_CODE) AS NUM_DEPARTMENTS FROM STUDENT_DEPARTMENT GROUP BY SCHOOL_NAME ORDER BY NUM_DEPARTMENTS DESC LIMIT 1
SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY SUBJECT_ID, SUBJECT_TITLE
SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM DRUPAL_COURSE_CATALOG GROUP BY SUBJECT_ID, SUBJECT_TITLE
SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM CIS_COURSE_CATALOG GROUP BY SUBJECT_ID, SUBJECT_TITLE
SELECT TOP_LEVEL_DOMAIN FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVEL_DOMAIN_DESCRIPTION = 'Brazil'
SELECT TERM_START_DATE FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_NAME = 'Computer Science' AND TERM_DURATION < 100
SELECT SUBJECT_ID, SUBJECT_TITLE, FORMAT FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 800
SELECT TIP_MATERIAL_KEY, COUNT(*) AS USAGE_COUNT FROM TIP_DETAIL GROUP BY TIP_MATERIAL_KEY ORDER BY USAGE_COUNT DESC LIMIT 1
SELECT ACTIVITY_TITLE, SESSION_LOCATION, RESPONSIBLE_FACULTY_NAME FROM IAP_SUBJECT_DETAIL ORDER BY SESSION_START_TIME
SELECT TITLE, ISBN FROM TIP_MATERIAL ORDER BY NEW_SHELF_PRICE ASC, USED_SHELF_PRICE ASC, RENTAL_NEW_PRICE ASC, RENTAL_USED_PRICE ASC
SELECT SUBJECT_ID, TERM_START_DATE FROM ACADEMIC_TERMS ORDER BY TERM_START_DATE ASC LIMIT 10
SELECT COUNT(*) FROM (SELECT DEPARTMENT, COUNT(*) as student_count FROM MIT_STUDENT_DIRECTORY GROUP BY DEPARTMENT) WHERE student_count < 300
SELECT HR_ORG_UNIT_TITLE, COUNT(DISTINCT PAYROLL_RANK) AS NUM_PAYROLL_RANKS FROM SE_PERSON GROUP BY HR_ORG_UNIT_TITLE ORDER BY NUM_PAYROLL_RANKS DESC LIMIT 1
SELECT EMAIL_ADDRESS, FULL_NAME FROM MIT_STUDENT_DIRECTORY WHERE FIRST_NAME = 'Carole'
SELECT EMAIL_ADDRESS, FULL_NAME FROM DRUPAL_EMPLOYEE_DIRECTORY WHERE FIRST_NAME = 'Carole'
SELECT DISTINCT PAYROLL_RANK FROM SE_PERSON
SELECT FCLT_BUILDING.BUILDING_NAME FROM FCLT_BUILDING INNER JOIN HR_ORG_UNIT ON FCLT_BUILDING.FCLT_BUILDING_KEY = HR_ORG_UNIT.HR_ORG_UNIT_KEY WHERE FCLT_BUILDING.DATE_BUILT < '1950' AND HR_ORG_UNIT.EMPLOYEE_COUNT > 100
SELECT COUNT(*) FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_NAME = 'Centre for International Studies'
SELECT COUNT(*) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
SELECT COUNT(*) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
SELECT COUNT(*) FROM LIBRARY_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
SELECT OFFICE_LOCATION, COUNT(*) FROM SE_PERSON GROUP BY OFFICE_LOCATION HAVING COUNT(*) > 1
SELECT SUBJECT_GROUP_ID, COUNT(*) AS NUMBER_OF_COURSES FROM ACADEMIC_TERMS WHERE MONTH(TERM_START_DATE) = 3 GROUP BY SUBJECT_GROUP_ID
SELECT LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NAME, LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM LIBRARY_COURSE_INSTRUCTOR JOIN TIP_SUBJECT_OFFERED ON LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NAME, LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME
SELECT DRUPAL_COURSE_CATALOG.RESPONSIBLE_FACULTY_NAME, DRUPAL_COURSE_CATALOG.SUBJECT_TITLE, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM DRUPAL_COURSE_CATALOG JOIN TIP_SUBJECT_OFFERED ON DRUPAL_COURSE_CATALOG.SUBJECT_TITLE = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY DRUPAL_COURSE_CATALOG.RESPONSIBLE_FACULTY_NAME, DRUPAL_COURSE_CATALOG.SUBJECT_TITLE
SELECT COURSE_CATALOG_SUBJECT_OFFERED.RESPONSIBLE_FACULTY_NAME, COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM COURSE_CATALOG_SUBJECT_OFFERED JOIN TIP_SUBJECT_OFFERED ON COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY COURSE_CATALOG_SUBJECT_OFFERED.RESPONSIBLE_FACULTY_NAME, COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE
SELECT FCLT_BUILDING.BUILDING_NAME, MAX(FCLT_ROOMS.NUM_ENROLLED_STUDENTS) FROM FCLT_BUILDING JOIN FCLT_ROOMS ON FCLT_BUILDING.FCLT_BUILDING_KEY = FCLT_ROOMS.FCLT_BUILDING_KEY GROUP BY FCLT_BUILDING.BUILDING_NAME
SELECT FCLT_BUILDING.BUILDING_NAME, AVG(FAC_FLOOR.NUM_OF_ROOMS) AS AVG_ROOMS_PER_FLOOR FROM FCLT_BUILDING JOIN FAC_FLOOR ON FCLT_BUILDING.FCLT_BUILDING_KEY = FAC_FLOOR.BUILDING_KEY GROUP BY FCLT_BUILDING.BUILDING_NAME ORDER BY AVG_ROOMS_PER_FLOOR DESC LIMIT 1
SELECT MAJOR_USE_DESC, COUNT(*) AS COUNT FROM FCLT_ROOMS GROUP BY MAJOR_USE_DESC ORDER BY COUNT DESC LIMIT 1
SELECT IAP_SUBJECT_PERSON.PERSON_NAME, COUNT(IAP_SUBJECT_SESSION.SESSION_SEQUENCE) AS SESSION_COUNT FROM IAP_SUBJECT_PERSON INNER JOIN IAP_SUBJECT_SESSION ON IAP_SUBJECT_PERSON.IAP_SUBJECT_PERSON_KEY = IAP_SUBJECT_SESSION.IAP_SUBJECT_SESSION_KEY WHERE IAP_SUBJECT_PERSON.PERSON_ROLE = 'Instructor' GROUP BY IAP_SUBJECT_PERSON.PERSON_NAME ORDER BY SESSION_COUNT DESC LIMIT 1
SELECT BUILDING_NAME_LONG, MAX(EXT_GROSS_AREA) FROM FCLT_BUILDING

# Save Dataframe with generated answers

In [240]:
df_q.to_csv('/home/skikk/Dokumente/uni/WS2324/MIT/llm-enterprise/data/gpt_sql_v1.5.csv', index=False)
df_q

                                                                                                 question  \
0                                           How many organisation units in human resources are relabeled?
1                                           How many organisation units in human resources are relabeled?
2                               How many organisation units in human resources are new and not relabeled?
3                                                 COUNT the number of courses offered by each department.
4                                                       What are the past, upcoming, and current courses?
5                                                       What are the past, upcoming, and current courses?
6                                                       What are the past, upcoming, and current courses?
7                                                        Which faculty has had the most location changes?
8                                          What is the average number of courses a student can enroll in?
9                                                                     Which students are employed by mit?
10                                                   What is the shortest course available this semester?
11                                                                      Show buildings and their address.
12                                                                          How many students do we have?
13                                                                       Show all statuses for materials?
14                                                       What are the different cities WHERE people live?
15                                                       What are the different cities WHERE people live?
16                       Give the average number of courses in one department with more than 100 courses.
17                                                               Count the number of rooms in a building.
18                                                          Count the number of space-units per building.
19                 For courses that have descriptions of Regular and Initial, what are their start dates?
20                     What are the names of the 3 departments which offer the most courses per semester?
21                     What are the names of the 3 departments which offer the most courses per semester?
22                     What are the names of the 3 departments which offer the most courses per semester?
23                                                           WHERE is Prof. Michael Stonebraker's office?
24                                                                Which employees at MIT have a namesake?
25                         Show the name for subjects which are enrollable for Computer Science Students.
26                                                           How many students does each department have?
27                                          What categories are there for independent activities periods?
28                                                                  Find the city with the post code 501.
29                                                               How many employees are there all in all?
30                                                            How many departments does each school have?
31               Show the name, kerberos credentials, and email for the employee with the name 'Michael'.
32               Show the name, kerberos credentials, and email for the employee with the name 'Michael'.
33               Show the name, kerberos credentials, and email for the employee with the name 'Michael'.
34                                                Show the school with the largest number of departments.
35                                                 What are the courses with the maximum number of units?
36                                                 What are the courses with the maximum number of units?
37                                                 What are the courses with the maximum number of units?
38                                                                            What is the TDL for Brazil?
39  What are all the different start dates of courses of computer science that lasted less than 100 days?
40          List the courses and format for all courses that have a number of attendees greater than 800.
41                                                        Which textbook-material is used the most often?
42    Show activity title, location, and supervisor for all independent activities ordered by start-date.
43      What are the titles and isbn numbers for all materials, sorted in ascending order of their price?
44                                                              Which were the first registered subjects?
45                                                      How many departments have less than 300 students?
46                                                  Which department has the most kinds of payroll ranks?
47                        List email adress and names of student and employee whose first name is Carole.
48                        List email adress and names of student and employee whose first name is Carole.
49                                                             what are the different payment roll ranks?
50                          List buildings which were build before 1950 and have more than 100 employees.
51                                    How many courses are there in the centre for international studies?
52                       What is the number of offered courses WHERE more than 100 students are enrolled?
53                       What is the number of offered courses WHERE more than 100 students are enrolled?
54                       What is the number of offered courses WHERE more than 100 students are enrolled?
55                                              Who is sharing his office with at least one other person?
56                              List the subject-groups and their number of courses which start in March?
57                            List course instructors, their courses and the amount of material for them.
58                            List course instructors, their courses and the amount of material for them.
59                            List course instructors, their courses and the amount of material for them.
60                                                          Which building accomodates the most students?
61                                                Which building has on average the most rooms per floor?
62                                                           What is the most common usage for all rooms.
63                                    Which IAP instructor has held the most sessions of the same course?
64                                                                          What is the largest building?

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    sql  \

# READ DATAFRAME

In [ ]:
df_q = pd.read_csv('/home/skikk/Dokumente/uni/WS2324/MIT/llm-enterprise/data/gpt_sql_v1.6.csv')

In [5]:
sql = []
tables = []
tables_referred_by_gpt_sql_global_schema = []
tables_referred_by_gpt_sql_nocontext = []
sql_outputsizes = []
for i in range(len(df_q)):
    sql.append(ast.literal_eval(df_q['sql'][i]))
    tables.append(ast.literal_eval(df_q['tables'][i]))
    tables_referred_by_gpt_sql_global_schema.append(ast.literal_eval(df_q['tables_referred_by_gpt_sql_global_schema'][i]))
    tables_referred_by_gpt_sql_nocontext.append(ast.literal_eval(df_q['tables_referred_by_gpt_sql_nocontext'][i]))
    sql_outputsizes.append(ast.literal_eval(df_q['sql_outputsizes'][i]))
df_q['sql'] = sql
df_q['tables'] = tables
df_q['tables_referred_by_gpt_sql_global_schema'] = tables_referred_by_gpt_sql_global_schema
df_q['tables_referred_by_gpt_sql_nocontext'] = tables_referred_by_gpt_sql_nocontext
df_q['sql_outputsizes'] = sql_outputsizes

In [95]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
df_q

                                                                                                 question  \
0                                           How many organisation units in human resources are relabeled?
1                                           How many organisation units in human resources are relabeled?
2                               How many organisation units in human resources are new and not relabeled?
3                                                 COUNT the number of courses offered by each department.
4                                                       What are the past, upcoming, and current courses?
5                                                       What are the past, upcoming, and current courses?
6                                                       What are the past, upcoming, and current courses?
7                                                        Which faculty has had the most location changes?
8                                          What is the average number of courses a student can enroll in?
9                                                                     Which students are employed by mit?
10                                                   What is the shortest course available this semester?
11                                                                      Show buildings and their address.
12                                                                          How many students do we have?
13                                                                       Show all statuses for materials?
14                                                       What are the different cities WHERE people live?
15                                                       What are the different cities WHERE people live?
16                       Give the average number of courses in one department with more than 100 courses.
17                                                               Count the number of rooms in a building.
18                                                          Count the number of space-units per building.
19                 For courses that have descriptions of Regular and Initial, what are their start dates?
20                     What are the names of the 3 departments which offer the most courses per semester?
21                     What are the names of the 3 departments which offer the most courses per semester?
22                     What are the names of the 3 departments which offer the most courses per semester?
23                                                           WHERE is Prof. Michael Stonebraker's office?
24                                                                Which employees at MIT have a namesake?
25                         Show the name for subjects which are enrollable for Computer Science Students.
26                                                           How many students does each department have?
27                                          What categories are there for independent activities periods?
28                                                                  Find the city with the post code 501.
29                                                               How many employees are there all in all?
30                                                            How many departments does each school have?
31               Show the name, kerberos credentials, and email for the employee with the name 'Michael'.
32               Show the name, kerberos credentials, and email for the employee with the name 'Michael'.
33               Show the name, kerberos credentials, and email for the employee with the name 'Michael'.
34                                                Show the school with the largest number of departments.
35                                                 What are the courses with the maximum number of units?
36                                                 What are the courses with the maximum number of units?
37                                                 What are the courses with the maximum number of units?
38                                                                            What is the TDL for Brazil?
39  What are all the different start dates of courses of computer science that lasted less than 100 days?
40          List the courses and format for all courses that have a number of attendees greater than 800.
41                                                        Which textbook-material is used the most often?
42    Show activity title, location, and supervisor for all independent activities ordered by start-date.
43      What are the titles and isbn numbers for all materials, sorted in ascending order of their price?
44                                                              Which were the first registered subjects?
45                                                      How many departments have less than 300 students?
46                                                  Which department has the most kinds of payroll ranks?
47                        List email adress and names of student and employee whose first name is Carole.
48                        List email adress and names of student and employee whose first name is Carole.
49                                                             what are the different payment roll ranks?
50                          List buildings which were build before 1950 and have more than 100 employees.
51                                    How many courses are there in the centre for international studies?
52                       What is the number of offered courses WHERE more than 100 students are enrolled?
53                       What is the number of offered courses WHERE more than 100 students are enrolled?
54                       What is the number of offered courses WHERE more than 100 students are enrolled?
55                                              Who is sharing his office with at least one other person?
56                              List the subject-groups and their number of courses which start in March?
57                            List course instructors, their courses and the amount of material for them.
58                            List course instructors, their courses and the amount of material for them.
59                            List course instructors, their courses and the amount of material for them.
60                                                          Which building accomodates the most students?
61                                                Which building has on average the most rooms per floor?
62                                                           What is the most common usage for all rooms.
63                                    Which IAP instructor has held the most sessions of the same course?
64                                                                          What is the largest building?

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    sql  \

# Calculate the output-size

In [132]:
def calculate_output_size(query, tables=[]):

    if 'LIMIT' in query:
        contains_limit = True
        limit_number = re.search(r'\bLIMIT\s+(\d+)', query)
        limit_value = int(limit_number.group(1))
        query = query[:query.index('LIMIT ')]
        query = 'SELECT * FROM (' + query + ') WHERE ROWNUM <=' + str(limit_value)
    formatted_query = f"SELECT DISTINCT COUNT(*) FROM({query})"
    rows = execute_query(formatted_query, tables)
    return rows[0][0]

### Calculate outputs for expected and actual results

In [ ]:
sizes = []
for q in df_q['gpt_sql_global_schema']:
    sizes.append(calculate_output_size(q))
    print(calculate_output_size(q))
df_q['gpt_sql_global_schema_outputsizes'] = sizes
sizes = []
cnt = 0
for i in range(len(df_q)):
    size = []
    for j in range(len(df_q['sql'][i])):
        print(df_q['sql'][i][j][:-1])
        output = calculate_output_size(df_q['sql'][i][j][:-1], df_q['tables'][i])
        size.append(output)
        print(output)
    sizes.append(size)
df_q['sql_outputsizes'] = sizes

SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
1
1
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
2
1
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
3
1
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
62
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
62
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
58
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
71
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
0
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
80
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
63
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
74
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
67
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
74
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
35302
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
27877
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
35302
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
237
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
0
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
383172
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
381936
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
379572
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
96821
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
381937
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
35455
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
28020
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);

### Check how many sizes are matching and how many queries are failing

In [9]:
cnt_true = 0
cnt_neg = 0
for i in range(len(df_q)):
    if df_q['gpt_sql_global_schema_outputsizes'][i] in df_q['sql_outputsizes'][i] and df_q['gpt_sql_global_schema_outputsizes'][i]>0:
        cnt_true += 1;
    if df_q['gpt_sql_global_schema_outputsizes'][i] < 0:
        cnt_neg +=1
print(cnt_true)
print(len(df_q))
print(cnt_neg)

21
65
17

# Compare Results
Idea to base the result comparison based on the output size:
<ol>
  <li>We check at first only outputs with the equal amount of rows in their result.</li>
  <li>outputs of size 10 or less are completely computable and every element is comparable (without sorting).</li>
  <li>larger outputs are compared via sorting/hashing and comparison.</li>
  <li>Failing queries should be marked as incorrect attached with their error message.</li>
  <li>(Maybe later for fuzzy comparisons)Manual checks: queries with no output, queries with different dimensions, and duplications.</li>
</ol>

1. We check outputsize and dimensionality.

In [ ]:
correct_size = []
for i in range(len(df_q)):
    if(df_q['gpt_sql_global_schema_outputsizes'][i] not in df_q['sql_outputsizes'][i]):
        correct_size.append(0)
    else:
        correct_size.append(-1)
correct_size

In [131]:
def execute_query(query, tables):
    connection = cx_Oracle.connect(user=username, password=password, dsn=dsn)
    
    if 'LIMIT' in query:
        contains_limit = True
        limit_number = re.search(r'\bLIMIT\s+(\d+)', query)
        limit_value = int(limit_number.group(1))
        query = query[:query.index('LIMIT ')]
        query = 'SELECT * FROM (' + query + ') WHERE ROWNUM <=' + str(limit_value)

    # Set input type handler to cx_Oracle.STRING
    connection.inputtypehandler = cx_Oracle.STRING
    # Create a cursor object
    cursor = connection.cursor()
    
    # Set DEFINE OFF
    cursor.setoutputsize(0)
    
    # Execute SQL queries
    try:
        cursor.execute(query)
        # Fetch the results
        rows = cursor.fetchall()
    except Exception as e1:
        #Preprocessing wueries
        for table in tables:
            table_mod = ' WAREUSER.' + table
            query = query.replace(' ' + table, table_mod)
            print(query)
        try:
            cursor.execute(query)
            # Fetch the results
            rows = cursor.fetchall()
        except Exception as e2:
            # Print the error message to stderr
            print("An error occurred:", str(e1))
            print("An error occurred:", str(e2))
            return [[-1]]
    cursor.close()
    connection.close()
    return rows

### Start with single comparisons
Generate output and compare result

In [144]:
def compare_single_outputs(expected_queries, expected_tables, given_query, given_tables):
    expected_results = []
    for query in expected_queries:
        expected_result = execute_query(query[:-1], expected_tables)[0][0]
        expected_results.append(expected_result)
        print(expected_result)
    actual_result = execute_query(given_query, given_tables)[0][0]
    print(actual_result)
    return actual_result in expected_results

In [146]:
correct = []
cnt=0
for i in range(len(df_q)):
    if (df_q['gpt_sql_global_schema_outputsizes'][i] == 1) and (1 in df_q['sql_outputsizes'][i]) and df_q['correct'][i]<0:
        print(i)
        print(df_q['sql'][i])
        print(df_q['gpt_sql_global_schema'][i])
        res = compare_single_outputs(df_q['sql'][i], df_q['tables'][i], df_q['gpt_sql_global_schema'][i], df_q['tables_referred_by_gpt_sql_global_schema'][i])
        if res:
            cnt +=1
        correct.append(int(res))
        print(res)
    else:
        correct.append(df_q['correct'][i])
print(cnt)

0
['SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);']
SELECT COUNT(*) FROM HR_ORG_UNIT WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID
635
635
True
1
['SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);']
SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID
635
685
False
2
['SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW MINUS SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);']
SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_ID NOT IN (SELECT HR_ORG_UNIT_ID FROM HR_ORG_UNIT)
50
50
True
7
['SELECT MAX(CNT) FROM (SELECT COUNT(*) AS CNT FROM FCLT_BUILDING_ADDRESS_HIST GROUP BY FCLT_BUILDING_KEY);']
SELECT SE_PERSON.FULL_NAME, COUNT(DISTINCT OFFICE_LOCATION) AS LOCATION_CHANGES FROM SE_PERSON GROUP BY SE_PERSON.FULL_NAME ORDER BY LOCATION_CHANGES DESC LIMIT 1
SELECT MAX(CNT) FROM (SELECT COUNT(*) AS CNT FROM WAREUSER.FCLT_BUILDING_ADDRESS_HIST GROUP BY FCLT_BUILDING_KEY)
1008
SELECT * FROM (SELECT WAREUSER.SE_PERSON.FULL_NAME, COUNT(DISTINCT OFFICE_LOCATION) AS LOCATION_CHANGES FROM WAREUSER.SE_PERSON GROUP BY WAREUSER.SE_PERSON.FULL_NAME ORDER BY LOCATION_CHANGES DESC ) WHERE ROWNUM <=1
Liu, Yang
False
8
['SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT FROM MIT_STUDENT_DIRECTORY, CIS_COURSE_CATALOG WHERE DEPARTMENT_CODE = DEPARTMENT GROUP BY FULL_NAME);', 'SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt FROM mit_student_directory, DRUPAL_COURSE_CATALOG WHERE DEPARTMENT_CODE = department GROUP BY full_name);', 'SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt FROM mit_student_directory, COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_CODE = department GROUP BY full_name);', 'SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt FROM mit_student_directory, SIS_COURSE_DESCRIPTION WHERE mit_student_directory.department = SIS_COURSE_DESCRIPTION.department GROUP BY full_name);', 'SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt FROM mit_student_directory, SUBJECT_SELECTOR WHERE DEPARTMENT_CODE = department GROUP BY full_name);', 'SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt FROM mit_student_directory, SUBJECT_SUMMARY WHERE DEPARTMENT_CODE = department GROUP BY full_name);', 'SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT FROM MIT_STUDENT_DIRECTORY, SUBJECT_OFFERED_SUMMARY WHERE OFFER_DEPT_CODE = DEPARTMENT GROUP BY FULL_NAME);', 'SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT FROM MIT_STUDENT_DIRECTORY, SUBJECT_ENROLLABLE WHERE OFFER_DEPT_CODE = DEPARTMENT GROUP BY FULL_NAME);', 'SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT FROM MIT_STUDENT_DIRECTORY, TIP_SUBJECT_OFFERED WHERE OFFER_DEPT_CODE = DEPARTMENT GROUP BY FULL_NAME);', 'SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT FROM MIT_STUDENT_DIRECTORY, SUBJECT_OFFERED WHERE OFFER_DEPT_CODE = DEPARTMENT GROUP BY FULL_NAME);']
SELECT AVG(NUM_ENROLLED_STUDENTS) AS Average_Courses FROM SUBJECT_OFFERED
5080.9833148967555
5494.412241887906
14899.185103244838
21.764885496183204
None
35637.162493043965
35518.927021225856
35041.094999602516
7587.490781710914
44535.904523412035
5.6106661018676585
False
12
['SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY;']
SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY
13830
13830
True
16
['SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM CIS_COURSE_CATALOG) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM DRUPAL_COURSE_CATALOG) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM COURSE_CATALOG_SUBJECT_OFFERED) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM SIS_COURSE_DESCRIPTION) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM SUBJECT_SELECTOR) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM SUBJECT_SUMMARY) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT OFFER_DEPT_NAME, COUNT(*) OVER (PARTITION BY OFFER_DEPT_NAME) AS OFFERED_SUBJECT_NR FROM SUBJECT_OFFERED_SUMMARY) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT OFFER_DEPT_CODE, COUNT(*) OVER (PARTITION BY OFFER_DEPT_CODE) AS OFFERED_SUBJECT_NR FROM SUBJECT_ENROLLABLE) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT OFFER_DEPT_NAME, COUNT(*) OVER (PARTITION BY OFFER_DEPT_NAME) AS OFFERED_SUBJECT_NR FROM TIP_SUBJECT_OFFERED) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT OFFER_DEPT_NAME, COUNT(*) OVER (PARTITION BY OFFER_DEPT_NAME) AS OFFERED_SUBJECT_NR FROM SUBJECT_OFFERED) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_CODE, COUNT(*) OVER (PARTITION BY DEPARTMENT_CODE) AS OFFERED_SUBJECT_NR FROM COURSE_CATALOG_SUBJECT_OFFERED) WHERE OFFERED_SUBJECT_NR >= 100;']
SELECT AVG(course_count) FROM (SELECT DEPARTMENT_CODE, COUNT(*) as course_count FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY DEPARTMENT_CODE HAVING COUNT(*) > 100)
2421.0666666666666
2475.446808510638
5763.875
None
None
8308.527272727273
8128.821428571428
7732.206896551724
3062.698113207547
11205.714285714286
5418.921568627451
5418.921568627451
True
29
['SELECT COUNT(DISTINCT MIT_ID) FROM EMPLOYEE_DIRECTORY;', 'SELECT COUNT(DISTINCT MIT_ID) FROM DRUPAL_EMPLOYEE_DIRECTORY;']
SELECT COUNT(*) FROM SE_PERSON WHERE EMPLOYEE_TYPE IS NOT NULL
17585
17633
SELECT COUNT(*) FROM WAREUSER.SE_PERSON WHERE EMPLOYEE_TYPE IS NOT NULL
18444
False
34
['SELECT * FROM (SELECT * FROM (SELECT DISTINCT SCHOOL_NAME, COUNT(DEPARTMENT_NAME) OVER (PARTITION BY SCHOOL_NAME) AS CNT FROM STUDENT_DEPARTMENT) ORDER BY CNT DESC) WHERE ROWNUM <= 1;']
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_CODE) AS NUM_DEPARTMENTS FROM STUDENT_DEPARTMENT GROUP BY SCHOOL_NAME ORDER BY NUM_DEPARTMENTS DESC LIMIT 1
Engineering
Engineering
True
38
["SELECT * FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVEL_DOMAIN_DESCRIPTION = 'Brazil';"]
SELECT TOP_LEVEL_DOMAIN FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVEL_DOMAIN_DESCRIPTION = 'Brazil'
BR
BR
True
41
["SELECT * FROM (SELECT * FROM (SELECT C.TITLE, C.ISBN, COUNT(*) OVER (PARTITION BY C.TITLE, C.ISBN) AS CNT FROM TIP_DETAIL A, TIP_SUBJECT_OFFERED B, TIP_MATERIAL C WHERE IS_NO_COURSE_MATERIAL LIKE 'N' AND A.TIP_SUBJECT_OFFERED_KEY = B.TIP_SUBJECT_OFFERED_KEY AND A.TIP_MATERIAL_KEY = C.TIP_MATERIAL_KEY) ORDER BY CNT DESC) WHERE ROWNUM <= 1;"]
SELECT TIP_MATERIAL_KEY, COUNT(*) AS USAGE_COUNT FROM TIP_DETAIL GROUP BY TIP_MATERIAL_KEY ORDER BY USAGE_COUNT DESC LIMIT 1
La Prensa Cardiovascular
N/ACourse has no materials2024SP
False
45
['SELECT COUNT(*) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS CNT FROM MIT_STUDENT_DIRECTORY) WHERE CNT <= 300;']
SELECT COUNT(*) FROM (SELECT DEPARTMENT, COUNT(*) as student_count FROM MIT_STUDENT_DIRECTORY GROUP BY DEPARTMENT) WHERE student_count < 300
38
38
True
51
['SELECT COUNT(DISTINCT SUBJECT_ID) FROM CIS_COURSE_CATALOG;']
SELECT COUNT(*) FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_NAME = 'Centre for International Studies'
10148
0
False
52
['SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED_SUMMARY WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;']
SELECT COUNT(*) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
509
509
509
5745
False
53
['SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED_SUMMARY WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;']
SELECT COUNT(*) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
509
509
509
5300
False
54
['SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED_SUMMARY WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;']
SELECT COUNT(*) FROM LIBRARY_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
509
509
509
806
False
62
['SELECT * FROM(SELECT DISTINCT MAJOR_USE, NUM_ROOMS FROM (SELECT FCLT_MAJOR_USE_KEY, COUNT(FCLT_ROOM_KEY) OVER (PARTITION BY FCLT_MAJOR_USE_KEY) AS NUM_ROOMS FROM FCLT_ROOMS) A, FCLT_MAJOR_USE WHERE A.FCLT_MAJOR_USE_KEY = FCLT_MAJOR_USE.FCLT_MAJOR_USE_KEY ORDER BY NUM_ROOMS DESC) WHERE ROWNUM <= 1;', 'SELECT * FROM(SELECT DISTINCT MAJOR_USE, NUM_ROOMS FROM (SELECT MAJOR_USE_KEY, COUNT(ROOM) OVER (PARTITION BY MAJOR_USE_KEY) AS NUM_ROOMS FROM FAC_ROOMS) A, FAC_MAJOR_USE WHERE A.MAJOR_USE_KEY = FAC_MAJOR_USE.MAJOR_USE_KEY ORDER BY NUM_ROOMS DESC) WHERE ROWNUM <= 1;']
SELECT MAJOR_USE_DESC, COUNT(*) AS COUNT FROM FCLT_ROOMS GROUP BY MAJOR_USE_DESC ORDER BY COUNT DESC LIMIT 1
OFFICES
OFFICES
OFFICES
True
8

In [156]:
print(len(correct_size))
print(sum(correct_size))
df_q['gpt_sql_global_schema_outputsizes'].value_counts().get(-1, 0)

65
-25

16

### Less than 10 results
Idea: check if the sizes match and whether each result is contain in one another.

In [181]:
def compare_countable_outputs(expected_queries, expected_tables, given_query, given_tables):
    expected_results = []
    actual_result = execute_query(given_query, given_tables)
    for query in expected_queries:
        expected_result = execute_query(query[:-1], expected_tables)
        if len(expected_result)==0 and len(expected_result)==0:
            return True
        expected_results.append(expected_result)
    is_matching = []
    for i in range(len(expected_results)):
        match = True
        for j in range(len(expected_results[i])):
            if not expected_results[i][j] in actual_result:
                match= False
                break
        is_matching.append(match)
    return any(is_matching)

In [ ]:
correct_m = []
cnt=0
for i in range(len(df_q)):
    if (df_q['gpt_sql_global_schema_outputsizes'][i] >=0) and (df_q['gpt_sql_global_schema_outputsizes'][i] <=10) and (df_q['correct'][i]==-1):
        res = compare_countable_outputs(df_q['sql'][i], df_q['tables'][i], df_q['gpt_sql_global_schema'][i], df_q['tables_referred_by_gpt_sql_global_schema'][i])
        if res:
            cnt +=1
        correct_m.append(int(res))
    else:
        correct_m.append(df_q['correct'][i])
print(cnt)
correct_m

In [185]:
df_q['correct']=correct_m

### Larger Output sizes
Idea: check if samples from the expected result are all included in the actual result.

In [188]:
def compare_incountable_outputs(expected_comparable_query, expected_tables, given_query, given_tables, dict_res):
    expected_result = execute_query(expected_comparable_query[:-1], expected_tables)
    actual_result = execute_query(given_query, given_tables)
    if len(expected_result[0]) != len(actual_result[0]):
        return -1
    
    sorted_expected_data = sorted(expected_result, key=lambda x: x[0])
    dict_res[expected_comparable_query]=sorted_expected_data
    sorted_actual_data = sorted(actual_result, key=lambda x: x[0])
    for i in range(len(sorted_expected_data)):
        if sorted_expected_data[i] != sorted_actual_data[i]:
            return False
    return True

In [ ]:
def compare_incountable_with_precalculated(sorted_expected_data, given_query, given_tables):
    sorted_actual_data = sorted(actual_result, key=lambda x: x[0])
    for i in range(len(sorted_expected_data)):
        if sorted_expected_data[i] != sorted_actual_data[i]:
            return False
    return True

In [ ]:
correct_l = []
dict_res={}
cnt=0
for i in range(len(df_q)):
    if (df_q['gpt_sql_global_schema_outputsizes'][i] >10) and (df_q['correct'][i]==-1):
        res = []
        for j in range(len(df_q['sql'][i])):
            if df_q['sql_outputsizes'][i][j] == df_q['gpt_sql_global_schema_outputsizes'][i]:
                if df_q['sql'][i][j] in dict_res.keys():
                    res.append(compare_incountable_with_precalculated(dict_res[df_q['sql'][i][j], df_q['gpt_sql_global_schema'][i], df_q['tables_referred_by_gpt_sql_global_schema'][i]))
                else:
                    res.append(compare_incountable_outputs(df_q['sql'][i][j], df_q['tables'][i], df_q['gpt_sql_global_schema'][i], df_q['tables_referred_by_gpt_sql_global_schema'][i]))
        if any(res):
            cnt +=1
        correct_l.append(int(any(res)))
    else:
        correct_l.append(df_q['correct'][i])
print(cnt)
correct_l

In [190]:
df_q['correct'] = correct_l

In [235]:
print("Total size of the data:   " + str(len(df_q)))
wrong_out = len(df_q)+sum(correct_size)
print("#wrong outputsize:        " + str(wrong_out))
print("   #wrong sqls:           " + str(df_q['gpt_sql_global_schema_outputsizes'].value_counts().get(-1, 0)))
print("#correct outputsize:      " + str(-1*sum(correct_size)))
print("   #1size-oputput:        " + str(sum((e==0 or e ==1) for e in correct)-wrong_out))
print("      #correct 1-size:    " + str(sum(e ==1 for e in correct)))
print("   #>1size-oputput:       " + str(-sum(correct_size)+wrong_out - sum((e==0 or e ==1) for e in correct)))
print("      #<11size-oputput:   " + str(sum(e==0 or e ==1 for e in correct_m)-sum(e==0 or e ==1 for e in correct)))
print("         #0size-oputput:  " + str(1))
print("         #corr<10size-out:" + str(sum(e ==1 for e in correct_m)-sum(e ==1 for e in correct)))
print("      #>10size-oputput:   " + str(sum(e==0 or e ==1 for e in correct_l)- sum(e==0 or e ==1 for e in correct_m)))
print("         #corr>10size-out:" + str(sum(e ==1 for e in correct_l)- sum(e ==1 for e in correct_m)))
print("Total #correct:           " + str(sum(df_q['correct'])))

Total size of the data:   65
#wrong outputsize:        40
   #wrong sqls:           16
#correct outputsize:      25
   #1size-oputput:        17
      #correct 1-size:    8
   #>1size-oputput:       8
      #<11size-oputput:   5
         #0size-oputput:  1
         #corr<10size-out:5
      #>10size-oputput:   3
         #corr>10size-out:3
Total #correct:           16

# Calculate Accuracy, Precision, Recall and F1-Score

Accuracy: $\frac{\text{Number of correct predictions}}{\text{Total number of predictions}}$

Precision: $\frac{\text{True Positives}}{\text{True Positives} + \text{False Positives}}$

Recall: $\frac{\text{True Positives}}{\text{True Positives} + \text{False Negatives}}$

F1-Score: $2 \times \frac{\text{Precision} \times \text{Recall}}{\text{Precision} + \text{Recall}}$

In [216]:
print('Accuracy: ' + str(sum(df_q['correct'])/len(df_q) * 100) + '%')

Accuracy: 24.615384615384617%

## Based on Table usage

In [325]:
accuracy = []
for t0, t1 in zip(df['tables_referred'], df['gpt_sql_global_schema_retrieved']):
    a = None 
    k='WAREUSER'
    f = False
    for t in t0:
        # ignore the sql queries referring to the tables with the 'WAREUSER' 
        # prefix, for which we didn't find the schemas in the schema directory 
        if t.find(k) > -1: 
            f = True
            break
    if t0 and t1 and not f: 
        a = len(set(t0).intersection(set(t1)))/len(t0)
    accuracy.append(a)
df['gpt_sql_global_schema_accuracy']=accuracy

In [ ]:
accuracy = []
for t0, t1 in zip(df_q['tables_referred'], df_q['gpt_sql_global_schema_retrieved']):
    a = None 
    if t0 and t1 and not f: 
        a = len(set(t0).intersection(set(t1)))/len(t0)
    accuracy.append(a)
df_q['gpt_sql_global_schema_accuracy']=accuracy