# Does using prior SQL queries help? 
In this workbook, we evalaute the effect of using "prior sql logs" in LLM prompts. For that, we will amend each table schema with the prior queries run on them. We need remove the query that is tested from the so called log.

In [178]:
import pandas as pd
import tensorflow_hub as hub
import numpy as np
import altair as alt
from openai import OpenAI
from sql_metadata import Parser
import os
from IPython.display import display, Markdown
from collections import defaultdict

In [179]:
df_q = pd.read_json('data/queries.json')

In [180]:
df_q

,question,sql,original_sql,tables_referred
0,How many organisation units in human resources...,SELECT COUNT(*) FROM (SELECT hr_org_unit_key F...,SELECT count(*) from (select hr_org_unit_key f...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]"
1,How many organisation units in human resources...,SELECT COUNT(*) FROM (SELECT hr_org_unit_key F...,SELECT count(*) from (select hr_org_unit_key f...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]"
2,Count the number of courses offered by each de...,"SELECT department_id, COUNT(*) AS course_count...","SELECT department_id, COUNT(*) AS course_count...",[CIS_COURSE_CATALOG]
3,"What are the past, upcoming, and current courses?","SELECT DISTINCT subject_title, effective_term_...","select distinct subject_title, effective_term_...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS]"
4,Which faculty has had the most location changes?,SELECT MAX(cnt) FROM (SELECT COUNT(*) AS cnt F...,select max(cnt) from (select count(*) as cnt f...,[FCLT_BUILDING_ADDRESS_HIST]
5,What is the average number of courses a studen...,SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt F...,select avg(cnt) from (select count(*) as cnt f...,"[MIT_STUDENT_DIRECTORY, SUBJECT_ENROLLABLE]"
6,Which students are employed by mit?,SELECT DISTINCT empl.full_name FROM mit_studen...,select distinct empl.full_name from mit_studen...,"[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY]"
7,What is the shortest course available this sem...,"SELECT DISTINCT subject_title, term_end_date -...","select distinct subject_title, term_end_date-t...","[ACADEMIC_TERMS, CIS_COURSE_CATALOG]"
8,Show buildings and their address.,"SELECT fb.building_name, fba.* FROM fac_buildi...","SELECT fb.building_name, fba.* FROM fac_buildi...","[FAC_BUILDING, FAC_BUILDING_ADDRESS]"
9,How many students do we have?,SELECT COUNT(*) FROM mit_student_directory;,select count(*) from mit_student_directory;,[MIT_STUDENT_DIRECTORY]
10,Show all statuses for materials?,SELECT DISTINCT library_material_status FROM l...,select distinct library_material_status from l...,"[LIBRARY_MATERIAL_STATUS, TIP_MATERIAL_STATUS]"
11,What are the different cities where people live?,SELECT DISTINCT city_name FROM zip_usa UNION S...,select distinct city_name from zip_usa union s...,"[ZIP_USA, ZIP_CANADA]"
12,Give the average number of courses in one depa...,SELECT AVG(offered_subject_nr) FROM (SELECT DI...,select avg(offered_subject_nr) from (select di...,[SUBJECT_OFFERED]
13,Count the number of room in a building.,"SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) O...","select distinct BUILDING_NAME_LONG, count(*) o...","[FCLT_ROOMS, FCLT_BUILDING]"
14,Count the number of space-units per building.,"SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) O...","select distinct BUILDING_NAME_LONG, count(*) o...","[SPACE_UNIT, FCLT_ROOMS, FCLT_BUILDING]"
15,For courses that have descriptions of Regular ...,SELECT COUNT(*) FROM cis_course_catalog WHERE ...,select count(*) from cis_course_catalog where ...,[CIS_COURSE_CATALOG]
16,What are the names of the 3 departments which ...,SELECT * FROM (SELECT DISTINCT department_name...,select * from (select distinct department_name...,[CIS_COURSE_CATALOG]
17,Where is Prof. Michael Stonebraker's office?,"SELECT Room, floor, fac_building_address.* FRO...","select Room, floor, fac_building_address.* fro...",[EMPLOYEE_DIRECTORY]
18,Which employees at MIT have a namesake?,"SELECT DISTINCT MIT_ID, employee.* FROM (SELEC...","select distinct MIT_ID, employee.* from(select...",[EMPLOYEE_DIRECTORY]
19,Show the name for subjects which are enrollabl...,"SELECT DISTINCT se.subject_id, se.subject_titl...","select distinct se.subject_id, se.subject_titl...","[SUBJECT_SUMMARY, SUBJECT_ENROLLABLE]"
20,How many students does each department have?,"SELECT department_name, COUNT(*) OVER (PARTITI...","select department_name, count(*) over (partiti...",[MIT_STUDENT_DIRECTORY]
21,What categories are there for independent acti...,SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SUB...,select distinct IAP_CATEGORY_NAME from IAP_SUB...,[IAP_SUBJECT_CATEGORY]
22,Find the city with the post code 501.,"SELECT COUNT(*) FROM ((SELECT zip_code, city_n...","select count(*) from( (select zip_code, city_n...","[ZIP_USA, ZIP_CANADA]"
23,How many employees are there all in all?,SELECT COUNT(DISTINCT MIT_ID) FROM employee_di...,select count(distinct MIT_ID) from employee_di...,[EMPLOYEE_DIRECTORY]
24,How many departments does each school have?,"SELECT DISTINCT school_name, COUNT(department_...","select distinct school_name, count(department_...",[STUDENT_DEPARTMENT]
25,"Show the name, kerberos credentials, and email...","SELECT full_name, krb_name, email_address FROM...","select full_name, krb_name, email_address from...",[EMPLOYEE_DIRECTORY]
26,Show the school with the largest number of dep...,SELECT * FROM (SELECT * FROM (SELECT DISTINCT ...,select * from (select * from(select distinct s...,[STUDENT_DEPARTMENT]
27,What are the courses with the maximum number o...,"SELECT * FROM COURSE_CATALOG_SUBJECT_OFFERED, ...","select * from COURSE_CATALOG_SUBJECT_OFFERED, ...",[COURSE_CATALOG_SUBJECT_OFFERED]
28,What is the TDL for Brazil?,SELECT * FROM top_level_domain WHERE top_level...,select * from top_level_domain where top_level...,[TOP_LEVEL_DOMAIN]
29,What are all the different start dates of cour...,"SELECT DISTINCT * FROM (SELECT subject_title, ...","select disitcnt * from( select subject_title, ...","[COURSE_CATALOG_SUBJECT_OFFERED, ACADEMIC_TERM..."
30,List the courses and format for all courses th...,"SELECT DISTINCT subject_title, form_type, num_...","select distinct subject_title, form_type, num_...",[SUBJECT_OFFERED]
31,Which textbook-material is used the most often?,"SELECT * FROM (SELECT c.title, c.isbn, COUNT(*...","select * from (select c.title, c.isbn, count(*...","[TIP_DETAIL, TIP_SUBJECT_OFFERED, TIP_MATERIAL]"
32,"Show activity title, location, and supervisor ...","SELECT DISTINCT activity_title, session_locati...","select distinct activity_title, session_locati...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON, ACADE..."
33,What are the titles and isbn numbers for all m...,"SELECT DISTINCT title, isbn, new_shelf_price F...","select distinct title, isbn, new_shelf_price f...",[TIP_MATERIAL]
34,Which were the first registered subjects?,"SELECT subject_title FROM subject_summary c, a...","select subject_title from subject_summary c, a...","[SUBJECT_SUMMARY, ACADEMIC_TERMS_ALL]"
35,How many departments have less than 300 students?,"SELECT COUNT(*) FROM (SELECT department_name, ...","select count(*) (select department_name, count...",[MIT_STUDENT_DIRECTORY]
36,Which department has the most kinds of payroll...,SELECT * FROM (SELECT DISTINCT department_name...,select * from (select distinct department_name...,"[SE_PERSON, EMPLOYEE_DIRECTORY]"

In [181]:
tables = []
for q in df_q['sql']: 
    t = Parser(q).tables
    tables.append([v.upper() for v in t])
df_q['tables'] = tables

In [182]:
unique_tables = set()
for  l in tables: 
    for t in l:
        unique_tables.add(t.upper())

In [183]:
len(unique_tables)

31

In [184]:
unique_tables

{'ACADEMIC_TERMS',
 'ACADEMIC_TERMS_ALL',
 'CIS_COURSE_CATALOG',
 'COURSE_CATALOG_SUBJECT_OFFERED',
 'EMPLOYEE_DIRECTORY',
 'FAC_BUILDING',
 'FAC_BUILDING_ADDRESS',
 'FCLT_BUILDING',
 'FCLT_BUILDING_ADDRESS_HIST',
 'FCLT_ROOMS',
 'HR_ORG_UNIT',
 'HR_ORG_UNIT_NEW',
 'IAP_SUBJECT_CATEGORY',
 'IAP_SUBJECT_DETAIL',
 'IAP_SUBJECT_PERSON',
 'IAP_SUBJECT_SESSION',
 'LIBRARY_MATERIAL_STATUS',
 'MIT_STUDENT_DIRECTORY',
 'SE_PERSON',
 'SPACE_UNIT',
 'STUDENT_DEPARTMENT',
 'SUBJECT_ENROLLABLE',
 'SUBJECT_OFFERED',
 'SUBJECT_SUMMARY',
 'TIP_DETAIL',
 'TIP_MATERIAL',
 'TIP_MATERIAL_STATUS',
 'TIP_SUBJECT_OFFERED',
 'TOP_LEVEL_DOMAIN',
 'ZIP_CANADA',
 'ZIP_USA'}

In [185]:
df_q

,question,sql,original_sql,tables_referred,tables
0,How many organisation units in human resources...,SELECT COUNT(*) FROM (SELECT hr_org_unit_key F...,SELECT count(*) from (select hr_org_unit_key f...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]","[HR_ORG_UNIT_NEW, HR_ORG_UNIT]"
1,How many organisation units in human resources...,SELECT COUNT(*) FROM (SELECT hr_org_unit_key F...,SELECT count(*) from (select hr_org_unit_key f...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]","[HR_ORG_UNIT_NEW, HR_ORG_UNIT]"
2,Count the number of courses offered by each de...,"SELECT department_id, COUNT(*) AS course_count...","SELECT department_id, COUNT(*) AS course_count...",[CIS_COURSE_CATALOG],[CIS_COURSE_CATALOG]
3,"What are the past, upcoming, and current courses?","SELECT DISTINCT subject_title, effective_term_...","select distinct subject_title, effective_term_...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS]","[CIS_COURSE_CATALOG, ACADEMIC_TERMS]"
4,Which faculty has had the most location changes?,SELECT MAX(cnt) FROM (SELECT COUNT(*) AS cnt F...,select max(cnt) from (select count(*) as cnt f...,[FCLT_BUILDING_ADDRESS_HIST],[FCLT_BUILDING_ADDRESS_HIST]
5,What is the average number of courses a studen...,SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt F...,select avg(cnt) from (select count(*) as cnt f...,"[MIT_STUDENT_DIRECTORY, SUBJECT_ENROLLABLE]","[MIT_STUDENT_DIRECTORY, SUBJECT_ENROLLABLE]"
6,Which students are employed by mit?,SELECT DISTINCT empl.full_name FROM mit_studen...,select distinct empl.full_name from mit_studen...,"[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY]","[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY]"
7,What is the shortest course available this sem...,"SELECT DISTINCT subject_title, term_end_date -...","select distinct subject_title, term_end_date-t...","[ACADEMIC_TERMS, CIS_COURSE_CATALOG]","[ACADEMIC_TERMS, CIS_COURSE_CATALOG]"
8,Show buildings and their address.,"SELECT fb.building_name, fba.* FROM fac_buildi...","SELECT fb.building_name, fba.* FROM fac_buildi...","[FAC_BUILDING, FAC_BUILDING_ADDRESS]","[FAC_BUILDING, FAC_BUILDING_ADDRESS]"
9,How many students do we have?,SELECT COUNT(*) FROM mit_student_directory;,select count(*) from mit_student_directory;,[MIT_STUDENT_DIRECTORY],[MIT_STUDENT_DIRECTORY]
10,Show all statuses for materials?,SELECT DISTINCT library_material_status FROM l...,select distinct library_material_status from l...,"[LIBRARY_MATERIAL_STATUS, TIP_MATERIAL_STATUS]","[LIBRARY_MATERIAL_STATUS, TIP_MATERIAL_STATUS]"
11,What are the different cities where people live?,SELECT DISTINCT city_name FROM zip_usa UNION S...,select distinct city_name from zip_usa union s...,"[ZIP_USA, ZIP_CANADA]","[ZIP_USA, ZIP_CANADA]"
12,Give the average number of courses in one depa...,SELECT AVG(offered_subject_nr) FROM (SELECT DI...,select avg(offered_subject_nr) from (select di...,[SUBJECT_OFFERED],[SUBJECT_OFFERED]
13,Count the number of room in a building.,"SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) O...","select distinct BUILDING_NAME_LONG, count(*) o...","[FCLT_ROOMS, FCLT_BUILDING]","[FCLT_ROOMS, FCLT_BUILDING]"
14,Count the number of space-units per building.,"SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) O...","select distinct BUILDING_NAME_LONG, count(*) o...","[SPACE_UNIT, FCLT_ROOMS, FCLT_BUILDING]","[SPACE_UNIT, FCLT_ROOMS, FCLT_BUILDING]"
15,For courses that have descriptions of Regular ...,SELECT COUNT(*) FROM cis_course_catalog WHERE ...,select count(*) from cis_course_catalog where ...,[CIS_COURSE_CATALOG],[CIS_COURSE_CATALOG]
16,What are the names of the 3 departments which ...,SELECT * FROM (SELECT DISTINCT department_name...,select * from (select distinct department_name...,[CIS_COURSE_CATALOG],[CIS_COURSE_CATALOG]
17,Where is Prof. Michael Stonebraker's office?,"SELECT Room, floor, fac_building_address.* FRO...","select Room, floor, fac_building_address.* fro...",[EMPLOYEE_DIRECTORY],[EMPLOYEE_DIRECTORY]
18,Which employees at MIT have a namesake?,"SELECT DISTINCT MIT_ID, employee.* FROM (SELEC...","select distinct MIT_ID, employee.* from(select...",[EMPLOYEE_DIRECTORY],[EMPLOYEE_DIRECTORY]
19,Show the name for subjects which are enrollabl...,"SELECT DISTINCT se.subject_id, se.subject_titl...","select distinct se.subject_id, se.subject_titl...","[SUBJECT_SUMMARY, SUBJECT_ENROLLABLE]","[SUBJECT_SUMMARY, SUBJECT_ENROLLABLE]"
20,How many students does each department have?,"SELECT department_name, COUNT(*) OVER (PARTITI...","select department_name, count(*) over (partiti...",[MIT_STUDENT_DIRECTORY],[MIT_STUDENT_DIRECTORY]
21,What categories are there for independent acti...,SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SUB...,select distinct IAP_CATEGORY_NAME from IAP_SUB...,[IAP_SUBJECT_CATEGORY],[IAP_SUBJECT_CATEGORY]
22,Find the city with the post code 501.,"SELECT COUNT(*) FROM ((SELECT zip_code, city_n...","select count(*) from( (select zip_code, city_n...","[ZIP_USA, ZIP_CANADA]","[ZIP_USA, ZIP_CANADA]"
23,How many employees are there all in all?,SELECT COUNT(DISTINCT MIT_ID) FROM employee_di...,select count(distinct MIT_ID) from employee_di...,[EMPLOYEE_DIRECTORY],[EMPLOYEE_DIRECTORY]
24,How many departments does each school have?,"SELECT DISTINCT school_name, COUNT(department_...","select distinct school_name, count(department_...",[STUDENT_DEPARTMENT],[STUDENT_DEPARTMENT]
25,"Show the name, kerberos credentials, and email...","SELECT full_name, krb_name, email_address FROM...","select full_name, krb_name, email_address from...",[EMPLOYEE_DIRECTORY],[EMPLOYEE_DIRECTORY]
26,Show the school with the largest number of dep...,SELECT * FROM (SELECT * FROM (SELECT DISTINCT ...,select * from (select * from(select distinct s...,[STUDENT_DEPARTMENT],[STUDENT_DEPARTMENT]
27,What are the courses with the maximum number o...,"SELECT * FROM COURSE_CATALOG_SUBJECT_OFFERED, ...","select * from COURSE_CATALOG_SUBJECT_OFFERED, ...",[COURSE_CATALOG_SUBJECT_OFFERED],[COURSE_CATALOG_SUBJECT_OFFERED]
28,What is the TDL for Brazil?,SELECT * FROM top_level_domain WHERE top_level...,select * from top_level_domain where top_level...,[TOP_LEVEL_DOMAIN],[TOP_LEVEL_DOMAIN]
29,What are all the different start dates of cour...,"SELECT DISTINCT * FROM (SELECT subject_title, ...","select disitcnt * from( select subject_title, ...","[COURSE_CATALOG_SUBJECT_OFFERED, ACADEMIC_TERM...","[COURSE_CATALOG_SUBJECT_OFFERED, ACADEMIC_TERM..."
30,List the courses and format for all courses th...,"SELECT DISTINCT subject_title, form_type, num_...","select distinct subject_title, form_type, num_...",[SUBJECT_OFFERED],[SUBJECT_OFFERED]
31,Which textbook-material is used the most often?,"SELECT * FROM (SELECT c.title, c.isbn, COUNT(*...","select * from (select c.title, c.isbn, count(*...","[TIP_DETAIL, TIP_SUBJECT_OFFERED, TIP_MATERIAL]","[TIP_DETAIL, TIP_SUBJECT_OFFERED, TIP_MATERIAL]"
32,"Show activity title, location, and supervisor ...","SELECT DISTINCT activity_title, session_locati...","select distinct activity_title, session_locati...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON, ACADE...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON, ACADE..."
33,What are the titles and isbn numbers for all m...,"SELECT DISTINCT title, isbn, new_shelf_price F...","select distinct title, isbn, new_shelf_price f...",[TIP_MATERIAL],[TIP_MATERIAL]
34,Which were the first registered subjects?,"SELECT subject_title FROM subject_summary c, a...","select subject_title from subject_summary c, a...","[SUBJECT_SUMMARY, ACADEMIC_TERMS_ALL]","[SUBJECT_SUMMARY, ACADEMIC_TERMS_ALL]"
35,How many departments have less than 300 students?,"SELECT COUNT(*) FROM (SELECT department_name, ...","select count(*) (select department_name, count...",[MIT_STUDENT_DIRECTORY],[MIT_STUDENT_DIRECTORY]
36,Which department has the most kinds of payroll...,SELECT * FROM (SELECT DISTINCT department_name...,select * from (select distinct department_name...,"[SE_PERSON, EMPLOYEE_DIRECTORY]","[SE_PERSON, EMPLOYEE_DIRECTORY]"

In [186]:
df_x = pd.read_json('data/queries.json')

In [187]:
df_x['tables_referred']

0                        [HR_ORG_UNIT_NEW, HR_ORG_UNIT]
1                        [HR_ORG_UNIT_NEW, HR_ORG_UNIT]
2                                  [CIS_COURSE_CATALOG]
3                  [CIS_COURSE_CATALOG, ACADEMIC_TERMS]
4                          [FCLT_BUILDING_ADDRESS_HIST]
5           [MIT_STUDENT_DIRECTORY, SUBJECT_ENROLLABLE]
6           [MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY]
7                  [ACADEMIC_TERMS, CIS_COURSE_CATALOG]
8                  [FAC_BUILDING, FAC_BUILDING_ADDRESS]
9                               [MIT_STUDENT_DIRECTORY]
10       [LIBRARY_MATERIAL_STATUS, TIP_MATERIAL_STATUS]
11                                [ZIP_USA, ZIP_CANADA]
12                                    [SUBJECT_OFFERED]
13                          [FCLT_ROOMS, FCLT_BUILDING]
14              [SPACE_UNIT, FCLT_ROOMS, FCLT_BUILDING]
15                                 [CIS_COURSE_CATALOG]
16                                 [CIS_COURSE_CATALOG]
17                                 [EMPLOYEE_DIRECTORY]
18                                 [EMPLOYEE_DIRECTORY]
19                [SUBJECT_SUMMARY, SUBJECT_ENROLLABLE]
20                              [MIT_STUDENT_DIRECTORY]
21                               [IAP_SUBJECT_CATEGORY]
22                                [ZIP_USA, ZIP_CANADA]
23                                 [EMPLOYEE_DIRECTORY]
24                                 [STUDENT_DEPARTMENT]
25                                 [EMPLOYEE_DIRECTORY]
26                                 [STUDENT_DEPARTMENT]
27                     [COURSE_CATALOG_SUBJECT_OFFERED]
28                                   [TOP_LEVEL_DOMAIN]
29    [COURSE_CATALOG_SUBJECT_OFFERED, ACADEMIC_TERM...
30                                    [SUBJECT_OFFERED]
31      [TIP_DETAIL, TIP_SUBJECT_OFFERED, TIP_MATERIAL]
32    [IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON, ACADE...
33                                       [TIP_MATERIAL]
34                [SUBJECT_SUMMARY, ACADEMIC_TERMS_ALL]
35                              [MIT_STUDENT_DIRECTORY]
36                      [SE_PERSON, EMPLOYEE_DIRECTORY]
Name: tables_referred, dtype: object

In [188]:
len(unique_tables)

31

## Map tables to queries

# Give ChatGPT the "database" schema as context and elicit its answer

## Build the schema prompt

In [189]:
def table_to_sql_create(t, l=False): 
    schema_file='data/views/schema_as_table/' + t + '.csv'
    p = None
    if os.path.isfile(schema_file):
        df_t = pd.read_csv(schema_file)
        p = "CREATE TABLE " + t + "(\n"  
        p = p + '\n'.join(list(df_t[['COLUMN_NAME', 'DATA_TYPE']].apply(lambda row: ' '.join(row.astype(str)), axis=1)))
        p = p + ')\n'
    return p

In [193]:
def create_prompt(): 
    prompt = "*** FACTS ABOUT THE DATABASE ***\n\n" 
    prompt += "Fact#1: All MIT buildings are designated by numbers \n"
    prompt += "Fact#2: IAP stands for Independent Activities Period \n"
    prompt += "Fact#3: TIP stands for Textbook Information Provisioning \n"
    prompt += "Fact#4: CIS stands for Curricular Information System \n"
    prompt += "Fact#5: KRB stands for Kerberos \n\n"
    prompt += "*** ALL THE TABLES IN THE DATABASE *** \n\n"
    cnt = 0 
    for i, t in enumerate(unique_tables):
        p = table_to_sql_create(t, )
        if not p:
            print(t)
        else: 
            cnt = cnt + 1
            prompt = prompt + p
            prompt = prompt + "\n"
    return prompt

In [194]:
print(create_prompt())

*** FACTS ABOUT THE DATABASE ***

Fact#1: All MIT buildings are designated by numbers
Fact#2: IAP stands for Independent Activities Period
Fact#3: TIP stands for Textbook Information Provisioning
Fact#4: CIS stands for Curricular Information System
Fact#5: KRB stands for Kerberos

*** ALL THE TABLES IN THE DATABASE ***

CREATE TABLE ACADEMIC_TERMS(
ACADEMIC_TERMS_KEY VARCHAR2
TERM_CODE VARCHAR2
TERM_DESCRIPTION VARCHAR2
TERM_SELECTOR VARCHAR2
TERM_START_DATE DATE
TERM_END_DATE DATE
ACADEMIC_YEAR VARCHAR2
ACADEMIC_YEAR_DESC VARCHAR2
IS_CURRENT_TERM VARCHAR2
IS_REGULAR_TERM VARCHAR2
TERM_STATUS_INDICATOR VARCHAR2
TERM_STATUS VARCHAR2
FINANCIAL_AID_YEAR VARCHAR2
DEGREE_YEAR VARCHAR2
LAST_DAY_OF_FINAL_EXAM DATE
PRE_REGISTRATION_START_DAY DATE
REGISTRATION_DAY DATE
FIRST_DAY_OF_CLASSES DATE
LAST_DAY_OF_CLASSES DATE
ADD_DATE DATE
DROP_DATE DATE
GRADUATE_AWARD_START_DATE DATE
GRADUATE_AWARD_END_DATE DATE
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE TIP_DETAIL(
TIP_SUBJECT_OFFERED_KEY VARCHAR2
TIP_MATERIAL_KEY VARCHAR2
TIP_MATERIAL_STATUS_KEY VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
ISBN VARCHAR2
RECORD_COUNT NUMBER
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE MIT_STUDENT_DIRECTORY(
FIRST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
LAST_NAME VARCHAR2
FULL_NAME VARCHAR2
OFFICE_LOCATION VARCHAR2
OFFICE_PHONE VARCHAR2
EMAIL_ADDRESS VARCHAR2
DEPARTMENT VARCHAR2
DEPARTMENT_NAME VARCHAR2
STUDENT_YEAR VARCHAR2
FULL_NAME_UPPERCASE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE SPACE_UNIT(
FCLT_ORGANIZATION_KEY VARCHAR2
SPACE_UNIT_KEY VARCHAR2
SPACE_UNIT_CODE VARCHAR2
SPACE_UNIT VARCHAR2
DLC_KEY VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE LIBRARY_MATERIAL_STATUS(
LIBRARY_MATERIAL_STATUS_KEY VARCHAR2
LIBRARY_MATERIAL_STATUS_CODE VARCHAR2
LIBRARY_MATERIAL_STATUS VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE TIP_MATERIAL_STATUS(
TIP_MATERIAL_STATUS_KEY VARCHAR2
TIP_MATERIAL_STATUS_CODE VARCHAR2
TIP_MATERIAL_STATUS VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE HR_ORG_UNIT(
HR_ORG_UNIT_KEY VARCHAR2
HR_ORG_UNIT_ID VARCHAR2
HR_ORG_UNIT_TITLE VARCHAR2
HR_ORG_UNIT_LEVEL VARCHAR2
HR_DEPARTMENT_ID VARCHAR2
HR_DEPARTMENT_CODE VARCHAR2
HR_DEPARTMENT_CODE_OLD VARCHAR2
HR_DEPARTMENT_NAME VARCHAR2
HR_DEPARTMENT_NAME_LONG VARCHAR2
HR_DEPARTMENT_NAME_ALPHA VARCHAR2
ORG_HIER_SCHOOL_AREA_NAME VARCHAR2
ORG_HIER_TOP_LEVEL_NAME VARCHAR2
ORG_HIER_ROOT_NAME VARCHAR2
HR_ORG_LEVEL1_ID VARCHAR2
HR_ORG_LEVEL1_SORT VARCHAR2
HR_ORG_LEVEL1_NAME VARCHAR2
HR_ORG_LEVEL2_ID VARCHAR2
HR_ORG_LEVEL2_SORT VARCHAR2
HR_ORG_LEVEL2_NAME VARCHAR2
HR_ORG_LEVEL3_ID VARCHAR2
HR_ORG_LEVEL3_SORT VARCHAR2
HR_ORG_LEVEL3_NAME VARCHAR2
HR_ORG_LEVEL4_ID VARCHAR2
HR_ORG_LEVEL4_SORT VARCHAR2
HR_ORG_LEVEL4_NAME VARCHAR2
HR_ORG_LEVEL5_ID VARCHAR2
HR_ORG_LEVEL5_SORT VARCHAR2
HR_ORG_LEVEL5_NAME VARCHAR2
HR_ORG_LEVEL6_ID VARCHAR2
HR_ORG_LEVEL6_SORT VARCHAR2
HR_ORG_LEVEL6_NAME VARCHAR2
HR_ORG_LEVEL7_ID VARCHAR2
HR_ORG_LEVEL7_SORT VARCHAR2
HR_ORG_LEVEL7_NAME VARCHAR2
DLC_KEY VARCHAR2
DLC_NAME VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE TIP_SUBJECT_OFFERED(
TIP_SUBJECT_OFFERED_KEY VARCHAR2
TERM_CODE VARCHAR2
IS_NO_COURSE_MATERIAL VARCHAR2
MASTER_COURSE_NUMBER VARCHAR2
MASTER_COURSE_NUMBER_SORT VARCHAR2
MASTER_COURSE_NUMBER_DESC VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
MASTER_SUBJECT_ID_SORT VARCHAR2
COURSE_NUMBER VARCHAR2
COURSE_NUMBER_SORT VARCHAR2
COURSE_NUMBER_DESC VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_ID_SORT VARCHAR2
SUBJECT_TITLE VARCHAR2
OFFER_DEPT_CODE VARCHAR2
OFFER_DEPT_NAME VARCHAR2
OFFER_SCHOOL_NAME VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
NUM_ENROLLED_STUDENTS NUMBER
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE FAC_BUILDING_ADDRESS(
WAREHOUSE_LOAD_DATE DATE
BUILDING_ADDRESS_KEY VARCHAR2
BUILDING_KEY VARCHAR2
ADDRESS_PURPOSE VARCHAR2
ADDRESS_CITY_ID VARCHAR2
IS_E911_ADDRESS VARCHAR2
STREET_NUMBER VARCHAR2
STREET_NUMBER_SUFFIX VARCHAR2
PRE_DIRECTIONAL VARCHAR2
STREET_NAME VARCHAR2
STREET_SUFFIX VARCHAR2
POST_DIRECTIONAL VARCHAR2
CITY VARCHAR2
STATE VARCHAR2
POSTAL_CODE VARCHAR2)

CREATE TABLE SE_PERSON(
MIT_ID VARCHAR2
KRB_NAME VARCHAR2
FULL_NAME VARCHAR2
PAYROLL_RANK VARCHAR2
POSITION_TITLE VARCHAR2
IS_ACTIVE CHAR
OFFICE_LOCATION VARCHAR2
ORGANIZATION VARCHAR2
FIRST_NAME VARCHAR2
LAST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
EMPLOYEE_TYPE VARCHAR2)

CREATE TABLE SUBJECT_SUMMARY(
SUBJECT_SUMMARY_KEY VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_ID_SORT VARCHAR2
SUBJECT_TITLE VARCHAR2
SUBJECT_OR_CLUSTER VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
MASTER_SUBJECT_ID_SORT VARCHAR2
ULT_MASTER_SUBJECT_ID VARCHAR2
CLUSTER_TYPE VARCHAR2
CLUSTER_TYPE_DESC VARCHAR2
CLUSTER_LIST VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
SCHOOL_CODE VARCHAR2
SCHOOL_NAME VARCHAR2
TOTAL_UNITS NUMBER
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREP_UNITS NUMBER
DESIGN_UNITS NUMBER
SUBJECT_ENROLLMENT_NUMBER NUMBER
CLUSTER_ENROLLMENT_NUMBER NUMBER
SUBJECT_GROUP_ID VARCHAR2
SUBJECT_ENROLLMENT_FIRST_WEEK NUMBER
CLUSTER_ENROLLMENT_FIRST_WEEK NUMBER
SUBJECT_ENROLLMENT_FIFTH_WEEK NUMBER
CLUSTER_ENROLLMENT_FIFTH_WEEK NUMBER
SUBJECT_ENROLLMENT_CREDIT NUMBER
SUBJECT_ENROLLMENT_LISTEN NUMBER
CLUSTER_ENROLLMENT_CREDIT NUMBER
CLUSTER_ENROLLMENT_LISTEN NUMBER
SUBJECT_ENROLLMENT_1ST_CREDIT NUMBER
SUBJECT_ENROLLMENT_1ST_LISTEN NUMBER
CLUSTER_ENROLLMENT_1ST_CREDIT NUMBER
CLUSTER_ENROLLMENT_1ST_LISTEN NUMBER
SUBJECT_ENROLLMENT_5TH_CREDIT NUMBER
SUBJECT_ENROLLMENT_5TH_LISTEN NUMBER
CLUSTER_ENROLLMENT_5TH_CREDIT NUMBER
CLUSTER_ENROLLMENT_5TH_LISTEN NUMBER
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE SUBJECT_ENROLLABLE(
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_TITLE VARCHAR2
SUBJECT_TITLE_LONG VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
ULT_MASTER_SUBJECT_ID VARCHAR2
CLUSTER_LIST VARCHAR2
OFFER_DEPT_CODE VARCHAR2
OFFER_SCHOOL_CODE VARCHAR2
SUBJECT_GROUP_ID VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE FAC_BUILDING(
DATE_ACQUIRED VARCHAR2
DATE_OCCUPIED VARCHAR2
WAREHOUSE_LOAD_DATE DATE
NUM_OF_ROOMS NUMBER
FAC_BUILDING_KEY VARCHAR2
BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NAME VARCHAR2
PARENT_BUILDING_NAME_LONG VARCHAR2
BUILDING_NAME_LONG VARCHAR2
EXT_GROSS_AREA NUMBER
ASSIGNABLE_AREA NUMBER
NON_ASSIGNABLE_AREA NUMBER
SITE VARCHAR2
CAMPUS_SECTOR VARCHAR2
ACCESS_LEVEL_CODE NUMBER
ACCESS_LEVEL_NAME VARCHAR2
BUILDING_TYPE VARCHAR2
OWNERSHIP_TYPE VARCHAR2
BUILDING_USE VARCHAR2
OCCUPANCY_CLASS VARCHAR2
BUILDING_HEIGHT VARCHAR2
COST_CENTER_CODE VARCHAR2
COST_COLLECTOR_KEY VARCHAR2
LATITUDE_WGS NUMBER
LONGITUDE_WGS NUMBER
EASTING_X_SPCS NUMBER
NORTHING_Y_SPCS NUMBER
BUILDING_SORT VARCHAR2
BUILDING_NAMED_FOR VARCHAR2
BUILDING_NAME VARCHAR2
DATE_BUILT VARCHAR2)

CREATE TABLE IAP_SUBJECT_DETAIL(
IAP_SUBJECT_CATEGORY_KEY VARCHAR2
IAP_SUBJECT_SPONSOR_KEY VARCHAR2
IAP_SUBJECT_SESSION_KEY VARCHAR2
IAP_SUBJECT_PERSON_KEY VARCHAR2
ACTIVITY_TITLE VARCHAR2
ACTIVITY_DESCRIPTION VARCHAR2
TERM_CODE VARCHAR2
ENROLLMENT_TYPE VARCHAR2
MAX_ENROLLMENT NUMBER
ATTENDANCE VARCHAR2
PREREQUISITES VARCHAR2
FEE NUMBER
FEE_REASON VARCHAR2
PREREG_DEADLINE DATE
CREATE_DATE DATE
LAST_ACTIVITY_DATE DATE
IS_MULTIPLE_SESSION VARCHAR2
IS_CANCELLED VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE ZIP_CANADA(
POSTAL_CODE VARCHAR2
CITY_NAME VARCHAR2
CITY_TYPE VARCHAR2
PROVINCE_ABBR VARCHAR2
PROVINCE_NAME VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE TIP_MATERIAL(
TIP_MATERIAL_KEY VARCHAR2
ISBN VARCHAR2
TITLE VARCHAR2
AUTHOR VARCHAR2
EDITION VARCHAR2
PUBLISHER VARCHAR2
YEAR VARCHAR2
NEW_SHELF_PRICE NUMBER
USED_SHELF_PRICE NUMBER
RENTAL_NEW_PRICE NUMBER
RENTAL_USED_PRICE NUMBER
MATERIAL_INFO_SOURCE VARCHAR2)

CREATE TABLE IAP_SUBJECT_SESSION(
IAP_SUBJECT_SESSION_KEY VARCHAR2
SESSION_SEQUENCE NUMBER
SESSION_TITLE VARCHAR2
SESSION_DESCRIPTION VARCHAR2
SESSION_LOCATION VARCHAR2
SESSION_DATE DATE
SESSION_START_TIME VARCHAR2
SESSION_END_TIME VARCHAR2
HAS_SESSION_INFO VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE CIS_COURSE_CATALOG(
IS_OFFERED_FALL_TERM VARCHAR2
IS_OFFERED_IAP VARCHAR2
IS_OFFERED_SPRING_TERM VARCHAR2
IS_OFFERED_SUMMER_TERM VARCHAR2
FALL_INSTRUCTORS VARCHAR2
SPRING_INSTRUCTORS VARCHAR2
STATUS_CHANGE VARCHAR2
LAST_ACTIVITY_DATE DATE
WAREHOUSE_LOAD_DATE DATE
MASTER_SUBJECT_ID VARCHAR2
HASS_ATTRIBUTE VARCHAR2
HASS_ATTRIBUTE_DESC VARCHAR2
TERM_DURATION VARCHAR2
GLOBAL_REGIONS VARCHAR2
GLOBAL_COUNTRIES VARCHAR2
ON_LINE_PAGE_NUMBER VARCHAR2
ACADEMIC_YEAR VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_CODE VARCHAR2
SUBJECT_NUMBER VARCHAR2
SOURCE_SUBJECT_ID VARCHAR2
PRINT_SUBJECT_ID VARCHAR2
IS_PRINTED_IN_BULLETIN VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
EFFECTIVE_TERM_CODE VARCHAR2
SUBJECT_SHORT_TITLE VARCHAR2
SUBJECT_TITLE VARCHAR2
IS_VARIABLE_UNITS VARCHAR2
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREPARATION_UNITS NUMBER
TOTAL_UNITS NUMBER
DESIGN_UNITS NUMBER
GRADE_TYPE VARCHAR2
GRADE_TYPE_DESC VARCHAR2
GRADE_RULE VARCHAR2
GRADE_RULE_DESC VARCHAR2
HGN_CODE VARCHAR2
HGN_DESC VARCHAR2
HGN_EXCEPT VARCHAR2
GIR_ATTRIBUTE VARCHAR2
GIR_ATTRIBUTE_DESC VARCHAR2
COMM_REQ_ATTRIBUTE VARCHAR2
COMM_REQ_ATTRIBUTE_DESC VARCHAR2
TUITION_ATTRIBUTE VARCHAR2
TUITION_ATTRIBUTE_DESC VARCHAR2
WRITE_REQ_ATTRIBUTE VARCHAR2
WRITE_REQ_ATTRIBUTE_DESC VARCHAR2
SUPERVISOR_ATTRIBUTE VARCHAR2
SUPERVISOR_ATTRIBUTE_DESC VARCHAR2
PREREQUISITES VARCHAR2
SUBJECT_DESCRIPTION VARCHAR2
JOINT_SUBJECTS VARCHAR2
SCHOOL_WIDE_ELECTIVES VARCHAR2
MEETS_WITH_SUBJECTS VARCHAR2
EQUIVALENT_SUBJECTS VARCHAR2
IS_OFFERED_THIS_YEAR VARCHAR2)

CREATE TABLE FCLT_ROOMS(
FCLT_ROOM_KEY VARCHAR2
BUILDING_ROOM VARCHAR2
FCLT_BUILDING_KEY VARCHAR2
FLOOR VARCHAR2
FCLT_FLOOR_KEY VARCHAR2
ROOM VARCHAR2
SPACE_ID VARCHAR2
FCLT_MAJOR_USE_KEY VARCHAR2
MAJOR_USE_DESC VARCHAR2
FCLT_USE_KEY VARCHAR2
USE_DESC VARCHAR2
FCLT_MINOR_USE_KEY VARCHAR2
MINOR_USE_DESC VARCHAR2
FCLT_ORGANIZATION_KEY VARCHAR2
ORGANIZATION_NAME VARCHAR2
FCLT_MINOR_ORGANIZATION_KEY VARCHAR2
MINOR_ORGANIZATION VARCHAR2
AREA NUMBER
ROOM_FULL_NAME VARCHAR2
DEPT_CODE VARCHAR2
ACCESS_LEVEL VARCHAR2
LATITUDE_WGS NUMBER
LONGITUDE_WGS NUMBER
NORTHING_SPCS NUMBER
EASTING_SPCS NUMBER
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE IAP_SUBJECT_CATEGORY(
IAP_SUBJECT_CATEGORY_KEY VARCHAR2
IAP_CATEGORY_NAME VARCHAR2
IAP_CATEGORY_DESC VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE EMPLOYEE_DIRECTORY(
MIT_ID VARCHAR2
LAST_NAME VARCHAR2
FIRST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
FULL_NAME VARCHAR2
DIRECTORY_FULL_NAME VARCHAR2
OFFICE_LOCATION VARCHAR2
OFFICE_PHONE VARCHAR2
DIRECTORY_TITLE VARCHAR2
PRIMARY_TITLE VARCHAR2
DEPARTMENT_NUMBER VARCHAR2
DEPARTMENT_NAME VARCHAR2
KRB_NAME VARCHAR2
KRB_NAME_UPPERCASE VARCHAR2
EMAIL_ADDRESS VARCHAR2
PERSONAL_URL VARCHAR2
NAME_KNOWN_BY VARCHAR2
EMAIL_ADDRESS_UPPERCASE VARCHAR2
FULL_NAME_UPPERCASE VARCHAR2
PREFERRED_FIRST_NAME_UPPER VARCHAR2
PREFERRED_LAST_NAME_UPPER VARCHAR2)

CREATE TABLE FCLT_BUILDING_ADDRESS_HIST(
FCLT_BUILDING_ADDRESS_KEY VARCHAR2
FCLT_BUILDING_KEY VARCHAR2
FISCAL_PERIOD VARCHAR2
FCLT_BUILDING_ADDRESS_HIST_KEY VARCHAR2
BUILDING_NUMBER VARCHAR2
ADDRESS_PURPOSE VARCHAR2
ADDRESS_CITY_ID VARCHAR2
IS_E911_ADDRESS VARCHAR2
STREET_NUMBER VARCHAR2
STREET_NUMBER_SUFFIX VARCHAR2
PRE_DIRECTIONAL VARCHAR2
STREET_NAME VARCHAR2
STREET_SUFFIX VARCHAR2
POST_DIRECTIONAL VARCHAR2
CITY VARCHAR2
STATE VARCHAR2
POSTAL_CODE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE IAP_SUBJECT_PERSON(
IAP_SUBJECT_PERSON_KEY VARCHAR2
PERSON_ROLE VARCHAR2
PERSON_MIT_AFFILIATION VARCHAR2
PERSON_NAME VARCHAR2
PERSON_LOCATION VARCHAR2
PERSON_EMAIL VARCHAR2
PERSON_ORGANIZATION VARCHAR2
PERSON_TITLE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE ZIP_USA(
STATE_NAME VARCHAR2
WAREHOUSE_LOAD_DATE DATE
ZIP_CODE VARCHAR2
ZIP_TYPE VARCHAR2
CITY_NAME VARCHAR2
CITY_TYPE VARCHAR2
COUNTY_NAME VARCHAR2
STATE_ABBR VARCHAR2)

CREATE TABLE FCLT_BUILDING(
FCLT_BUILDING_KEY VARCHAR2
BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NAME VARCHAR2
PARENT_BUILDING_NAME_LONG VARCHAR2
BUILDING_NAME_LONG VARCHAR2
EXT_GROSS_AREA NUMBER
ASSIGNABLE_AREA NUMBER
NON_ASSIGNABLE_AREA NUMBER
SITE VARCHAR2
CAMPUS_SECTOR VARCHAR2
ACCESS_LEVEL_CODE NUMBER
ACCESS_LEVEL_NAME VARCHAR2
BUILDING_TYPE VARCHAR2
OWNERSHIP_TYPE VARCHAR2
BUILDING_USE VARCHAR2
OCCUPANCY_CLASS VARCHAR2
BUILDING_HEIGHT VARCHAR2
COST_CENTER_CODE VARCHAR2
COST_COLLECTOR_KEY VARCHAR2
LATITUDE_WGS NUMBER
LONGITUDE_WGS NUMBER
EASTING_X_SPCS NUMBER
NORTHING_Y_SPCS NUMBER
BUILDING_SORT VARCHAR2
BUILDING_NAMED_FOR VARCHAR2
BUILDING_NAME VARCHAR2
DATE_BUILT VARCHAR2
DATE_ACQUIRED VARCHAR2
DATE_OCCUPIED VARCHAR2
WAREHOUSE_LOAD_DATE DATE
NUM_OF_ROOMS NUMBER)

CREATE TABLE ACADEMIC_TERMS_ALL(
ACADEMIC_TERMS_KEY VARCHAR2
TERM_CODE VARCHAR2
TERM_DESCRIPTION VARCHAR2
TERM_SELECTOR VARCHAR2
TERM_START_DATE DATE
TERM_END_DATE DATE
ACADEMIC_YEAR VARCHAR2
ACADEMIC_YEAR_DESC VARCHAR2
IS_CURRENT_TERM VARCHAR2
TERM_STATUS_INDICATOR VARCHAR2
FINANCIAL_AID_YEAR VARCHAR2
DEGREE_YEAR VARCHAR2
LAST_DAY_OF_FINAL_EXAM DATE
PRE_REGISTRATION_START_DAY DATE
REGISTRATION_DAY DATE
FIRST_DAY_OF_CLASSES DATE
LAST_DAY_OF_CLASSES DATE
GRADUATE_AWARD_START_DATE DATE
GRADUATE_AWARD_END_DATE DATE
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE SUBJECT_OFFERED(
SUBJECT_KEY VARCHAR2
SUBJECT_OFFERED_SUMMARY_KEY VARCHAR2
MASTER_SUBJECT_KEY VARCHAR2
COMPOSITE_SUBJECT_KEY VARCHAR2
TERM_CODE VARCHAR2
MASTER_COURSE_NUMBER VARCHAR2
MASTER_COURSE_NUMBER_SORT VARCHAR2
MASTER_COURSE_NUMBER_DESC VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
MASTER_SUBJECT_ID_SORT VARCHAR2
COURSE_NUMBER VARCHAR2
COURSE_NUMBER_SORT VARCHAR2
COURSE_NUMBER_DESC VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_ID_SORT VARCHAR2
SUBJECT_TITLE VARCHAR2
SECTION_ID VARCHAR2
IS_MASTER_SECTION VARCHAR2
IS_LECTURE_SECTION VARCHAR2
IS_LAB_SECTION VARCHAR2
IS_RECITATION_SECTION VARCHAR2
IS_DESIGN_SECTION VARCHAR2
OFFER_DEPT_CODE VARCHAR2
OFFER_DEPT_NAME VARCHAR2
OFFER_SCHOOL_NAME VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
MEET_TIME VARCHAR2
MEET_PLACE VARCHAR2
CLUSTER_TYPE VARCHAR2
CLUSTER_TYPE_DESC VARCHAR2
CLUSTER_LIST VARCHAR2
HGN_CODE VARCHAR2
HGN_CODE_DESC VARCHAR2
FORM_TYPE VARCHAR2
FORM_TYPE_DESC VARCHAR2
SUBJECT_ENROLLMENT_NUMBER NUMBER
SECTION_ENROLLMENT_NUMBER VARCHAR2
CLUSTER_ENROLLMENT_NUMBER NUMBER
EVALUATE_THIS_SUBJECT VARCHAR2
IS_OSE_SUBJECT VARCHAR2
IS_CREATED_BY_DATA_WAREHOUSE VARCHAR2
SUBJECT_GROUPING_KEY VARCHAR2
WAREHOUSE_LOAD_DATE DATE
NUM_ENROLLED_STUDENTS NUMBER
SUBJECT_SUMMARY_KEY VARCHAR2
IS_REPEATABLE_SUBJECT VARCHAR2)

CREATE TABLE STUDENT_DEPARTMENT(
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
DEPARTMENT_FULL_NAME VARCHAR2
SCHOOL_CODE VARCHAR2
SCHOOL_NAME VARCHAR2)

CREATE TABLE TOP_LEVEL_DOMAIN(
TOP_LEVEL_DOMAIN_KEY VARCHAR2
TOP_LEVEL_DOMAIN VARCHAR2
TOP_LEVEL_DOMAIN_DESCRIPTION VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE HR_ORG_UNIT_NEW(
HR_ORG_UNIT_KEY VARCHAR2
HR_ORG_UNIT_ID VARCHAR2
HR_ORG_UNIT_TITLE VARCHAR2
HR_ORG_UNIT_LEVEL VARCHAR2
HR_DEPARTMENT_CODE VARCHAR2
HR_DEPARTMENT_ABBR VARCHAR2
HR_DEPARTMENT_CODE_OLD VARCHAR2
HR_DEPARTMENT_NAME VARCHAR2
HR_DEPARTMENT_NAME_LONG VARCHAR2
HR_DEPARTMENT_NAME_ALPHA VARCHAR2
ORG_HIER_SCHOOL_AREA_NAME VARCHAR2
ORG_HIER_TOP_LEVEL_NAME VARCHAR2
ORG_HIER_ROOT_NAME VARCHAR2
HR_ORG_LEVEL1_ID VARCHAR2
HR_ORG_LEVEL1_SORT VARCHAR2
HR_ORG_LEVEL1_NAME VARCHAR2
HR_ORG_LEVEL2_ID VARCHAR2
HR_ORG_LEVEL2_SORT VARCHAR2
HR_ORG_LEVEL2_NAME VARCHAR2
HR_ORG_LEVEL3_ID VARCHAR2
HR_ORG_LEVEL3_SORT VARCHAR2
HR_ORG_LEVEL3_NAME VARCHAR2
HR_ORG_LEVEL4_ID VARCHAR2
HR_ORG_LEVEL4_SORT VARCHAR2
HR_ORG_LEVEL4_NAME VARCHAR2
HR_ORG_LEVEL5_ID VARCHAR2
HR_ORG_LEVEL5_SORT VARCHAR2
HR_ORG_LEVEL5_NAME VARCHAR2
DLC_KEY VARCHAR2
WAREHOUSE_LOAD_DATE DATE)

CREATE TABLE COURSE_CATALOG_SUBJECT_OFFERED(
ACADEMIC_YEAR VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_CODE VARCHAR2
SUBJECT_NUMBER VARCHAR2
SOURCE_SUBJECT_ID VARCHAR2
PRINT_SUBJECT_ID VARCHAR2
IS_PRINTED_IN_BULLETIN VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
EFFECTIVE_TERM_CODE VARCHAR2
SUBJECT_SHORT_TITLE VARCHAR2
SUBJECT_TITLE VARCHAR2
IS_VARIABLE_UNITS VARCHAR2
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREPARATION_UNITS NUMBER
TOTAL_UNITS NUMBER
DESIGN_UNITS NUMBER
GRADE_TYPE VARCHAR2
GRADE_TYPE_DESC VARCHAR2
GRADE_RULE VARCHAR2
GRADE_RULE_DESC VARCHAR2
HGN_CODE VARCHAR2
HGN_DESC VARCHAR2
HGN_EXCEPT VARCHAR2
GIR_ATTRIBUTE VARCHAR2
GIR_ATTRIBUTE_DESC VARCHAR2
COMM_REQ_ATTRIBUTE VARCHAR2
COMM_REQ_ATTRIBUTE_DESC VARCHAR2
TUITION_ATTRIBUTE VARCHAR2
TUITION_ATTRIBUTE_DESC VARCHAR2
WRITE_REQ_ATTRIBUTE VARCHAR2
WRITE_REQ_ATTRIBUTE_DESC VARCHAR2
SUPERVISOR_ATTRIBUTE VARCHAR2
SUPERVISOR_ATTRIBUTE_DESC VARCHAR2
PREREQUISITES VARCHAR2
SUBJECT_DESCRIPTION VARCHAR2
JOINT_SUBJECTS VARCHAR2
SCHOOL_WIDE_ELECTIVES VARCHAR2
MEETS_WITH_SUBJECTS VARCHAR2
EQUIVALENT_SUBJECTS VARCHAR2
IS_OFFERED_THIS_YEAR VARCHAR2
IS_OFFERED_FALL_TERM VARCHAR2
IS_OFFERED_IAP VARCHAR2
IS_OFFERED_SPRING_TERM VARCHAR2
IS_OFFERED_SUMMER_TERM VARCHAR2
FALL_INSTRUCTORS VARCHAR2
SPRING_INSTRUCTORS VARCHAR2
STATUS_CHANGE VARCHAR2
LAST_ACTIVITY_DATE DATE
WAREHOUSE_LOAD_DATE DATE
MASTER_SUBJECT_ID VARCHAR2
HASS_ATTRIBUTE VARCHAR2
HASS_ATTRIBUTE_DESC VARCHAR2
TERM_DURATION VARCHAR2
GLOBAL_REGIONS VARCHAR2
GLOBAL_COUNTRIES VARCHAR2
ON_LINE_PAGE_NUMBER VARCHAR2
SECTION_ID VARCHAR2
IS_MASTER_SECTION VARCHAR2
IS_LECTURE_SECTION VARCHAR2
IS_LAB_SECTION VARCHAR2
IS_RECITATION_SECTION VARCHAR2
IS_DESIGN_SECTION VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
MEET_TIME VARCHAR2
MEET_PLACE VARCHAR2)

In [151]:
key = os.environ['OPENAI_API_KEY']

In [152]:
client = OpenAI(api_key=key)

In [153]:
gpt_sql_rule = []
for q in df_q['question']: 
    prompt = create_prompt()
    response = client.chat.completions.create(
      model="gpt-4",
      messages = [
          {
          "role": "system",
          # "content": "Your job is to write SQL queries that answer a user's question using the tables in the MIT Data Warehouse. \
          # The MIT Data Warehouse is a central data source that combines data from various administrative systems at MIT, containing \
          # information about students, faculty, and personnel. The schemas of all the tables that you might need \
          # for answering the user questions are below. There are 31 tables in the database.  Reply with only the answer \
          # in SQL and include no linebreaks, newlines, escape characters or other commentary.\n\n" + prompt    
          "content": "Your job is to write SQL queries that answer a user's question using the tables in the MIT Data Warehouse. \
          The MIT Data Warehouse is a central data source that combines data from various administrative systems at MIT, containing \
          information about students, faculty, and personnel. \
          Facts about the data in the database that you should take into account and the schemas of all the tables that you might need \
          for answering the user question are also given below. There are 31 tables in the database. \
          \
          Reply with only the answer in SQL and include no linebreaks, newlines, escape characters or other commentary.\n\n" + prompt  
        },
          {"role":"user", 
           "content":q}]
          )
    gpt_sql_rule.append(response.choices[0].message.content)

In [166]:
df_q['gpt_sql_rule'] = gpt_sql_rule

In [167]:
tables = []
for q in df_q['gpt_sql_rule']: 
    t = Parser(q).tables
    tables.append([v.upper() for v in t])
df_q['gpt_sql_rule_tables'] = tables

In [168]:
accuracy = [] 
for i, t in enumerate(df_q['tables']):
    accuracy.append(len(set(t).intersection(df_q['gpt_sql_rule_tables'][i]))/len(t))

In [169]:
sum(np.array(accuracy)==1.0)

14

In [170]:
list(df_q['sql'][np.array(accuracy)==0.5])

['SELECT COUNT(*) FROM (SELECT hr_org_unit_key FROM hr_org_unit_new INTERSECT SELECT hr_org_unit_key FROM hr_org_unit);',
 'SELECT COUNT(*) FROM (SELECT hr_org_unit_key FROM hr_org_unit_new MINUS SELECT hr_org_unit_key FROM hr_org_unit);',
 "SELECT DISTINCT subject_title, effective_term_code, CASE WHEN term_start_date > SYSDATE THEN 'Upcoming' WHEN term_start_date <= SYSDATE AND term_end_date > SYSDATE THEN 'Current' ELSE 'Past' END AS term_status FROM cis_course_catalog, academic_terms WHERE effective_term_code = term_code;",
 'SELECT DISTINCT empl.full_name FROM mit_student_directory mit, employee_directory empl WHERE empl.full_name = mit.full_name;',
 'SELECT DISTINCT subject_title, term_end_date - term_start_date FROM (SELECT MIN(term_end_date - term_start_date) AS min_duration FROM academic_terms), academic_terms, cis_course_catalog WHERE effective_term_code = term_code AND term_end_date - term_start_date = min_duration;',
 'SELECT DISTINCT library_material_status FROM library_material_status UNION SELECT DISTINCT tip_material_status FROM tip_material_status;',
 'SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) OVER (PARTITION BY BUILDING_NAME_LONG) FROM fclt_rooms, fclt_building WHERE fclt_rooms.fclt_building_key = fclt_building.fclt_building_key;',
 "SELECT DISTINCT se.subject_id, se.subject_title FROM subject_summary su, subject_enrollable se WHERE se.subject_id = su.subject_id AND department_name = 'Electrical Eng & Computer Sci';",
 "SELECT COUNT(*) FROM ((SELECT zip_code, city_name FROM zip_usa) UNION (SELECT postal_code, city_name FROM zip_canada)) WHERE zip_code = '00501';",
 'SELECT * FROM (SELECT DISTINCT department_name, COUNT(DISTINCT payroll_rank) OVER (PARTITION BY department_name) AS cnt FROM se_person a, employee_directory b WHERE a.mit_id = b.mit_id) a, (SELECT MAX(cnt) AS m FROM ((SELECT DISTINCT department_name, COUNT(DISTINCT payroll_rank) OVER (PARTITION BY department_name) AS cnt FROM se_person a, employee_directory b WHERE a.mit_id = b.mit_id)) ) b WHERE a.cnt = b.m;']

In [171]:
list(df_q['question'][np.array(accuracy)==0.5])

['How many organisation units in human resources are relabeled?',
 'How many organisation units in human resources are new and not relabeled?',
 'What are the past, upcoming, and current courses?',
 'Which students are employed by mit?',
 'What is the shortest course available this semester?',
 'Show all statuses for materials?',
 'Count the number of room in a building.',
 'Show the name for subjects which are enrollable for Computer Science Student.',
 'Find the city with the post code 501.',
 'Which department has the most kinds of payroll ranks?']

In [172]:
list(df_q['tables'][np.array(accuracy)==0.5])

[['HR_ORG_UNIT_NEW', 'HR_ORG_UNIT'],
 ['HR_ORG_UNIT_NEW', 'HR_ORG_UNIT'],
 ['CIS_COURSE_CATALOG', 'ACADEMIC_TERMS'],
 ['MIT_STUDENT_DIRECTORY', 'EMPLOYEE_DIRECTORY'],
 ['ACADEMIC_TERMS', 'CIS_COURSE_CATALOG'],
 ['LIBRARY_MATERIAL_STATUS', 'TIP_MATERIAL_STATUS'],
 ['FCLT_ROOMS', 'FCLT_BUILDING'],
 ['SUBJECT_SUMMARY', 'SUBJECT_ENROLLABLE'],
 ['ZIP_USA', 'ZIP_CANADA'],
 ['SE_PERSON', 'EMPLOYEE_DIRECTORY']]

In [173]:
list(df_q['question'][np.array(accuracy)==0.5])

['How many organisation units in human resources are relabeled?',
 'How many organisation units in human resources are new and not relabeled?',
 'What are the past, upcoming, and current courses?',
 'Which students are employed by mit?',
 'What is the shortest course available this semester?',
 'Show all statuses for materials?',
 'Count the number of room in a building.',
 'Show the name for subjects which are enrollable for Computer Science Student.',
 'Find the city with the post code 501.',
 'Which department has the most kinds of payroll ranks?']

In [174]:
list(df_q['sql'][np.array(accuracy)==0.5])

['SELECT COUNT(*) FROM (SELECT hr_org_unit_key FROM hr_org_unit_new INTERSECT SELECT hr_org_unit_key FROM hr_org_unit);',
 'SELECT COUNT(*) FROM (SELECT hr_org_unit_key FROM hr_org_unit_new MINUS SELECT hr_org_unit_key FROM hr_org_unit);',
 "SELECT DISTINCT subject_title, effective_term_code, CASE WHEN term_start_date > SYSDATE THEN 'Upcoming' WHEN term_start_date <= SYSDATE AND term_end_date > SYSDATE THEN 'Current' ELSE 'Past' END AS term_status FROM cis_course_catalog, academic_terms WHERE effective_term_code = term_code;",
 'SELECT DISTINCT empl.full_name FROM mit_student_directory mit, employee_directory empl WHERE empl.full_name = mit.full_name;',
 'SELECT DISTINCT subject_title, term_end_date - term_start_date FROM (SELECT MIN(term_end_date - term_start_date) AS min_duration FROM academic_terms), academic_terms, cis_course_catalog WHERE effective_term_code = term_code AND term_end_date - term_start_date = min_duration;',
 'SELECT DISTINCT library_material_status FROM library_material_status UNION SELECT DISTINCT tip_material_status FROM tip_material_status;',
 'SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) OVER (PARTITION BY BUILDING_NAME_LONG) FROM fclt_rooms, fclt_building WHERE fclt_rooms.fclt_building_key = fclt_building.fclt_building_key;',
 "SELECT DISTINCT se.subject_id, se.subject_title FROM subject_summary su, subject_enrollable se WHERE se.subject_id = su.subject_id AND department_name = 'Electrical Eng & Computer Sci';",
 "SELECT COUNT(*) FROM ((SELECT zip_code, city_name FROM zip_usa) UNION (SELECT postal_code, city_name FROM zip_canada)) WHERE zip_code = '00501';",
 'SELECT * FROM (SELECT DISTINCT department_name, COUNT(DISTINCT payroll_rank) OVER (PARTITION BY department_name) AS cnt FROM se_person a, employee_directory b WHERE a.mit_id = b.mit_id) a, (SELECT MAX(cnt) AS m FROM ((SELECT DISTINCT department_name, COUNT(DISTINCT payroll_rank) OVER (PARTITION BY department_name) AS cnt FROM se_person a, employee_directory b WHERE a.mit_id = b.mit_id)) ) b WHERE a.cnt = b.m;']

In [175]:
list(df_q['gpt_sql_rule'][np.array(accuracy)==0.5])

['SELECT COUNT(*) FROM HR_ORG_UNIT WHERE HR_ORG_UNIT_TITLE != HR_DEPARTMENT_NAME;',
 "SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_TITLE NOT LIKE '%relabel%'",
 "SELECT TERM_CODE, SUBJECT_ID, SUBJECT_TITLE FROM SUBJECT_OFFERED WHERE TERM_CODE IN (SELECT TERM_CODE FROM ACADEMIC_TERMS WHERE IS_CURRENT_TERM = 'Y' OR TERM_START_DATE > CURRENT_DATE OR TERM_END_DATE < CURRENT_DATE)",
 'SELECT MIT_STUDENT_DIRECTORY.FULL_NAME FROM MIT_STUDENT_DIRECTORY INNER JOIN SE_PERSON ON MIT_STUDENT_DIRECTORY.FULL_NAME = SE_PERSON.FULL_NAME WHERE SE_PERSON.EMPLOYEE_TYPE IS NOT NULL;',
 "SELECT SUBJECT_ID, SUBJECT_TITLE, MIN(TERM_DURATION) AS SHORTEST_DURATION FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE IS_OFFERED_THIS_YEAR='Y' AND TERM_CODE=(SELECT TERM_CODE FROM ACADEMIC_TERMS WHERE IS_CURRENT_TERM='Y')",
 'SELECT TIP_MATERIAL_STATUS FROM TIP_MATERIAL_STATUS;',
 "SELECT COUNT(*) FROM FCLT_ROOMS WHERE FCLT_BUILDING_KEY = 'YourBuildingKey'",
 "SELECT SUBJECT_TITLE FROM SUBJECT_ENROLLABLE WHERE OFFER_DEPT_CODE IN (SELECT DEPARTMENT_CODE FROM STUDENT_DEPARTMENT WHERE DEPARTMENT_NAME = 'Computer Science')",
 "SELECT CITY_NAME FROM ZIP_USA WHERE ZIP_CODE = '501';",
 'SELECT ORGANIZATION, COUNT(DISTINCT PAYROLL_RANK) AS COUNT_PAYROLL_RANK FROM SE_PERSON GROUP BY ORGANIZATION ORDER BY COUNT_PAYROLL_RANK DESC LIMIT 1;']

In [176]:
np.mean(np.array(accuracy))

0.5472972972972973

In [177]:
tp = 0 
fp = 0 
fn = 0 
accurate = 0 
for i, t in enumerate(df_q['tables']):
    tp = tp + len(set(t).intersection(tables[i]))
    fn = fn + len(set(t).difference(tables[i]))
    fp = fp + len(set(tables[i]).difference(t))
    accurate = accurate + (1 if set(t) == set(tables[i]) else 0) 
precision = tp / (tp + fp) 
recall = tp / (tp + fn)
accuracy = accurate / len(tables) 
print("precision:{0}".format(precision))
print("recall:{0}".format(recall))
print("f1:{0}".format(2*precision*recall/(precision + recall)))
print("accuracy:{0}".format(accuracy))

precision:0.625
recall:0.5084745762711864
f1:0.5607476635514018
accuracy:0.35135135135135137