In [1]:
import pandas as pd
import tensorflow_hub as hub
import openai 
import numpy as np
import altair as alt
from openai import OpenAI
from sql_metadata import Parser
import os
from IPython.display import display, Markdown
import ast
import cx_Oracle
import re
import random
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer 
from sklearn.decomposition import TruncatedSVD
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.metrics import silhouette_score
import spacy
import nltk 
from nltk.tokenize.toktok import ToktokTokenizer
from bs4 import BeautifulSoup
import unicodedata

from pathlib import Path
import sys
sys.path.append('../')
import scripts.eval
from scripts.eval import execute_query 
from scripts.eval import metric 
import json
import requests
import datetime
nltk.download('stopwords')
nlp = spacy.load('en_core_web_lg')
tokenizer = ToktokTokenizer()
stopword_list = nltk.corpus.stopwords.words('english')

2024-06-11 08:46:23.607528: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-06-11 08:46:23.607596: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-06-11 08:46:23.628386: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-06-11 08:46:23.671384: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-06-11 08:46:24.415236: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

ModuleNotFoundError: No module named 'src'

In [2]:
prefix = Path.cwd().parent.parent
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
prefix

PosixPath('/home/skikk/Dokumente/uni/WS2324/MIT/llm-enterprise')

In [8]:
df=pd.read_json(str(prefix) + '/data/spider/dev.json')
db_t = {}
for i in range(len(df)):
    if df['db_id'][i] in db_t.keys():
        db_t[df['db_id'][i]] = db_t[df['db_id'][i]] | set(Parser(df['query'][i]).tables)
    else:
        db_t[df['db_id'][i]]=set(Parser(df['query'][i]).tables)
db_id = {}
for db in df['db_id']:
    if db in db_id.keys():
        db_id[db] += 1
    else:
        db_id[db]=1
for db in db_id:
    if db_id[db] >50:
        print("'{0}': {1} : {2}".format(db, db_id[db], len(db_t[db])))

'car_1': 92 : 12
'flight_2': 80 : 5
'cre_Doc_Template_Mgt': 84 : 5
'wta_1': 62 : 3
'student_transcripts_tracking': 78 : 15
'tvshow': 62 : 5
'world_1': 120 : 3
'network_1': 56 : 3
'dog_kennels': 82 : 11

In [9]:
df_sample = df[df['db_id']=="student_transcripts_tracking"].sample(n=50)

In [18]:
possible = set(df[df['db_id']=="student_transcripts_tracking"].index).difference(set(df_sample.index))
questions = []
sqls = []
for i in possible:
    questions.append(df['question'][i])
    sqls.append(df['query'][i])
df_examples = pd.DataFrame(data = {'question':questions, 'sql':sqls})

In [21]:

df_sample1 = pd.DataFrame(data = {'question':df_sample['question'], 'sql':df_sample['query']})

In [22]:
#df_example = df_examples.sample(n=5)
#df_example.to_json(str(prefix)+'/data/spider/examples.json', index=False, orient='records')
df_sample1.to_json(str(prefix)+'/data/spider/queries.json', index=False, orient='records')

In [19]:

df[df['db_id']=="student_transcripts_tracking"].sample(n=50).to_json(str(prefix)+'/data/test.json', index=False, orient='records')

In [4]:
df=pd.read_json(str(prefix) + '/data/spider/tables.json')

In [20]:
print('COLUMN_NAME,DATA_TYPE')
for i in range(len(df['column_types'][79])):
    if df['column_names_original'][79][i][0] == 11:
        print(df['column_names_original'][79][i][1] + ',' + df['column_types'][79][i].upper())

COLUMN_NAME,DATA_TYPE

In [6]:
df[df['db_id']=='student_transcripts_tracking']
tables ={}
for

,column_names,column_names_original,column_types,db_id,foreign_keys,primary_keys,table_names,table_names_original
79,"[[-1, *], [0, address id], [0, line 1], [0, line 2], [0, line 3], [0, city], [0, zip postcode], [0, state province county], [0, country], [0, other address details], [1, course id], [1, course name], [1, course description], [1, other details], [2, department id], [2, department name], [2, department description], [2, other details], [3, degree program id], [3, department id], [3, degree summary name], [3, degree summary description], [3, other details], [4, section id], [4, course id], [4, section name], [4, section description], [4, other details], [5, semester id], [5, semester name], [5, semester description], [5, other details], [6, student id], [6, current address id], [6, permanent address id], [6, first name], [6, middle name], [6, last name], [6, cell mobile number], [6, email address], [6, ssn], [6, date first registered], [6, date left], [6, other student details], [7, student enrolment id], [7, degree program id], [7, semester id], [7, student id], [7, other details], [8, student course id], [8, course id], [8, student enrolment id], [9, transcript id], [9, transcript date], [9, other details], [10, student course id], [10, transcript id]]","[[-1, *], [0, address_id], [0, line_1], [0, line_2], [0, line_3], [0, city], [0, zip_postcode], [0, state_province_county], [0, country], [0, other_address_details], [1, course_id], [1, course_name], [1, course_description], [1, other_details], [2, department_id], [2, department_name], [2, department_description], [2, other_details], [3, degree_program_id], [3, department_id], [3, degree_summary_name], [3, degree_summary_description], [3, other_details], [4, section_id], [4, course_id], [4, section_name], [4, section_description], [4, other_details], [5, semester_id], [5, semester_name], [5, semester_description], [5, other_details], [6, student_id], [6, current_address_id], [6, permanent_address_id], [6, first_name], [6, middle_name], [6, last_name], [6, cell_mobile_number], [6, email_address], [6, ssn], [6, date_first_registered], [6, date_left], [6, other_student_details], [7, student_enrolment_id], [7, degree_program_id], [7, semester_id], [7, student_id], [7, other_details], [8, student_course_id], [8, course_id], [8, student_enrolment_id], [9, transcript_id], [9, transcript_date], [9, other_details], [10, student_course_id], [10, transcript_id]]","[text, number, text, text, text, text, text, text, text, text, number, text, text, text, number, text, text, text, number, number, text, text, text, number, number, text, text, text, number, text, text, text, number, number, number, text, text, text, text, text, text, time, time, text, number, number, number, number, text, number, number, number, number, time, text, number, number]",student_transcripts_tracking,"[[19, 14], [24, 10], [34, 1], [33, 1], [47, 32], [46, 28], [45, 18], [51, 44], [50, 10], [56, 52], [55, 49]]","[1, 10, 14, 18, 23, 28, 32, 44, 49, 52]","[addresses, courses, departments, degree programs, sections, semesters, students, student enrolment, student enrolment courses, transcripts, transcript contents]","[Addresses, Courses, Departments, Degree_Programs, Sections, Semesters, Students, Student_Enrolment, Student_Enrolment_Courses, Transcripts, Transcript_Contents]"

In [6]:
prefix = Path.cwd().parent.parent
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
prefix
with open('../../config.json') as f:
  config = json.load(f)

# Read the MIT DW queries

In [8]:
df_q = pd.read_parquet(str(prefix) + '/data/train-00000-of-00001.parquet')

In [9]:
df_q

,db_id,query,question,query_toks,query_toks_no_value,question_toks
0,department_management,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older than 56 ?,"[SELECT, count, (, *, ), FROM, head, WHERE, age, >, 56]","[select, count, (, *, ), from, head, where, age, >, value]","[How, many, heads, of, the, departments, are, older, than, 56, ?]"
1,department_management,"SELECT name , born_state , age FROM head ORDER BY age","List the name, born state and age of the heads of departments ordered by age.","[SELECT, name, ,, born_state, ,, age, FROM, head, ORDER, BY, age]","[select, name, ,, born_state, ,, age, from, head, order, by, age]","[List, the, name, ,, born, state, and, age, of, the, heads, of, departments, ordered, by, age, .]"
2,department_management,"SELECT creation , name , budget_in_billions FROM department","List the creation year, name and budget of each department.","[SELECT, creation, ,, name, ,, budget_in_billions, FROM, department]","[select, creation, ,, name, ,, budget_in_billions, from, department]","[List, the, creation, year, ,, name, and, budget, of, each, department, .]"
3,department_management,"SELECT max(budget_in_billions) , min(budget_in_billions) FROM department",What are the maximum and minimum budget of the departments?,"[SELECT, max, (, budget_in_billions, ), ,, min, (, budget_in_billions, ), FROM, department]","[select, max, (, budget_in_billions, ), ,, min, (, budget_in_billions, ), from, department]","[What, are, the, maximum, and, minimum, budget, of, the, departments, ?]"
4,department_management,SELECT avg(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15,What is the average number of employees of the departments whose rank is between 10 and 15?,"[SELECT, avg, (, num_employees, ), FROM, department, WHERE, ranking, BETWEEN, 10, AND, 15]","[select, avg, (, num_employees, ), from, department, where, ranking, between, value, and, value]","[What, is, the, average, number, of, employees, of, the, departments, whose, rank, is, between, 10, and, 15, ?]"
...,...,...,...,...,...,...
6995,culture_company,SELECT T1.company_name FROM culture_company AS T1 JOIN book_club AS T2 ON T1.book_club_id = T2.book_club_id WHERE T2.publisher = 'Alyson',What are all the company names that have a book published by Alyson?,"[SELECT, T1.company_name, FROM, culture_company, AS, T1, JOIN, book_club, AS, T2, ON, T1.book_club_id, =, T2.book_club_id, WHERE, T2.publisher, =, 'Alyson, ']","[select, t1, ., company_name, from, culture_company, as, t1, join, book_club, as, t2, on, t1, ., book_club_id, =, t2, ., book_club_id, where, t2, ., publisher, =, value]","[What, are, all, the, company, names, that, have, a, book, published, by, Alyson, ?]"
6996,culture_company,"SELECT T1.title , T3.book_title FROM movie AS T1 JOIN culture_company AS T2 ON T1.movie_id = T2.movie_id JOIN book_club AS T3 ON T3.book_club_id = T2.book_club_id WHERE T2.incorporated_in = 'China'",Show the movie titles and book titles for all companies in China.,"[SELECT, T1.title, ,, T3.book_title, FROM, movie, AS, T1, JOIN, culture_company, AS, T2, ON, T1.movie_id, =, T2.movie_id, JOIN, book_club, AS, T3, ON, T3.book_club_id, =, T2.book_club_id, WHERE, T2.incorporated_in, =, 'China, ']","[select, t1, ., title, ,, t3, ., book_title, from, movie, as, t1, join, culture_company, as, t2, on, t1, ., movie_id, =, t2, ., movie_id, join, book_club, as, t3, on, t3, ., book_club_id, =, t2, ., book_club_id, where, t2, ., incorporated_in, =, value]","[Show, the, movie, titles, and, book, titles, for, all, companies, in, China, .]"
6997,culture_company,"SELECT T1.title , T3.book_title FROM movie AS T1 JOIN culture_company AS T2 ON T1.movie_id = T2.movie_id JOIN book_club AS T3 ON T3.book_club_id = T2.book_club_id WHERE T2.incorporated_in = 'China'",What are the titles of movies and books corresponding to companies incorporated in China?,"[SELECT, T1.title, ,, T3.book_title, FROM, movie, AS, T1, JOIN, culture_company, AS, T2, ON, T1.movie_id, =, T2.movie_id, JOIN, book_club, AS, T3, ON, T3.book_club_id, =, T2.book_club_id, WHERE, T2.incorporated_in, =, 'China, ']","[select, t1, ., title, ,, t3, ., book_title, from, movie, as, t1, join, culture_company, as, t2, on, t1, ., movie_id, =, t2, ., movie_id, join, book_club, as, t3, on, t3, ., book_club_id, =, t2, ., book_club_id, where, t2, ., incorporated_in, =, value]","[What, are, the, titles, of, movies, and, books, corresponding, to, companies, incorporated, in, China, ?]"
6998,culture_company,SELECT T2.company_name FROM movie AS T1 JOIN culture_company AS T2 ON T1.movie_id = T2.movie_id WHERE T1.year = 1999,Show all company names with a movie directed in year 1999.,"[SELECT, T2.company_name, FROM, movie, AS, T1, JOIN, culture_company, AS, T2, ON, T1.movie_id, =, T2.movie_id, WHERE, T1.year, =, 1999]","[select, t2, ., company_name, from, movie, as, t1, join, culture_company, as, t2, on, t1, ., movie_id, =, t2, ., movie_id, where, t1, ., year, =, value]","[Show, all, company, names, with, a, movie, directed, in, year, 1999, .]"
6999,culture_company,SELECT T2.company_name FROM movie AS T1 JOIN culture_company AS T2 ON T1.movie_id = T2.movie_id WHERE T1.year = 1999,What are all company names that have a corresponding movie directed in the year 1999?,"[SELECT, T2.company_name, FROM, movie, AS, T1, JOIN, culture_company, AS, T2, ON, T1.movie_id, =, T2.movie_id, WHERE, T1.year, =, 1999]","[select, t2, ., company_name, from, movie, as, t1, join, culture_company, as, t2, on, t1, ., movie_id, =, t2, ., movie_id, where, t1, ., year, =, value]","[What, are, all, company, names, that, have, a, corresponding, movie, directed, in, the, year, 1999, ?]"

In [10]:
unique_ids = set()
for  l in df_q['db_id']: 
    unique_ids.add(l)

In [11]:
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [13]:

# Set the random seed
random.seed(42)

value_counts = df_q['db_id'].value_counts()

# Display the counts
print(value_counts)

# Assuming 'value_counts' is the Series containing value counts
filtered_value_counts = value_counts[value_counts > 50]

# Choose a random element from the filtered Series
random_element = random.choice(filtered_value_counts.index)
print(random_element)

db_id
college_2                 170
college_1                 164
hr_1                      124
store_1                   112
soccer_2                  106
                         ...
solvency_ii                15
decoration_competition     15
soccer_1                   14
local_govt_mdm             14
company_1                   7
Name: count, Length: 140, dtype: int64
csu_1

In [14]:
(df_q['db_id'] == random_element).sum()

70

In [15]:

# Assuming 'df_q' is your DataFrame
subset_with_dorm_1 = df_q[df_q['db_id'] == random_element]

# Take a random sample from the subset
df_q = subset_with_dorm_1.sample(n=50, random_state=42) 
df_q = df_q.reset_index(drop=True)
df_q

,db_id,query,question,query_toks,query_toks_no_value,question_toks
0,csu_1,SELECT YEAR FROM degrees GROUP BY YEAR ORDER BY sum(degrees) DESC LIMIT 1,Which year has the most degrees conferred?,"[SELECT, YEAR, FROM, degrees, GROUP, BY, YEAR, ORDER, BY, sum, (, degrees, ), DESC, LIMIT, 1]","[select, year, from, degrees, group, by, year, order, by, sum, (, degrees, ), desc, limit, value]","[Which, year, has, the, most, degrees, conferred, ?]"
1,csu_1,"SELECT campus FROM campuses WHERE county = ""Los Angeles""",Report the name of all campuses in Los Angeles county.,"[SELECT, campus, FROM, campuses, WHERE, county, =, ``, Los, Angeles, '']","[select, campus, from, campuses, where, county, =, value]","[Report, the, name, of, all, campuses, in, Los, Angeles, county, .]"
2,csu_1,SELECT sum(faculty) FROM faculty WHERE YEAR = 2002,"How many faculty, in total, are there in the year 2002?","[SELECT, sum, (, faculty, ), FROM, faculty, WHERE, YEAR, =, 2002]","[select, sum, (, faculty, ), from, faculty, where, year, =, value]","[How, many, faculty, ,, in, total, ,, are, there, in, the, year, 2002, ?]"
3,csu_1,SELECT campus FROM campuses WHERE YEAR = 1958,Find all the campuses opened in 1958.,"[SELECT, campus, FROM, campuses, WHERE, YEAR, =, 1958]","[select, campus, from, campuses, where, year, =, value]","[Find, all, the, campuses, opened, in, 1958, .]"
4,csu_1,SELECT T1.campus FROM campuses AS t1 JOIN faculty AS t2 ON t1.id = t2.campus WHERE t2.faculty >= 600 AND t2.faculty <= 1000 AND T1.year = 2004,List the campus that have between 600 and 1000 faculty lines in year 2004.,"[SELECT, T1.campus, FROM, campuses, AS, t1, JOIN, faculty, AS, t2, ON, t1.id, =, t2.campus, WHERE, t2.faculty, >, =, 600, AND, t2.faculty, <, =, 1000, AND, T1.year, =, 2004]","[select, t1, ., campus, from, campuses, as, t1, join, faculty, as, t2, on, t1, ., id, =, t2, ., campus, where, t2, ., faculty, >, =, value, and, t2, ., faculty, <, =, value, and, t1, ., year, =, value]","[List, the, campus, that, have, between, 600, and, 1000, faculty, lines, in, year, 2004, .]"
...,...,...,...,...,...,...
45,csu_1,"SELECT campusfee FROM campuses AS T1 JOIN csu_fees AS T2 ON T1.id = t2.campus WHERE t1.campus = ""San Francisco State University"" AND T2.year = 1996",What is the campus fee for San Francisco State University in 1996?,"[SELECT, campusfee, FROM, campuses, AS, T1, JOIN, csu_fees, AS, T2, ON, T1.id, =, t2.campus, WHERE, t1.campus, =, ``, San, Francisco, State, University, '', AND, T2.year, =, 1996]","[select, campusfee, from, campuses, as, t1, join, csu_fees, as, t2, on, t1, ., id, =, t2, ., campus, where, t1, ., campus, =, value, and, t2, ., year, =, value]","[What, is, the, campus, fee, for, San, Francisco, State, University, in, 1996, ?]"
46,csu_1,SELECT T1.campus FROM campuses AS T1 JOIN faculty AS T2 ON T1.id = T2.campus WHERE T2.year = 2003 ORDER BY T2.faculty DESC LIMIT 1,What campus has the most faculties in 2003?,"[SELECT, T1.campus, FROM, campuses, AS, T1, JOIN, faculty, AS, T2, ON, T1.id, =, T2.campus, WHERE, T2.year, =, 2003, ORDER, BY, T2.faculty, DESC, LIMIT, 1]","[select, t1, ., campus, from, campuses, as, t1, join, faculty, as, t2, on, t1, ., id, =, t2, ., campus, where, t2, ., year, =, value, order, by, t2, ., faculty, desc, limit, value]","[What, campus, has, the, most, faculties, in, 2003, ?]"
47,csu_1,"SELECT count(*) FROM campuses WHERE county = ""Los Angeles""",How many campuses exist are in the county of LA?,"[SELECT, count, (, *, ), FROM, campuses, WHERE, county, =, ``, Los, Angeles, '']","[select, count, (, *, ), from, campuses, where, county, =, value]","[How, many, campuses, exist, are, in, the, county, of, LA, ?]"
48,csu_1,SELECT T1.campus FROM campuses AS T1 JOIN faculty AS T2 ON T1.id = T2.campus WHERE T2.year = 2003 ORDER BY T2.faculty DESC LIMIT 1,Which campus has the most faculties in year 2003?,"[SELECT, T1.campus, FROM, campuses, AS, T1, JOIN, faculty, AS, T2, ON, T1.id, =, T2.campus, WHERE, T2.year, =, 2003, ORDER, BY, T2.faculty, DESC, LIMIT, 1]","[select, t1, ., campus, from, campuses, as, t1, join, faculty, as, t2, on, t1, ., id, =, t2, ., campus, where, t2, ., year, =, value, order, by, t2, ., faculty, desc, limit, value]","[Which, campus, has, the, most, faculties, in, year, 2003, ?]"
49,csu_1,SELECT sum(faculty) FROM faculty WHERE YEAR = 2002,How many faculty is there in total in the year of 2002?,"[SELECT, sum, (, faculty, ), FROM, faculty, WHERE, YEAR, =, 2002]","[select, sum, (, faculty, ), from, faculty, where, year, =, value]","[How, many, faculty, is, there, in, total, in, the, year, of, 2002, ?]"

## Identify the tables used by each query

In [16]:
tables = []
for i in range(len(df_q)):
    table = []
    t = Parser(df_q['query'][i]).tables
    for v in t:
        table.append(v.upper())
    tables.append(table)
df_q['tables'] = tables

## Identify the unique tables referred by the corpus

In [17]:
unique_tables = set()
for  l in df_q['tables']: 
    for t in l:
        unique_tables.add(t.upper())

In [18]:
unique_tables

{'CAMPUSES',
 'CSU_FEES',
 'DEGREES',
 'DISCIPLINE_ENROLLMENTS',
 'ENROLLMENTS',
 'FACULTY'}

In [19]:
len(unique_tables)

6

## Go thrugh the `unique_tables` list and save the respective schemas as proper CSV files

In [33]:
#for t in unique_tables: 
#    if t.upper().startswith('WAREUSER.'):
#        t = t[len('WAREUSER.'):]
#    schema_file = prefix + 'schema/' + t + '.csv'
#    if os.path.isfile(schema_file): 
#        s = pd.read_csv(schema_file, header=None)
#        s = s.drop(1) # delete the "header" line 
#        column_names = [h.strip() for h in s[0][0].split(';')]
#        s_new = pd.DataFrame(list(s[0][1:].apply(lambda row: [c.strip() for c in row.split(';')])), columns=column_names)
#        new_schema_file = prefix + 'schema_new/' + t + '.csv'
#        s_new.to_csv(new_schema_file, index=False)

# Treat ChatGPT as an all-knowing oracle (without any additional information)
## Prompt
_Your job is to write SQL queries that answer a user's question using the tables in the MIT Data Warehouse. 
The MIT Data Warehouse is a central data source that combines data from various administrative systems at 
MIT, containing information about students, faculty, and personnel. You can find more about the MIT data 
warehouse tables at https://web.mit.edu/warehouse/metadata/tables/all_tables.html._

_How many organisation units in human resources are relabeled?_

In [35]:
client = OpenAI(api_key=api_key)

## Populate the prompt and call the Open AI API

In [81]:
import requests
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer {api_key}'
}

response = requests.get('https://api.openai.com/v1/engines', headers=headers)

if response.status_code == 200:
    engines = response.json()['data']
    print("Available engines:")
    for engine in engines:
        print(engine['id'])
else:
    print("Error:", response.text)

Available engines:
whisper-1
davinci-002
gpt-4-1106-preview
gpt-4-0613
gpt-4-turbo
dall-e-2
tts-1-hd-1106
tts-1-hd
gpt-4-0125-preview
gpt-4-turbo-preview
gpt-4
gpt-4-1106-vision-preview
gpt-3.5-turbo-0125
gpt-4-turbo-2024-04-09
gpt-3.5-turbo
gpt-3.5-turbo-16k
gpt-3.5-turbo-16k-0613
tts-1
dall-e-3
gpt-3.5-turbo-0613
gpt-3.5-turbo-0301
gpt-3.5-turbo-instruct-0914
babbage-002
gpt-3.5-turbo-instruct
tts-1-1106
text-embedding-3-large
text-embedding-3-small
text-embedding-ada-002
gpt-3.5-turbo-1106
gpt-4-vision-preview

In [83]:
# TODO: do this in batch 
gpt_sql_nocontext = []
for q in df_q['question']: 
    response = client.chat.completions.create(
        model="gpt-4",
        temperature=0,
        messages = [
          {
          "role": "system",
          "content": "Your job is to write SQL queries that answer a user's question using the tables in the dorm_1 database\
          in the Spider Dataset. \
          The dorm_1 dataset likely comes from a specific data source used to create the Spider dataset. The Spider dataset \
          is a collection of question-answer pairs based on databases, and 'dorm' is representing one source of these \
          databases on which question-answers pairs in the spider-dataset exist. \
          Reply with as many answers \
          as you can think of in SQL and include no linebreaks, newlines, escape characters or other commentary for the each possible \
          answer, but seperate the possibilities by semicolons."
          # Provide your answer in JSON form."
          # Reply with only the answer in JSON form and include no other commentary"
          },
            {"role":"user", 
             "content":q}]
    )
    gpt_sql_nocontext.append(response.choices[0].message.content)
    print(response.choices[0].message.content)

SELECT Amenities.amenity FROM Amenities JOIN Dorms ON Amenities.dorm_id = Dorms.dorm_id WHERE Dorms.name = 'Smith Hall'; SELECT amenity FROM Amenities WHERE dorm_id = (SELECT dorm_id FROM Dorms WHERE name = 'Smith Hall')
SELECT COUNT(*), gender, SUM(capacity) FROM dorm GROUP BY gender;
SELECT Dorms.dorm_name, COUNT(Amenities.amenity) AS number_of_amenities FROM Dorms JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Dorms.capacity > 100 GROUP BY Dorms.dorm_name; SELECT Dorms.dorm_name, COUNT(Amenities.amenity) AS number_of_amenities FROM Dorms LEFT JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Dorms.capacity > 100 GROUP BY Dorms.dorm_name;
SELECT city_code FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1;SELECT city_code FROM student WHERE student_id IN (SELECT student_id FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1);
SELECT city_code FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1;
SELECT student.LastName FROM student WHERE student.Gender = 'Female' OR student.City_Code = 'BAL' OR (student.Gender = 'Male' AND student.Age < 20);
SELECT COUNT(DISTINCT dorm_id) FROM Dorm_amenities;
SELECT COUNT(*) FROM student WHERE sex = 'F' AND dorm_id = (SELECT id FROM dorm WHERE name = 'Smith Hall');SELECT COUNT(*) FROM student INNER JOIN dorm ON student.dorm_id = dorm.id WHERE student.sex = 'F' AND dorm.name = 'Smith Hall'
SELECT COUNT(*) FROM Dorm;
SELECT Dorm_name FROM Dorm WHERE Gender = 'F';
SELECT city, AVG(age) FROM student GROUP BY city;
SELECT Dorm_name, Gender_type FROM Dorm WHERE Capacity > 300 OR Capacity < 100;
SELECT Dorm_ID, COUNT(*) FROM Student WHERE Age > 20 GROUP BY Dorm_ID;
SELECT COUNT(DISTINCT Major) AS Number_of_Majors, COUNT(DISTINCT City_Code) AS Number_of_City_Codes FROM student;
SELECT Dorm.dorm_name, Dorm.capacity FROM Dorm ORDER BY (SELECT COUNT(*) FROM Dorm_amenities WHERE Dorm.dorm_id = Dorm_amenities.dorm_id) ASC LIMIT 1; SELECT Dorm.dorm_name, Dorm.capacity FROM Dorm WHERE Dorm.dorm_id = (SELECT Dorm_amenities.dorm_id FROM Dorm_amenities GROUP BY Dorm_amenities.dorm_id ORDER BY COUNT(*) ASC LIMIT 1)
SELECT COUNT(*) FROM student WHERE sex = 'F' AND age < 25;
SELECT AVG(Student.age) FROM Student JOIN Dorm ON Student.Dorm_id = Dorm.id WHERE Dorm.capacity = (SELECT MAX(capacity) FROM Dorm);SELECT AVG(S.age) FROM Student S INNER JOIN Dorm D ON S.Dorm_id = D.id WHERE D.capacity = (SELECT MAX(D1.capacity) FROM Dorm D1);
SELECT AVG(Student.age) FROM Student JOIN Dorm ON Student.Dorm_ID = Dorm.ID WHERE Dorm.capacity = (SELECT MAX(capacity) FROM Dorm);SELECT AVG(age) FROM Student WHERE Dorm_ID IN (SELECT ID FROM Dorm WHERE capacity = (SELECT MAX(capacity) FROM Dorm));
SELECT COUNT(DISTINCT amenity) FROM Amenities;
SELECT Dorm_name, Dorm_type FROM Dorm WHERE Capacity > 300 OR Capacity < 100;
SELECT gender, AVG(age) AS average_age, MAX(age) AS oldest_age FROM student GROUP BY gender;
SELECT Student.FirstName FROM Student INNER JOIN Dorm ON Student.DormID = Dorm.DormID WHERE Dorm.DormID = (SELECT DormID FROM Dorm ORDER BY COUNT(AmenityID) DESC LIMIT 1);SELECT S.FirstName FROM Student S WHERE S.DormID IN (SELECT D.DormID FROM Dorm D JOIN Dorm_Amenities DA ON D.DormID = DA.DormID GROUP BY D.DormID ORDER BY COUNT(DA.AmenityID) DESC LIMIT 1);
SELECT COUNT(DISTINCT gender) FROM dorm_1;
SELECT DISTINCT amenity FROM Amenities ORDER BY amenity ASC;
SELECT Dorm.dorm_name, AVG(Student.age) FROM Dorm JOIN Student ON Dorm.dorm_id = Student.dorm_id GROUP BY Dorm.dorm_name;
SELECT SUM(capacity) FROM Dorm;
SELECT Dorm_name FROM Dorm WHERE Capacity = (SELECT MAX(Capacity) FROM Dorm);
SELECT student.first_name, student.age FROM student JOIN dorm ON student.dorm_id = dorm.dorm_id WHERE dorm.dorm_id NOT IN (SELECT dorm_id FROM dorm_amenities WHERE amenity = 'TV Lounge'); SELECT s.first_name, s.age FROM student s INNER JOIN dorm d ON s.dorm_id = d.dorm_id LEFT JOIN dorm_amenities da ON d.dorm_id = da.dorm_id WHERE da.amenity != 'TV Lounge' OR da.amenity IS NULL
SELECT Student.first_name FROM Student WHERE Student.age BETWEEN 20 AND 25 AND Student.city = 'PHL';
SELECT Dorm_ID, COUNT(*) FROM Student WHERE Age > 20 GROUP BY Dorm_ID;
SELECT COUNT(*) FROM Dorm;
SELECT first_name, last_name FROM student WHERE age < (SELECT AVG(age) FROM student);
SELECT Amenities FROM Dorm_1 WHERE Dorm = 'Smith Hall' ORDER BY Amenities ASC; SELECT Amenities FROM Dorm_1 WHERE Name = 'Smith Hall' ORDER BY Amenities ASC; SELECT Amenities FROM Dorm_1 WHERE Hall_Name = 'Smith Hall' ORDER BY Amenities ASC;
SELECT capacity, gender_type FROM dorm WHERE name LIKE '%Donor%';
SELECT Dorm_name FROM Dorm_info WHERE TV_lounge = 'no';
SELECT COUNT(*) FROM student WHERE gender = 'F' AND age < 25;
SELECT gender, COUNT(*) FROM student WHERE age > (SELECT AVG(age) FROM student GROUP BY gender) GROUP BY gender;
SELECT Student.first_name, Student.last_name FROM Student WHERE Student.major_id NOT IN (SELECT major_id FROM (SELECT major_id, COUNT(*) AS count FROM Student GROUP BY major_id ORDER BY count DESC LIMIT 1)); SELECT S.first_name, S.last_name FROM Student S WHERE S.major_id != (SELECT major_id FROM (SELECT major_id, COUNT(*) AS count FROM Student GROUP BY major_id ORDER BY count DESC LIMIT 1)); SELECT first_name, last_name FROM Student WHERE major_id <> (SELECT major_id FROM (SELECT major_id, COUNT(*) AS num FROM Student GROUP BY major_id ORDER BY num DESC LIMIT 1))
SELECT Dorm_name FROM Dorm_info WHERE Amenities LIKE '%TV Lounge%' AND Amenities LIKE '%Study Room%';
SELECT COUNT(*) FROM student;
SELECT first_name, last_name FROM student WHERE city != 'HKG' ORDER BY age; SELECT first_name, last_name FROM student WHERE NOT city = 'HKG' ORDER BY age
SELECT Dorm.dorm_name FROM Dorm JOIN Dorm_amenities ON Dorm.dorm_id = Dorm_amenities.dorm_id WHERE Dorm_amenities.amenity = 'TV Lounge' INTERSECT SELECT Dorm.dorm_name FROM Dorm JOIN Dorm_amenities ON Dorm.dorm_id = Dorm_amenities.dorm_id WHERE Dorm_amenities.amenity = 'Study Room';
SELECT first_name FROM student WHERE age > 20;
SELECT Student.first_name, Student.last_name FROM Student JOIN Dorm ON Student.Dorm_id = Dorm.Dorm_id WHERE Dorm.TV_lounge = 'yes'; SELECT Student.first_name, Student.last_name FROM Student, Dorm WHERE Student.Dorm_id = Dorm.Dorm_id AND Dorm.TV_lounge = 'yes'
SELECT COUNT(DISTINCT gender) FROM student;
SELECT city, AVG(age) FROM dorm_1 GROUP BY city;
SELECT COUNT(*) FROM student WHERE gender = 'Female' AND dorm_id = (SELECT id FROM dorm WHERE name = 'Smith Hall');SELECT COUNT(*) FROM student INNER JOIN dorm ON student.dorm_id = dorm.id WHERE student.gender = 'Female' AND dorm.name = 'Smith Hall'
SELECT Dorms.dorm_name FROM Dorms LEFT JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Amenities.dorm_id IS NULL;
SELECT city, COUNT(*) as num_students FROM student GROUP BY city HAVING COUNT(*) > 1;
SELECT COUNT(DISTINCT amenity) FROM Dorm_amenities;

In [85]:
df_q['gpt_sql_nocontext']=gpt_sql_nocontext

In [86]:
df_q

,db_id,query,question,query_toks,query_toks_no_value,question_toks,tables,gpt_sql_nocontext
0,dorm_1,SELECT T3.amenity_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T1.dorm_name = 'Smith Hall',What are the names of the amenities that Smith Hall has?,"[SELECT, T3.amenity_name, FROM, dorm, AS, T1, JOIN, has_amenity, AS, T2, ON, T1.dormid, =, T2.dormid, JOIN, dorm_amenity, AS, T3, ON, T2.amenid, =, T3.amenid, WHERE, T1.dorm_name, =, 'Smith, Hall, ']","[select, t3, ., amenity_name, from, dorm, as, t1, join, has_amenity, as, t2, on, t1, ., dormid, =, t2, ., dormid, join, dorm_amenity, as, t3, on, t2, ., amenid, =, t3, ., amenid, where, t1, ., dorm_name, =, value]","[What, are, the, names, of, the, amenities, that, Smith, Hall, has, ?]","[DORM, HAS_AMENITY, DORM_AMENITY]",SELECT Amenities.amenity FROM Amenities JOIN Dorms ON Amenities.dorm_id = Dorms.dorm_id WHERE Dorms.name = 'Smith Hall'; SELECT amenity FROM Amenities WHERE dorm_id = (SELECT dorm_id FROM Dorms WHERE name = 'Smith Hall')
1,dorm_1,"SELECT count(*) , sum(student_capacity) , gender FROM dorm GROUP BY gender",How many dorms are there and what is the total capacity for each gender?,"[SELECT, count, (, *, ), ,, sum, (, student_capacity, ), ,, gender, FROM, dorm, GROUP, BY, gender]","[select, count, (, *, ), ,, sum, (, student_capacity, ), ,, gender, from, dorm, group, by, gender]","[How, many, dorms, are, there, and, what, is, the, total, capacity, for, each, gender, ?]",[DORM],"SELECT COUNT(*), gender, SUM(capacity) FROM dorm GROUP BY gender;"
2,dorm_1,"SELECT count(*) , T1.dormid FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid WHERE T1.student_capacity > 100 GROUP BY T1.dormid",Find the number of amenities for each of the dorms that can accommodate more than 100 students.,"[SELECT, count, (, *, ), ,, T1.dormid, FROM, dorm, AS, T1, JOIN, has_amenity, AS, T2, ON, T1.dormid, =, T2.dormid, WHERE, T1.student_capacity, >, 100, GROUP, BY, T1.dormid]","[select, count, (, *, ), ,, t1, ., dormid, from, dorm, as, t1, join, has_amenity, as, t2, on, t1, ., dormid, =, t2, ., dormid, where, t1, ., student_capacity, >, value, group, by, t1, ., dormid]","[Find, the, number, of, amenities, for, each, of, the, dorms, that, can, accommodate, more, than, 100, students, .]","[DORM, HAS_AMENITY]","SELECT Dorms.dorm_name, COUNT(Amenities.amenity) AS number_of_amenities FROM Dorms JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Dorms.capacity > 100 GROUP BY Dorms.dorm_name; SELECT Dorms.dorm_name, COUNT(Amenities.amenity) AS number_of_amenities FROM Dorms LEFT JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Dorms.capacity > 100 GROUP BY Dorms.dorm_name;"
3,dorm_1,SELECT city_code FROM student GROUP BY city_code ORDER BY count(*) DESC LIMIT 1,What is the code of the city with the most students?,"[SELECT, city_code, FROM, student, GROUP, BY, city_code, ORDER, BY, count, (, *, ), DESC, LIMIT, 1]","[select, city_code, from, student, group, by, city_code, order, by, count, (, *, ), desc, limit, value]","[What, is, the, code, of, the, city, with, the, most, students, ?]",[STUDENT],SELECT city_code FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1;SELECT city_code FROM student WHERE student_id IN (SELECT student_id FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1);
4,dorm_1,SELECT city_code FROM student GROUP BY city_code ORDER BY count(*) DESC LIMIT 1,Find the code of city where most of students are living in.,"[SELECT, city_code, FROM, student, GROUP, BY, city_code, ORDER, BY, count, (, *, ), DESC, LIMIT, 1]","[select, city_code, from, student, group, by, city_code, order, by, count, (, *, ), desc, limit, value]","[Find, the, code, of, city, where, most, of, students, are, living, in, .]",[STUDENT],SELECT city_code FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1;
...,...,...,...,...,...,...,...,...
45,dorm_1,"SELECT avg(age) , city_code FROM student GROUP BY city_code",What is the average age for each city and what are those cities?,"[SELECT, avg, (, age, ), ,, city_code, FROM, student, GROUP, BY, city_code]","[select, avg, (, age, ), ,, city_code, from, student, group, by, city_code]","[What, is, the, average, age, for, each, city, and, what, are, those, cities, ?]",[STUDENT],"SELECT city, AVG(age) FROM dorm_1 GROUP BY city;"
46,dorm_1,SELECT count(*) FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T3.dorm_name = 'Smith Hall' AND T1.sex = 'F',How many female students live in Smith Hall?,"[SELECT, count, (, *, ), FROM, student, AS, T1, JOIN, lives_in, AS, T2, ON, T1.stuid, =, T2.stuid, JOIN, dorm, AS, T3, ON, T3.dormid, =, T2.dormid, WHERE, T3.dorm_name, =, 'Smith, Hall, ', AND, T1.sex, =, 'F, ']","[select, count, (, *, ), from, student, as, t1, join, lives_in, as, t2, on, t1, ., stuid, =, t2, ., stuid, join, dorm, as, t3, on, t3, ., dormid, =, t2, ., dormid, where, t3, ., dorm_name, =, value, and, t1, ., sex, =, value]","[How, many, female, students, live, in, Smith, Hall, ?]","[STUDENT, LIVES_IN, DORM]",SELECT COUNT(*) FROM student WHERE gender = 'Female' AND dorm_id = (SELECT id FROM dorm WHERE name = 'Smith Hall');SELECT COUNT(*) FROM student INNER JOIN dorm ON student.dorm_id = dorm.id WHERE student.gender = 'Female' AND dorm.name = 'Smith Hall'
47,dorm_1,SELECT dorm_name FROM dorm WHERE dormid NOT IN (SELECT dormid FROM has_amenity),What are the names of all the dorms that don't have any amenities?,"[SELECT, dorm_name, FROM, dorm, WHERE, dormid, NOT, IN, (, SELECT, dormid, FROM, has_amenity, )]","[select, dorm_name, from, dorm, where, dormid, not, in, (, select, dormid, from, has_amenity, )]","[What, are, the, names, of, all, the, dorms, that, do, n't, have, any, amenities, ?]","[DORM, HAS_AMENITY]",SELECT Dorms.dorm_name FROM Dorms LEFT JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Amenities.dorm_id IS NULL;
48,dorm_1,"SELECT count(*) , city_code FROM student GROUP BY city_code HAVING count(*) > 1",Find the number of students for the cities where have more than one student.,"[SELECT, count, (, *, ), ,, city_code, FROM, student, GROUP, BY, city_code, HAVING, count, (, *, ), >, 1]","[select, count, (, *, ), ,, city_code, from, student, group, by, city_code, having, count, (, *, ), >, value]","[Find, the, number, of, students, for, the, cities, where, have, more, than, one, student, .]",[STUDENT],"SELECT city, COUNT(*) as num_students FROM student GROUP BY city HAVING COUNT(*) > 1;"
49,dorm_1,SELECT count(*) FROM dorm_amenity,How many diffrent dorm amenities are there?,"[SELECT, count, (, *, ), FROM, dorm_amenity]","[select, count, (, *, ), from, dorm_amenity]","[How, many, diffrent, dorm, amenities, are, there, ?]",[DORM_AMENITY],SELECT COUNT(DISTINCT amenity) FROM Dorm_amenities;

In [88]:
sql = []
for q in gpt_sql_nocontext:
    sql.append(q.split(';'))

In [89]:
sqls = []
for sq in sql:
    sqls_=[]
    for s in sq:
        if s != '':
            sqls_.append(s)
    sqls.append(sqls_)
sqls

[["SELECT Amenities.amenity FROM Amenities JOIN Dorms ON Amenities.dorm_id = Dorms.dorm_id WHERE Dorms.name = 'Smith Hall'",
  " SELECT amenity FROM Amenities WHERE dorm_id = (SELECT dorm_id FROM Dorms WHERE name = 'Smith Hall')"],
 ['SELECT COUNT(*), gender, SUM(capacity) FROM dorm GROUP BY gender'],
 ['SELECT Dorms.dorm_name, COUNT(Amenities.amenity) AS number_of_amenities FROM Dorms JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Dorms.capacity > 100 GROUP BY Dorms.dorm_name',
  ' SELECT Dorms.dorm_name, COUNT(Amenities.amenity) AS number_of_amenities FROM Dorms LEFT JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Dorms.capacity > 100 GROUP BY Dorms.dorm_name'],
 ['SELECT city_code FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1',
  'SELECT city_code FROM student WHERE student_id IN (SELECT student_id FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1)'],
 ['SELECT city_code FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1'],
 ["SELECT student.LastName FROM student WHERE student.Gender = 'Female' OR student.City_Code = 'BAL' OR (student.Gender = 'Male' AND student.Age < 20)"],
 ['SELECT COUNT(DISTINCT dorm_id) FROM Dorm_amenities'],
 ["SELECT COUNT(*) FROM student WHERE sex = 'F' AND dorm_id = (SELECT id FROM dorm WHERE name = 'Smith Hall')",
  "SELECT COUNT(*) FROM student INNER JOIN dorm ON student.dorm_id = dorm.id WHERE student.sex = 'F' AND dorm.name = 'Smith Hall'"],
 ['SELECT COUNT(*) FROM Dorm'],
 ["SELECT Dorm_name FROM Dorm WHERE Gender = 'F'"],
 ['SELECT city, AVG(age) FROM student GROUP BY city'],
 ['SELECT Dorm_name, Gender_type FROM Dorm WHERE Capacity > 300 OR Capacity < 100'],
 ['SELECT Dorm_ID, COUNT(*) FROM Student WHERE Age > 20 GROUP BY Dorm_ID'],
 ['SELECT COUNT(DISTINCT Major) AS Number_of_Majors, COUNT(DISTINCT City_Code) AS Number_of_City_Codes FROM student'],
 ['SELECT Dorm.dorm_name, Dorm.capacity FROM Dorm ORDER BY (SELECT COUNT(*) FROM Dorm_amenities WHERE Dorm.dorm_id = Dorm_amenities.dorm_id) ASC LIMIT 1',
  ' SELECT Dorm.dorm_name, Dorm.capacity FROM Dorm WHERE Dorm.dorm_id = (SELECT Dorm_amenities.dorm_id FROM Dorm_amenities GROUP BY Dorm_amenities.dorm_id ORDER BY COUNT(*) ASC LIMIT 1)'],
 ["SELECT COUNT(*) FROM student WHERE sex = 'F' AND age < 25"],
 ['SELECT AVG(Student.age) FROM Student JOIN Dorm ON Student.Dorm_id = Dorm.id WHERE Dorm.capacity = (SELECT MAX(capacity) FROM Dorm)',
  'SELECT AVG(S.age) FROM Student S INNER JOIN Dorm D ON S.Dorm_id = D.id WHERE D.capacity = (SELECT MAX(D1.capacity) FROM Dorm D1)'],
 ['SELECT AVG(Student.age) FROM Student JOIN Dorm ON Student.Dorm_ID = Dorm.ID WHERE Dorm.capacity = (SELECT MAX(capacity) FROM Dorm)',
  'SELECT AVG(age) FROM Student WHERE Dorm_ID IN (SELECT ID FROM Dorm WHERE capacity = (SELECT MAX(capacity) FROM Dorm))'],
 ['SELECT COUNT(DISTINCT amenity) FROM Amenities'],
 ['SELECT Dorm_name, Dorm_type FROM Dorm WHERE Capacity > 300 OR Capacity < 100'],
 ['SELECT gender, AVG(age) AS average_age, MAX(age) AS oldest_age FROM student GROUP BY gender'],
 ['SELECT Student.FirstName FROM Student INNER JOIN Dorm ON Student.DormID = Dorm.DormID WHERE Dorm.DormID = (SELECT DormID FROM Dorm ORDER BY COUNT(AmenityID) DESC LIMIT 1)',
  'SELECT S.FirstName FROM Student S WHERE S.DormID IN (SELECT D.DormID FROM Dorm D JOIN Dorm_Amenities DA ON D.DormID = DA.DormID GROUP BY D.DormID ORDER BY COUNT(DA.AmenityID) DESC LIMIT 1)'],
 ['SELECT COUNT(DISTINCT gender) FROM dorm_1'],
 ['SELECT DISTINCT amenity FROM Amenities ORDER BY amenity ASC'],
 ['SELECT Dorm.dorm_name, AVG(Student.age) FROM Dorm JOIN Student ON Dorm.dorm_id = Student.dorm_id GROUP BY Dorm.dorm_name'],
 ['SELECT SUM(capacity) FROM Dorm'],
 ['SELECT Dorm_name FROM Dorm WHERE Capacity = (SELECT MAX(Capacity) FROM Dorm)'],
 ["SELECT student.first_name, student.age FROM student JOIN dorm ON student.dorm_id = dorm.dorm_id WHERE dorm.dorm_id NOT IN (SELECT dorm_id FROM dorm_amenities WHERE amenity = 'TV Lounge')",
  " SELECT s.first_name, s.age FROM student s INNER JOIN dorm d ON s.dorm_id = d.dorm_id LEFT JOIN dorm_amenities da ON d.dorm_id = da.dorm_id WHERE da.amenity != 'TV Lounge' OR da.amenity IS NULL"],
 ["SELECT Student.first_name FROM Student WHERE Student.age BETWEEN 20 AND 25 AND Student.city = 'PHL'"],
 ['SELECT Dorm_ID, COUNT(*) FROM Student WHERE Age > 20 GROUP BY Dorm_ID'],
 ['SELECT COUNT(*) FROM Dorm'],
 ['SELECT first_name, last_name FROM student WHERE age < (SELECT AVG(age) FROM student)'],
 ["SELECT Amenities FROM Dorm_1 WHERE Dorm = 'Smith Hall' ORDER BY Amenities ASC",
  " SELECT Amenities FROM Dorm_1 WHERE Name = 'Smith Hall' ORDER BY Amenities ASC",
  " SELECT Amenities FROM Dorm_1 WHERE Hall_Name = 'Smith Hall' ORDER BY Amenities ASC"],
 ["SELECT capacity, gender_type FROM dorm WHERE name LIKE '%Donor%'"],
 ["SELECT Dorm_name FROM Dorm_info WHERE TV_lounge = 'no'"],
 ["SELECT COUNT(*) FROM student WHERE gender = 'F' AND age < 25"],
 ['SELECT gender, COUNT(*) FROM student WHERE age > (SELECT AVG(age) FROM student GROUP BY gender) GROUP BY gender'],
 ['SELECT Student.first_name, Student.last_name FROM Student WHERE Student.major_id NOT IN (SELECT major_id FROM (SELECT major_id, COUNT(*) AS count FROM Student GROUP BY major_id ORDER BY count DESC LIMIT 1))',
  ' SELECT S.first_name, S.last_name FROM Student S WHERE S.major_id != (SELECT major_id FROM (SELECT major_id, COUNT(*) AS count FROM Student GROUP BY major_id ORDER BY count DESC LIMIT 1))',
  ' SELECT first_name, last_name FROM Student WHERE major_id <> (SELECT major_id FROM (SELECT major_id, COUNT(*) AS num FROM Student GROUP BY major_id ORDER BY num DESC LIMIT 1))'],
 ["SELECT Dorm_name FROM Dorm_info WHERE Amenities LIKE '%TV Lounge%' AND Amenities LIKE '%Study Room%'"],
 ['SELECT COUNT(*) FROM student'],
 ["SELECT first_name, last_name FROM student WHERE city != 'HKG' ORDER BY age",
  " SELECT first_name, last_name FROM student WHERE NOT city = 'HKG' ORDER BY age"],
 ["SELECT Dorm.dorm_name FROM Dorm JOIN Dorm_amenities ON Dorm.dorm_id = Dorm_amenities.dorm_id WHERE Dorm_amenities.amenity = 'TV Lounge' INTERSECT SELECT Dorm.dorm_name FROM Dorm JOIN Dorm_amenities ON Dorm.dorm_id = Dorm_amenities.dorm_id WHERE Dorm_amenities.amenity = 'Study Room'"],
 ['SELECT first_name FROM student WHERE age > 20'],
 ["SELECT Student.first_name, Student.last_name FROM Student JOIN Dorm ON Student.Dorm_id = Dorm.Dorm_id WHERE Dorm.TV_lounge = 'yes'",
  " SELECT Student.first_name, Student.last_name FROM Student, Dorm WHERE Student.Dorm_id = Dorm.Dorm_id AND Dorm.TV_lounge = 'yes'"],
 ['SELECT COUNT(DISTINCT gender) FROM student'],
 ['SELECT city, AVG(age) FROM dorm_1 GROUP BY city'],
 ["SELECT COUNT(*) FROM student WHERE gender = 'Female' AND dorm_id = (SELECT id FROM dorm WHERE name = 'Smith Hall')",
  "SELECT COUNT(*) FROM student INNER JOIN dorm ON student.dorm_id = dorm.id WHERE student.gender = 'Female' AND dorm.name = 'Smith Hall'"],
 ['SELECT Dorms.dorm_name FROM Dorms LEFT JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Amenities.dorm_id IS NULL'],
 ['SELECT city, COUNT(*) as num_students FROM student GROUP BY city HAVING COUNT(*) > 1'],
 ['SELECT COUNT(DISTINCT amenity) FROM Dorm_amenities']]

In [90]:
df_q['gpt_sql_nocontext']=sqls

# Give ChatGPT the "database" schema as context and elicit its answer

In [40]:
def table_to_sql_create(t): 
    schema_file=prefix + 'schema_new/' + t + '.csv'
    p = None
    if os.path.isfile(schema_file):
        df_t = pd.read_csv(schema_file)
        p = "CREATE TABLE "+ t+ "(\n"  
        p = p + '\n'.join(list(df_t[['COLUMN_NAME', 'DATA_TYPE']].apply(lambda row: ' '.join(row.astype(str)), axis=1)))
        p = p + ')\n'
    return p

#### Generalize table-names (delete "WAREUSER." in front) and create the prefix for the prompt.

In [41]:
prompt = "** all the tables in the database ** \n\n"
cnt = 0 
for t in unique_tables:
    if t.upper().startswith('WAREUSER.'):
        t = t[len('WAREUSER.'):]
    p = table_to_sql_create(t)
    if not p: 
        print(t)
    if p: 
        cnt = cnt + 1
        prompt = prompt + p
        prompt = prompt + "\n\n"

#### There should be no tables listed above (only if the table-name does not occur in our extracted table-schemas).

In [42]:
## The "schema" prompt, which we append to the system prompt below 
print(prompt)

** all the tables in the database **

CREATE TABLE TOP_LEVEL_DOMAIN(
TOP_LEVEL_DOMAIN_KEY VARCHAR2
TOP_LEVEL_DOMAIN VARCHAR2
TOP_LEVEL_DOMAIN_DESCRIPTION VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FCLT_MAJOR_USE(
FCLT_MAJOR_USE_KEY VARCHAR2
MAJOR_USE VARCHAR2
DESCRIPTION VARCHAR2
ASSIGNABLE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE ACADEMIC_TERM_PARAMETER(
TERM_PARAMETER VARCHAR2
TERM_INDICATOR VARCHAR2
TERM_CODE VARCHAR2
TERM_DESCRIPTION VARCHAR2
TERM_START_DATE DATE
TERM_END_DATE DATE
TERM_LAST_DAY_BEFORE_NEXT_TERM DATE
IS_CURRENT_TERM VARCHAR2)


CREATE TABLE HR_ORG_UNIT(
HR_ORG_UNIT_KEY VARCHAR2
HR_ORG_UNIT_ID VARCHAR2
HR_ORG_UNIT_TITLE VARCHAR2
HR_ORG_UNIT_LEVEL VARCHAR2
HR_DEPARTMENT_ID VARCHAR2
HR_DEPARTMENT_CODE VARCHAR2
HR_DEPARTMENT_CODE_OLD VARCHAR2
HR_DEPARTMENT_NAME VARCHAR2
HR_DEPARTMENT_NAME_LONG VARCHAR2
HR_DEPARTMENT_NAME_ALPHA VARCHAR2
ORG_HIER_SCHOOL_AREA_NAME VARCHAR2
ORG_HIER_TOP_LEVEL_NAME VARCHAR2
ORG_HIER_ROOT_NAME VARCHAR2
HR_ORG_LEVEL1_ID VARCHAR2
HR_ORG_LEVEL1_SORT VARCHAR2
HR_ORG_LEVEL1_NAME VARCHAR2
HR_ORG_LEVEL2_ID VARCHAR2
HR_ORG_LEVEL2_SORT VARCHAR2
HR_ORG_LEVEL2_NAME VARCHAR2
HR_ORG_LEVEL3_ID VARCHAR2
HR_ORG_LEVEL3_SORT VARCHAR2
HR_ORG_LEVEL3_NAME VARCHAR2
HR_ORG_LEVEL4_ID VARCHAR2
HR_ORG_LEVEL4_SORT VARCHAR2
HR_ORG_LEVEL4_NAME VARCHAR2
HR_ORG_LEVEL5_ID VARCHAR2
HR_ORG_LEVEL5_SORT VARCHAR2
HR_ORG_LEVEL5_NAME VARCHAR2
HR_ORG_LEVEL6_ID VARCHAR2
HR_ORG_LEVEL6_SORT VARCHAR2
HR_ORG_LEVEL6_NAME VARCHAR2
HR_ORG_LEVEL7_ID VARCHAR2
HR_ORG_LEVEL7_SORT VARCHAR2
HR_ORG_LEVEL7_NAME VARCHAR2
DLC_KEY VARCHAR2
DLC_NAME VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FCLT_FLOOR(
FCLT_FLOOR_KEY VARCHAR2
FCLT_BUILDING_KEY VARCHAR2
FLOOR VARCHAR2
EXT_GROSS_AREA NUMBER
ASSIGNABLE_AREA NUMBER
NON_ASSIGNABLE_AREA NUMBER
FLOOR_SORT_SEQUENCE VARCHAR2
LEVEL_ID VARCHAR2
BUILDING_WINGS_ID VARCHAR2
ACCESS_LEVEL VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FCLT_ROOMS(
FCLT_ROOM_KEY VARCHAR2
BUILDING_ROOM VARCHAR2
FCLT_BUILDING_KEY VARCHAR2
FLOOR VARCHAR2
FCLT_FLOOR_KEY VARCHAR2
ROOM VARCHAR2
SPACE_ID VARCHAR2
FCLT_MAJOR_USE_KEY VARCHAR2
MAJOR_USE_DESC VARCHAR2
FCLT_USE_KEY VARCHAR2
USE_DESC VARCHAR2
FCLT_MINOR_USE_KEY VARCHAR2
MINOR_USE_DESC VARCHAR2
FCLT_ORGANIZATION_KEY VARCHAR2
ORGANIZATION_NAME VARCHAR2
FCLT_MINOR_ORGANIZATION_KEY VARCHAR2
MINOR_ORGANIZATION VARCHAR2
AREA NUMBER
ROOM_FULL_NAME VARCHAR2
DEPT_CODE VARCHAR2
ACCESS_LEVEL VARCHAR2
LATITUDE_WGS NUMBER
LONGITUDE_WGS NUMBER
NORTHING_SPCS NUMBER
EASTING_SPCS NUMBER
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE TIP_DETAIL(
TIP_SUBJECT_OFFERED_KEY VARCHAR2
TIP_MATERIAL_KEY VARCHAR2
TIP_MATERIAL_STATUS_KEY VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
ISBN VARCHAR2
RECORD_COUNT NUMBER
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE ACADEMIC_TERMS(
ACADEMIC_TERMS_KEY VARCHAR2
TERM_CODE VARCHAR2
TERM_DESCRIPTION VARCHAR2
TERM_SELECTOR VARCHAR2
TERM_START_DATE DATE
TERM_END_DATE DATE
ACADEMIC_YEAR VARCHAR2
ACADEMIC_YEAR_DESC VARCHAR2
IS_CURRENT_TERM VARCHAR2
IS_REGULAR_TERM VARCHAR2
TERM_STATUS_INDICATOR VARCHAR2
TERM_STATUS VARCHAR2
FINANCIAL_AID_YEAR VARCHAR2
DEGREE_YEAR VARCHAR2
LAST_DAY_OF_FINAL_EXAM DATE
PRE_REGISTRATION_START_DAY DATE
REGISTRATION_DAY DATE
FIRST_DAY_OF_CLASSES DATE
LAST_DAY_OF_CLASSES DATE
ADD_DATE DATE
DROP_DATE DATE
GRADUATE_AWARD_START_DATE DATE
GRADUATE_AWARD_END_DATE DATE
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE COURSE_CATALOG_SUBJECT_OFFERED(
ACADEMIC_YEAR VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_CODE VARCHAR2
SUBJECT_NUMBER VARCHAR2
SOURCE_SUBJECT_ID VARCHAR2
PRINT_SUBJECT_ID VARCHAR2
IS_PRINTED_IN_BULLETIN VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
EFFECTIVE_TERM_CODE VARCHAR2
SUBJECT_SHORT_TITLE VARCHAR2
SUBJECT_TITLE VARCHAR2
IS_VARIABLE_UNITS VARCHAR2
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREPARATION_UNITS NUMBER
TOTAL_UNITS NUMBER
DESIGN_UNITS NUMBER
GRADE_TYPE VARCHAR2
GRADE_TYPE_DESC VARCHAR2
GRADE_RULE VARCHAR2
GRADE_RULE_DESC VARCHAR2
HGN_CODE VARCHAR2
HGN_DESC VARCHAR2
HGN_EXCEPT VARCHAR2
GIR_ATTRIBUTE VARCHAR2
GIR_ATTRIBUTE_DESC VARCHAR2
COMM_REQ_ATTRIBUTE VARCHAR2
COMM_REQ_ATTRIBUTE_DESC VARCHAR2
TUITION_ATTRIBUTE VARCHAR2
TUITION_ATTRIBUTE_DESC VARCHAR2
WRITE_REQ_ATTRIBUTE VARCHAR2
WRITE_REQ_ATTRIBUTE_DESC VARCHAR2
SUPERVISOR_ATTRIBUTE VARCHAR2
SUPERVISOR_ATTRIBUTE_DESC VARCHAR2
PREREQUISITES VARCHAR2
SUBJECT_DESCRIPTION VARCHAR2
JOINT_SUBJECTS VARCHAR2
SCHOOL_WIDE_ELECTIVES VARCHAR2
MEETS_WITH_SUBJECTS VARCHAR2
EQUIVALENT_SUBJECTS VARCHAR2
IS_OFFERED_THIS_YEAR VARCHAR2
IS_OFFERED_FALL_TERM VARCHAR2
IS_OFFERED_IAP VARCHAR2
IS_OFFERED_SPRING_TERM VARCHAR2
IS_OFFERED_SUMMER_TERM VARCHAR2
FALL_INSTRUCTORS VARCHAR2
SPRING_INSTRUCTORS VARCHAR2
STATUS_CHANGE VARCHAR2
LAST_ACTIVITY_DATE DATE
WAREHOUSE_LOAD_DATE DATE
MASTER_SUBJECT_ID VARCHAR2
HASS_ATTRIBUTE VARCHAR2
HASS_ATTRIBUTE_DESC VARCHAR2
TERM_DURATION VARCHAR2
GLOBAL_REGIONS VARCHAR2
GLOBAL_COUNTRIES VARCHAR2
ON_LINE_PAGE_NUMBER VARCHAR2
SECTION_ID VARCHAR2
IS_MASTER_SECTION VARCHAR2
IS_LECTURE_SECTION VARCHAR2
IS_LAB_SECTION VARCHAR2
IS_RECITATION_SECTION VARCHAR2
IS_DESIGN_SECTION VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
MEET_TIME VARCHAR2
MEET_PLACE VARCHAR2)


CREATE TABLE IAP_SUBJECT_SESSION(
IAP_SUBJECT_SESSION_KEY VARCHAR2
SESSION_SEQUENCE NUMBER
SESSION_TITLE VARCHAR2
SESSION_DESCRIPTION VARCHAR2
SESSION_LOCATION VARCHAR2
SESSION_DATE DATE
SESSION_START_TIME VARCHAR2
SESSION_END_TIME VARCHAR2
HAS_SESSION_INFO VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE SE_PERSON(
MIT_ID VARCHAR2
KRB_NAME VARCHAR2
FULL_NAME VARCHAR2
PAYROLL_RANK VARCHAR2
POSITION_TITLE VARCHAR2
IS_ACTIVE CHAR
OFFICE_LOCATION VARCHAR2
ORGANIZATION VARCHAR2
FIRST_NAME VARCHAR2
LAST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
EMPLOYEE_TYPE VARCHAR2)


CREATE TABLE MIT_STUDENT_DIRECTORY(
FIRST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
LAST_NAME VARCHAR2
FULL_NAME VARCHAR2
OFFICE_LOCATION VARCHAR2
OFFICE_PHONE VARCHAR2
EMAIL_ADDRESS VARCHAR2
DEPARTMENT VARCHAR2
DEPARTMENT_NAME VARCHAR2
STUDENT_YEAR VARCHAR2
FULL_NAME_UPPERCASE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE TIP_MATERIAL(
TIP_MATERIAL_KEY VARCHAR2
ISBN VARCHAR2
TITLE VARCHAR2
AUTHOR VARCHAR2
EDITION VARCHAR2
PUBLISHER VARCHAR2
YEAR VARCHAR2
NEW_SHELF_PRICE NUMBER
USED_SHELF_PRICE NUMBER
RENTAL_NEW_PRICE NUMBER
RENTAL_USED_PRICE NUMBER
MATERIAL_INFO_SOURCE VARCHAR2)


CREATE TABLE TIP_SUBJECT_OFFERED(
TIP_SUBJECT_OFFERED_KEY VARCHAR2
TERM_CODE VARCHAR2
IS_NO_COURSE_MATERIAL VARCHAR2
MASTER_COURSE_NUMBER VARCHAR2
MASTER_COURSE_NUMBER_SORT VARCHAR2
MASTER_COURSE_NUMBER_DESC VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
MASTER_SUBJECT_ID_SORT VARCHAR2
COURSE_NUMBER VARCHAR2
COURSE_NUMBER_SORT VARCHAR2
COURSE_NUMBER_DESC VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_ID_SORT VARCHAR2
SUBJECT_TITLE VARCHAR2
OFFER_DEPT_CODE VARCHAR2
OFFER_DEPT_NAME VARCHAR2
OFFER_SCHOOL_NAME VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
NUM_ENROLLED_STUDENTS NUMBER
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FCLT_BUILDING_HIST(
FCLT_BUILDING_HIST_KEY VARCHAR2
FISCAL_PERIOD VARCHAR2
FCLT_BUILDING_KEY VARCHAR2
BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NAME VARCHAR2
PARENT_BUILDING_NAME_LONG VARCHAR2
BUILDING_NAME_LONG VARCHAR2
EXT_GROSS_AREA NUMBER
ASSIGNABLE_AREA NUMBER
NON_ASSIGNABLE_AREA NUMBER
SITE VARCHAR2
CAMPUS_SECTOR VARCHAR2
ACCESS_LEVEL_CODE NUMBER
ACCESS_LEVEL_NAME VARCHAR2
BUILDING_TYPE VARCHAR2
OWNERSHIP_TYPE VARCHAR2
BUILDING_USE VARCHAR2
OCCUPANCY_CLASS VARCHAR2
BUILDING_HEIGHT VARCHAR2
COST_CENTER_CODE VARCHAR2
COST_COLLECTOR_KEY VARCHAR2
LATITUDE_WGS NUMBER
LONGITUDE_WGS NUMBER
EASTING_X_SPCS NUMBER
NORTHING_Y_SPCS NUMBER
BUILDING_SORT VARCHAR2
BUILDING_NAMED_FOR VARCHAR2
BUILDING_NAME VARCHAR2
DATE_BUILT VARCHAR2
DATE_ACQUIRED VARCHAR2
DATE_OCCUPIED VARCHAR2
WAREHOUSE_LOAD_DATE DATE
NUM_OF_ROOMS NUMBER)


CREATE TABLE DRUPAL_EMPLOYEE_DIRECTORY(
MIT_ID VARCHAR2
LAST_NAME VARCHAR2
FIRST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
FULL_NAME VARCHAR2
EMPLOYEE_GROUP VARCHAR2
EMPLOYEE_TYPE VARCHAR2
HAS_ADDL_APPOINTMENT VARCHAR2
HAS_DUAL_APPOINTMENT VARCHAR2
OFFICE_LOCATION VARCHAR2
OFFICE_PHONE VARCHAR2
HR_ORG_UNIT_ID VARCHAR2
HR_ORG_UNIT_TITLE VARCHAR2
DIRECTORY_TITLE VARCHAR2
PRIMARY_TITLE VARCHAR2
EMAIL_ADDRESS VARCHAR2
PERSONAL_URL VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE ZIP_USA(
STATE_NAME VARCHAR2
WAREHOUSE_LOAD_DATE DATE
ZIP_CODE VARCHAR2
ZIP_TYPE VARCHAR2
CITY_NAME VARCHAR2
CITY_TYPE VARCHAR2
COUNTY_NAME VARCHAR2
STATE_ABBR VARCHAR2)


CREATE TABLE LIBRARY_RESERVE_CATALOG(
LIBRARY_RESERVE_CATALOG_KEY VARCHAR2
CATALOG_TITLE VARCHAR2
CATALOG_AUTHOR_NAME VARCHAR2
CATALOG_YEAR VARCHAR2
CATALOG_PUBLISHER VARCHAR2
CATALOG_CALL_NUMBER VARCHAR2
CATALOG_ISBN VARCHAR2
CATALOG_SYSTEM_NUMBER VARCHAR2
CATALOG_RECORD_CREATE_DATE DATE
CATALOG_RECORD_UPDATE_DATE DATE
RECORD_COUNTER NUMBER
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE HR_ORG_UNIT_NEW(
HR_ORG_UNIT_KEY VARCHAR2
HR_ORG_UNIT_ID VARCHAR2
HR_ORG_UNIT_TITLE VARCHAR2
HR_ORG_UNIT_LEVEL VARCHAR2
HR_DEPARTMENT_CODE VARCHAR2
HR_DEPARTMENT_ABBR VARCHAR2
HR_DEPARTMENT_CODE_OLD VARCHAR2
HR_DEPARTMENT_NAME VARCHAR2
HR_DEPARTMENT_NAME_LONG VARCHAR2
HR_DEPARTMENT_NAME_ALPHA VARCHAR2
ORG_HIER_SCHOOL_AREA_NAME VARCHAR2
ORG_HIER_TOP_LEVEL_NAME VARCHAR2
ORG_HIER_ROOT_NAME VARCHAR2
HR_ORG_LEVEL1_ID VARCHAR2
HR_ORG_LEVEL1_SORT VARCHAR2
HR_ORG_LEVEL1_NAME VARCHAR2
HR_ORG_LEVEL2_ID VARCHAR2
HR_ORG_LEVEL2_SORT VARCHAR2
HR_ORG_LEVEL2_NAME VARCHAR2
HR_ORG_LEVEL3_ID VARCHAR2
HR_ORG_LEVEL3_SORT VARCHAR2
HR_ORG_LEVEL3_NAME VARCHAR2
HR_ORG_LEVEL4_ID VARCHAR2
HR_ORG_LEVEL4_SORT VARCHAR2
HR_ORG_LEVEL4_NAME VARCHAR2
HR_ORG_LEVEL5_ID VARCHAR2
HR_ORG_LEVEL5_SORT VARCHAR2
HR_ORG_LEVEL5_NAME VARCHAR2
DLC_KEY VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE ACADEMIC_TERMS_ALL(
ACADEMIC_TERMS_KEY VARCHAR2
TERM_CODE VARCHAR2
TERM_DESCRIPTION VARCHAR2
TERM_SELECTOR VARCHAR2
TERM_START_DATE DATE
TERM_END_DATE DATE
ACADEMIC_YEAR VARCHAR2
ACADEMIC_YEAR_DESC VARCHAR2
IS_CURRENT_TERM VARCHAR2
TERM_STATUS_INDICATOR VARCHAR2
FINANCIAL_AID_YEAR VARCHAR2
DEGREE_YEAR VARCHAR2
LAST_DAY_OF_FINAL_EXAM DATE
PRE_REGISTRATION_START_DAY DATE
REGISTRATION_DAY DATE
FIRST_DAY_OF_CLASSES DATE
LAST_DAY_OF_CLASSES DATE
GRADUATE_AWARD_START_DATE DATE
GRADUATE_AWARD_END_DATE DATE
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FAC_BUILDING(
DATE_ACQUIRED VARCHAR2
DATE_OCCUPIED VARCHAR2
WAREHOUSE_LOAD_DATE DATE
NUM_OF_ROOMS NUMBER
FAC_BUILDING_KEY VARCHAR2
BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NUMBER VARCHAR2
PARENT_BUILDING_NAME VARCHAR2
PARENT_BUILDING_NAME_LONG VARCHAR2
BUILDING_NAME_LONG VARCHAR2
EXT_GROSS_AREA NUMBER
ASSIGNABLE_AREA NUMBER
NON_ASSIGNABLE_AREA NUMBER
SITE VARCHAR2
CAMPUS_SECTOR VARCHAR2
ACCESS_LEVEL_CODE NUMBER
ACCESS_LEVEL_NAME VARCHAR2
BUILDING_TYPE VARCHAR2
OWNERSHIP_TYPE VARCHAR2
BUILDING_USE VARCHAR2
OCCUPANCY_CLASS VARCHAR2
BUILDING_HEIGHT VARCHAR2
COST_CENTER_CODE VARCHAR2
COST_COLLECTOR_KEY VARCHAR2
LATITUDE_WGS NUMBER
LONGITUDE_WGS NUMBER
EASTING_X_SPCS NUMBER
NORTHING_Y_SPCS NUMBER
BUILDING_SORT VARCHAR2
BUILDING_NAMED_FOR VARCHAR2
BUILDING_NAME VARCHAR2
DATE_BUILT VARCHAR2)


CREATE TABLE DRUPAL_COURSE_CATALOG(
ACADEMIC_YEAR VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_CODE VARCHAR2
SUBJECT_NUMBER VARCHAR2
SOURCE_SUBJECT_ID VARCHAR2
PRINT_SUBJECT_ID VARCHAR2
IS_PRINTED_IN_BULLETIN VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
EFFECTIVE_TERM_CODE VARCHAR2
SUBJECT_SHORT_TITLE VARCHAR2
SUBJECT_TITLE VARCHAR2
IS_VARIABLE_UNITS VARCHAR2
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREPARATION_UNITS NUMBER
TOTAL_UNITS NUMBER
DESIGN_UNITS NUMBER
GRADE_TYPE VARCHAR2
GRADE_TYPE_DESC VARCHAR2
GRADE_RULE VARCHAR2
GRADE_RULE_DESC VARCHAR2
HGN_CODE VARCHAR2
HGN_DESC VARCHAR2
HGN_EXCEPT VARCHAR2
GIR_ATTRIBUTE VARCHAR2
GIR_ATTRIBUTE_DESC VARCHAR2
COMM_REQ_ATTRIBUTE VARCHAR2
COMM_REQ_ATTRIBUTE_DESC VARCHAR2
TUITION_ATTRIBUTE VARCHAR2
TUITION_ATTRIBUTE_DESC VARCHAR2
WRITE_REQ_ATTRIBUTE VARCHAR2
WRITE_REQ_ATTRIBUTE_DESC VARCHAR2
SUPERVISOR_ATTRIBUTE VARCHAR2
SUPERVISOR_ATTRIBUTE_DESC VARCHAR2
PREREQUISITES VARCHAR2
SUBJECT_DESCRIPTION VARCHAR2
JOINT_SUBJECTS VARCHAR2
SCHOOL_WIDE_ELECTIVES VARCHAR2
MEETS_WITH_SUBJECTS VARCHAR2
EQUIVALENT_SUBJECTS VARCHAR2
IS_OFFERED_THIS_YEAR VARCHAR2
IS_OFFERED_FALL_TERM VARCHAR2
IS_OFFERED_IAP VARCHAR2
IS_OFFERED_SPRING_TERM VARCHAR2
IS_OFFERED_SUMMER_TERM VARCHAR2
FALL_INSTRUCTORS VARCHAR2
SPRING_INSTRUCTORS VARCHAR2
STATUS_CHANGE VARCHAR2
LAST_ACTIVITY_DATE DATE
WAREHOUSE_LOAD_DATE DATE
MASTER_SUBJECT_ID VARCHAR2
HASS_ATTRIBUTE VARCHAR2
HASS_ATTRIBUTE_DESC VARCHAR2
TERM_DURATION VARCHAR2
GLOBAL_REGIONS VARCHAR2
GLOBAL_COUNTRIES VARCHAR2
ON_LINE_PAGE_NUMBER VARCHAR2
SO_SUBJECT_ID VARCHAR2
SO_TERM_CODE VARCHAR2
SO_TERM_DESCRIPTION VARCHAR2
SO_CLUSTER_TYPE VARCHAR2
SECTION_ID VARCHAR2
IS_MASTER_SECTION VARCHAR2
IS_LECTURE_SECTION VARCHAR2
IS_LAB_SECTION VARCHAR2
IS_RECITATION_SECTION VARCHAR2
IS_DESIGN_SECTION VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
MEET_TIME VARCHAR2
MEET_PLACE VARCHAR2)


CREATE TABLE IAP_SUBJECT_CATEGORY(
IAP_SUBJECT_CATEGORY_KEY VARCHAR2
IAP_CATEGORY_NAME VARCHAR2
IAP_CATEGORY_DESC VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE SPACE_DETAIL(
BUILDING_KEY VARCHAR2
FLOOR_KEY VARCHAR2
SPACE_UNIT_KEY VARCHAR2
SPACE_USAGE_KEY NUMBER
BUILDING_ROOM VARCHAR2
BUILDING_ROOM_NAME VARCHAR2
ROOM_NUMBER VARCHAR2
ROOM_SQUARE_FOOTAGE NUMBER
ROOM_COUNTER NUMBER
BUILDING_COMPONENT VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE FAC_FLOOR(
WAREHOUSE_LOAD_DATE DATE
BUILDING_KEY VARCHAR2
FLOOR VARCHAR2
FLOOR_KEY VARCHAR2
EXT_GROSS_AREA NUMBER
ASSIGNABLE_AREA NUMBER
NON_ASSIGNABLE_AREA NUMBER
FLOOR_SORT_SEQUENCE VARCHAR2
LEVEL_ID VARCHAR2
BUILDING_WINGS_ID VARCHAR2
ACCESS_LEVEL VARCHAR2)


CREATE TABLE SIS_COURSE_DESCRIPTION(
SIS_COURSE_DESCRIPTION_KEY VARCHAR2
COURSE VARCHAR2
COURSE_DESCRIPTION VARCHAR2
COURSE_DESCRIPTION_LONG VARCHAR2
DEPARTMENT VARCHAR2
DEPARTMENT_NAME VARCHAR2
DEPT_NAME_IN_COMMENCEMENT_BK VARCHAR2
SCHOOL_NAME VARCHAR2
SCHOOL_NAME_IN_COMMENCEMENT_BK VARCHAR2
FROM_TERM VARCHAR2
FROM_TERM_DESCRIPTION VARCHAR2
THRU_TERM VARCHAR2
THRU_TERM_DESCRIPTION VARCHAR2
COURSE_OPTION VARCHAR2
COURSE_LEVEL VARCHAR2
CIP_PROGRAM_CODE VARCHAR2
IS_DEGREE_GRANTING CHAR
DEFAULT_ULTIMATE_DEGREE VARCHAR2
GRADAUTE_LEVEL VARCHAR2
GRADUATE_LEVEL VARCHAR2
LAST_ACTIVITY_DATE DATE
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE IAP_SUBJECT_PERSON(
IAP_SUBJECT_PERSON_KEY VARCHAR2
PERSON_ROLE VARCHAR2
PERSON_MIT_AFFILIATION VARCHAR2
PERSON_NAME VARCHAR2
PERSON_LOCATION VARCHAR2
PERSON_EMAIL VARCHAR2
PERSON_ORGANIZATION VARCHAR2
PERSON_TITLE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE CIS_COURSE_CATALOG(
IS_OFFERED_FALL_TERM VARCHAR2
IS_OFFERED_IAP VARCHAR2
IS_OFFERED_SPRING_TERM VARCHAR2
IS_OFFERED_SUMMER_TERM VARCHAR2
FALL_INSTRUCTORS VARCHAR2
SPRING_INSTRUCTORS VARCHAR2
STATUS_CHANGE VARCHAR2
LAST_ACTIVITY_DATE DATE
WAREHOUSE_LOAD_DATE DATE
MASTER_SUBJECT_ID VARCHAR2
HASS_ATTRIBUTE VARCHAR2
HASS_ATTRIBUTE_DESC VARCHAR2
TERM_DURATION VARCHAR2
GLOBAL_REGIONS VARCHAR2
GLOBAL_COUNTRIES VARCHAR2
ON_LINE_PAGE_NUMBER VARCHAR2
ACADEMIC_YEAR VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_CODE VARCHAR2
SUBJECT_NUMBER VARCHAR2
SOURCE_SUBJECT_ID VARCHAR2
PRINT_SUBJECT_ID VARCHAR2
IS_PRINTED_IN_BULLETIN VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
EFFECTIVE_TERM_CODE VARCHAR2
SUBJECT_SHORT_TITLE VARCHAR2
SUBJECT_TITLE VARCHAR2
IS_VARIABLE_UNITS VARCHAR2
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREPARATION_UNITS NUMBER
TOTAL_UNITS NUMBER
DESIGN_UNITS NUMBER
GRADE_TYPE VARCHAR2
GRADE_TYPE_DESC VARCHAR2
GRADE_RULE VARCHAR2
GRADE_RULE_DESC VARCHAR2
HGN_CODE VARCHAR2
HGN_DESC VARCHAR2
HGN_EXCEPT VARCHAR2
GIR_ATTRIBUTE VARCHAR2
GIR_ATTRIBUTE_DESC VARCHAR2
COMM_REQ_ATTRIBUTE VARCHAR2
COMM_REQ_ATTRIBUTE_DESC VARCHAR2
TUITION_ATTRIBUTE VARCHAR2
TUITION_ATTRIBUTE_DESC VARCHAR2
WRITE_REQ_ATTRIBUTE VARCHAR2
WRITE_REQ_ATTRIBUTE_DESC VARCHAR2
SUPERVISOR_ATTRIBUTE VARCHAR2
SUPERVISOR_ATTRIBUTE_DESC VARCHAR2
PREREQUISITES VARCHAR2
SUBJECT_DESCRIPTION VARCHAR2
JOINT_SUBJECTS VARCHAR2
SCHOOL_WIDE_ELECTIVES VARCHAR2
MEETS_WITH_SUBJECTS VARCHAR2
EQUIVALENT_SUBJECTS VARCHAR2
IS_OFFERED_THIS_YEAR VARCHAR2)


CREATE TABLE FAC_MAJOR_USE(
MAJOR_USE_KEY VARCHAR2
MAJOR_USE VARCHAR2
DESCRIPTION VARCHAR2
ASSIGNABLE VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE EMPLOYEE_DIRECTORY(
MIT_ID VARCHAR2
LAST_NAME VARCHAR2
FIRST_NAME VARCHAR2
MIDDLE_NAME VARCHAR2
FULL_NAME VARCHAR2
DIRECTORY_FULL_NAME VARCHAR2
OFFICE_LOCATION VARCHAR2
OFFICE_PHONE VARCHAR2
DIRECTORY_TITLE VARCHAR2
PRIMARY_TITLE VARCHAR2
DEPARTMENT_NUMBER VARCHAR2
DEPARTMENT_NAME VARCHAR2
KRB_NAME VARCHAR2
KRB_NAME_UPPERCASE VARCHAR2
EMAIL_ADDRESS VARCHAR2
PERSONAL_URL VARCHAR2
NAME_KNOWN_BY VARCHAR2
EMAIL_ADDRESS_UPPERCASE VARCHAR2
FULL_NAME_UPPERCASE VARCHAR2
PREFERRED_FIRST_NAME_UPPER VARCHAR2
PREFERRED_LAST_NAME_UPPER VARCHAR2)


CREATE TABLE SUBJECT_ENROLLABLE(
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_TITLE VARCHAR2
SUBJECT_TITLE_LONG VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
ULT_MASTER_SUBJECT_ID VARCHAR2
CLUSTER_LIST VARCHAR2
OFFER_DEPT_CODE VARCHAR2
OFFER_SCHOOL_CODE VARCHAR2
SUBJECT_GROUP_ID VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE LIBRARY_RESERVE_MATRL_DETAIL(
LIBRARY_COURSE_INSTRUCTOR_KEY VARCHAR2
LIBRARY_RESERVE_CATALOG_KEY VARCHAR2
LIBRARY_SUBJECT_OFFERED_KEY VARCHAR2
LIBRARY_MATERIAL_STATUS_KEY VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE ZIP_CANADA(
POSTAL_CODE VARCHAR2
CITY_NAME VARCHAR2
CITY_TYPE VARCHAR2
PROVINCE_ABBR VARCHAR2
PROVINCE_NAME VARCHAR2
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE STUDENT_DEPARTMENT(
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
DEPARTMENT_FULL_NAME VARCHAR2
SCHOOL_CODE VARCHAR2
SCHOOL_NAME VARCHAR2)


CREATE TABLE SUBJECT_SUMMARY(
SUBJECT_SUMMARY_KEY VARCHAR2
TERM_CODE VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_ID_SORT VARCHAR2
SUBJECT_TITLE VARCHAR2
SUBJECT_OR_CLUSTER VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
MASTER_SUBJECT_ID_SORT VARCHAR2
ULT_MASTER_SUBJECT_ID VARCHAR2
CLUSTER_TYPE VARCHAR2
CLUSTER_TYPE_DESC VARCHAR2
CLUSTER_LIST VARCHAR2
DEPARTMENT_CODE VARCHAR2
DEPARTMENT_NAME VARCHAR2
SCHOOL_CODE VARCHAR2
SCHOOL_NAME VARCHAR2
TOTAL_UNITS NUMBER
LECTURE_UNITS NUMBER
LAB_UNITS NUMBER
PREP_UNITS NUMBER
DESIGN_UNITS NUMBER
SUBJECT_ENROLLMENT_NUMBER NUMBER
CLUSTER_ENROLLMENT_NUMBER NUMBER
SUBJECT_GROUP_ID VARCHAR2
SUBJECT_ENROLLMENT_FIRST_WEEK NUMBER
CLUSTER_ENROLLMENT_FIRST_WEEK NUMBER
SUBJECT_ENROLLMENT_FIFTH_WEEK NUMBER
CLUSTER_ENROLLMENT_FIFTH_WEEK NUMBER
SUBJECT_ENROLLMENT_CREDIT NUMBER
SUBJECT_ENROLLMENT_LISTEN NUMBER
CLUSTER_ENROLLMENT_CREDIT NUMBER
CLUSTER_ENROLLMENT_LISTEN NUMBER
SUBJECT_ENROLLMENT_1ST_CREDIT NUMBER
SUBJECT_ENROLLMENT_1ST_LISTEN NUMBER
CLUSTER_ENROLLMENT_1ST_CREDIT NUMBER
CLUSTER_ENROLLMENT_1ST_LISTEN NUMBER
SUBJECT_ENROLLMENT_5TH_CREDIT NUMBER
SUBJECT_ENROLLMENT_5TH_LISTEN NUMBER
CLUSTER_ENROLLMENT_5TH_CREDIT NUMBER
CLUSTER_ENROLLMENT_5TH_LISTEN NUMBER
WAREHOUSE_LOAD_DATE DATE)


CREATE TABLE SUBJECT_OFFERED(
SUBJECT_KEY VARCHAR2
SUBJECT_OFFERED_SUMMARY_KEY VARCHAR2
MASTER_SUBJECT_KEY VARCHAR2
COMPOSITE_SUBJECT_KEY VARCHAR2
TERM_CODE VARCHAR2
MASTER_COURSE_NUMBER VARCHAR2
MASTER_COURSE_NUMBER_SORT VARCHAR2
MASTER_COURSE_NUMBER_DESC VARCHAR2
MASTER_SUBJECT_ID VARCHAR2
MASTER_SUBJECT_ID_SORT VARCHAR2
COURSE_NUMBER VARCHAR2
COURSE_NUMBER_SORT VARCHAR2
COURSE_NUMBER_DESC VARCHAR2
SUBJECT_ID VARCHAR2
SUBJECT_ID_SORT VARCHAR2
SUBJECT_TITLE VARCHAR2
SECTION_ID VARCHAR2
IS_MASTER_SECTION VARCHAR2
IS_LECTURE_SECTION VARCHAR2
IS_LAB_SECTION VARCHAR2
IS_RECITATION_SECTION VARCHAR2
IS_DESIGN_SECTION VARCHAR2
OFFER_DEPT_CODE VARCHAR2
OFFER_DEPT_NAME VARCHAR2
OFFER_SCHOOL_NAME VARCHAR2
RESPONSIBLE_FACULTY_NAME VARCHAR2
RESPONSIBLE_FACULTY_MIT_ID VARCHAR2
MEET_TIME VARCHAR2
MEET_PLACE VARCHAR2
CLUSTER_TYPE VARCHAR2
CLUSTER_TYPE_DESC VARCHAR2
CLUSTER_LIST VARCHAR2
HGN_CODE VARCHAR2
HGN_CODE_DESC VARCHAR2
FORM_TYPE VARCHAR2
FORM_TYPE_DESC VARCHAR2
SUBJECT_ENROLLMENT_NUMBER NUMBER
SECTION_ENROLLMENT_NUMBER VARCHAR2
CLUSTER_ENROLLMENT_NUMBER NUMBER

## We're now ready to make the api call

In [43]:
gpt_sql_global_schema = []
for q in df['question']: 
    response = client.chat.completions.create(
        model="gpt-4",
        temperature = 0,
        messages = [
          {
          "role": "system",
          "content": "Your job is to write SQL queries that answer a user's question using the tables in the MIT Data Warehouse. \
          The MIT Data Warehouse is a central data source that combines data from various administrative systems at MIT, containing \
          information about students, faculty, and personnel. The schemas of all the tables that you might need \
          for answering the user questions are below. There are 50 tables in the database.  Reply with as many answers \
           as you can think of in SQL and include no linebreaks, newlines, escape characters or other commentary for the each possible \
           answer, but seperate the possibilities by semicolons. \n\n" + prompt 
          # Provide your answer in JSON form."
          # Reply with only the answer in JSON form and include no other commentary"
        },
          {"role":"user", 
           "content":q}]
          )
    gpt_sql_global_schema.append(response.choices[0].message.content)
    print(response.choices[0].message.content)
df['gpt_sql_global_schema']=gpt_sql_global_schema
df.to_csv('/home/skikk/Dokumente/uni/WS2324/MIT/llm-enterprise/data/gpt_sql_v0.csv', index=False)

SELECT COUNT(*) FROM HR_ORG_UNIT WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID, SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID
SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_ID NOT IN (SELECT HR_ORG_UNIT_ID FROM HR_ORG_UNIT)
SELECT DEPARTMENT_NAME, COUNT(*) FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY DEPARTMENT_NAME
SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE < CURRENT_DATE ORDER BY TERM_START_DATE DESC, SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE > CURRENT_DATE ORDER BY TERM_START_DATE ASC, SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE <= CURRENT_DATE AND TERM_END_DATE >= CURRENT_DATE ORDER BY TERM_START_DATE ASC
SELECT SE_PERSON.FULL_NAME, COUNT(DISTINCT OFFICE_LOCATION) AS LOCATION_CHANGES FROM SE_PERSON GROUP BY SE_PERSON.FULL_NAME ORDER BY LOCATION_CHANGES DESC LIMIT 1
SELECT AVG(NUM_ENROLLED_STUDENTS) AS Average_Courses FROM SUBJECT_OFFERED
SELECT MIT_STUDENT_DIRECTORY.FULL_NAME, SE_PERSON.MIT_ID FROM MIT_STUDENT_DIRECTORY INNER JOIN SE_PERSON ON MIT_STUDENT_DIRECTORY.FULL_NAME = SE_PERSON.FULL_NAME WHERE SE_PERSON.EMPLOYEE_TYPE = 'Employee'
SELECT SUBJECT_ID, SUBJECT_TITLE, MIN(TERM_DURATION) AS SHORTEST_DURATION FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE IS_CURRENT_TERM = 'Y'
SELECT FCLT_BUILDING.BUILDING_NAME, FAC_BUILDING_ADDRESS.STREET_NUMBER, FAC_BUILDING_ADDRESS.STREET_NAME, FAC_BUILDING_ADDRESS.CITY, FAC_BUILDING_ADDRESS.STATE, FAC_BUILDING_ADDRESS.POSTAL_CODE FROM FCLT_BUILDING INNER JOIN FAC_BUILDING_ADDRESS ON FCLT_BUILDING.FCLT_BUILDING_KEY = FAC_BUILDING_ADDRESS.BUILDING_KEY
SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY
SELECT TIP_MATERIAL_STATUS FROM TIP_MATERIAL_STATUS
SELECT DISTINCT CITY_NAME FROM ZIP_USA, SELECT DISTINCT CITY_NAME FROM ZIP_CANADA
SELECT AVG(course_count) FROM (SELECT DEPARTMENT_CODE, COUNT(*) as course_count FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY DEPARTMENT_CODE HAVING COUNT(*) > 100)
SELECT COUNT(*) FROM FCLT_ROOMS WHERE FCLT_BUILDING_KEY = 'building_key_value'
SELECT FCLT_BUILDING_KEY, COUNT(SPACE_UNIT_KEY) AS NUM_SPACE_UNITS FROM SPACE_DETAIL GROUP BY FCLT_BUILDING_KEY
SELECT TERM_START_DATE FROM ACADEMIC_TERMS WHERE TERM_DESCRIPTION IN ('Regular', 'Initial')
SELECT OFFER_DEPT_NAME, COUNT(*) AS NUM_COURSES FROM SUBJECT_OFFERED GROUP BY OFFER_DEPT_NAME ORDER BY NUM_COURSES DESC LIMIT 3, SELECT DEPARTMENT_NAME, COUNT(*) AS NUM_COURSES FROM DRUPAL_COURSE_CATALOG GROUP BY DEPARTMENT_NAME ORDER BY NUM_COURSES DESC LIMIT 3, SELECT DEPARTMENT_NAME, COUNT(*) AS NUM_COURSES FROM CIS_COURSE_CATALOG GROUP BY DEPARTMENT_NAME ORDER BY NUM_COURSES DESC LIMIT 3
SELECT OFFICE_LOCATION FROM SE_PERSON WHERE FULL_NAME = 'Michael Stonebraker'
SELECT E1.FULL_NAME FROM SE_PERSON E1, SE_PERSON E2 WHERE E1.FULL_NAME = E2.FULL_NAME AND E1.MIT_ID != E2.MIT_ID
SELECT SUBJECT_TITLE FROM SUBJECT_ENROLLABLE WHERE DEPARTMENT_CODE = 'CS'
SELECT DEPARTMENT, COUNT(*) AS STUDENT_COUNT FROM MIT_STUDENT_DIRECTORY GROUP BY DEPARTMENT
SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SUBJECT_CATEGORY
SELECT CITY_NAME FROM ZIP_USA WHERE ZIP_CODE = '501'
SELECT COUNT(*) FROM SE_PERSON WHERE EMPLOYEE_TYPE IS NOT NULL
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_CODE) AS NUM_DEPARTMENTS FROM HR_ORG_UNIT GROUP BY SCHOOL_NAME
SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM SE_PERSON WHERE FULL_NAME = 'Michael', SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM DRUPAL_EMPLOYEE_DIRECTORY WHERE FULL_NAME = 'Michael', SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM EMPLOYEE_DIRECTORY WHERE FULL_NAME = 'Michael'
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_CODE) AS NUM_DEPARTMENTS FROM STUDENT_DEPARTMENT GROUP BY SCHOOL_NAME ORDER BY NUM_DEPARTMENTS DESC LIMIT 1
SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY SUBJECT_ID, SUBJECT_TITLE, SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM DRUPAL_COURSE_CATALOG GROUP BY SUBJECT_ID, SUBJECT_TITLE, SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM CIS_COURSE_CATALOG GROUP BY SUBJECT_ID, SUBJECT_TITLE
SELECT TOP_LEVEL_DOMAIN FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVEL_DOMAIN_DESCRIPTION = 'Brazil'
SELECT TERM_START_DATE FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_NAME = 'Computer Science' AND TERM_DURATION < 100
SELECT SUBJECT_ID, SUBJECT_TITLE, FORMAT FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 800
SELECT TIP_MATERIAL_KEY, COUNT(*) AS USAGE_COUNT FROM TIP_DETAIL GROUP BY TIP_MATERIAL_KEY ORDER BY USAGE_COUNT DESC LIMIT 1
SELECT ACTIVITY_TITLE, SESSION_LOCATION, RESPONSIBLE_FACULTY_NAME FROM IAP_SUBJECT_DETAIL ORDER BY SESSION_START_TIME
SELECT TITLE, ISBN FROM TIP_MATERIAL ORDER BY NEW_SHELF_PRICE ASC, USED_SHELF_PRICE ASC, RENTAL_NEW_PRICE ASC, RENTAL_USED_PRICE ASC
SELECT SUBJECT_ID, TERM_START_DATE FROM ACADEMIC_TERMS ORDER BY TERM_START_DATE ASC LIMIT 10
SELECT COUNT(*) FROM (SELECT DEPARTMENT, COUNT(*) as student_count FROM MIT_STUDENT_DIRECTORY GROUP BY DEPARTMENT) WHERE student_count < 300
SELECT HR_ORG_UNIT_TITLE, COUNT(DISTINCT PAYROLL_RANK) AS NUM_PAYROLL_RANKS FROM SE_PERSON GROUP BY HR_ORG_UNIT_TITLE ORDER BY NUM_PAYROLL_RANKS DESC LIMIT 1
SELECT EMAIL_ADDRESS, FULL_NAME FROM MIT_STUDENT_DIRECTORY WHERE FIRST_NAME = 'Carole', SELECT EMAIL_ADDRESS, FULL_NAME FROM DRUPAL_EMPLOYEE_DIRECTORY WHERE FIRST_NAME = 'Carole'
SELECT DISTINCT PAYROLL_RANK FROM SE_PERSON
SELECT FCLT_BUILDING.BUILDING_NAME FROM FCLT_BUILDING INNER JOIN HR_ORG_UNIT ON FCLT_BUILDING.FCLT_BUILDING_KEY = HR_ORG_UNIT.HR_ORG_UNIT_KEY WHERE FCLT_BUILDING.DATE_BUILT < '1950' AND HR_ORG_UNIT.EMPLOYEE_COUNT > 100
SELECT COUNT(*) FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_NAME = 'Centre for International Studies'
SELECT COUNT(*) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100, SELECT COUNT(*) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100, SELECT COUNT(*) FROM LIBRARY_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
SELECT OFFICE_LOCATION, COUNT(*) FROM SE_PERSON GROUP BY OFFICE_LOCATION HAVING COUNT(*) > 1
SELECT SUBJECT_GROUP_ID, COUNT(*) AS NUMBER_OF_COURSES FROM ACADEMIC_TERMS WHERE MONTH(TERM_START_DATE) = 3 GROUP BY SUBJECT_GROUP_ID
SELECT LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NAME, LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM LIBRARY_COURSE_INSTRUCTOR JOIN TIP_SUBJECT_OFFERED ON LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NAME, LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME

SELECT DRUPAL_COURSE_CATALOG.RESPONSIBLE_FACULTY_NAME, DRUPAL_COURSE_CATALOG.SUBJECT_TITLE, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM DRUPAL_COURSE_CATALOG JOIN TIP_SUBJECT_OFFERED ON DRUPAL_COURSE_CATALOG.SUBJECT_TITLE = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY DRUPAL_COURSE_CATALOG.RESPONSIBLE_FACULTY_NAME, DRUPAL_COURSE_CATALOG.SUBJECT_TITLE

SELECT COURSE_CATALOG_SUBJECT_OFFERED.RESPONSIBLE_FACULTY_NAME, COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM COURSE_CATALOG_SUBJECT_OFFERED JOIN TIP_SUBJECT_OFFERED ON COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY COURSE_CATALOG_SUBJECT_OFFERED.RESPONSIBLE_FACULTY_NAME, COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE
SELECT FCLT_BUILDING.BUILDING_NAME, MAX(FCLT_ROOMS.NUM_ENROLLED_STUDENTS) FROM FCLT_BUILDING JOIN FCLT_ROOMS ON FCLT_BUILDING.FCLT_BUILDING_KEY = FCLT_ROOMS.FCLT_BUILDING_KEY GROUP BY FCLT_BUILDING.BUILDING_NAME
SELECT FCLT_BUILDING.BUILDING_NAME, AVG(FAC_FLOOR.NUM_OF_ROOMS) AS AVG_ROOMS_PER_FLOOR FROM FCLT_BUILDING JOIN FAC_FLOOR ON FCLT_BUILDING.FCLT_BUILDING_KEY = FAC_FLOOR.BUILDING_KEY GROUP BY FCLT_BUILDING.BUILDING_NAME ORDER BY AVG_ROOMS_PER_FLOOR DESC LIMIT 1
SELECT MAJOR_USE_DESC, COUNT(*) AS COUNT FROM FCLT_ROOMS GROUP BY MAJOR_USE_DESC ORDER BY COUNT DESC LIMIT 1
SELECT IAP_SUBJECT_PERSON.PERSON_NAME, COUNT(IAP_SUBJECT_SESSION.SESSION_SEQUENCE) AS SESSION_COUNT FROM IAP_SUBJECT_PERSON INNER JOIN IAP_SUBJECT_SESSION ON IAP_SUBJECT_PERSON.IAP_SUBJECT_PERSON_KEY = IAP_SUBJECT_SESSION.IAP_SUBJECT_SESSION_KEY WHERE IAP_SUBJECT_PERSON.PERSON_ROLE = 'Instructor' GROUP BY IAP_SUBJECT_PERSON.PERSON_NAME ORDER BY SESSION_COUNT DESC LIMIT 1
SELECT BUILDING_NAME_LONG, MAX(EXT_GROSS_AREA) FROM FCLT_BUILDING

In [44]:
df['gpt_sql_global_schema']=gpt_sql_global_schema

In [45]:
df

,question,sql,tables,gpt_sql_nocontext,gpt_sql_global_schema
0,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]",SELECT COUNT(*) FROM hr_organization_units WHE...,SELECT COUNT(*) FROM HR_ORG_UNIT WHERE HR_ORG_...
1,How many organisation units in human resources...,[SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY ...,"[HR_ORG_UNIT_NEW, HR_ORG_UNIT]",SELECT COUNT(*) FROM human_resources WHERE is_...,SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_...
2,COUNT the number of courses offered by each de...,"[SELECT DEPARTMENT_CODE, COUNT(*) AS COURSE_CO...","[CIS_COURSE_CATALOG, COURSE_CATALOG_SUBJECT_OF...","""SELECT department_id, COUNT(*) FROM courses G...","SELECT DEPARTMENT_NAME, COUNT(*) FROM COURSE_C..."
3,"What are the past, upcoming, and current courses?","[SELECT DISTINCT SUBJECT_TITLE, EFFECTIVE_TERM...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO...",SELECT * FROM courses WHERE course_date < CURR...,SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_...
4,Which faculty has had the most location changes?,[SELECT MAX(CNT) FROM (SELECT COUNT(*) AS CNT ...,[FCLT_BUILDING_ADDRESS_HIST],"SELECT faculty_id, COUNT(DISTINCT location_id)...","SELECT SE_PERSON.FULL_NAME, COUNT(DISTINCT OFF..."
5,What is the average number of courses a studen...,[SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT ...,"[MIT_STUDENT_DIRECTORY, CIS_COURSE_CATALOG, MI...",SELECT AVG(course_count) FROM (SELECT student_...,SELECT AVG(NUM_ENROLLED_STUDENTS) AS Average_C...
6,Which students are employed by mit?,[SELECT DISTINCT EMPL.FULL_NAME FROM MIT_STUDE...,"[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY, MI...",SELECT student_id FROM students WHERE employme...,"SELECT MIT_STUDENT_DIRECTORY.FULL_NAME, SE_PER..."
7,What is the shortest course available this sem...,"[SELECT DISTINCT SUBJECT_TITLE, TERM_END_DATE ...","[ACADEMIC_TERMS, CIS_COURSE_CATALOG, ACADEMIC_...",SELECT MIN(course_length) FROM courses WHERE s...,"SELECT SUBJECT_ID, SUBJECT_TITLE, MIN(TERM_DUR..."
8,Show buildings and their address.,"[SELECT FB.BUILDING_NAME, FBA.* FROM FAC_BUILD...","[FAC_BUILDING, FAC_BUILDING_ADDRESS]","SELECT building_name, building_address FROM bu...","SELECT FCLT_BUILDING.BUILDING_NAME, FAC_BUILDI..."
9,How many students do we have?,[SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY;],[MIT_STUDENT_DIRECTORY],"SELECT COUNT(*) FROM students, SELECT COUNT(st...",SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY
10,Show all statuses for materials?,[SELECT DISTINCT LIBRARY_MATERIAL_STATUS FROM ...,"[LIBRARY_MATERIAL_STATUS, TIP_MATERIAL_STATUS]","SELECT status FROM materials, SELECT DISTINCT ...",SELECT TIP_MATERIAL_STATUS FROM TIP_MATERIAL_S...
11,What are the different cities WHERE people live?,[SELECT DISTINCT CITY_NAME FROM ZIP_USA UNION ...,"[ZIP_USA, ZIP_CANADA]","SELECT DISTINCT city FROM person, SELECT DISTI...","SELECT DISTINCT CITY_NAME FROM ZIP_USA, SELECT..."
12,Give the average number of courses in one depa...,[SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT D...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...",SELECT AVG(course_count) FROM (SELECT departme...,SELECT AVG(course_count) FROM (SELECT DEPARTME...
13,Count the number of rooms in a building.,"[SELECT DISTINCT BUILDING_NAME_LONG, COUNT(*) ...","[FCLT_ROOMS, FCLT_BUILDING, FAC_ROOMS, FAC_BUI...",SELECT COUNT(*) FROM rooms WHERE building_id =...,SELECT COUNT(*) FROM FCLT_ROOMS WHERE FCLT_BUI...
14,Count the number of space-units per building.,"[SELECT DISTINCT BUILDING_NAME_LONG, NUM_SPACE...","[SPACE_DETAIL, FAC_BUILDING, SPACE_DETAIL, FCL...","SELECT building_id, COUNT(space_unit_id) AS sp...","SELECT FCLT_BUILDING_KEY, COUNT(SPACE_UNIT_KEY..."
15,For courses that have descriptions of Regular ...,"[SELECT SUBJECT_TITLE, TERM_START_DATE FROM (S...","[CIS_COURSE_CATALOG, ACADEMIC_TERM_PARAMETER, ...",SELECT start_date FROM courses WHERE descripti...,SELECT TERM_START_DATE FROM ACADEMIC_TERMS WHE...
16,What are the names of the 3 departments which ...,[SELECT * FROM (SELECT DISTINCT DEPARTMENT_NAM...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...","SELECT department_name, COUNT(*) AS course_cou...","SELECT OFFER_DEPT_NAME, COUNT(*) AS NUM_COURSE..."
17,WHERE is Prof. Michael Stonebraker's office?,"[SELECT ROOM, FLOOR, FAC_BUILDING_ADDRESS.* FR...","[EMPLOYEE_DIRECTORY, FAC_ROOMS, FAC_BUILDING_A...",SELECT office_location FROM faculty WHERE name...,SELECT OFFICE_LOCATION FROM SE_PERSON WHERE FU...
18,Which employees at MIT have a namesake?,"[SELECT DISTINCT MIT_ID, EMPLOYEE.* FROM (SELE...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]","SELECT e1.employee_id, e1.employee_name FROM e...","SELECT E1.FULL_NAME FROM SE_PERSON E1, SE_PERS..."
19,Show the name for subjects which are enrollabl...,[SELECT DISTINCT SUBJECT_TITLE FROM CIS_COURS...,"[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...",SELECT subject_name FROM subjects WHERE enroll...,SELECT SUBJECT_TITLE FROM SUBJECT_ENROLLABLE W...
20,How many students does each department have?,"[SELECT DEPARTMENT_NAME, COUNT(*) OVER (PARTIT...",[MIT_STUDENT_DIRECTORY],"SELECT department_id, COUNT(student_id) AS num...","SELECT DEPARTMENT, COUNT(*) AS STUDENT_COUNT F..."
21,What categories are there for independent acti...,[SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SU...,[IAP_SUBJECT_CATEGORY],SELECT DISTINCT category FROM independent_acti...,SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SUB...
22,Find the city with the post code 501.,"[SELECT COUNT(*) FROM ((SELECT ZIP_CODE, CITY_...","[ZIP_USA, ZIP_CANADA]",SELECT city FROM address WHERE postal_code = '...,SELECT CITY_NAME FROM ZIP_USA WHERE ZIP_CODE =...
23,How many employees are there all in all?,[SELECT COUNT(DISTINCT MIT_ID) FROM EMPLOYEE_D...,"[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]","SELECT COUNT(*) FROM employees, SELECT COUNT(e...",SELECT COUNT(*) FROM SE_PERSON WHERE EMPLOYEE_...
24,How many departments does each school have?,"[SELECT DISTINCT SCHOOL_NAME, COUNT(DEPARTMENT...",[STUDENT_DEPARTMENT],"SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_...","SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_..."
25,"Show the name, kerberos credentials, and email...","[SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FRO...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY]","SELECT name, kerberos_id, email FROM employees...","SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM..."
26,Show the school with the largest number of dep...,[SELECT * FROM (SELECT * FROM (SELECT DISTINCT...,[STUDENT_DEPARTMENT],"SELECT SCHOOL_NAME, COUNT(*) AS DEPARTMENT_COU...","SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_..."
27,What are the courses with the maximum number o...,"[SELECT * FROM CIS_COURSE_CATALOG, (SELECT MAX...","[CIS_COURSE_CATALOG, DRUPAL_COURSE_CATALOG, CO...","SELECT course_id, course_name, MAX(units) FROM...","SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UN..."
28,What is the TDL for Brazil?,[SELECT * FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVE...,[TOP_LEVEL_DOMAIN],SELECT TDL FROM COUNTRY WHERE NAME = 'Brazil',SELECT TOP_LEVEL_DOMAIN FROM TOP_LEVEL_DOMAIN ...
29,What are all the different start dates of cour...,"[SELECT DISTINCT * FROM (SELECT SUBJECT_TITLE,...","[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO...",SELECT start_date FROM courses WHERE departmen...,SELECT TERM_START_DATE FROM COURSE_CATALOG_SUB...
30,List the courses and format for all courses th...,"[SELECT DISTINCT SUBJECT_TITLE, FORM_TYPE, NUM...","[SUBJECT_OFFERED, SUBJECT_OFFERED_SUMMARY, TIP...","SELECT course_name, course_format FROM courses...","SELECT SUBJECT_ID, SUBJECT_TITLE, FORMAT FROM ..."
31,Which textbook-material is used the most often?,"[SELECT * FROM (SELECT C.TITLE, C.ISBN, COUNT(...","[TIP_DETAIL, TIP_SUBJECT_OFFERED, TIP_MATERIAL]","SELECT textbook_material, COUNT(*) AS usage_co...","SELECT TIP_MATERIAL_KEY, COUNT(*) AS USAGE_COU..."
32,"Show activity title, location, and supervisor ...","[SELECT DISTINCT ACTIVITY_TITLE, SESSION_LOCAT...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON, ACADE...","SELECT activity_title, location, supervisor FR...","SELECT ACTIVITY_TITLE, SESSION_LOCATION, RESPO..."
33,What are the titles and isbn numbers for all m...,"[SELECT DISTINCT TITLE, ISBN, NEW_SHELF_PRICE ...",[TIP_MATERIAL],"SELECT title, isbn FROM materials ORDER BY pri...","SELECT TITLE, ISBN FROM TIP_MATERIAL ORDER BY ..."
34,Which were the first registered subjects?,[SELECT SUBJECT_TITLE FROM CIS_COURSE_CATALOG ...,"[CIS_COURSE_CATALOG, ACADEMIC_TERMS, DRUPAL_CO...",SELECT * FROM subjects ORDER BY registration_d...,"SELECT SUBJECT_ID, TERM_START_DATE FROM ACADEM..."
35,How many departments have less than 300 students?,"[SELECT COUNT(*) FROM (SELECT DEPARTMENT_NAME,...",[MIT_STUDENT_DIRECTORY],SELECT COUNT(*) FROM Departments WHERE NumberO...,"SELECT COUNT(*) FROM (SELECT DEPARTMENT, COUNT..."
36,Which department has the most kinds of payroll...,[SELECT * FROM (SELECT DISTINCT DEPARTMENT_NAM...,"[SE_PERSON, EMPLOYEE_DIRECTORY, SE_PERSON, DRU...","SELECT department_id, COUNT(DISTINCT payroll_r...","SELECT HR_ORG_UNIT_TITLE, COUNT(DISTINCT PAYRO..."
37,List email adress and names of student and emp...,"[SELECT * FROM (SELECT DISTINCT FIRST_NAME, FU...","[MIT_STUDENT_DIRECTORY, EMPLOYEE_DIRECTORY, MI...","SELECT email, first_name, last_name FROM stude...","SELECT EMAIL_ADDRESS, FULL_NAME FROM MIT_STUDE..."
38,what are the different payment roll ranks?,[SELECT DISTINCT PAYROLL_RANK FROM SE_PERSON;],[SE_PERSON],"SELECT DISTINCT roll_rank FROM payment_table, ...",SELECT DISTINCT PAYROLL_RANK FROM SE_PERSON
39,List buildings which were build before 1950 an...,[SELECT * FROM (SELECT DISTINCT BUILDING_NAME_...,"[FCLT_BUILDING_HIST, FCLT_ROOMS, EMPLOYEE_DIRE...",SELECT building_name FROM buildings WHERE year...,SELECT FCLT_BUILDING.BUILDING_NAME FROM FCLT_B...
40,How many courses are there in the centre for i...,[SELECT COUNT(DISTINCT SUBJECT_ID) FROM CIS_CO...,[CIS_COURSE_CATALOG],SELECT COUNT(*) FROM courses WHERE department ...,SELECT COUNT(*) FROM COURSE_CATALOG_SUBJECT_OF...
41,What is the number of offered courses WHERE mo...,[SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJEC...,"[SUBJECT_OFFERED, SUBJECT_OFFERED_SUMMARY, TIP...",SELECT COUNT(*) FROM courses WHERE enrollment ...,SELECT COUNT(*) FROM SUBJECT_OFFERED WHERE NUM...
42,Who is sharing his office with at least one ot...,"[SELECT DISTINCT MIT_ID, FULL_NAME, A.OFFICE_L...","[EMPLOYEE_DIRECTORY, DRUPAL_EMPLOYEE_DIRECTORY...",SELECT employee_name FROM employee_table WHERE...,"SELECT OFFICE_LOCATION, COUNT(*) FROM SE_PERSO..."
43,List the subject-groups and their number of co...,"[SELECT DISTINCT SUBJECT_GROUPING_ID, COUNT(SU...","[SUBJECT_SUMMARY, ACADEMIC_TERMS_ALL, SUBJECT_...","SELECT subject_group, COUNT(*) FROM courses WH...","SELECT SUBJECT_GROUP_ID, COUNT(*) AS NUMBER_OF..."
44,"List course instructors, their courses and the...","[SELECT DISTINCT INSTRUCTOR_NAME, SUBJECT_TIT...","[LIBRARY_COURSE_INSTRUCTOR, LIBRARY_RESERVE_MA...","SELECT instructors.name, courses.course_name, ...",SELECT LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NA...
45,Which building accomodates the most students?,"[SELECT * FROM( SELECT DISTINCT BUILDING_NAME,...","[FCLT_ROOMS, MIT_STUDENT_DIRECTORY, FCLT_BUILD...","SELECT building_name, COUNT(student_id) AS stu...","SELECT FCLT_BUILDING.BUILDING_NAME, MAX(FCLT_R..."
46,Which building has on average the most rooms p...,"[SELECT DISTINCT BUILDING_NAME, NUM_ROOMS/NUM_...","[FCLT_ROOMS, FCLT_BUILDING, FAC_ROOMS, FAC_BUI...","SELECT building_name, AVG(num_rooms) as avg_ro...","SELECT FCLT_BUILDING.BUILDING_NAME, AVG(FAC_FL..."
47,What is the most common usage for all rooms.,"[SELECT * FROM(SELECT DISTINCT MAJOR_USE, NUM_...","[FCLT_ROOMS, FCLT_MAJOR_USE, FAC_ROOMS, FAC_MA...","SELECT room_usage, COUNT(*) AS usage_count FRO...","SELECT MAJOR_USE_DESC, COUNT(*) AS COUNT FROM ..."
48,Which IAP instructor has held the most session...,"[SELECT * FROM (SELECT DISTINCT PERSON_NAME, A...","[IAP_SUBJECT_DETAIL, IAP_SUBJECT_PERSON]","SELECT instructor_name, course_id, COUNT(*) as...","SELECT IAP_SUBJECT_PERSON.PERSON_NAME, COUNT(I..."
49,What is the largest building?,"[SELECT * FROM(SELECT DISTINCT BUILDING_KEY, S...","[SPACE_DETAIL, FCLT_FLOOR, FAC_FLOOR]",SELECT building_name FROM buildings ORDER BY b...,"SELECT BUILDING_NAME_LONG, MAX(EXT_GROSS_AREA)..."

# Data Cleaning of the gerenated answers.

In [60]:
splitted_sql = []
for i in range(len(df)):
    splitted_sql.append(df['gpt_sql_global_schema'][i].split(';'))
    if '\n' in df['gpt_sql_global_schema'][i] or '\\' in df['gpt_sql_global_schema'][i] or '"' in df['gpt_sql_global_schema'][i][0]:
        print("Pay attention to other splitting elements which GPT could have used...")
df['gpt_sql_global_schema'] = splitted_sql

# Generated for all answers of GPT a seperate ROW

In [91]:
question = []
sql = []
tables = []
gpt_sql_nocontext = []
for i in range(len(df_q)):
    for j in range(len(df_q['gpt_sql_nocontext'][i])):
        gpt_sql_nocontext.append(df_q['gpt_sql_nocontext'][i][j])
        question.append(df_q['question'][i])
        sql.append(df_q['query'][i])
        tables.append(df_q['tables'][i])
data = {
    'question': question,
    'sql': sql,
    'tables': tables,
    'gpt_sql_nocontext': gpt_sql_nocontext
}
df = pd.DataFrame(data)
df

,question,sql,tables,gpt_sql_nocontext
0,What are the names of the amenities that Smith Hall has?,SELECT T3.amenity_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T1.dorm_name = 'Smith Hall',"[DORM, HAS_AMENITY, DORM_AMENITY]",SELECT Amenities.amenity FROM Amenities JOIN Dorms ON Amenities.dorm_id = Dorms.dorm_id WHERE Dorms.name = 'Smith Hall'
1,What are the names of the amenities that Smith Hall has?,SELECT T3.amenity_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T1.dorm_name = 'Smith Hall',"[DORM, HAS_AMENITY, DORM_AMENITY]",SELECT amenity FROM Amenities WHERE dorm_id = (SELECT dorm_id FROM Dorms WHERE name = 'Smith Hall')
2,How many dorms are there and what is the total capacity for each gender?,"SELECT count(*) , sum(student_capacity) , gender FROM dorm GROUP BY gender",[DORM],"SELECT COUNT(*), gender, SUM(capacity) FROM dorm GROUP BY gender"
3,Find the number of amenities for each of the dorms that can accommodate more than 100 students.,"SELECT count(*) , T1.dormid FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid WHERE T1.student_capacity > 100 GROUP BY T1.dormid","[DORM, HAS_AMENITY]","SELECT Dorms.dorm_name, COUNT(Amenities.amenity) AS number_of_amenities FROM Dorms JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Dorms.capacity > 100 GROUP BY Dorms.dorm_name"
4,Find the number of amenities for each of the dorms that can accommodate more than 100 students.,"SELECT count(*) , T1.dormid FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid WHERE T1.student_capacity > 100 GROUP BY T1.dormid","[DORM, HAS_AMENITY]","SELECT Dorms.dorm_name, COUNT(Amenities.amenity) AS number_of_amenities FROM Dorms LEFT JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Dorms.capacity > 100 GROUP BY Dorms.dorm_name"
...,...,...,...,...
61,How many female students live in Smith Hall?,SELECT count(*) FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T3.dorm_name = 'Smith Hall' AND T1.sex = 'F',"[STUDENT, LIVES_IN, DORM]",SELECT COUNT(*) FROM student WHERE gender = 'Female' AND dorm_id = (SELECT id FROM dorm WHERE name = 'Smith Hall')
62,How many female students live in Smith Hall?,SELECT count(*) FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T3.dorm_name = 'Smith Hall' AND T1.sex = 'F',"[STUDENT, LIVES_IN, DORM]",SELECT COUNT(*) FROM student INNER JOIN dorm ON student.dorm_id = dorm.id WHERE student.gender = 'Female' AND dorm.name = 'Smith Hall'
63,What are the names of all the dorms that don't have any amenities?,SELECT dorm_name FROM dorm WHERE dormid NOT IN (SELECT dormid FROM has_amenity),"[DORM, HAS_AMENITY]",SELECT Dorms.dorm_name FROM Dorms LEFT JOIN Amenities ON Dorms.dorm_id = Amenities.dorm_id WHERE Amenities.dorm_id IS NULL
64,Find the number of students for the cities where have more than one student.,"SELECT count(*) , city_code FROM student GROUP BY city_code HAVING count(*) > 1",[STUDENT],"SELECT city, COUNT(*) as num_students FROM student GROUP BY city HAVING COUNT(*) > 1"
65,How many diffrent dorm amenities are there?,SELECT count(*) FROM dorm_amenity,[DORM_AMENITY],SELECT COUNT(DISTINCT amenity) FROM Dorm_amenities

# Detect all relevant tables GPT used.
Starting with the tables used by the GPT without any context.

In [92]:
tables = []
for q in df['gpt_sql_nocontext']:
    try: 
        t = Parser(q).tables
        tables.append([v.upper() for v in t])
    except:
        tables.append(None)
tables

[['AMENITIES', 'DORMS'],
 ['AMENITIES', 'DORMS'],
 ['DORM'],
 ['DORMS', 'AMENITIES'],
 ['DORMS', 'AMENITIES'],
 ['STUDENT'],
 ['STUDENT'],
 ['STUDENT'],
 ['STUDENT'],
 ['DORM_AMENITIES'],
 ['STUDENT', 'DORM'],
 ['STUDENT', 'DORM'],
 ['DORM'],
 ['DORM'],
 ['STUDENT'],
 ['DORM'],
 ['STUDENT'],
 ['STUDENT'],
 ['DORM', 'DORM_AMENITIES'],
 ['DORM', 'DORM_AMENITIES'],
 ['STUDENT'],
 ['STUDENT', 'DORM'],
 ['STUDENT', 'DORM'],
 ['STUDENT', 'DORM'],
 ['STUDENT', 'DORM'],
 ['AMENITIES'],
 ['DORM'],
 ['STUDENT'],
 ['STUDENT', 'DORM'],
 ['STUDENT', 'DORM', 'DORM_AMENITIES'],
 ['DORM_1'],
 ['AMENITIES'],
 ['DORM', 'STUDENT'],
 ['DORM'],
 ['DORM'],
 ['STUDENT', 'DORM', 'DORM_AMENITIES'],
 ['STUDENT', 'DORM', 'DORM_AMENITIES'],
 ['STUDENT'],
 ['STUDENT'],
 ['DORM'],
 ['STUDENT'],
 ['DORM_1'],
 ['DORM_1'],
 ['DORM_1'],
 ['DORM'],
 ['DORM_INFO'],
 ['STUDENT'],
 ['STUDENT'],
 ['STUDENT'],
 ['STUDENT'],
 ['STUDENT'],
 ['DORM_INFO'],
 ['STUDENT'],
 ['STUDENT'],
 ['STUDENT'],
 ['DORM', 'DORM_AMENITIES'],
 ['STUDENT'],
 ['STUDENT', 'DORM'],
 ['STUDENT', 'DORM'],
 ['STUDENT'],
 ['DORM_1'],
 ['STUDENT', 'DORM'],
 ['STUDENT', 'DORM'],
 ['DORMS', 'AMENITIES'],
 ['STUDENT'],
 ['DORM_AMENITIES']]

In [93]:
df['tables_referred_by_gpt_sql_nocontext'] = tables

And then detecting the tables used by the GPT with the table-schemas.

In [86]:
tables = []
cnt = 0 
for q in df_q['gpt_sql_global_schema']:
    print(q)
    cnt = cnt + 1
    try: 
        t = Parser(q).tables
        tables.append([v.upper() for v in t])
    except:
        tables.append(None)
df_q['tables_referred_by_gpt_sql_global_schema'] = tables

SELECT COUNT(*) FROM HR_ORG_UNIT WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID
SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID
SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_ID NOT IN (SELECT HR_ORG_UNIT_ID FROM HR_ORG_UNIT)
SELECT DEPARTMENT_NAME, COUNT(*) FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY DEPARTMENT_NAME
SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE < CURRENT_DATE ORDER BY TERM_START_DATE DESC
SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE > CURRENT_DATE ORDER BY TERM_START_DATE ASC
SELECT * FROM ACADEMIC_TERMS WHERE TERM_START_DATE <= CURRENT_DATE AND TERM_END_DATE >= CURRENT_DATE ORDER BY TERM_START_DATE ASC
SELECT SE_PERSON.FULL_NAME, COUNT(DISTINCT OFFICE_LOCATION) AS LOCATION_CHANGES FROM SE_PERSON GROUP BY SE_PERSON.FULL_NAME ORDER BY LOCATION_CHANGES DESC LIMIT 1
SELECT AVG(NUM_ENROLLED_STUDENTS) AS Average_Courses FROM SUBJECT_OFFERED
SELECT MIT_STUDENT_DIRECTORY.FULL_NAME, SE_PERSON.MIT_ID FROM MIT_STUDENT_DIRECTORY INNER JOIN SE_PERSON ON MIT_STUDENT_DIRECTORY.FULL_NAME = SE_PERSON.FULL_NAME WHERE SE_PERSON.EMPLOYEE_TYPE = 'Employee'
SELECT SUBJECT_ID, SUBJECT_TITLE, MIN(TERM_DURATION) AS SHORTEST_DURATION FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE IS_CURRENT_TERM = 'Y'
SELECT FCLT_BUILDING.BUILDING_NAME, FAC_BUILDING_ADDRESS.STREET_NUMBER, FAC_BUILDING_ADDRESS.STREET_NAME, FAC_BUILDING_ADDRESS.CITY, FAC_BUILDING_ADDRESS.STATE, FAC_BUILDING_ADDRESS.POSTAL_CODE FROM FCLT_BUILDING INNER JOIN FAC_BUILDING_ADDRESS ON FCLT_BUILDING.FCLT_BUILDING_KEY = FAC_BUILDING_ADDRESS.BUILDING_KEY
SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY
SELECT TIP_MATERIAL_STATUS FROM TIP_MATERIAL_STATUS
SELECT DISTINCT CITY_NAME FROM ZIP_USA
SELECT DISTINCT CITY_NAME FROM ZIP_CANADA
SELECT AVG(course_count) FROM (SELECT DEPARTMENT_CODE, COUNT(*) as course_count FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY DEPARTMENT_CODE HAVING COUNT(*) > 100)
SELECT COUNT(*) FROM FCLT_ROOMS WHERE FCLT_BUILDING_KEY = 'building_key_value'
SELECT FCLT_BUILDING_KEY, COUNT(SPACE_UNIT_KEY) AS NUM_SPACE_UNITS FROM SPACE_DETAIL GROUP BY FCLT_BUILDING_KEY
SELECT TERM_START_DATE FROM ACADEMIC_TERMS WHERE TERM_DESCRIPTION IN ('Regular', 'Initial')
SELECT OFFER_DEPT_NAME, COUNT(*) AS NUM_COURSES FROM SUBJECT_OFFERED GROUP BY OFFER_DEPT_NAME ORDER BY NUM_COURSES DESC LIMIT 3
SELECT DEPARTMENT_NAME, COUNT(*) AS NUM_COURSES FROM DRUPAL_COURSE_CATALOG GROUP BY DEPARTMENT_NAME ORDER BY NUM_COURSES DESC LIMIT 3
SELECT DEPARTMENT_NAME, COUNT(*) AS NUM_COURSES FROM CIS_COURSE_CATALOG GROUP BY DEPARTMENT_NAME ORDER BY NUM_COURSES DESC LIMIT 3
SELECT OFFICE_LOCATION FROM SE_PERSON WHERE FULL_NAME = 'Michael Stonebraker'
SELECT E1.FULL_NAME FROM SE_PERSON E1, SE_PERSON E2 WHERE E1.FULL_NAME = E2.FULL_NAME AND E1.MIT_ID != E2.MIT_ID
SELECT SUBJECT_TITLE FROM SUBJECT_ENROLLABLE WHERE DEPARTMENT_CODE = 'CS'
SELECT DEPARTMENT, COUNT(*) AS STUDENT_COUNT FROM MIT_STUDENT_DIRECTORY GROUP BY DEPARTMENT
SELECT DISTINCT IAP_CATEGORY_NAME FROM IAP_SUBJECT_CATEGORY
SELECT CITY_NAME FROM ZIP_USA WHERE ZIP_CODE = '501'
SELECT COUNT(*) FROM SE_PERSON WHERE EMPLOYEE_TYPE IS NOT NULL
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_CODE) AS NUM_DEPARTMENTS FROM HR_ORG_UNIT GROUP BY SCHOOL_NAME
SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM SE_PERSON WHERE FULL_NAME = 'Michael'
SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM DRUPAL_EMPLOYEE_DIRECTORY WHERE FULL_NAME = 'Michael'
SELECT FULL_NAME, KRB_NAME, EMAIL_ADDRESS FROM EMPLOYEE_DIRECTORY WHERE FULL_NAME = 'Michael'
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_CODE) AS NUM_DEPARTMENTS FROM STUDENT_DEPARTMENT GROUP BY SCHOOL_NAME ORDER BY NUM_DEPARTMENTS DESC LIMIT 1
SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY SUBJECT_ID, SUBJECT_TITLE
SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM DRUPAL_COURSE_CATALOG GROUP BY SUBJECT_ID, SUBJECT_TITLE
SELECT SUBJECT_ID, SUBJECT_TITLE, MAX(TOTAL_UNITS) FROM CIS_COURSE_CATALOG GROUP BY SUBJECT_ID, SUBJECT_TITLE
SELECT TOP_LEVEL_DOMAIN FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVEL_DOMAIN_DESCRIPTION = 'Brazil'
SELECT TERM_START_DATE FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_NAME = 'Computer Science' AND TERM_DURATION < 100
SELECT SUBJECT_ID, SUBJECT_TITLE, FORMAT FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 800
SELECT TIP_MATERIAL_KEY, COUNT(*) AS USAGE_COUNT FROM TIP_DETAIL GROUP BY TIP_MATERIAL_KEY ORDER BY USAGE_COUNT DESC LIMIT 1
SELECT ACTIVITY_TITLE, SESSION_LOCATION, RESPONSIBLE_FACULTY_NAME FROM IAP_SUBJECT_DETAIL ORDER BY SESSION_START_TIME
SELECT TITLE, ISBN FROM TIP_MATERIAL ORDER BY NEW_SHELF_PRICE ASC, USED_SHELF_PRICE ASC, RENTAL_NEW_PRICE ASC, RENTAL_USED_PRICE ASC
SELECT SUBJECT_ID, TERM_START_DATE FROM ACADEMIC_TERMS ORDER BY TERM_START_DATE ASC LIMIT 10
SELECT COUNT(*) FROM (SELECT DEPARTMENT, COUNT(*) as student_count FROM MIT_STUDENT_DIRECTORY GROUP BY DEPARTMENT) WHERE student_count < 300
SELECT HR_ORG_UNIT_TITLE, COUNT(DISTINCT PAYROLL_RANK) AS NUM_PAYROLL_RANKS FROM SE_PERSON GROUP BY HR_ORG_UNIT_TITLE ORDER BY NUM_PAYROLL_RANKS DESC LIMIT 1
SELECT EMAIL_ADDRESS, FULL_NAME FROM MIT_STUDENT_DIRECTORY WHERE FIRST_NAME = 'Carole'
SELECT EMAIL_ADDRESS, FULL_NAME FROM DRUPAL_EMPLOYEE_DIRECTORY WHERE FIRST_NAME = 'Carole'
SELECT DISTINCT PAYROLL_RANK FROM SE_PERSON
SELECT FCLT_BUILDING.BUILDING_NAME FROM FCLT_BUILDING INNER JOIN HR_ORG_UNIT ON FCLT_BUILDING.FCLT_BUILDING_KEY = HR_ORG_UNIT.HR_ORG_UNIT_KEY WHERE FCLT_BUILDING.DATE_BUILT < '1950' AND HR_ORG_UNIT.EMPLOYEE_COUNT > 100
SELECT COUNT(*) FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_NAME = 'Centre for International Studies'
SELECT COUNT(*) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
SELECT COUNT(*) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
SELECT COUNT(*) FROM LIBRARY_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
SELECT OFFICE_LOCATION, COUNT(*) FROM SE_PERSON GROUP BY OFFICE_LOCATION HAVING COUNT(*) > 1
SELECT SUBJECT_GROUP_ID, COUNT(*) AS NUMBER_OF_COURSES FROM ACADEMIC_TERMS WHERE MONTH(TERM_START_DATE) = 3 GROUP BY SUBJECT_GROUP_ID
SELECT LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NAME, LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM LIBRARY_COURSE_INSTRUCTOR JOIN TIP_SUBJECT_OFFERED ON LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY LIBRARY_COURSE_INSTRUCTOR.INSTRUCTOR_NAME, LIBRARY_COURSE_INSTRUCTOR.COURSE_NAME
SELECT DRUPAL_COURSE_CATALOG.RESPONSIBLE_FACULTY_NAME, DRUPAL_COURSE_CATALOG.SUBJECT_TITLE, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM DRUPAL_COURSE_CATALOG JOIN TIP_SUBJECT_OFFERED ON DRUPAL_COURSE_CATALOG.SUBJECT_TITLE = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY DRUPAL_COURSE_CATALOG.RESPONSIBLE_FACULTY_NAME, DRUPAL_COURSE_CATALOG.SUBJECT_TITLE
SELECT COURSE_CATALOG_SUBJECT_OFFERED.RESPONSIBLE_FACULTY_NAME, COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE, COUNT(TIP_MATERIAL.MATERIAL_INFO_SOURCE) AS MATERIAL_COUNT FROM COURSE_CATALOG_SUBJECT_OFFERED JOIN TIP_SUBJECT_OFFERED ON COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE = TIP_SUBJECT_OFFERED.MASTER_COURSE_NUMBER_DESC JOIN TIP_MATERIAL ON TIP_SUBJECT_OFFERED.TIP_SUBJECT_OFFERED_KEY = TIP_MATERIAL.TIP_MATERIAL_KEY GROUP BY COURSE_CATALOG_SUBJECT_OFFERED.RESPONSIBLE_FACULTY_NAME, COURSE_CATALOG_SUBJECT_OFFERED.SUBJECT_TITLE
SELECT FCLT_BUILDING.BUILDING_NAME, MAX(FCLT_ROOMS.NUM_ENROLLED_STUDENTS) FROM FCLT_BUILDING JOIN FCLT_ROOMS ON FCLT_BUILDING.FCLT_BUILDING_KEY = FCLT_ROOMS.FCLT_BUILDING_KEY GROUP BY FCLT_BUILDING.BUILDING_NAME
SELECT FCLT_BUILDING.BUILDING_NAME, AVG(FAC_FLOOR.NUM_OF_ROOMS) AS AVG_ROOMS_PER_FLOOR FROM FCLT_BUILDING JOIN FAC_FLOOR ON FCLT_BUILDING.FCLT_BUILDING_KEY = FAC_FLOOR.BUILDING_KEY GROUP BY FCLT_BUILDING.BUILDING_NAME ORDER BY AVG_ROOMS_PER_FLOOR DESC LIMIT 1
SELECT MAJOR_USE_DESC, COUNT(*) AS COUNT FROM FCLT_ROOMS GROUP BY MAJOR_USE_DESC ORDER BY COUNT DESC LIMIT 1
SELECT IAP_SUBJECT_PERSON.PERSON_NAME, COUNT(IAP_SUBJECT_SESSION.SESSION_SEQUENCE) AS SESSION_COUNT FROM IAP_SUBJECT_PERSON INNER JOIN IAP_SUBJECT_SESSION ON IAP_SUBJECT_PERSON.IAP_SUBJECT_PERSON_KEY = IAP_SUBJECT_SESSION.IAP_SUBJECT_SESSION_KEY WHERE IAP_SUBJECT_PERSON.PERSON_ROLE = 'Instructor' GROUP BY IAP_SUBJECT_PERSON.PERSON_NAME ORDER BY SESSION_COUNT DESC LIMIT 1
SELECT BUILDING_NAME_LONG, MAX(EXT_GROSS_AREA) FROM FCLT_BUILDING

# Save Dataframe with generated answers

In [84]:
df_q.to_csv('/home/skikk/Dokumente/uni/WS2324/MIT/llm-enterprise/data/spiderdata_gpt_sql_v0.0.csv', index=False)
df_q

,db_id,query,question,query_toks,query_toks_no_value,question_toks,tables,gpt_sql_nocontext
0,dorm_1,SELECT T3.amenity_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T1.dorm_name = 'Smith Hall',What are the names of the amenities that Smith Hall has?,"[SELECT, T3.amenity_name, FROM, dorm, AS, T1, JOIN, has_amenity, AS, T2, ON, T1.dormid, =, T2.dormid, JOIN, dorm_amenity, AS, T3, ON, T2.amenid, =, T3.amenid, WHERE, T1.dorm_name, =, 'Smith, Hall, ']","[select, t3, ., amenity_name, from, dorm, as, t1, join, has_amenity, as, t2, on, t1, ., dormid, =, t2, ., dormid, join, dorm_amenity, as, t3, on, t2, ., amenid, =, t3, ., amenid, where, t1, ., dorm_name, =, value]","[What, are, the, names, of, the, amenities, that, Smith, Hall, has, ?]","[DORM, HAS_AMENITY, DORM_AMENITY]","[SELECT amenity FROM amenities WHERE dorm_id = (SELECT id FROM dorms WHERE name = 'Smith Hall'), SELECT a.amenity FROM amenities AS a JOIN dorms AS d ON a.dorm_id = d.id WHERE d.name = 'Smith Hall']"
1,dorm_1,"SELECT count(*) , sum(student_capacity) , gender FROM dorm GROUP BY gender",How many dorms are there and what is the total capacity for each gender?,"[SELECT, count, (, *, ), ,, sum, (, student_capacity, ), ,, gender, FROM, dorm, GROUP, BY, gender]","[select, count, (, *, ), ,, sum, (, student_capacity, ), ,, gender, from, dorm, group, by, gender]","[How, many, dorms, are, there, and, what, is, the, total, capacity, for, each, gender, ?]",[DORM],"[SELECT COUNT(DISTINCT dorm_name), gender, SUM(capacity) FROM dorm_1 GROUP BY gender]"
2,dorm_1,"SELECT count(*) , T1.dormid FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid WHERE T1.student_capacity > 100 GROUP BY T1.dormid",Find the number of amenities for each of the dorms that can accommodate more than 100 students.,"[SELECT, count, (, *, ), ,, T1.dormid, FROM, dorm, AS, T1, JOIN, has_amenity, AS, T2, ON, T1.dormid, =, T2.dormid, WHERE, T1.student_capacity, >, 100, GROUP, BY, T1.dormid]","[select, count, (, *, ), ,, t1, ., dormid, from, dorm, as, t1, join, has_amenity, as, t2, on, t1, ., dormid, =, t2, ., dormid, where, t1, ., student_capacity, >, value, group, by, t1, ., dormid]","[Find, the, number, of, amenities, for, each, of, the, dorms, that, can, accommodate, more, than, 100, students, .]","[DORM, HAS_AMENITY]","[SELECT dorms.dorm_name, COUNT(amenities.amenity) FROM dorms JOIN amenities ON dorms.dorm_id = amenities.dorm_id WHERE dorms.capacity > 100 GROUP BY dorms.dorm_name, SELECT dorms.dorm_name, COUNT(*) AS number_of_amenities FROM dorms INNER JOIN amenities ON dorms.dorm_id = amenities.dorm_id WHERE dorms.capacity > 100 GROUP BY dorms.dorm_name]"
3,dorm_1,SELECT city_code FROM student GROUP BY city_code ORDER BY count(*) DESC LIMIT 1,What is the code of the city with the most students?,"[SELECT, city_code, FROM, student, GROUP, BY, city_code, ORDER, BY, count, (, *, ), DESC, LIMIT, 1]","[select, city_code, from, student, group, by, city_code, order, by, count, (, *, ), desc, limit, value]","[What, is, the, code, of, the, city, with, the, most, students, ?]",[STUDENT],"[SELECT city_code FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1, SELECT city_code FROM student WHERE student_id IN (SELECT student_id FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1)]"
4,dorm_1,SELECT city_code FROM student GROUP BY city_code ORDER BY count(*) DESC LIMIT 1,Find the code of city where most of students are living in.,"[SELECT, city_code, FROM, student, GROUP, BY, city_code, ORDER, BY, count, (, *, ), DESC, LIMIT, 1]","[select, city_code, from, student, group, by, city_code, order, by, count, (, *, ), desc, limit, value]","[Find, the, code, of, city, where, most, of, students, are, living, in, .]",[STUDENT],[SELECT city_code FROM student WHERE count(student_id) = (SELECT MAX(count(student_id)) FROM student GROUP BY city_code)]
...,...,...,...,...,...,...,...,...
45,dorm_1,"SELECT avg(age) , city_code FROM student GROUP BY city_code",What is the average age for each city and what are those cities?,"[SELECT, avg, (, age, ), ,, city_code, FROM, student, GROUP, BY, city_code]","[select, avg, (, age, ), ,, city_code, from, student, group, by, city_code]","[What, is, the, average, age, for, each, city, and, what, are, those, cities, ?]",[STUDENT],"[SELECT city, AVG(age) FROM dorm_1 GROUP BY city]"
46,dorm_1,SELECT count(*) FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T3.dorm_name = 'Smith Hall' AND T1.sex = 'F',How many female students live in Smith Hall?,"[SELECT, count, (, *, ), FROM, student, AS, T1, JOIN, lives_in, AS, T2, ON, T1.stuid, =, T2.stuid, JOIN, dorm, AS, T3, ON, T3.dormid, =, T2.dormid, WHERE, T3.dorm_name, =, 'Smith, Hall, ', AND, T1.sex, =, 'F, ']","[select, count, (, *, ), from, student, as, t1, join, lives_in, as, t2, on, t1, ., stuid, =, t2, ., stuid, join, dorm, as, t3, on, t3, ., dormid, =, t2, ., dormid, where, t3, ., dorm_name, =, value, and, t1, ., sex, =, value]","[How, many, female, students, live, in, Smith, Hall, ?]","[STUDENT, LIVES_IN, DORM]","[SELECT COUNT(*) FROM dorm_1 WHERE gender = 'Female' AND dorm = 'Smith Hall', SELECT COUNT(student_id) FROM dorm_1 WHERE gender = 'Female' AND dorm = 'Smith Hall']"
47,dorm_1,SELECT dorm_name FROM dorm WHERE dormid NOT IN (SELECT dormid FROM has_amenity),What are the names of all the dorms that don't have any amenities?,"[SELECT, dorm_name, FROM, dorm, WHERE, dormid, NOT, IN, (, SELECT, dormid, FROM, has_amenity, )]","[select, dorm_name, from, dorm, where, dormid, not, in, (, select, dormid, from, has_amenity, )]","[What, are, the, names, of, all, the, dorms, that, do, n't, have, any, amenities, ?]","[DORM, HAS_AMENITY]","[SELECT dorm_name FROM dorms LEFT JOIN amenities ON dorms.dorm_id = amenities.dorm_id WHERE amenities.dorm_id IS NULL, SELECT d.dorm_name FROM dorms d WHERE NOT EXISTS (SELECT 1 FROM amenities a WHERE a.dorm_id = d.dorm_id)]"
48,dorm_1,"SELECT count(*) , city_code FROM student GROUP BY city_code HAVING count(*) > 1",Find the number of students for the cities where have more than one student.,"[SELECT, count, (, *, ), ,, city_code, FROM, student, GROUP, BY, city_code, HAVING, count, (, *, ), >, 1]","[select, count, (, *, ), ,, city_code, from, student, group, by, city_code, having, count, (, *, ), >, value]","[Find, the, number, of, students, for, the, cities, where, have, more, than, one, student, .]",[STUDENT],"[SELECT city, COUNT(*) as num_students FROM student GROUP BY city HAVING COUNT(*) > 1]"
49,dorm_1,SELECT count(*) FROM dorm_amenity,How many diffrent dorm amenities are there?,"[SELECT, count, (, *, ), FROM, dorm_amenity]","[select, count, (, *, ), from, dorm_amenity]","[How, many, diffrent, dorm, amenities, are, there, ?]",[DORM_AMENITY],[SELECT COUNT(DISTINCT amenity) FROM dorm_1.amenities]

# READ DATAFRAME

In [ ]:
df_q = pd.read_csv('/home/skikk/Dokumente/uni/WS2324/MIT/llm-enterprise/data/spiderdata_gpt_sql_v0.0.csv')

In [5]:
sql = []
tables = []
tables_referred_by_gpt_sql_global_schema = []
tables_referred_by_gpt_sql_nocontext = []
sql_outputsizes = []
for i in range(len(df_q)):
    sql.append(ast.literal_eval(df_q['sql'][i]))
    tables.append(ast.literal_eval(df_q['tables'][i]))
    tables_referred_by_gpt_sql_global_schema.append(ast.literal_eval(df_q['tables_referred_by_gpt_sql_global_schema'][i]))
    tables_referred_by_gpt_sql_nocontext.append(ast.literal_eval(df_q['tables_referred_by_gpt_sql_nocontext'][i]))
    sql_outputsizes.append(ast.literal_eval(df_q['sql_outputsizes'][i]))
df_q['sql'] = sql
df_q['tables'] = tables
df_q['tables_referred_by_gpt_sql_global_schema'] = tables_referred_by_gpt_sql_global_schema
df_q['tables_referred_by_gpt_sql_nocontext'] = tables_referred_by_gpt_sql_nocontext
df_q['sql_outputsizes'] = sql_outputsizes

In [95]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
df_q

                                                                                                 question  \
0                                           How many organisation units in human resources are relabeled?
1                                           How many organisation units in human resources are relabeled?
2                               How many organisation units in human resources are new and not relabeled?
3                                                 COUNT the number of courses offered by each department.
4                                                       What are the past, upcoming, and current courses?
5                                                       What are the past, upcoming, and current courses?
6                                                       What are the past, upcoming, and current courses?
7                                                        Which faculty has had the most location changes?
8                                          What is the average number of courses a student can enroll in?
9                                                                     Which students are employed by mit?
10                                                   What is the shortest course available this semester?
11                                                                      Show buildings and their address.
12                                                                          How many students do we have?
13                                                                       Show all statuses for materials?
14                                                       What are the different cities WHERE people live?
15                                                       What are the different cities WHERE people live?
16                       Give the average number of courses in one department with more than 100 courses.
17                                                               Count the number of rooms in a building.
18                                                          Count the number of space-units per building.
19                 For courses that have descriptions of Regular and Initial, what are their start dates?
20                     What are the names of the 3 departments which offer the most courses per semester?
21                     What are the names of the 3 departments which offer the most courses per semester?
22                     What are the names of the 3 departments which offer the most courses per semester?
23                                                           WHERE is Prof. Michael Stonebraker's office?
24                                                                Which employees at MIT have a namesake?
25                         Show the name for subjects which are enrollable for Computer Science Students.
26                                                           How many students does each department have?
27                                          What categories are there for independent activities periods?
28                                                                  Find the city with the post code 501.
29                                                               How many employees are there all in all?
30                                                            How many departments does each school have?
31               Show the name, kerberos credentials, and email for the employee with the name 'Michael'.
32               Show the name, kerberos credentials, and email for the employee with the name 'Michael'.
33               Show the name, kerberos credentials, and email for the employee with the name 'Michael'.
34                                                Show the school with the largest number of departments.
35                                                 What are the courses with the maximum number of units?
36                                                 What are the courses with the maximum number of units?
37                                                 What are the courses with the maximum number of units?
38                                                                            What is the TDL for Brazil?
39  What are all the different start dates of courses of computer science that lasted less than 100 days?
40          List the courses and format for all courses that have a number of attendees greater than 800.
41                                                        Which textbook-material is used the most often?
42    Show activity title, location, and supervisor for all independent activities ordered by start-date.
43      What are the titles and isbn numbers for all materials, sorted in ascending order of their price?
44                                                              Which were the first registered subjects?
45                                                      How many departments have less than 300 students?
46                                                  Which department has the most kinds of payroll ranks?
47                        List email adress and names of student and employee whose first name is Carole.
48                        List email adress and names of student and employee whose first name is Carole.
49                                                             what are the different payment roll ranks?
50                          List buildings which were build before 1950 and have more than 100 employees.
51                                    How many courses are there in the centre for international studies?
52                       What is the number of offered courses WHERE more than 100 students are enrolled?
53                       What is the number of offered courses WHERE more than 100 students are enrolled?
54                       What is the number of offered courses WHERE more than 100 students are enrolled?
55                                              Who is sharing his office with at least one other person?
56                              List the subject-groups and their number of courses which start in March?
57                            List course instructors, their courses and the amount of material for them.
58                            List course instructors, their courses and the amount of material for them.
59                            List course instructors, their courses and the amount of material for them.
60                                                          Which building accomodates the most students?
61                                                Which building has on average the most rooms per floor?
62                                                           What is the most common usage for all rooms.
63                                    Which IAP instructor has held the most sessions of the same course?
64                                                                          What is the largest building?

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    sql  \

# Calculate the output-size

In [132]:
def calculate_output_size(query, tables=[]):

    if 'LIMIT' in query:
        contains_limit = True
        limit_number = re.search(r'\bLIMIT\s+(\d+)', query)
        limit_value = int(limit_number.group(1))
        query = query[:query.index('LIMIT ')]
        query = 'SELECT * FROM (' + query + ') WHERE ROWNUM <=' + str(limit_value)
    formatted_query = f"SELECT DISTINCT COUNT(*) FROM({query})"
    rows = execute_query(formatted_query, tables)
    return rows[0][0]

### Calculate outputs for expected and actual results

In [ ]:
sizes = []
for q in df_q['gpt_sql_global_schema']:
    sizes.append(calculate_output_size(q))
    print(calculate_output_size(q))
df_q['gpt_sql_global_schema_outputsizes'] = sizes
sizes = []
cnt = 0
for i in range(len(df_q)):
    size = []
    for j in range(len(df_q['sql'][i])):
        print(df_q['sql'][i][j][:-1])
        output = calculate_output_size(df_q['sql'][i][j][:-1], df_q['tables'][i])
        size.append(output)
        print(output)
    sizes.append(size)
df_q['sql_outputsizes'] = sizes

SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
1
1
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
2
1
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
3
1
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
62
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
62
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
58
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
71
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
0
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
80
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
63
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
74
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
67
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
4
74
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
35302
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
27877
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
35302
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
237
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
0
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
383172
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
381936
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
379572
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
96821
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
381937
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
35455
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);
5
28020
SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);

### Check how many sizes are matching and how many queries are failing

In [9]:
cnt_true = 0
cnt_neg = 0
for i in range(len(df_q)):
    if df_q['gpt_sql_global_schema_outputsizes'][i] in df_q['sql_outputsizes'][i] and df_q['gpt_sql_global_schema_outputsizes'][i]>0:
        cnt_true += 1;
    if df_q['gpt_sql_global_schema_outputsizes'][i] < 0:
        cnt_neg +=1
print(cnt_true)
print(len(df_q))
print(cnt_neg)

21
65
17

# Compare Results
Idea to base the result comparison based on the output size:
<ol>
  <li>We check at first only outputs with the equal amount of rows in their result.</li>
  <li>outputs of size 10 or less are completely computable and every element is comparable (without sorting).</li>
  <li>larger outputs are compared via sorting/hashing and comparison.</li>
  <li>Failing queries should be marked as incorrect attached with their error message.</li>
  <li>(Maybe later for fuzzy comparisons)Manual checks: queries with no output, queries with different dimensions, and duplications.</li>
</ol>

1. We check outputsize and dimensionality.

In [ ]:
correct_size = []
for i in range(len(df_q)):
    if(df_q['gpt_sql_global_schema_outputsizes'][i] not in df_q['sql_outputsizes'][i]):
        correct_size.append(0)
    else:
        correct_size.append(-1)
correct_size

In [131]:
def execute_query(query, tables):
    connection = cx_Oracle.connect(user=username, password=password, dsn=dsn)
    
    if 'LIMIT' in query:
        contains_limit = True
        limit_number = re.search(r'\bLIMIT\s+(\d+)', query)
        limit_value = int(limit_number.group(1))
        query = query[:query.index('LIMIT ')]
        query = 'SELECT * FROM (' + query + ') WHERE ROWNUM <=' + str(limit_value)

    # Set input type handler to cx_Oracle.STRING
    connection.inputtypehandler = cx_Oracle.STRING
    # Create a cursor object
    cursor = connection.cursor()
    
    # Set DEFINE OFF
    cursor.setoutputsize(0)
    
    # Execute SQL queries
    try:
        cursor.execute(query)
        # Fetch the results
        rows = cursor.fetchall()
    except Exception as e1:
        #Preprocessing wueries
        for table in tables:
            table_mod = ' WAREUSER.' + table
            query = query.replace(' ' + table, table_mod)
            print(query)
        try:
            cursor.execute(query)
            # Fetch the results
            rows = cursor.fetchall()
        except Exception as e2:
            # Print the error message to stderr
            print("An error occurred:", str(e1))
            print("An error occurred:", str(e2))
            return [[-1]]
    cursor.close()
    connection.close()
    return rows

### Start with single comparisons
Generate output and compare result

In [144]:
def compare_single_outputs(expected_queries, expected_tables, given_query, given_tables):
    expected_results = []
    for query in expected_queries:
        expected_result = execute_query(query[:-1], expected_tables)[0][0]
        expected_results.append(expected_result)
        print(expected_result)
    actual_result = execute_query(given_query, given_tables)[0][0]
    print(actual_result)
    return actual_result in expected_results

In [146]:
correct = []
cnt=0
for i in range(len(df_q)):
    if (df_q['gpt_sql_global_schema_outputsizes'][i] == 1) and (1 in df_q['sql_outputsizes'][i]) and df_q['correct'][i]<0:
        print(i)
        print(df_q['sql'][i])
        print(df_q['gpt_sql_global_schema'][i])
        res = compare_single_outputs(df_q['sql'][i], df_q['tables'][i], df_q['gpt_sql_global_schema'][i], df_q['tables_referred_by_gpt_sql_global_schema'][i])
        if res:
            cnt +=1
        correct.append(int(res))
        print(res)
    else:
        correct.append(df_q['correct'][i])
print(cnt)

0
['SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);']
SELECT COUNT(*) FROM HR_ORG_UNIT WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID
635
635
True
1
['SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW INTERSECT SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);']
SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_TITLE != HR_ORG_UNIT_ID
635
685
False
2
['SELECT COUNT(*) FROM (SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT_NEW MINUS SELECT HR_ORG_UNIT_KEY FROM HR_ORG_UNIT);']
SELECT COUNT(*) FROM HR_ORG_UNIT_NEW WHERE HR_ORG_UNIT_ID NOT IN (SELECT HR_ORG_UNIT_ID FROM HR_ORG_UNIT)
50
50
True
7
['SELECT MAX(CNT) FROM (SELECT COUNT(*) AS CNT FROM FCLT_BUILDING_ADDRESS_HIST GROUP BY FCLT_BUILDING_KEY);']
SELECT SE_PERSON.FULL_NAME, COUNT(DISTINCT OFFICE_LOCATION) AS LOCATION_CHANGES FROM SE_PERSON GROUP BY SE_PERSON.FULL_NAME ORDER BY LOCATION_CHANGES DESC LIMIT 1
SELECT MAX(CNT) FROM (SELECT COUNT(*) AS CNT FROM WAREUSER.FCLT_BUILDING_ADDRESS_HIST GROUP BY FCLT_BUILDING_KEY)
1008
SELECT * FROM (SELECT WAREUSER.SE_PERSON.FULL_NAME, COUNT(DISTINCT OFFICE_LOCATION) AS LOCATION_CHANGES FROM WAREUSER.SE_PERSON GROUP BY WAREUSER.SE_PERSON.FULL_NAME ORDER BY LOCATION_CHANGES DESC ) WHERE ROWNUM <=1
Liu, Yang
False
8
['SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT FROM MIT_STUDENT_DIRECTORY, CIS_COURSE_CATALOG WHERE DEPARTMENT_CODE = DEPARTMENT GROUP BY FULL_NAME);', 'SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt FROM mit_student_directory, DRUPAL_COURSE_CATALOG WHERE DEPARTMENT_CODE = department GROUP BY full_name);', 'SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt FROM mit_student_directory, COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_CODE = department GROUP BY full_name);', 'SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt FROM mit_student_directory, SIS_COURSE_DESCRIPTION WHERE mit_student_directory.department = SIS_COURSE_DESCRIPTION.department GROUP BY full_name);', 'SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt FROM mit_student_directory, SUBJECT_SELECTOR WHERE DEPARTMENT_CODE = department GROUP BY full_name);', 'SELECT AVG(cnt) FROM (SELECT COUNT(*) AS cnt FROM mit_student_directory, SUBJECT_SUMMARY WHERE DEPARTMENT_CODE = department GROUP BY full_name);', 'SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT FROM MIT_STUDENT_DIRECTORY, SUBJECT_OFFERED_SUMMARY WHERE OFFER_DEPT_CODE = DEPARTMENT GROUP BY FULL_NAME);', 'SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT FROM MIT_STUDENT_DIRECTORY, SUBJECT_ENROLLABLE WHERE OFFER_DEPT_CODE = DEPARTMENT GROUP BY FULL_NAME);', 'SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT FROM MIT_STUDENT_DIRECTORY, TIP_SUBJECT_OFFERED WHERE OFFER_DEPT_CODE = DEPARTMENT GROUP BY FULL_NAME);', 'SELECT AVG(CNT) FROM (SELECT COUNT(*) AS CNT FROM MIT_STUDENT_DIRECTORY, SUBJECT_OFFERED WHERE OFFER_DEPT_CODE = DEPARTMENT GROUP BY FULL_NAME);']
SELECT AVG(NUM_ENROLLED_STUDENTS) AS Average_Courses FROM SUBJECT_OFFERED
5080.9833148967555
5494.412241887906
14899.185103244838
21.764885496183204
None
35637.162493043965
35518.927021225856
35041.094999602516
7587.490781710914
44535.904523412035
5.6106661018676585
False
12
['SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY;']
SELECT COUNT(*) FROM MIT_STUDENT_DIRECTORY
13830
13830
True
16
['SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM CIS_COURSE_CATALOG) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM DRUPAL_COURSE_CATALOG) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM COURSE_CATALOG_SUBJECT_OFFERED) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM SIS_COURSE_DESCRIPTION) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM SUBJECT_SELECTOR) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS OFFERED_SUBJECT_NR FROM SUBJECT_SUMMARY) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT OFFER_DEPT_NAME, COUNT(*) OVER (PARTITION BY OFFER_DEPT_NAME) AS OFFERED_SUBJECT_NR FROM SUBJECT_OFFERED_SUMMARY) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT OFFER_DEPT_CODE, COUNT(*) OVER (PARTITION BY OFFER_DEPT_CODE) AS OFFERED_SUBJECT_NR FROM SUBJECT_ENROLLABLE) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT OFFER_DEPT_NAME, COUNT(*) OVER (PARTITION BY OFFER_DEPT_NAME) AS OFFERED_SUBJECT_NR FROM TIP_SUBJECT_OFFERED) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT OFFER_DEPT_NAME, COUNT(*) OVER (PARTITION BY OFFER_DEPT_NAME) AS OFFERED_SUBJECT_NR FROM SUBJECT_OFFERED) WHERE OFFERED_SUBJECT_NR >= 100;', 'SELECT AVG(OFFERED_SUBJECT_NR) FROM (SELECT DISTINCT DEPARTMENT_CODE, COUNT(*) OVER (PARTITION BY DEPARTMENT_CODE) AS OFFERED_SUBJECT_NR FROM COURSE_CATALOG_SUBJECT_OFFERED) WHERE OFFERED_SUBJECT_NR >= 100;']
SELECT AVG(course_count) FROM (SELECT DEPARTMENT_CODE, COUNT(*) as course_count FROM COURSE_CATALOG_SUBJECT_OFFERED GROUP BY DEPARTMENT_CODE HAVING COUNT(*) > 100)
2421.0666666666666
2475.446808510638
5763.875
None
None
8308.527272727273
8128.821428571428
7732.206896551724
3062.698113207547
11205.714285714286
5418.921568627451
5418.921568627451
True
29
['SELECT COUNT(DISTINCT MIT_ID) FROM EMPLOYEE_DIRECTORY;', 'SELECT COUNT(DISTINCT MIT_ID) FROM DRUPAL_EMPLOYEE_DIRECTORY;']
SELECT COUNT(*) FROM SE_PERSON WHERE EMPLOYEE_TYPE IS NOT NULL
17585
17633
SELECT COUNT(*) FROM WAREUSER.SE_PERSON WHERE EMPLOYEE_TYPE IS NOT NULL
18444
False
34
['SELECT * FROM (SELECT * FROM (SELECT DISTINCT SCHOOL_NAME, COUNT(DEPARTMENT_NAME) OVER (PARTITION BY SCHOOL_NAME) AS CNT FROM STUDENT_DEPARTMENT) ORDER BY CNT DESC) WHERE ROWNUM <= 1;']
SELECT SCHOOL_NAME, COUNT(DISTINCT DEPARTMENT_CODE) AS NUM_DEPARTMENTS FROM STUDENT_DEPARTMENT GROUP BY SCHOOL_NAME ORDER BY NUM_DEPARTMENTS DESC LIMIT 1
Engineering
Engineering
True
38
["SELECT * FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVEL_DOMAIN_DESCRIPTION = 'Brazil';"]
SELECT TOP_LEVEL_DOMAIN FROM TOP_LEVEL_DOMAIN WHERE TOP_LEVEL_DOMAIN_DESCRIPTION = 'Brazil'
BR
BR
True
41
["SELECT * FROM (SELECT * FROM (SELECT C.TITLE, C.ISBN, COUNT(*) OVER (PARTITION BY C.TITLE, C.ISBN) AS CNT FROM TIP_DETAIL A, TIP_SUBJECT_OFFERED B, TIP_MATERIAL C WHERE IS_NO_COURSE_MATERIAL LIKE 'N' AND A.TIP_SUBJECT_OFFERED_KEY = B.TIP_SUBJECT_OFFERED_KEY AND A.TIP_MATERIAL_KEY = C.TIP_MATERIAL_KEY) ORDER BY CNT DESC) WHERE ROWNUM <= 1;"]
SELECT TIP_MATERIAL_KEY, COUNT(*) AS USAGE_COUNT FROM TIP_DETAIL GROUP BY TIP_MATERIAL_KEY ORDER BY USAGE_COUNT DESC LIMIT 1
La Prensa Cardiovascular
N/ACourse has no materials2024SP
False
45
['SELECT COUNT(*) FROM (SELECT DISTINCT DEPARTMENT_NAME, COUNT(*) OVER (PARTITION BY DEPARTMENT_NAME) AS CNT FROM MIT_STUDENT_DIRECTORY) WHERE CNT <= 300;']
SELECT COUNT(*) FROM (SELECT DEPARTMENT, COUNT(*) as student_count FROM MIT_STUDENT_DIRECTORY GROUP BY DEPARTMENT) WHERE student_count < 300
38
38
True
51
['SELECT COUNT(DISTINCT SUBJECT_ID) FROM CIS_COURSE_CATALOG;']
SELECT COUNT(*) FROM COURSE_CATALOG_SUBJECT_OFFERED WHERE DEPARTMENT_NAME = 'Centre for International Studies'
10148
0
False
52
['SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED_SUMMARY WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;']
SELECT COUNT(*) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
509
509
509
5745
False
53
['SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED_SUMMARY WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;']
SELECT COUNT(*) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
509
509
509
5300
False
54
['SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM SUBJECT_OFFERED_SUMMARY WHERE NUM_ENROLLED_STUDENTS > 100;', 'SELECT COUNT(DISTINCT SUBJECT_ID) FROM TIP_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100;']
SELECT COUNT(*) FROM LIBRARY_SUBJECT_OFFERED WHERE NUM_ENROLLED_STUDENTS > 100
509
509
509
806
False
62
['SELECT * FROM(SELECT DISTINCT MAJOR_USE, NUM_ROOMS FROM (SELECT FCLT_MAJOR_USE_KEY, COUNT(FCLT_ROOM_KEY) OVER (PARTITION BY FCLT_MAJOR_USE_KEY) AS NUM_ROOMS FROM FCLT_ROOMS) A, FCLT_MAJOR_USE WHERE A.FCLT_MAJOR_USE_KEY = FCLT_MAJOR_USE.FCLT_MAJOR_USE_KEY ORDER BY NUM_ROOMS DESC) WHERE ROWNUM <= 1;', 'SELECT * FROM(SELECT DISTINCT MAJOR_USE, NUM_ROOMS FROM (SELECT MAJOR_USE_KEY, COUNT(ROOM) OVER (PARTITION BY MAJOR_USE_KEY) AS NUM_ROOMS FROM FAC_ROOMS) A, FAC_MAJOR_USE WHERE A.MAJOR_USE_KEY = FAC_MAJOR_USE.MAJOR_USE_KEY ORDER BY NUM_ROOMS DESC) WHERE ROWNUM <= 1;']
SELECT MAJOR_USE_DESC, COUNT(*) AS COUNT FROM FCLT_ROOMS GROUP BY MAJOR_USE_DESC ORDER BY COUNT DESC LIMIT 1
OFFICES
OFFICES
OFFICES
True
8

In [156]:
print(len(correct_size))
print(sum(correct_size))
df_q['gpt_sql_global_schema_outputsizes'].value_counts().get(-1, 0)

65
-25

16

### Less than 10 results
Idea: check if the sizes match and whether each result is contain in one another.

In [181]:
def compare_countable_outputs(expected_queries, expected_tables, given_query, given_tables):
    expected_results = []
    actual_result = execute_query(given_query, given_tables)
    for query in expected_queries:
        expected_result = execute_query(query[:-1], expected_tables)
        if len(expected_result)==0 and len(expected_result)==0:
            return True
        expected_results.append(expected_result)
    is_matching = []
    for i in range(len(expected_results)):
        match = True
        for j in range(len(expected_results[i])):
            if not expected_results[i][j] in actual_result:
                match= False
                break
        is_matching.append(match)
    return any(is_matching)

In [ ]:
correct_m = []
cnt=0
for i in range(len(df_q)):
    if (df_q['gpt_sql_global_schema_outputsizes'][i] >=0) and (df_q['gpt_sql_global_schema_outputsizes'][i] <=10) and (df_q['correct'][i]==-1):
        res = compare_countable_outputs(df_q['sql'][i], df_q['tables'][i], df_q['gpt_sql_global_schema'][i], df_q['tables_referred_by_gpt_sql_global_schema'][i])
        if res:
            cnt +=1
        correct_m.append(int(res))
    else:
        correct_m.append(df_q['correct'][i])
print(cnt)
correct_m

In [185]:
df_q['correct']=correct_m

### Larger Output sizes
Idea: check if samples from the expected result are all included in the actual result.

In [188]:
def compare_incountable_outputs(expected_comparable_query, expected_tables, given_query, given_tables, dict_res):
    expected_result = execute_query(expected_comparable_query[:-1], expected_tables)
    actual_result = execute_query(given_query, given_tables)
    if len(expected_result[0]) != len(actual_result[0]):
        return -1
    
    sorted_expected_data = sorted(expected_result, key=lambda x: x[0])
    dict_res[expected_comparable_query]=sorted_expected_data
    sorted_actual_data = sorted(actual_result, key=lambda x: x[0])
    for i in range(len(sorted_expected_data)):
        if sorted_expected_data[i] != sorted_actual_data[i]:
            return False
    return True

In [ ]:
def compare_incountable_with_precalculated(sorted_expected_data, given_query, given_tables):
    sorted_actual_data = sorted(actual_result, key=lambda x: x[0])
    for i in range(len(sorted_expected_data)):
        if sorted_expected_data[i] != sorted_actual_data[i]:
            return False
    return True

In [ ]:
correct_l = []
dict_res={}
cnt=0
for i in range(len(df_q)):
    if (df_q['gpt_sql_global_schema_outputsizes'][i] >10) and (df_q['correct'][i]==-1):
        res = []
        for j in range(len(df_q['sql'][i])):
            if df_q['sql_outputsizes'][i][j] == df_q['gpt_sql_global_schema_outputsizes'][i]:
                if df_q['sql'][i][j] in dict_res.keys():
                    res.append(compare_incountable_with_precalculated(dict_res[df_q['sql'][i][j], df_q['gpt_sql_global_schema'][i], df_q['tables_referred_by_gpt_sql_global_schema'][i]))
                else:
                    res.append(compare_incountable_outputs(df_q['sql'][i][j], df_q['tables'][i], df_q['gpt_sql_global_schema'][i], df_q['tables_referred_by_gpt_sql_global_schema'][i]))
        if any(res):
            cnt +=1
        correct_l.append(int(any(res)))
    else:
        correct_l.append(df_q['correct'][i])
print(cnt)
correct_l

In [190]:
df_q['correct'] = correct_l

In [235]:
print("Total size of the data:   " + str(len(df_q)))
wrong_out = len(df_q)+sum(correct_size)
print("#wrong outputsize:        " + str(wrong_out))
print("   #wrong sqls:           " + str(df_q['gpt_sql_global_schema_outputsizes'].value_counts().get(-1, 0)))
print("#correct outputsize:      " + str(-1*sum(correct_size)))
print("   #1size-oputput:        " + str(sum((e==0 or e ==1) for e in correct)-wrong_out))
print("      #correct 1-size:    " + str(sum(e ==1 for e in correct)))
print("   #>1size-oputput:       " + str(-sum(correct_size)+wrong_out - sum((e==0 or e ==1) for e in correct)))
print("      #<11size-oputput:   " + str(sum(e==0 or e ==1 for e in correct_m)-sum(e==0 or e ==1 for e in correct)))
print("         #0size-oputput:  " + str(1))
print("         #corr<10size-out:" + str(sum(e ==1 for e in correct_m)-sum(e ==1 for e in correct)))
print("      #>10size-oputput:   " + str(sum(e==0 or e ==1 for e in correct_l)- sum(e==0 or e ==1 for e in correct_m)))
print("         #corr>10size-out:" + str(sum(e ==1 for e in correct_l)- sum(e ==1 for e in correct_m)))
print("Total #correct:           " + str(sum(df_q['correct'])))

Total size of the data:   65
#wrong outputsize:        40
   #wrong sqls:           16
#correct outputsize:      25
   #1size-oputput:        17
      #correct 1-size:    8
   #>1size-oputput:       8
      #<11size-oputput:   5
         #0size-oputput:  1
         #corr<10size-out:5
      #>10size-oputput:   3
         #corr>10size-out:3
Total #correct:           16

# Calculate Accuracy, Precision, Recall and F1-Score

Accuracy: $\frac{\text{Number of correct predictions}}{\text{Total number of predictions}}$

Precision: $\frac{\text{True Positives}}{\text{True Positives} + \text{False Positives}}$

Recall: $\frac{\text{True Positives}}{\text{True Positives} + \text{False Negatives}}$

F1-Score: $2 \times \frac{\text{Precision} \times \text{Recall}}{\text{Precision} + \text{Recall}}$

In [78]:
print('Accuracy: ' + str(sum(accuracy)/len(accuracy) * 100) + '%')

Accuracy: 42.89855072463768%

In [53]:
df

,question,sql,tables,gpt_sql_nocontext,tables_referred_by_gpt_sql_nocontext
0,What are the names of the amenities that Smith Hall has?,SELECT T3.amenity_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T1.dorm_name = 'Smith Hall',"[DORM, HAS_AMENITY, DORM_AMENITY]",SELECT amenity FROM amenities WHERE dorm_id = (SELECT id FROM dorms WHERE name = 'Smith Hall'),"[AMENITIES, DORMS]"
1,What are the names of the amenities that Smith Hall has?,SELECT T3.amenity_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T1.dorm_name = 'Smith Hall',"[DORM, HAS_AMENITY, DORM_AMENITY]",SELECT a.amenity FROM amenities AS a JOIN dorms AS d ON a.dorm_id = d.id WHERE d.name = 'Smith Hall',"[AMENITIES, DORMS]"
2,How many dorms are there and what is the total capacity for each gender?,"SELECT count(*) , sum(student_capacity) , gender FROM dorm GROUP BY gender",[DORM],"SELECT COUNT(DISTINCT dorm_name), gender, SUM(capacity) FROM dorm_1 GROUP BY gender",[DORM_1]
3,Find the number of amenities for each of the dorms that can accommodate more than 100 students.,"SELECT count(*) , T1.dormid FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid WHERE T1.student_capacity > 100 GROUP BY T1.dormid","[DORM, HAS_AMENITY]","SELECT dorms.dorm_name, COUNT(amenities.amenity) FROM dorms JOIN amenities ON dorms.dorm_id = amenities.dorm_id WHERE dorms.capacity > 100 GROUP BY dorms.dorm_name","[DORMS, AMENITIES]"
4,Find the number of amenities for each of the dorms that can accommodate more than 100 students.,"SELECT count(*) , T1.dormid FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid WHERE T1.student_capacity > 100 GROUP BY T1.dormid","[DORM, HAS_AMENITY]","SELECT dorms.dorm_name, COUNT(*) AS number_of_amenities FROM dorms INNER JOIN amenities ON dorms.dorm_id = amenities.dorm_id WHERE dorms.capacity > 100 GROUP BY dorms.dorm_name","[DORMS, AMENITIES]"
5,What is the code of the city with the most students?,SELECT city_code FROM student GROUP BY city_code ORDER BY count(*) DESC LIMIT 1,[STUDENT],SELECT city_code FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1,[STUDENT]
6,What is the code of the city with the most students?,SELECT city_code FROM student GROUP BY city_code ORDER BY count(*) DESC LIMIT 1,[STUDENT],SELECT city_code FROM student WHERE student_id IN (SELECT student_id FROM student GROUP BY city_code ORDER BY COUNT(*) DESC LIMIT 1),[STUDENT]
7,Find the code of city where most of students are living in.,SELECT city_code FROM student GROUP BY city_code ORDER BY count(*) DESC LIMIT 1,[STUDENT],SELECT city_code FROM student WHERE count(student_id) = (SELECT MAX(count(student_id)) FROM student GROUP BY city_code),[STUDENT]
8,What is the last name of every student who is either female or living in a city with the code BAL or male and under 20?,SELECT lname FROM student WHERE sex = 'F' AND city_code = 'BAL' UNION SELECT lname FROM student WHERE sex = 'M' AND age < 20,[STUDENT],SELECT last_name FROM student WHERE gender = 'F' OR city_code = 'BAL' OR (gender = 'M' AND age < 20),[STUDENT]
9,Find the number of dorms that have some amenity.,SELECT count(DISTINCT dormid) FROM has_amenity,[HAS_AMENITY],SELECT COUNT(DISTINCT dorm_id) FROM dorm_1.amenities,[DORM_1.AMENITIES]
10,Find the number of female students (with F sex) living in Smith Hall,SELECT count(*) FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T3.dorm_name = 'Smith Hall' AND T1.sex = 'F',"[STUDENT, LIVES_IN, DORM]",SELECT COUNT(*) FROM student WHERE sex = 'F' AND dorm_id = (SELECT id FROM dorm WHERE name = 'Smith Hall'),"[STUDENT, DORM]"
11,Find the number of female students (with F sex) living in Smith Hall,SELECT count(*) FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T3.dorm_name = 'Smith Hall' AND T1.sex = 'F',"[STUDENT, LIVES_IN, DORM]",SELECT COUNT(*) FROM student INNER JOIN dorm ON student.dorm_id = dorm.id WHERE student.sex = 'F' AND dorm.name = 'Smith Hall',"[STUDENT, DORM]"
12,How many dorms are there?,SELECT count(*) FROM dorm,[DORM],SELECT COUNT(*) FROM dorm,[DORM]
13,Find the name of dorms only for female (F gender).,SELECT dorm_name FROM dorm WHERE gender = 'F',[DORM],SELECT dorm_name FROM dorm_1 WHERE gender = 'F',[DORM_1]
14,Find the average age of all students living in the each city.,"SELECT avg(age) , city_code FROM student GROUP BY city_code",[STUDENT],"SELECT city, AVG(age) FROM student GROUP BY city",[STUDENT]
15,Find the name and gender type of the dorms whose capacity is greater than 300 or less than 100.,"SELECT dorm_name , gender FROM dorm WHERE student_capacity > 300 OR student_capacity < 100",[DORM],"SELECT name, gender_type FROM dorm_1 WHERE capacity > 300 OR capacity < 100",[DORM_1]
16,How many students are older than 20 in each dorm?,"SELECT count(*) , T3.dorm_name FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T1.age > 20 GROUP BY T3.dorm_name","[STUDENT, LIVES_IN, DORM]","SELECT Dorm_ID, COUNT(*) FROM student WHERE Age > 20 GROUP BY Dorm_ID",[STUDENT]
17,How many different majors are there and how many different city codes are there for each student?,"SELECT count(DISTINCT major) , count(DISTINCT city_code) FROM student",[STUDENT],"SELECT COUNT(DISTINCT major) AS num_majors, COUNT(DISTINCT city_code) AS num_city_codes FROM student",[STUDENT]
18,Find the name and capacity of the dorm with least number of amenities.,"SELECT T1.dorm_name , T1.student_capacity FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid GROUP BY T2.dormid ORDER BY count(*) LIMIT 1","[DORM, HAS_AMENITY, DORM_AMENITY]","SELECT dorm_name, capacity FROM dorm_1 WHERE num_amenities = (SELECT MIN(num_amenities) FROM dorm_1)",[DORM_1]
19,Find the name and capacity of the dorm with least number of amenities.,"SELECT T1.dorm_name , T1.student_capacity FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid GROUP BY T2.dormid ORDER BY count(*) LIMIT 1","[DORM, HAS_AMENITY, DORM_AMENITY]","SELECT d.dorm_name, d.capacity FROM dorm_1 d INNER JOIN (SELECT dorm_name, MIN(num_amenities) as min_amenities FROM dorm_1 GROUP BY dorm_name) min_d ON d.dorm_name = min_d.dorm_name AND d.num_amenities = min_d.min_amenities",[DORM_1]
20,How many female students (sex is F) whose age is below 25?,SELECT count(*) FROM student WHERE sex = 'F' AND age < 25,[STUDENT],SELECT COUNT(*) FROM student WHERE sex = 'F' AND age < 25,[STUDENT]
21,Find the average age of students who are living in the dorm with the largest capacity.,SELECT avg(T1.age) FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T3.student_capacity = (SELECT max(student_capacity) FROM dorm),"[STUDENT, LIVES_IN, DORM]",SELECT AVG(Student.age) FROM Student JOIN Dorm ON Student.Dorm_id = Dorm.Dorm_id WHERE Dorm.capacity = (SELECT MAX(capacity) FROM Dorm),"[STUDENT, DORM]"
22,Find the average age of students who are living in the dorm with the largest capacity.,SELECT avg(T1.age) FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T3.student_capacity = (SELECT max(student_capacity) FROM dorm),"[STUDENT, LIVES_IN, DORM]",SELECT AVG(age) FROM Student WHERE Dorm_id IN (SELECT Dorm_id FROM Dorm WHERE capacity = (SELECT MAX(capacity) FROM Dorm)),"[STUDENT, DORM]"
23,What is the average age of students who are living in the dorm with the largest capacity?,SELECT avg(T1.age) FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T3.student_capacity = (SELECT max(student_capacity) FROM dorm),"[STUDENT, LIVES_IN, DORM]",SELECT AVG(Student.age) FROM Student JOIN Dorm ON Student.Dorm_id = Dorm.Dorm_id WHERE Dorm.capacity = (SELECT MAX(capacity) FROM Dorm),"[STUDENT, DORM]"
24,What is the average age of students who are living in the dorm with the largest capacity?,SELECT avg(T1.age) FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T3.student_capacity = (SELECT max(student_capacity) FROM dorm),"[STUDENT, LIVES_IN, DORM]",SELECT AVG(age) FROM Student WHERE Dorm_id IN (SELECT Dorm_id FROM Dorm WHERE capacity = (SELECT MAX(capacity) FROM Dorm)),"[STUDENT, DORM]"
25,Find the number of distinct amenities.,SELECT count(*) FROM dorm_amenity,[DORM_AMENITY],SELECT COUNT(DISTINCT amenity) FROM amenities,[AMENITIES]
26,What are the names and types of the dorms that have a capacity greater than 300 or less than 100?,"SELECT dorm_name , gender FROM dorm WHERE student_capacity > 300 OR student_capacity < 100",[DORM],"SELECT name, type FROM dorm_1 WHERE capacity > 300 OR capacity < 100",[DORM_1]
27,What is the average and oldest age for each gender of student?,"SELECT avg(age) , max(age) , sex FROM student GROUP BY sex",[STUDENT],"SELECT gender, AVG(age) AS average_age, MAX(age) AS oldest_age FROM student GROUP BY gender",[STUDENT]
28,Find the first name of students who are living in the dorm that has most number of amenities.,SELECT T1.fname FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid WHERE T2.dormid IN (SELECT T2.dormid FROM dorm AS T3 JOIN has_amenity AS T4 ON T3.dormid = T4.dormid JOIN dorm_amenity AS T5 ON T4.amenid = T5.amenid GROUP BY T3.dormid ORDER BY count(*) DESC LIMIT 1),"[STUDENT, LIVES_IN, DORM, HAS_AMENITY, DORM_AMENITY]",SELECT student.first_name FROM student INNER JOIN dorm ON student.dorm_id = dorm.dorm_id WHERE dorm.dorm_id = (SELECT dorm_id FROM dorm_amenities GROUP BY dorm_id ORDER BY COUNT(amenity_id) DESC LIMIT 1),"[STUDENT, DORM, DORM_AMENITIES]"
29,Find the first name of students who are living in the dorm that has most number of amenities.,SELECT T1.fname FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid WHERE T2.dormid IN (SELECT T2.dormid FROM dorm AS T3 JOIN has_amenity AS T4 ON T3.dormid = T4.dormid JOIN dorm_amenity AS T5 ON T4.amenid = T5.amenid GROUP BY T3.dormid ORDER BY count(*) DESC LIMIT 1),"[STUDENT, LIVES_IN, DORM, HAS_AMENITY, DORM_AMENITY]",SELECT s.first_name FROM student s WHERE s.dorm_id IN (SELECT da.dorm_id FROM dorm_amenities da GROUP BY da.dorm_id ORDER BY COUNT(da.amenity_id) DESC LIMIT 1),"[STUDENT, DORM_AMENITIES]"
30,Find the number of distinct gender for dorms.,SELECT count(DISTINCT gender) FROM dorm,[DORM],SELECT COUNT(DISTINCT gender) FROM dorm_1,[DORM_1]
31,List in alphabetic order all different amenities.,SELECT amenity_name FROM dorm_amenity ORDER BY amenity_name,[DORM_AMENITY],SELECT DISTINCT amenity FROM amenities ORDER BY amenity ASC,[AMENITIES]
32,What is the average age for each dorm and what are the names of each dorm?,"SELECT avg(T1.age) , T3.dorm_name FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid GROUP BY T3.dorm_name","[STUDENT, LIVES_IN, DORM]","SELECT AVG(age), dorm_name FROM student GROUP BY dorm_name",[STUDENT]
33,What is the total student capacity of all dorms?,SELECT sum(student_capacity) FROM dorm,[DORM],SELECT SUM(capacity) FROM dorm,[DORM]
34,Find the name of the dorm with the largest capacity.,SELECT dorm_name FROM dorm ORDER BY student_capacity DESC LIMIT 1,[DORM],SELECT name FROM dorm_1 WHERE capacity = (SELECT MAX(capacity) FROM dorm_1),[DORM_1]
35,Find the name of the dorm with the largest capacity.,SELECT dorm_name FROM dorm ORDER BY student_capacity DESC LIMIT 1,[DORM],SELECT name FROM dorm_1 ORDER BY capacity DESC LIMIT 1,[DORM_1]
36,Find the first name and age of students who are living in the dorms that do not have amenity TV Lounge.,"SELECT T1.fname , T1.age FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid WHERE T2.dormid NOT IN (SELECT T3.dormid FROM has_amenity AS T3 JOIN dorm_amenity AS T4 ON T3.amenid = T4.amenid WHERE T4.amenity_name = 'TV Lounge')","[STUDENT, LIVES_IN, HAS_AMENITY, DORM_AMENITY]","SELECT student.first_name, student.age FROM student JOIN dorm ON student.dorm_id = dorm.dorm_id WHERE dorm.dorm_id NOT IN (SELECT dorm_id FROM dorm_amenities WHERE amenity = 'TV Lounge')","[STUDENT, DORM, DORM_AMENITIES]"
37,Find the first name and age of students who are living in the dorms that do not have amenity TV Lounge.,"SELECT T1.fname , T1.age FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid WHERE T2.dormid NOT IN (SELECT T3.dormid FROM has_amenity AS T3 JOIN dorm_amenity AS T4 ON T3.amenid = T4.amenid WHERE T4.amenity_name = 'TV Lounge')","[STUDENT, LIVES_IN, HAS_AMENITY, DORM_AMENITY]","SELECT s.first_name, s.age FROM student s INNER JOIN dorm d ON s.dorm_id = d.dorm_id LEFT JOIN dorm_amenities da ON d.dorm_id = da.dorm_id WHERE da.amenity != 'TV Lounge' OR da.amenity IS NULL","[STUDENT, DORM, DORM_AMENITIES]"
38,What is the first name of the students who are in age 20 to 25 and living in PHL city?,SELECT fname FROM student WHERE city_code = 'PHL' AND age BETWEEN 20 AND 25,[STUDENT],SELECT first_name FROM student WHERE age BETWEEN 20 AND 25 AND city = 'PHL',[STUDENT]
39,What is the first name of the students who are in age 20 to 25 and living in PHL city?,SELECT fname FROM student WHERE city_code = 'PHL' AND age BETWEEN 20 AND 25,[STUDENT],SELECT s.first_name FROM student s WHERE s.age >= 20 AND s.age <= 25 AND s.city = 'PHL',[STUDENT]
40,Find the number of students who is older than 20 in each dorm.,"SELECT count(*) , T3.dorm_name FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid = T2.stuid JOIN dorm AS T3 ON T3.dormid = T2.dormid WHERE T1.age > 20 GROUP BY T3.dorm_name","[STUDENT, LIVES_IN, DORM]","SELECT dorm_id, COUNT(*) FROM student WHERE age > 20 GROUP BY dorm_id",[STUDENT]
41,How many dorms are in the database?,SELECT count(*) FROM dorm,[DORM],SELECT COUNT(*) FROM dorm_1,[DORM_1]
42,What is the first and last name of all students who are younger than average?,"SELECT fname , lname FROM student WHERE age < (SELECT avg(age) FROM student)",[STUDENT],"SELECT first_name, last_name FROM student WHERE age < (SELECT AVG(age) FROM student)",[STUDENT]
43,What amenities does Smith Hall have in alphabetical order?,SELECT T3.amenity_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T1.dorm_name = 'Smith Hall' ORDER BY T3.amenity_name,"[DORM, HAS_AMENITY, DORM_AMENITY]",SELECT amenity FROM dorm_1 WHERE hall_name = 'Smith Hall' ORDER BY amenity ASC,[DORM_1]
44,Find the capacity and gender type of the dorm whose name has substring ‘Donor’.,"SELECT student_capacity , gender FROM dorm WHERE dorm_name LIKE '%Donor%'",[DORM],"SELECT capacity, gender_type FROM dorm_1 WHERE name LIKE '%Donor%'",[DORM_1]
45,What are the names of the dorm that does not have a TV Lounge?,SELECT dorm_name FROM dorm EXCEPT SELECT T1.dorm_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T3.amenity_name = 'TV Lounge',"[DORM, HAS_AMENITY, DORM_AMENITY]",SELECT dorm_name FROM dorm_1 WHERE tv_lounge = 'no',[DORM_1]
46,How many girl students who are younger than 25?,SELECT count(*) FROM student WHERE sex = 'F' AND age < 25,[STUDENT],SELECT COUNT(*) FROM student WHERE gender = 'F' AND age < 25,[STUDENT]
47,Find the number of students whose age is older than the average age for each gender.,"SELECT count(*) , sex FROM student WHERE age > (SELECT avg(age) FROM student) GROUP BY sex",[STUDENT],"SELECT gender, COUNT(*) FROM student WHERE age > (SELECT AVG(age) FROM student GROUP BY gender) GROUP BY gender",[STUDENT]
48,Find the number of students whose age is older than the average age for each gender.,"SELECT count(*) , sex FROM student WHERE age > (SELECT avg(age) FROM student) GROUP BY sex",[STUDENT],"SELECT gender, COUNT(*) FROM student GROUP BY gender HAVING age > AVG(age)",[STUDENT]
49,What is the first and last name of the students who are not in the largest major?,"SELECT fname , lname FROM student WHERE major != (SELECT major FROM student GROUP BY major ORDER BY count(*) DESC LIMIT 1)",[STUDENT],"SELECT first_name, last_name FROM student WHERE major_id != (SELECT major_id FROM (SELECT major_id, COUNT(*) as count FROM student GROUP BY major_id ORDER BY count DESC LIMIT 1))",[STUDENT]
50,What is the first and last name of the students who are not in the largest major?,"SELECT fname , lname FROM student WHERE major != (SELECT major FROM student GROUP BY major ORDER BY count(*) DESC LIMIT 1)",[STUDENT],"SELECT first_name, last_name FROM student WHERE major_id NOT IN (SELECT major_id FROM (SELECT major_id, COUNT(*) as count FROM student GROUP BY major_id ORDER BY count DESC LIMIT 1))",[STUDENT]
51,What is the name of the dorm with both a TV Lounge and Study Room listed as amenities?,SELECT T1.dorm_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T3.amenity_name = 'TV Lounge' INTERSECT SELECT T1.dorm_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T3.amenity_name = 'Study Room',"[DORM, HAS_AMENITY, DORM_AMENITY]",SELECT dorm_name FROM dorms WHERE amenities LIKE '%TV Lounge%' AND amenities LIKE '%Study Room%',[DORMS]
52,What is the name of the dorm with both a TV Lounge and Study Room listed as amenities?,SELECT T1.dorm_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T3.amenity_name = 'TV Lounge' INTERSECT SELECT T1.dorm_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T3.amenity_name = 'Study Room',"[DORM, HAS_AMENITY, DORM_AMENITY]",SELECT d.dorm_name FROM dorms d JOIN amenities a ON d.dorm_id = a.dorm_id WHERE a.amenity = 'TV Lounge' INTERSECT SELECT d.dorm_name FROM dorms d JOIN amenities a ON d.dorm_id = a.dorm_id WHERE a.amenity = 'Study Room',"[DORMS, AMENITIES]"
53,How many students are there?,SELECT count(*) FROM student,[STUDENT],SELECT COUNT(*) FROM student,[STUDENT]
54,What are the first and last names of all students who are not living in the city HKG and order the results by age?,"SELECT fname , lname FROM student WHERE city_code != 'HKG' ORDER BY age",[STUDENT],"SELECT first_name, last_name FROM student WHERE city != 'HKG' ORDER BY age",[STUDENT]
55,What are the first and last names of all students who are not living in the city HKG and order the results by age?,"SELECT fname , lname FROM student WHERE city_code != 'HKG' ORDER BY age",[STUDENT],"SELECT first_name, last_name FROM student WHERE NOT city = 'HKG' ORDER BY age",[STUDENT]
56,Find the name of dorms which have both TV Lounge and Study Room as amenities.,SELECT T1.dorm_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T3.amenity_name = 'TV Lounge' INTERSECT SELECT T1.dorm_name FROM dorm AS T1 JOIN has_amenity AS T2 ON T1.dormid = T2.dormid JOIN dorm_amenity AS T3 ON T2.amenid = T3.amenid WHERE T3.amenity_name = 'Study Room',"[DORM, HAS_AMENITY, DORM_AMENITY]",SELECT dorm_name FROM dorms WHERE amenities LIKE '%TV Lounge%' AND amenities LIKE '%Study Room%',[DORMS]

## Based on Table usage

In [94]:
accuracy = []
for t0, t1 in zip(df['tables'], df['tables_referred_by_gpt_sql_nocontext']):
    a = None 
    if t0 and t1: 
        a = 1.0*len(set(t0).intersection(set(t1)))/len(t0)
    accuracy.append(a)

In [95]:
sum(accuracy)/len(accuracy) * 100

58.28282828282827

In [96]:
df['gpt_sql_nocontext_accuracy']=accuracy